/*
Theme Name: Hey
Theme URI: https://wordpress.com/theme/hey/
Author: Automattic
Author URI: https://automattic.com/
Description: Hey is a simple personal blog theme.
Requires at least: 6.1
Tested up to: 6.1
Requires PHP: 5.7
Version: 1.0.7
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Template: 
Text Domain: hey
Tags: blog, one-column, custom-colors, custom-menu, custom-logo, editor-style, featured-images, full-site-editing, rtl-language-support, theme-options, threaded-comments, translation-ready, wide-blocks, style-variations
*/

/*
 * Control the hover stylings of outline block style.
 * Unnecessary once block styles are configurable via theme.json
 * https://github.com/WordPress/gutenberg/issues/42794
 */
.wp-block-button.is-style-outline>.wp-block-button__link:not(.has-background):hover {
	background-color: var(--wp--preset--color--secondary);
	color: var(--wp--preset--color--background);
	border-color: var(--wp--preset--color--secondary);
}

/**
 * Currently table styles are only available with 'wp-block-styles' 
 * theme support (block css) thus the following needs to be included
 * since 'wp-block-styles' aren't used for this theme.
 * https://github.com/WordPress/gutenberg/issues/45065
 */
.wp-block-table thead {
	border-bottom: 3px solid;
}
.wp-block-table tfoot {
	border-top: 3px solid;
}
.wp-block-table td,
.wp-block-table th {
	padding: var(--wp--preset--spacing--30);
	border: 1px solid;
	word-break: normal;
}
.wp-block-table figcaption {
	font-size: var(--wp--preset--font-size--small);
	margin-top: var(--wp--preset--spacing--30);
	text-align: center;
}

/*
 * Link styles
 * https://github.com/WordPress/gutenberg/issues/42319
 */
a {
	text-decoration-color: var(--wp--preset--color--primary);
	text-decoration-thickness: .5px !important;
	text-underline-offset: .1em;
}

/* Styles for outline button */
.wp-block-button.is-style-outline>.wp-block-button__link {
	border: 1px solid var(--wp--preset--color--foreground);
	padding: calc(8px - 1px) calc(32px - 1px);
}

/* 
 * Styles for search block
 * https://github.com/WordPress/gutenberg/issues/49249
 */
.wp-block-search__button-inside .wp-block-search__inside-wrapper {
	border-radius: 999px;
	padding: 9px;
}
.wp-block-search__input,
.wp-block-search__button-inside .wp-block-search__inside-wrapper {
	border-color: var(--wp--preset--color--tertiary);
}

/* Adjust font size for comment reply title */
.wp-block-post-comments-form .comment-reply-title {
	font-size: var(--wp--preset--font-size--large);
}

/* Adjust the top padding for the submenu items */
.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-navigation__submenu-container {
	padding-top: var(--wp--preset--spacing--30);
}

/* 
 * Styles for Author blocks
 * https://github.com/WordPress/gutenberg/issues/24952
 */
.wp-block-post-author__avatar img,
.wp-block-avatar img {
	border-radius: 999px;
	line-height: 0;
}
.wp-block-post-author__byline,
.wp-block-post-author__bio {
	font-size: inherit;
}

/* 
 * Style for tag cloud
 * https://github.com/WordPress/gutenberg/issues/49249
 */
.wp-block-tag-cloud.is-style-outline a {
	border-radius: 999px;
	padding: 0 0.5rem;
}
.wp-block-tag-cloud.is-style-outline a:hover {
	color: var(--wp--preset--color--background);
	background-color: var(--wp--preset--color--primary);
}

/* Keep the post date single line on the front page */
.nowrap time {
	white-space: nowrap;
}
