<!-- wp:group {"style":{"position":{"type":"sticky","top":"0px"}},"layout":{"type":"default"}} -->
<div class="wp-block-group">
	<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"right":"0","left":"0","top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"},"margin":{"top":"0px","bottom":"0px"}},"border":{"left":{"color":"var:preset|color|contrast","width":"1px"},"right":{"color":"var:preset|color|contrast","width":"1px"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="border-right-color:var(--wp--preset--color--contrast);border-right-width:1px;border-left-color:var(--wp--preset--color--contrast);border-left-width:1px;margin-top:0px;margin-bottom:0px;padding-top:var(--wp--preset--spacing--70);padding-right:0;padding-bottom:var(--wp--preset--spacing--70);padding-left:0">
	<!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|50","left":"var:preset|spacing|50"}}},"layout":{"type":"default"}} -->
	<div class="wp-block-group" style="padding-right:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--50)">
		<!-- wp:pattern {"slug":"luminance/search"} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:query {"query":{"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true,"taxQuery":null,"parents":[],"perPage":10},"layout":{"type":"default"}} -->
	<div class="wp-block-query">
		<!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|50","left":"var:preset|spacing|50"}}},"layout":{"type":"default"}} -->
		<div class="wp-block-group" style="padding-right:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--50)">
			<!-- wp:post-template {"style":{"spacing":{"blockGap":"var:preset|spacing|40"}}} -->
				<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|40"}},"layout":{"type":"flex","flexWrap":"wrap","verticalAlignment":"top"},"fontSize":"xxx-large"} -->
				<div class="wp-block-group has-xxx-large-font-size">
					<!-- wp:post-title {"isLink":true} /-->

					<!-- wp:post-featured-image {"isLink":true,"height":"0.74em"} /-->

					<!-- wp:template-part {"slug":"post-meta"} /-->
				</div>
				<!-- /wp:group -->
			<!-- /wp:post-template -->
		</div>
		<!-- /wp:group -->

		<!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|50","left":"var:preset|spacing|50"}}},"layout":{"type":"constrained","justifyContent":"left"}} -->
		<div class="wp-block-group" style="padding-right:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--50)">
			<!-- wp:query-no-results -->
				<!-- wp:pattern {"slug":"luminance/no-results-content"} /-->
			<!-- /wp:query-no-results -->
		</div>
		<!-- /wp:group -->

		<!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|50","left":"var:preset|spacing|50"},"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
		<div class="wp-block-group" style="margin-top:0px;margin-bottom:0px;padding-right:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--50)">
			<!-- wp:group {"style":{"spacing":{"padding":{"top":"11px","bottom":"11px","left":"55px","right":"55px"},"margin":{"top":"var:preset|spacing|70"}},"layout":{"selfStretch":"fit","flexSize":null},"border":{"radius":"999px","width":"1px"}},"borderColor":"contrast","layout":{"type":"default"}} -->
			<div class="wp-block-group has-border-color has-contrast-border-color" style="border-width:1px;border-radius:999px;margin-top:var(--wp--preset--spacing--70);padding-top:11px;padding-right:55px;padding-bottom:11px;padding-left:55px"><!-- wp:query-pagination {"layout":{"type":"flex","justifyContent":"space-between"}} --><!-- wp:query-pagination-previous {"label":"\u0026larr;"} /--><!-- /wp:query-pagination --></div><!-- /wp:group -->

			<!-- wp:group {"style":{"spacing":{"padding":{"top":"11px","bottom":"11px","left":"55px","right":"55px"},"margin":{"top":"var:preset|spacing|70"}},"layout":{"selfStretch":"fit","flexSize":null},"border":{"radius":"999px","width":"1px"}},"borderColor":"contrast","layout":{"type":"default"}} -->
			<div class="wp-block-group has-border-color has-contrast-border-color" style="border-width:1px;border-radius:999px;margin-top:var(--wp--preset--spacing--70);padding-top:11px;padding-right:55px;padding-bottom:11px;padding-left:55px"><!-- wp:query-pagination {"layout":{"type":"flex","justifyContent":"space-between"}} --><!-- wp:query-pagination-next {"label":"\u0026rarr;"} /--><!-- /wp:query-pagination --></div><!-- /wp:group -->
		</div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:query -->
</main>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="margin-top:0px;margin-bottom:0px">
	<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
</div>
<!-- /wp:group -->
