<!-- wp:group {"style":{"position":{"type":"sticky","top":"0px"}},"layout":{"type":"default"}} -->
<div class="wp-block-group">
	<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"},"padding":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"}},"border":{"left":{"color":"var:preset|color|contrast","width":"1px"},"top":[],"right":{"color":"var:preset|color|contrast","width":"1px"},"bottom":[]}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="border-right-color:var(--wp--preset--color--contrast);border-right-width:1px;border-left-color:var(--wp--preset--color--contrast);border-left-width:1px;margin-top:0px;margin-bottom:0px;padding-top:var(--wp--preset--spacing--70);padding-bottom:var(--wp--preset--spacing--70)">
	<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|40","padding":{"right":"var:preset|spacing|50","left":"var:preset|spacing|50"}}},"layout":{"type":"flex","flexWrap":"wrap","verticalAlignment":"top"},"fontSize":"xxx-large"} -->
	<div class="wp-block-group has-xxx-large-font-size" style="padding-right:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--50)">
		<!-- wp:post-title /-->

		<!-- wp:post-featured-image {"height":"0.74em"} /-->

		<!-- wp:template-part {"slug":"post-meta"} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:group {"layout":{"type":"default"}} -->
	<div class="wp-block-group">
		<!-- wp:post-content {"lock":{"move":false,"remove":false},"layout":{"type":"constrained","justifyContent":"left"}} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:template-part {"slug":"comments"} /-->
</main>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="margin-top:0px;margin-bottom:0px">
	<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
</div>
<!-- /wp:group -->
