<!-- wp:template-part {"slug":"header-minimal","theme":"programme"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="margin-top:0px;margin-bottom:0px"><!-- wp:query {"queryId":0,"query":{"perPage":"4","pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"exclude","inherit":true,"taxQuery":null,"parents":[]},"tagName":"main","align":"wide","layout":{"type":"constrained"}} -->
<main class="wp-block-query alignwide"><!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"2.1rem","left":"0px"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group alignfull" style="padding-top:0px;padding-right:0px;padding-bottom:2.1rem;padding-left:0px"><!-- wp:heading {"align":"full","style":{"typography":{"textTransform":"lowercase"}}} -->
<h2 class="wp-block-heading alignfull" style="text-transform:lowercase">search</h2>
<!-- /wp:heading -->

<!-- wp:spacer {"height":"0.7rem","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}}} -->
<div style="margin-top:0px;margin-bottom:0px;height:0.7rem" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:search {"showLabel":false,"width":100,"widthUnit":"%","buttonPosition":"button-inside","buttonUseIcon":true,"style":{"border":{"radius":"0px","top":{"color":"var:preset|color|secondary","style":"solid","width":"2px"},"right":{"color":"var:preset|color|secondary","style":"solid","width":"2px"},"bottom":{"color":"var:preset|color|secondary","style":"solid","width":"2px"},"left":{"color":"var:preset|color|secondary","style":"solid","width":"2px"}}},"textColor":"background"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:post-template {"align":"full"} -->
<!-- wp:group {"style":{"spacing":{"padding":{"top":"0.7rem","bottom":"2.1rem"}},"border":{"color":null,"style":null,"width":null,"top":{"color":"var:preset|color|primary","style":"solid","width":"1.4rem"},"right":[],"bottom":[],"left":[]}}} -->
<div class="wp-block-group" style="border-top-color:var(--wp--preset--color--primary);border-top-style:solid;border-top-width:1.4rem;padding-top:0.7rem;padding-bottom:2.1rem"><!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:group {"style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"blockGap":"0px"}},"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group" style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"><!-- wp:post-title {"isLink":true,"style":{"typography":{"lineHeight":1}}} /-->

<!-- wp:post-date {"format":"M j","style":{"typography":{"fontStyle":"normal","fontWeight":"700","lineHeight":1}}} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:post-excerpt {"moreText":"more ›","showMoreOnNewLine":false,"excerptLength":70} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
<!-- /wp:post-template -->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"2.1rem","bottom":"2.1rem"}}},"layout":{"type":"constrained","justifyContent":"left"}} -->
<div class="wp-block-group" style="margin-top:2.1rem;margin-bottom:2.1rem"><!-- wp:query-pagination {"style":{"typography":{"fontStyle":"normal","fontWeight":"700","fontSize":"4rem"}}} -->
<!-- wp:query-pagination-previous {"label":"Prev"} /-->

<!-- wp:query-pagination-numbers /-->

<!-- wp:query-pagination-next {"label":"Next"} /-->
<!-- /wp:query-pagination --></div>
<!-- /wp:group --></main>
<!-- /wp:query --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"programme","tagName":"footer"} /-->