@import './blocks/_site-title.scss';
@import './blocks/_links.scss';

/**
 * Author bio
 */
.author-bio {
	margin-top: calc(6 * var(--wp--custom--margin--baseline) );
}

.author-bio .wp-block-post-navigation-link,
.author-bio .wp-block-post-author__name {
	font-family: var(--wp--preset--font-family--headings);
}

.author-bio .wp-block-post-navigation-link {
	font-size: var(--wp--preset--font-size--large);
}

.wp-block-post-navigation-links {
	margin-top: calc(9 * var(--wp--custom--margin--baseline));
}

.wp-block-post-navigation-links .wp-block-post-navigation-link-byline {
	font-size: var(--wp--preset--font-size--tiny);
	margin: 0;
}

.footer-credit {
	display: flex;
	font-family: var(--wp--preset--font-family--headings);
	white-space: pre-wrap;
}

.footer-credit > * {
	align-self: center;
	font-size: var(--wp--preset--font-size--small);
}

.footer-credit .wp-block-site-title > a {
	font-size: var(--wp--preset--font-size--small);
}