/*
Theme Name: Spearhead
Theme URI: https://github.com/Automattic/themes/root-child
Author: Automattic
Author URI: https://automattic.com/
Description: Share your podcast with the world using Spearhead.
Requires at least: WordPress 5.4
Version: 1.2.1
License: GNU General Public License v2 or later
License URI: LICENSE
Template: seedlet
Text Domain: spearhead
Tags: one-column, flexible-header, accessibility-ready, custom-colors, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, rtl-language-support, sticky-post, threaded-comments, translation-ready, auto-loading-homepage, jetpack-global-styles
*/
/**
 * Required Variables
 */
/**
 * Required Variables
 */
/**
 * Repsonsive Styles
 */
@media only screen and (min-width: 830px) {
	:root {
		--global--spacing-horizontal: 60px;
		--global--spacing-vertical: 35px;
		--responsive--aligndefault-width: min(calc(100vw - 2 * var(--global--spacing-horizontal)), 782px);
		--responsive--alignwide-width: min(calc(100vw - 2 * var(--global--spacing-horizontal)), 1247px);
	}
}

.home .post .entry-title {
	font-size: var(--global--font-size-lg);
	margin-bottom: 0;
}

.post .entry-header {
	display: flex;
	flex-direction: column;
}

.post .entry-header .entry-title {
	margin-bottom: 0;
}

.post .entry-header .entry-meta {
	order: -1;
}

.post .entry-header .entry-meta .posted-on svg {
	display: none;
}

.post .entry-header .entry-meta .posted-on a {
	font-family: var(--global--font-primary);
	text-transform: uppercase;
}

.site-main > * {
	margin: 0 auto;
	padding: calc(3 * var(--global--spacing-vertical)) 0;
}

.has-sticky-post .site-main > *:first-child {
	margin-top: calc( 0px - var(--global--spacing-vertical));
	padding-top: var(--global--spacing-vertical);
}

.post.sticky {
	background: var(--sticky-posts--color-background);
}

.post.sticky .entry-title {
	font-size: var(--sticky-posts--entry-title-font-size);
}

.post.sticky .entry-content {
	font-size: var(--sticky-posts--entry-content-font-size);
}

.sticky-post {
	display: none;
}

.entry-content .more-link {
	margin-top: 0;
	margin-right: 0.5rem;
	display: inline-block;
	color: var(--global--color-foreground);
	font-size: calc(0.75 * var(--global--font-size-base));
}

.entry-content .more-link:hover {
	border: none;
	color: var(--global--color-primary);
}

.entry-content .more-link:after {
	content: none;
}

.entry-content .more-link svg {
	height: var(--global--font-size-base);
	width: var(--global--font-size-base);
	margin-right: -0.25em;
	display: inline-block;
	vertical-align: middle;
	transform: rotate(90deg);
}

.has-link-color a, a {
	border-bottom: 1px solid transparent;
	transition: all 0.1s ease;
}

.has-link-color a:hover, a:hover {
	color: var(--global--color-primary-hover);
	border-bottom: 1px solid var(--global--color-primary-hover);
}

.entry-content a {
	font-weight: 500;
}

.has-main-navigation .site-header {
	padding: var(--global--spacing-horizontal) var(--global--spacing-horizontal);
}

@media only screen and (max-width: 481px) {
	.has-main-navigation .site-header .site-title {
		margin: 0;
	}
	.has-main-navigation .site-header .site-description {
		display: none;
	}
}

.has-sticky-post .site-header {
	background: var(--sticky-posts--color-background);
}

.site-header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: var(--responsive--alignfull-width);
}

@media only screen and (max-width: 481px) {
	.site-header {
		align-items: center;
	}
}

.site-header .site-branding {
	flex-grow: 1;
	text-align: right;
}

.site-header .site-branding .site-title > a {
	background: inherit;
	text-shadow: none;
}

.site-header .primary-navigation {
	flex-grow: 4;
	margin-top: 0;
}

@media only screen and (max-width: 829px) {
	.site-header .primary-navigation .primary-menu-container {
		background: var(--primary-nav--color-background);
		padding: var(--global--spacing-unit);
		top: 68px;
	}
	.admin-bar .site-header .primary-navigation .primary-menu-container {
		top: 114px;
	}
	.site-header .primary-navigation .primary-menu-container a {
		color: var(--global--color-background);
	}
}

.site-header .primary-navigation button#primary-close-menu {
	color: var(--global--color-secondary);
	position: fixed;
	top: 0;
	left: 0;
}

.admin-bar .site-header .primary-navigation button#primary-close-menu {
	top: 46px;
}

.site-header .primary-navigation button#primary-close-menu:hover {
	color: var(--global--color-primary);
}

.site-header .primary-navigation .menu-item-has-children > .svg-icon {
	margin-top: -2px;
}

.site-header .primary-navigation > div > ul li, .site-header .woo-navigation > div > ul li {
	color: var(--global--color-secondary);
	margin: 6px;
	padding: var(--social-nav--padding);
}

.site-header .primary-navigation > div > ul li a:hover, .site-header .woo-navigation > div > ul li a:hover {
	border-color: transparent;
	color: var(--global--color-primary);
}

.site-header > .site-branding, .site-header > nav {
	margin: 0;
}

.site-header .social-navigation {
	flex-basis: 100%;
}

.site-header .social-navigation ul {
	justify-content: flex-start;
	flex-wrap: nowrap;
	margin-top: var(--global--spacing-vertical);
}

.site-header .social-navigation ul li {
	margin: 0;
	padding: 0 0 0 var(--social-nav--padding);
}

@media only screen and (min-width: 830px) {
	.site-header .social-navigation {
		flex-basis: auto;
	}
	.site-header .social-navigation ul {
		justify-content: flex-end;
		margin-top: 0;
	}
	.site-header .social-navigation ul li {
		padding: 0 var(--social-nav--padding) 0 0;
	}
}

.site-header .social-navigation li:first-of-type > a,
.site-header .social-navigation a {
	padding: 0;
}

.site-header .social-navigation li:first-of-type > a:hover,
.site-header .social-navigation a:hover {
	border-color: transparent;
	color: var(--global--color-primary);
}

.site-header div.menu-button-container button#primary-open-menu:before {
	margin: 0;
}

.primary-navigation-open .site-header div.menu-button-container {
	margin: 0;
}

.wp-block-latest-posts > li > a {
	color: var(--global--color-foreground);
}

.wp-block-latest-posts > li > a:hover {
	color: var(--global--color-primary);
}

.wp-block-jetpack-related-posts .jp-related-posts-i2__post {
	margin: 0 0 0 var(--global--spacing-horizontal);
}

.wp-block-jetpack-related-posts .jp-related-posts-i2__row {
	margin: auto;
}

.wp-block-jetpack-related-posts .jp-related-posts-i2__post-link {
	font-weight: 500;
	font-size: var(--wp--present--font-size--medium, --global--font-size-md);
	line-height: var(--global--line-height-body);
	width: fit-content;
}

.wp-block-jetpack-related-posts .jp-related-posts-i2__post-date,
.wp-block-jetpack-related-posts .jp-related-posts-i2__post-context {
	font-family: var(--global--font-primary);
	font-size: var(--global--font-size-xs);
	text-transform: uppercase;
}