a {
	color: $color__link;
	font-weight: bold;
	text-decoration: none;
	transition: 0.3s;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

.entry-content a,
.entry-summary a {
	word-wrap: break-word;
	word-break: break-word;
}