ul, ol {
	margin: 0 0 .8em 1.6em;
	padding: 0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: .8em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.6em 1.6em;
}