@import "../../varia/sass/full-site-editing/editor";

.site-header {
	.site-title {
		font-size: 24px;
		text-align: center;
		text-decoration: none;
	}

	.site-description{
		font-size: 16.6px;
		text-align: center;
	}

	.main-navigation ul {
		justify-content: center;
		a {
			font-size: 20px;
			text-decoration: none;
		}
	}
}
