.wp-block-file .wp-block-file__button {
	text-transform: uppercase;
	letter-spacing: 0.1em;
}	

.wp-block-search {
	&.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__button,
	.wp-block-search__button.wp-block-search__button {
		text-transform: uppercase;
		letter-spacing: 0.1em;
	}
}
