.wp-block-cover {
	padding: 11.5%;

	.wp-block-cover__inner-container {
		width: auto;
	}

	&.has-custom-content-position {
		&.is-position-top-left, &.is-position-top-center, &.is-position-top-right {
			padding-top: 5.75%;
			padding-bottom: 17.25%;
		}

		&.is-position-bottom-left, &.is-position-bottom-center, &.is-position-bottom-right {
			padding-top: 17.25%;
			padding-bottom: 5.75%;
		}
	}
}