.wp-block-cover {
	&.alignfull {
		padding-left: 0;
		padding-right: 0;
		.wp-block-cover__inner-container {
			padding-left: calc( max( 0.5 * ( 100% - var(--wp--custom--layout--wide-size) ), var(--wp--custom--post-content--padding--left) ));
			padding-right: calc( max( 0.5 * ( 100% - var(--wp--custom--layout--wide-size) ), var(--wp--custom--post-content--padding--left) ));
		}
	}
}