.wp-block-post-comments {

	.reply {
		a {
			@include text-decoration;
		}
	}

	form {
		column-gap: 1.2em;
	}

	.comment-reply-title {
		margin-bottom: calc( 2 * var(--wp--custom--margin--baseline));
	}

	.comment-author {
		margin-bottom: var(--wp--custom--margin--baseline);

		cite {
			font-weight: bold;
		}

		.says {
			display: none;
		}
	}

	.commentmetadata {
		--wp--style--block-gap: 48px;

		a {
			font-weight: 500;
		}
	}

	.commentlist {
		--wp--style--block-gap: 60px;
	}

	// Target certain links within post comments to use the underline treatment.
	.comment-body > p > a,
	.comment-edit-link {
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}
