h1.wp-block-post-title {
	body:not(.has-featured-image) &{
		border-bottom: var(--wp--custom--form--border--width)
			var(--wp--custom--form--border--style) var(--wp--preset--color--primary);
		padding-bottom: calc(var(--wp--custom--gap--vertical) * 3);
	}
}
