@import "../../../blockbase/sass/blocks/button-mixins";

.wp-block-post-comments {
	.reply {
		a {
			--wp--custom--button--typography--font-size: var(--wp--preset--font-size--normal);
			@include button-border-styles;
			--wp--custom--button--color--text: var(--wp--custom--button--hover--color--text);
			--wp--custom--button--color--background: var(--wp--custom--button--color--background);
			--wp--custom--button--border--color: var(--wp--custom--button--hover--color--text);

			& ,
			&:hover,
			&:focus,
			&:active {
				line-height: 1;
			}
			&:not(.has-background):not(.has-text-color) {
				&:hover,
				&:focus,
				&.has-focus {
					--wp--custom--button--typography--font-size: var(--wp--preset--font-size--normal);
					--wp--custom--button--color--text: var(--wp--custom--button--hover--color--background);
					--wp--custom--button--color--background: var(--wp--custom--button--hover--color--text);
				}
			}
		}
	}

	.comment-reply-title {
		margin-bottom: 30px;
	}

	form {
		display: grid;
		column-gap: 1.2em;
		grid-template-rows: auto;
		grid-template-areas:
			"notes notes"
			"comment comment"
			"author email"
			"url url"
			"cookies-consent cookies-consent"
			"form-submit form-submit";

		input:not([type=submit]):not([type=checkbox]),
		textarea {
			background: var(--wp--custom--color--background);
			font-size: var(--wp--preset--font-size--normal);
			width: 100%;
		}

		label:not([for=wp-comment-cookies-consent]) {
			font-size: var(--wp--custom--form--label--typography--font-size);
			font-weight: var(--wp--custom--form--label--typography--font-weight);
			letter-spacing: var(--wp--custom--form--label--typography--letter-spacing);
			margin-bottom: var(--wp--custom--form--label--spacing--margin--bottom);
			text-transform: var(--wp--custom--form--label--typography--text-transform);
		}

		p {
			margin-top: 0;
			margin-bottom: 30px;
		}

		.comment-notes {
			grid-area: notes;
		}

		.comment-form-author {
			grid-area: author;
		}

		.comment-form-email {
			grid-area: email;
		}

		.comment-form-url {
			grid-area: url;
		}

		.comment-form-comment {
			grid-area: comment;

			textarea {
				vertical-align: top;
			}
		}

		.comment-form-cookies-consent {
			grid-area: cookies-consent;
			margin-bottom: var(--wp--custom--margin--vertical);

			input[type="checkbox"] {
				@include hide-accesibly;
				& + label {
					margin-left: 0;
					padding-left: 3em;
				}
			}
		}

		.form-submit {
			grid-area: form-submit;
		}
	}

	.comment-author {
		margin-bottom: var(--wp--custom--margin--baseline);

		cite {
			font-weight: bold;
		}

		.says {
			display: none;
		}
	}

	.commentmetadata {
		margin-bottom: 36px;

		a {
			font-weight: 500;
		}
	}

	.commentlist {
		margin-bottom: calc( 4 * var(--wp--custom--margin--baseline) );
	}

	// Target certain links within post comments to use the underline treatment.
	.comment-body > p > a,
	.comment-edit-link {
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}
