h1.wp-block-post-title:not(.has-featured-image .wp-block-post-title) {
	border-bottom: var(--wp--custom--form--border--width) var(--wp--custom--form--border--style) var(--wp--preset--color--primary);
	padding-bottom: calc( var(--wp--custom--gap--vertical) * 2 );
	margin-bottom: 0;
}