/* !Site Builder styles */

.entry .entry-content {

	// Site header

	.site-builder__header {
		align-items: center;
		color: $color__text-dark;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		position: relative;
		max-width: 100%;
		margin-left: 0;
		margin-right: 0;
	}

	// Site title

	.site-builder__title {
		color: $color__text-main;
		flex: 1 1 auto;
		font-family: $font__heading;
		font-size: $font__size-lg;
		font-weight: 700;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		line-height: $font__line-height-heading;
		margin: 0 #{0.7 * $size__spacing-unit} 0 0;

		a {
			color: $color__text-dark;
			text-decoration: none;

			&:link,
			&:visited {
				color: $color__text-dark;
			}

			&:hover {
				color: $color__text-hover;
			}
		}
	}

	// Site description

	.site-builder__description {
		color: $color__text-dark;
		font-size: $font__size-xs;
		font-weight: normal;
		margin: 14px 0 0;
		flex: initial;
	}
}
