<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"bottom":"80px"}}},"layout":{"type":"constrained","contentSize":"1000px"}} -->
<main class="wp-block-group" style="margin-bottom:80px">
  <!-- wp:group {"layout":{"inherit":true,"type":"constrained","contentSize":"1000px"}} -->
  <div class="wp-block-group">
    <!-- wp:post-title {"level":1,"align":"wide","style":{"spacing":{"margin":{"bottom":"2.5rem"}}}} /-->
  </div>
  <!-- /wp:group -->

  <!-- wp:post-content {"layout":{"inherit":true,"contentSize":"1000px"}} /-->

  <!-- wp:group {"layout":{"inherit":true,"type":"constrained"}} -->
  <div class="wp-block-group">
    <!-- wp:group {"layout":{"type":"constrained"}} -->
    <div class="wp-block-group">
      <!-- wp:pattern {"slug":"course/comments"} /-->
    </div>
    <!-- /wp:group -->
  </div>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
