<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"bottom":"80px"}}},"layout":{"type":"constrained","contentSize":"1000px","wideSize":"1000px"}} -->
<div class="wp-block-group" style="margin-bottom:80px">

<!-- wp:group {"layout":{"type":"constrained","contentSize":"666px","justifyContent":"left"}} -->
<div class="wp-block-group"><!-- wp:post-title {"level":1,"align":"wide","style":{"typography":{"textTransform":"uppercase"}}} /--></div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","lock":{"move":false,"remove":true},"style":{"border":{"radius":"0px"},"spacing":{"margin":{"top":"2.5rem"}}}} -->
<main class="wp-block-group" style="border-radius:0px;margin-top:2.5rem">
		<!-- wp:post-featured-image /-->

		<!-- wp:columns {"style":{"spacing":{"blockGap":{"top":"0px","left":"0px"},"margin":{"bottom":"40px"}}}} -->
		<div class="wp-block-columns" style="margin-bottom:40px">

				<!-- wp:column {"width":"66.66%","style":{"spacing":{"margin":{"bottom":"40px","right":"70px"}},"typography":{"letterSpacing":"-0.01em"}}} -->
				<div class="wp-block-column" style="flex-basis:66.66%;letter-spacing:-0.01em;margin-right:70px;margin-bottom:40px">
						<!-- wp:group {"style":{"typography":{"fontStyle":"normal","fontWeight":"600","lineHeight":"1","letterSpacing":"-0.02em"},"spacing":{"blockGap":"0.5rem"}},"layout":{"type":"flex","flexWrap":"nowrap"},"fontSize":"x-small"} -->
						<div class="wp-block-group has-x-small-font-size" style="font-style:normal;font-weight:600;letter-spacing:-0.02em;line-height:1">

								<!-- wp:post-date {"fontSize":"x-small"} /-->

								<!-- wp:heading {"level":6,"style":{"typography":{"fontStyle":"normal","fontWeight":"600"}},"fontFamily":"system"} -->
								<h6 class="has-system-font-family" style="font-style:normal;font-weight:600">— by</h6>
								<!-- /wp:heading -->

								<!-- wp:post-author {"textAlign":"left","showAvatar":false,"showBio":false,"fontSize":"x-small","fontFamily":"system"} /-->
						</div>
						<!-- /wp:group -->
						<!-- wp:post-content {"layout":{"type":"constrained"},"lock":{"move":false,"remove":true}} /-->

						<!-- wp:post-terms {"term":"category","style":{"typography":{"lineHeight":"1"}},"fontSize":"x-small","fontFamily":"system"} /-->

						<!-- wp:post-terms {"term":"post_tag","style":{"typography":{"lineHeight":"1"}},"fontSize":"x-small","fontFamily":"system"} /-->

				</div>
				<!-- /wp:column -->

				<!-- wp:column {"width":"33.33%"} -->
				<div class="wp-block-column" style="flex-basis:33.33%">
						<!-- wp:group {"className":"course-newsletter-sidebar","layout":{"type":"constrained"}} -->
						<div class="wp-block-group course-newsletter-sidebar">
								<!-- wp:social-links {"iconColor":"primary","style":{"spacing":{"blockGap":{"top":"1.33rem","left":"1.33rem"}}},"className":"is-style-logos-only","layout":{"type":"flex","orientation":"horizontal"}} -->
								<ul class="wp-block-social-links has-icon-color is-style-logos-only">

										<!-- wp:social-link {"url":"#","service":"twitter"} /-->

										<!-- wp:social-link {"url":"#","service":"instagram"} /-->

										<!-- wp:social-link {"url":"#","service":"facebook"} /--></ul>
								<!-- /wp:social-links -->

								<!-- wp:spacer {"className":"course-newsletter-gap"} -->
								<div style="height:100px" aria-hidden="true" class="wp-block-spacer course-newsletter-gap"></div>
								<!-- /wp:spacer -->

								<!-- wp:pattern {"slug":"course/newsletter"} /-->
						</div>
						<!-- /wp:group -->

				</div>
				<!-- /wp:column -->

		</div>
		<!-- /wp:columns -->

</main>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:spacer {"height":"4rem"} -->
<div style="height:4rem" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->
<!-- wp:pattern {"slug":"course/comments"} /--></div>
<!-- /wp:group -->

</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
