<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"bottom":"80px"}}}} -->
<main class="wp-block-group" style="margin-bottom:80px;">
  <!-- wp:group {"layout":{"inherit":true,"type":"constrained","contentSize":"1000px"}} -->
  <div class="wp-block-group">
    <!-- wp:post-title {"level":1,"align":"wide","style":{"spacing":{"margin":{"bottom":"5rem"}}}} /-->

    <!-- wp:post-featured-image /-->
  </div>
  <!-- /wp:group -->

  <!-- wp:post-content {"layout":{"inherit":true}} /-->

  <!-- wp:group {"layout":{"inherit":true,"type":"constrained"}} -->
  <div class="wp-block-group">
    <!-- wp:group {"layout":{"type":"constrained"}} -->
    <div class="wp-block-group">
      <!-- wp:comments {"className":"wp-block-comments-query-loop "} -->
      <div class="wp-block-comments wp-block-comments-query-loop">
        <!-- wp:separator {"opacity":"css","className":"is-style-wide"} -->
        <hr class="wp-block-separator has-css-opacity is-style-wide" />
        <!-- /wp:separator -->

        <!-- wp:comments-title {"showPostTitle":false,"showCommentsCount":false,"level":3,"style":{"typography":{"fontStyle":"normal","fontWeight":"600"}},"fontSize":"large"} /-->

        <!-- wp:comment-template -->
        <!-- wp:group {"layout":{"type":"flex","orientation":"vertical"}} -->
        <div class="wp-block-group">
          <!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|30"}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"left","verticalAlignment":"top"}} -->
          <div class="wp-block-group">
            <!-- wp:avatar {"size":40,"style":{"border":{"radius":"24px","width":"1px"}}} /-->

            <!-- wp:group {"style":{"spacing":{"blockGap":"0","padding":{"top":"0","right":"0","bottom":"0","left":"0"}}},"layout":{"type":"flex","orientation":"vertical"}} -->
            <div class="wp-block-group" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">
              <!-- wp:comment-author-name /-->

              <!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"},"blockGap":"0.5em"}},"layout":{"type":"flex","verticalAlignment":"bottom"}} -->
              <div class="wp-block-group" style="margin-top:0px;margin-bottom:0px">
                <!-- wp:comment-date {"format":"F j, Y \\a\\t g:i a"} /-->

                <!-- wp:comment-edit-link /-->
              </div>
              <!-- /wp:group -->

              <!-- wp:comment-content {"style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}}} /-->

              <!-- wp:comment-reply-link /-->
            </div>
            <!-- /wp:group -->
          </div>
          <!-- /wp:group -->

          <!-- wp:spacer {"height":"5rem"} -->
          <div style="height:5rem" aria-hidden="true" class="wp-block-spacer"></div>
          <!-- /wp:spacer -->
        </div>
        <!-- /wp:group -->
        <!-- /wp:comment-template -->

        <!-- wp:comments-pagination -->
        <!-- wp:comments-pagination-previous /-->

        <!-- wp:comments-pagination-numbers /-->

        <!-- wp:comments-pagination-next /-->
        <!-- /wp:comments-pagination -->

        <!-- wp:post-comments-form /-->
      </div>
      <!-- /wp:comments -->
    </div>
    <!-- /wp:group -->
  </div>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
