/*
* Styles specific to default variation
*/
.wp-block-button.is-style-outline .wp-block-button__link {
    padding-top: var(--wp--custom--button--spacing--padding--top);
    padding-right: var(--wp--custom--button--spacing--padding--right);
    padding-bottom: var(--wp--custom--button--spacing--padding--bottom);
    padding-left: var(--wp--custom--button--spacing--padding--left);
}