/* =Reset
-------------------------------------------------------------- */

caption, th, td, th {
	text-align: right;
}

/* =Rebuild
----------------------------------------------- */

/* Text meant only for screen readers */

.screen-reader-text:focus {
	right: 24px;
	left: auto;
}

/* =Forms
----------------------------------------------- */

textarea {
	padding-right: 3px;
	padding-left: 0;
}

/* =Global */

/* Alignment */
.alignright {
	float: right;
	margin: 14px 0 14px 27px;
}

.alignleft {
	float: left;
	margin: 14px 27px 14px 0;
}

/* Text elements */

ul {
	margin: 0 27px 27px 0;
}

ol {
	margin: 0 27px 27px 0;
}

li > ul,
li > ol {
	margin-right: 27px;
	margin-left: auto;
}

dd {
	margin: 14px 27px 14px 0;
}

blockquote {
	border-right: 3px solid #eeeeee;
	padding-right: 24px;
	padding-left: 0;
	border-left: none;
}

blockquote cite {
	text-align: left;
}

/* =Header */

.site-logo {
	margin-left: 14px;
	margin-right: auto;
}

.site-branding {
	float: right;
}

/* =Menu */

.main-navigation ul {
	padding-right: 0;
	padding-left: 0;
}

/* Small menu */

.menu-toggle {
	float: left;
}

.menu-toggle:before {
	margin-left: 5px;
	margin-right: auto;
}

/* =Portfolio */

.page-template-portfolio-page-php .entry-thumbnail .edit-link a,
.project-navigation-wrapper .entry-thumbnail .edit-link a,
.page-template-portfolio-template-php .entry-thumbnail .edit-link a,
body[class*="jetpack-portfolio"].archive .entry-thumbnail .edit-link a {
	left: 14px;
	right: auto;
}

.project-navigation-wrapper ul,
.project-navigation-wrapper li.previous,
.project-navigation-wrapper li.current,
.project-navigation-wrapper li.next {
	margin-right: 0;
	margin-left: auto;
}

/* =Post Formats */
.format-link .entry-title a:after {
	margin-right: 5px;
	margin-left: auto;
}

/* Gallery column widths */

.gallery-item {
	float: right;
}

/* =Navigation */

.site-main .post-navigation .nav-previous a,
.site-main .paging-navigation .nav-previous a {
	float: right;
}

.site-main .post-navigation .nav-next a,
.site-main .paging-navigation .nav-next a {
	float: left;
	text-align: left;
}

.site-main .comment-navigation .nav-previous {
	float: right;
	text-align: right;
}

.site-main .comment-navigation .nav-next {
	float: left;
	text-align: left;
}

/* =Comments */

.comments-title small,
.comment-reply-title small {
	float: left;
}

.comment-meta .comment-author img {
	float: right;
}

.comment-meta .comment-author .fn {
	margin-right: 14px;
	margin-left: auto;
}

.comment-meta .comment-metadata {
	margin-right: 74px;
	margin-left: auto;
}

.comment-form-author label,
.comment-form-email label,
.comment-form-url label,
.comment-form-comment label {
	right: 0;
	left: auto;
}

.comment-form-author input,
.comment-form-email input,
.comment-form-url input,
.comment-form-comment input {
	padding-right: 100px;
	padding-left: 0;
}

/* =Widgets */

.widget select {
	margin-right: 24px;
	margin-left: auto;
}

/* Tags */

.wp_widget_tag_cloud a,
.tags-links a {
	margin: 0 0 7px 7px  ;
}

div.sharedaddy div.sd-block {
	padding: 13px !important 14px 0;
}

/* =Social Links */

.social-links ul a:before {
	margin-right: 2px;
	margin-left: auto;
}

.flexslider .entry-title {
	text-align: right;
}

.flexslider .entry-meta {
	text-align: right;
}

.flexslider .entry-header {
	border-bottom-right-radius: 5px;
	right: 0;
	left: auto;
}

.flexslider .entry-thumbnail img {
	right: 0;
	left: auto;
}

/* No JavaScript Fallback */

.carousel li {
	margin-left: 0;
	margin-right: auto;
}

/* Direction Nav */

.flex-direction-nav .flex-prev {
	left: 59px;
	right: auto;
}

.flex-direction-nav .flex-next {
	left: 14px;
	right: auto;
}
@media screen and (min-width: 60em) {
	.main-navigation {
		float: left;
		text-align: left;
	}

	.main-navigation ul a {
		padding: 4.53333px 14px 4.53333px 0;
	}

	.main-navigation ul ul {
		float: right;
		right: 0;
		text-align: right;
		left: auto;
	}

	.main-navigation ul ul ul {
		right: 100%;
		left: auto;
	}
}

@media screen and (min-width: 50em) {

	.flex-direction-nav .flex-prev {
		left: -45px;
		right: auto;
	}

	.flex-direction-nav .flex-next {
		left: -95px;
		text-align: left;
		right: auto;
	}

	.flexslider:hover .flex-prev {
		left: 72px;
		right: auto;
	}

	.flexslider:hover .flex-next {
		left: 27px;
		right: auto;
	}

	.content-area {
		float: right;
		margin: 0 0 0 -30%;
	}

	.site-main {
		margin: 0 0 0 30%;
	}

	.site-content .widget-area {
		float: left;
	}

	.site-info {
		float: right;
		text-align: right;
	}

	.social-links {
		float: left;
		text-align: left;
	}

	.project-navigation-wrapper .jetpack-portfolio,
	.page-template-portfolio-page-php .jetpack-portfolio,
	body[class*="jetpack-portfolio"].archive .jetpack-portfolio {
		float: right;
		margin-left: 2%;
		margin-right: 0;
	}

	.project-navigation-wrapper .jetpack-portfolio:nth-of-type(3n),
	.page-template-portfolio-page-php .jetpack-portfolio:nth-of-type(3n),
	body[class*="jetpack-portfolio"].archive .jetpack-portfolio:nth-of-type(3n) {
		clear: left;
		margin-left: 0;
	}

	.project-navigation-wrapper .jetpack-portfolio:nth-of-type(3n+1),
	.page-template-portfolio-page-php .jetpack-portfolio:nth-of-type(3n+1),
	body[class*="jetpack-portfolio"].archive .jetpack-portfolio:nth-of-type(3n+1) {
		clear: right;
	}

	.page-template-portfolio-page-php .featured-posts .jetpack-portfolio:nth-of-type(3n+1),
	.project-navigation-wrapper .more-projects .jetpack-portfolio:nth-of-type(3n),
	.project-navigation-wrapper .jetpack-portfolio:nth-of-type(3n+1) {
		clear: none;
	}

	.project-navigation-wrapper .entry-thumbnail img,
	.page-template-portfolio-page-php .entry-thumbnail img,
	body[class*="jetpack-portfolio"].archive .entry-thumbnail img {
		right: 0;
		left: auto;
	}

	.project-navigation-wrapper li.next .jetpack-portfolio {
		margin-left: 0;
		margin-right: auto;
	}

}
