/**
 * WordPress.com specific styles
 */

/*--------------------------------------------------------------*/
/* !# Extras */
/*--------------------------------------------------------------*/

/* Reblog snapshots */
.wpcom-reblog-snapshot {
	margin-bottom: 30px;
	margin-left: 12.5%;
}

.wpcom-reblog-snapshot .reblog-post {
	box-shadow: none;
	border: 2px solid #000;
	padding: 30px;
	position: relative;
}

.wpcom-reblog-snapshot .reblog-post:before {
	position: relative;
	color: #F35029;
	content: '\f079';
	display: inline-block;
	font-family: 'FontAwesome';
	font-size: 15px;
	font-weight: normal;
	margin: 0;
	position: absolute;
	top: 25px;
	right: 25px;
	speak: none;
	vertical-align: baseline;
}

/* Sharedaddy */
div.sharedaddy {
	margin-bottom: 30px;
}

div.sharedaddy h3.sd-title {
	color: #555;
	font-family: "Rubik", "Helvetica Neue", sans-serif !important;
	font-size: 13px !important;
	font-weight: 400 !important;
	letter-spacing: 0.075em;
	line-height: 1.5em !important;
}

div.sharedaddy h3.sd-title:before {
	border-top: none !important;
	display: none !important;
}

div.sharedaddy .sd-content ul {
	margin-bottom: 0 !important;
}

/* Ratings */
.sd-rating .rating-msg {
	font-size: 13px !important;
	font-weight: 600;
}

.sd-rating h3.sd-title {
	color: #555;
	font-family: "Rubik", "Helvetica Neue", sans-serif !important;
	font-size: 13px !important;
	font-weight: 400 !important;
	letter-spacing: 0.075em;
	line-height: 1.5em !important;
}

/* Related Posts */
div#jp-relatedposts h3.jp-relatedposts-headline em {
	color: #555;
	font-family: "Rubik", "Helvetica Neue", sans-serif !important;
	font-size: 13px !important;
	font-weight: 400 !important;
	letter-spacing: 0.075em;
	line-height: 1.5em !important;
}

div#jp-relatedposts div.jp-relatedposts-items-visual h4.jp-relatedposts-post-title,
div#jp-relatedposts div.jp-relatedposts-items-visual .jp-relatedposts-post img.jp-relatedposts-post-img,
div#jp-relatedposts div.jp-relatedposts-items p {
	margin-bottom: 10px;
}

div#jp-relatedposts div.jp-relatedposts-items-visual h4.jp-relatedposts-post-title,
div#jp-relatedposts div.jp-relatedposts-items-visual h4.jp-relatedposts-post-title a {
	font-family: "Rubik", "Helvetica Neue", sans-serif !important;
	font-size: 17px !important;
	font-weight: bold !important;
	line-height: 1.5em !important;
}

div#jp-relatedposts h3.jp-relatedposts-headline em:before {
	border-top: none !important;
}

/* Highlander comments */
.highlander-enabled div#respond h3 {
	margin-top: 0 !important;
}
.highlander-enabled div#respond {
	margin-bottom: 0 !important;
}

.highlander-enabled #respond .comment-subscription-form label,
.highlander-enabled #respond .post-subscription-form label {
	padding-left: 10px;
	right: inherit;
	text-align: left;
	width: 50%;
}

/* Authors Widget */
.widget_authors > ul ul {
	margin-left: 1em;
	list-style: disc;
}

.widget_authors > ul > li:first-child > a,
.widget_authors > ul > li:first-child > a:hover,
.widget_authors > ul > li:first-child > a:active {
	margin-bottom: 20px;
	text-decoration: none;
}

.widget_authors > ul > li img,
.widget_authors > ul > li strong {
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
}

/* Flickr Widget Styles */
.widget_flickr #flickr_badge_uber_wrapper a:hover,
.widget_flickr #flickr_badge_uber_wrapper a:link,
.widget_flickr #flickr_badge_uber_wrapper a:active,
.widget_flickr #flickr_badge_uber_wrapper a:visited {
	color: inherit;
}

.widget_flickr #flickr_badge_uber_wrapper,
.widget_flickr #flickr_badge_uber_wrapper #flickr_badge_wrapper {
	border-color: transparent !important;
}

.widget_flickr td br {
	clear: none;
	display: none;
}

.widget_flickr td a,
.widget_flickr td img {
	display: inline-block;
	vertical-align: top;
}

.widget_flickr .flickr-size-thumbnail td a {
	width: 25%;
}

.widget_flickr .flickr-size-small  td a {
	width: 50%;
}

.widget_flickr td a:last-of-type {
	clear: both;
	display: block;
	float: none;
	margin-top: 20px;
	width: 100%;
}

/* Instagram */
.widget_wpcom_instagram_widget .wpcom-instagram-images img {
	margin: 0;
}

.wpcom-instagram-columns-2 a {
	width: inherit;
}

/* Social Media icons  */
.widget_wpcom_social_media_icons_widget li > a {
	display: inherit;
}

.widget_wpcom_social_media_icons_widget .genericon {
	font-size: 26px;
}

/* Top rated */
.top_rated .pd_top_rated_holder_posts > p {
	margin-bottom: 0;
}

.top_rated .pd_top_rated_holder_posts #top_posts li {
	margin: 1em 0;
}

.top_rated .pd_top_rated_holder_posts #top_posts a {
	font-family: "Libre Baskerville", Georgia, serif;
}

.top_rated .pd_top_rated_holder_posts #top_posts br {
	clear: none;
	display: none;
}

/* Large Screen Styles */
@media screen and (min-width: 881px) {

	/* Reblog snapshots */
	.wpcom-reblog-snapshot {
		margin-left: inherit;
	}

	.wpcom-reblog-snapshot .reblog-post:before {
		font-size: 20px;
	}

}
