.wp-block-post-navigation-link {
	border-top: 1px solid;
	display: flex;
	padding-top: 1em;
}
.post-navigation-link-next {
	flex-direction: row-reverse;
	a {
		margin-right: 0.5em;
	}
}
.post-navigation-link-previous {
	a {
		margin-left: 0.5em;
	}
}

.next-prev-links {
	.wp-block-column,
	.wp-block-column:not(:only-child) {
		flex-basis: 40% !important; // This is needed to override the collapsing columns in Gutenberg

		&:not(:first-child) {
			margin-left: 20%;
		}
	}
}
