@mixin global-variables() {

	/* Colors */
	--wp--preset--color--primary: #222;
	--wp--preset--color--primary-hover: #444;
	--wp--preset--color--secondary: #116821;
	--wp--preset--color--secondary-hover: #444;
	--wp--preset--color--foreground: #444;
	--wp--preset--color--foreground-low-contrast: #757575;
	--wp--preset--color--foreground-high-contrast: #111;
	--wp--preset--color--background: white;
	--wp--preset--color--background-low-contrast: #f0f0f0;
	--wp--preset--color--background-high-contrast: #e0e0e0;
	--wp--preset--color--tertiary: #e0e0e0;
	--wp--preset--color--border: #e0e0e0;
	--wp--preset--color--border-low-contrast: #d0d0d0;
	--wp--preset--color--border-high-contrast: #f0f0f0;
	--wp--preset--color--text-selection: #eaeaea;
	--wp--preset--color--alert-success: #4caf50;
	--wp--preset--color--alert-info: #2196f3;
	--wp--preset--color--alert-warning: #ffc107;
	--wp--preset--color--alert-error: #f44336;
	--wp--preset--color--black: black;
	--wp--preset--color--white: white;

}
