@mixin global-variables() {

	/* Colors */
	--wp--preset--color--primary: #222222;
	--wp--preset--color--primary-hover: #444444;
	--wp--preset--color--secondary: #116821;
	--wp--preset--color--secondary-hover: #444444;
	--wp--preset--color--foreground: #444444;
	--wp--preset--color--foreground-low-contrast: #757575;
	--wp--preset--color--foreground-high-contrast: #111111;
	--wp--preset--color--background: white;
	--wp--preset--color--background-low-contrast: #F0F0F0;
	--wp--preset--color--background-high-contrast: #E0E0E0;
	--wp--preset--color--border: #E0E0E0;
	--wp--preset--color--border-low-contrast: #D0D0D0;
	--wp--preset--color--border-high-contrast: #F0F0F0;
	--wp--preset--color--text-selection: #EAEAEA;
	--wp--preset--color--alert-success: #4caf50;
	--wp--preset--color--alert-info: #2196f3;
	--wp--preset--color--alert-warning: #ffc107;
	--wp--preset--color--alert-error: #f44336;
	--wp--preset--color--black: black;
	--wp--preset--color--white: white;

}
