@mixin quote-variables() {
	--quote--border-color: var(--global--color-secondary);
	--quote--border-width: 1px;
	--quote--font-family: var(--global--font-secondary);
	--quote--font-size: var(--global--font-size-md);
	--quote--font-size-large: var(--global--font-size-lg);
	--quote--font-style: normal;
	--quote--font-style-large: normal;
	--quote--line-height: var(--global--line-height-body);
	--quote--line-height-large: 1.5;
}