<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:pattern {"slug":"pendant/home-hero"} /-->

<!-- wp:pattern {"slug":"pendant/latest-articles"} /-->

<!-- wp:pattern {"slug":"pendant/image-series"} /-->


<!-- wp:group {"layout":{"inherit":true}} -->
<div class="wp-block-group">
<!-- wp:columns {"align":"wide","style":{"spacing":{"blockGap":"60px","padding":{"top":"80px","bottom":"80px"}}}} -->
<div class="wp-block-columns alignwide" style="padding-top:80px;padding-bottom:80px">
<!-- wp:column -->
<div class="wp-block-column">
<!-- wp:pattern {"slug":"pendant/latest-interviews"} /-->
</div>
<!-- /wp:column -->

<!-- wp:column {"width":"25%","layout":{"inherit":false}} -->
<div class="wp-block-column" style="flex-basis:25%">
<!-- wp:pattern {"slug":"pendant/posts-topics"} /-->
</div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"pendant/image-gallery"} /-->

<!-- wp:template-part {"slug":"footer"} /-->