<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"bottom":"20px","top":"55px"},"blockGap":"55px","margin":{"top":"0px"}}},"className":"has-text-align-center","layout":{"inherit":true},"lock":{"move":false,"remove":true}} -->
<div class="wp-block-group has-text-align-center" style="margin-top:0px;padding-top:55px;padding-bottom:20px"><!-- wp:post-terms {"term":"category","style":{"spacing":{"padding":{"top":"15px","bottom":"15px"}},"elements":{"link":{"color":{"text":"var:preset|color|foreground"}}},"typography":{"textTransform":"uppercase"}}} /-->

<!-- wp:post-featured-image /-->

<!-- wp:group {"style":{"spacing":{"blockGap":"40px","margin":{"top":"0px"}}}} -->
<div class="wp-block-group" style="margin-top:0px"><!-- wp:post-title {"style":{"spacing":{"margin":{"top":"30px"}}}} /-->

<!-- wp:post-date /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:post-content {"layout":{"inherit":true},"lock":{"move":false,"remove":true}} /-->

<!-- wp:group {"layout":{"inherit":true}} -->
<div class="wp-block-group"><!-- wp:spacer {"height":"60px"} -->
<div style="height:60px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:post-comments /--></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"60px"} -->
<div style="height:60px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:separator {"className":"is-style-wide"} -->
<hr class="wp-block-separator has-alpha-channel-opacity is-style-wide"/>
<!-- /wp:separator -->

<!-- wp:pattern {"slug":"pendant/post-navigation"} /-->

<!-- wp:spacer {"height":"60px"} -->
<div style="height:60px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->