.wp-block-cover,
.wp-block-cover-image {

	background-color: #{map-deep-get($config-global, "color", "foreground", "default")};
	min-height: #{map-deep-get($config-cover, "height")};

	.wp-block-cover__inner-container,
	.wp-block-cover-image-text,
	.wp-block-cover-text {
		color: #{map-deep-get($config-global, "color", "background")};

		a {
			color: currentColor;
		}
	}

	/* Treating H2 separately to account for legacy /core styles */
	h2 {
		font-size: (strip-unit(map-deep-get($config-heading, "font", "size", "h2")) + 0em);
		letter-spacing: #{map-deep-get($config-heading, "font", "letter-spacing", "h2")};
		line-height: #{map-deep-get($config-heading, "font", "line-height", "h2")};
		padding: 0;
		max-width: inherit; // undo opinionated styles
		text-align: inherit;

		&.has-text-align-left {
			text-align: left;
		}

		&.has-text-align-center {
			text-align: center;
		}

		&.has-text-align-right {
			text-align: right;
		}
	}
}
