<!-- wp:pattern {"slug":"startfit/notice-bar"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"},"blockGap":"0px"}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="margin-top:0px;margin-bottom:0px">
	<!-- wp:template-part {"slug":"header-home","tagName":"header"} /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group alignfull" style="margin-top:0px;margin-bottom:0px">

	<!-- wp:pattern {"slug":"startfit/about-us"} /-->

	<!-- wp:pattern {"slug":"startfit/logos"} /-->

	<!-- wp:pattern {"slug":"startfit/quick-start-guide"} /-->

	<!-- wp:pattern {"slug":"startfit/testimonial"} /-->

	<!-- wp:pattern {"slug":"startfit/price-table"} /-->

	<!-- wp:pattern {"slug":"startfit/call-to-action"} /-->
</main>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"},"blockGap":"0px"}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="margin-top:0px;margin-bottom:0px">
	<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
</div>
<!-- /wp:group -->
