.wp-block-separator,
hr {
	border-bottom: #{map-deep-get($config-separator, "height")} solid #{map-deep-get($config-global, "color", "border", "default")};
	clear: both;

	&[style*="text-align:right"],
	&[style*="text-align: right"] {
		border-right-color: #{map-deep-get($config-global, "color", "border", "default")};
	}

	&.is-style-wide {
		border-bottom-width: #{map-deep-get($config-separator, "height")};
	}

	&.is-style-dots {

		border-bottom: none;

		&.has-background,
		&.has-text-color {
			background-color: transparent !important;

			&:before {
				color: currentColor !important;
			}
		}

		&:before {
			color: #{map-deep-get($config-global, "color", "border", "default")};
		}
	}

	.has-background:not(.has-background-background-color) &,
	[class*="background-color"]:not(.has-background-background-color) &,
	[style*="background-color"]:not(.has-background-background-color) &,
	.wp-block-cover[style*="background-image"] & {
		border-color: currentColor;
	}
}
