.wp-block-social-links.is-style-logos-only .wp-social-link svg {
	width: 1em;
	height: 1em;
  }

.wp-block-site-title a:hover {
	text-decoration: none;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
	color: var(--wp--custom--color--foreground);
	text-decoration: none;
}
