/**
 * These styles should be loaded by the Block Editor only
 */
:root, body {
	/* Globals */
	/* Font Family */
	/* Font Size */
	/* Line Height */
	/* Colors */
	/* Spacing */
	/* Elevation */
	/* Other */
	/* Elements */
	/* Blocks */
	/* Components */
	/* Vendors */
}

/**
 * Repsonsive Styles
 */
/**
 * Required Variables
 */
/**
 * Root Media Query Variables
 */

/**
 * Extends
 */
.default-max-width {
	max-width: calc(100vw - 30px);
	margin-left: auto;
	margin-right: auto;
}
@media only screen and (min-width: 652px) {
	.default-max-width {
	max-width: min(calc(100vw - 200px), 750px);
	}
}

.wide-max-width {
	max-width: calc(100vw - 30px);
	margin-left: auto;
	margin-right: auto;
}

@media only screen and (min-width: 652px) {
	.wide-max-width {
	max-width: calc(100vw - 200px);
	}
}

@media only screen and (min-width: 482px) {
	.full-max-width {
		max-width: 100%;
		width: auto;
		margin-left: auto;
		margin-right: auto;
	}
}

/**
 * Output
 */
body {
	color: #333333;
	background-color: #FFFFFF;
	font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: normal;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

.editor-post-title__block {
	font-size: 18px;
}

.wp-block a {
	border-bottom: 1px solid #3C8067;
	color: #000000;
	text-decoration: none;
}

.wp-block a:hover, .wp-block a:focus {
	border-bottom-color: transparent;
}

.wp-block a:hover {
	color: #3C8067;
}

.wp-block a:focus {
	color: #3C8067;
}

.wp-block a:active {
	color: #000000;
}

.has-link-color .wp-block a {
	border-bottom: undefined;
}

.has-background:not(.has-background-background-color) .has-link-color a {
	color: #000000;
}

.has-background:not(.has-background-background-color).has-link-color a {
	color: #000000;
}

button,
a {
	cursor: pointer;
}

/**
 * Elements
 * - Styles for basic HTML elemants
 */
blockquote {
	margin: 0;
	padding: 0;
}

blockquote p {
	font-size: 24px;
	letter-spacing: normal;
	line-height: 1.3;
}

blockquote cite {
	color: #444444;
	font-size: 14px;
	letter-spacing: normal;
}

blockquote footer {
	color: #444444;
	font-size: 14px;
	letter-spacing: normal;
}

blockquote > * {
	margin-top: 20px;
	margin-bottom: 20px;
}

blockquote > *:first-child {
	margin-top: 0;
}

blockquote > *:last-child {
	margin-bottom: 0;
}

blockquote.alignleft, blockquote.alignright {
	padding-left: inherit;
}

blockquote.alignleft p {
	font-size: 18px;
	max-width: inherit;
	width: inherit;
}

blockquote.alignright p {
	font-size: 18px;
	max-width: inherit;
	width: inherit;
}

blockquote.alignleft cite {
	font-size: 14px;
	letter-spacing: normal;
}

blockquote.alignleft footer {
	font-size: 14px;
	letter-spacing: normal;
}

blockquote.alignright cite {
	font-size: 14px;
	letter-spacing: normal;
}

blockquote.alignright footer {
	font-size: 14px;
	letter-spacing: normal;
}

/* Media captions */
figcaption {
	color: #444444;
	font-size: 14px;
	line-height: 1.7;
	margin-top: 10px;
	margin-bottom: 20px;
	text-align: center;
}
.wp-caption {
	color: #444444;
	font-size: 14px;
	line-height: 1.7;
	margin-top: 10px;
	margin-bottom: 20px;
	text-align: center;
}
.wp-caption-text {
	color: #444444;
	font-size: 14px;
	line-height: 1.7;
	margin-top: 10px;
	margin-bottom: 20px;
	text-align: center;
}

.alignleft figcaption,
.alignright figcaption, .alignleft
.wp-caption,
.alignright
.wp-caption, .alignleft
.wp-caption-text,
.alignright
.wp-caption-text {
	margin-bottom: 0;
}

/* WP Smiley */
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

.wp-block-button__link {
	color: #FFFFFF;
	font-weight: normal;
	font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
	font-size: 1em;
	line-height: 1;
	background-color: #3C8067;
	border-radius: 4px;
	padding: 23px 25px;
}

.wp-block-button__link:hover {
	color: #FFFFFF;
	background-color: #336D58;
}

.wp-block-button__link:focus {
	color: #FFFFFF;
	background-color: #336D58;
}

.wp-block-button__link.has-focus {
	color: #FFFFFF;
	background-color: #336D58;
}

.wp-block-button__link.is-style-outline {
	color: #3C8067;
	background: transparent;
	border: 2px solid currentcolor;
}

.is-style-outline .wp-block-button__link {
	color: #3C8067;
	background: transparent;
	border: 2px solid currentcolor;
}

.wp-block-button__link.is-style-squared,
.is-style-squared .wp-block-button__link {
	border-radius: 0;
}

div[data-type="core/button"] {
	display: block;
}

.wp-block-cover {
	background-color: #000000;
	min-height: 450px;
	margin-top: inherit;
	margin-bottom: inherit;
}

.wp-block-cover-image {
	background-color: #000000;
	min-height: 450px;
	margin-top: inherit;
	margin-bottom: inherit;
}

.wp-block-cover .wp-block-cover__inner-container,
.wp-block-cover .wp-block-cover-image-text,
.wp-block-cover .wp-block-cover-text,
.wp-block-cover .block-editor-block-list__block,
.wp-block-cover-image .wp-block-cover__inner-container,
.wp-block-cover-image .wp-block-cover-image-text,
.wp-block-cover-image .wp-block-cover-text,
.wp-block-cover-image .block-editor-block-list__block {
	color: currentColor;
}

.wp-block-cover .wp-block-cover__inner-container a:not(.has-text-color),
.wp-block-cover .wp-block-cover-image-text a:not(.has-text-color),
.wp-block-cover .wp-block-cover-text a:not(.has-text-color),
.wp-block-cover .block-editor-block-list__block a:not(.has-text-color),
.wp-block-cover-image .wp-block-cover__inner-container a:not(.has-text-color),
.wp-block-cover-image .wp-block-cover-image-text a:not(.has-text-color),
.wp-block-cover-image .wp-block-cover-text a:not(.has-text-color),
.wp-block-cover-image .block-editor-block-list__block a:not(.has-text-color) {
	color: currentColor;
}

.wp-block-cover .wp-block-cover__inner-container .has-link-color a {
	color: #000000;
}

.wp-block-cover .wp-block-cover-image-text .has-link-color a {
	color: #000000;
}

.wp-block-cover .wp-block-cover-text .has-link-color a {
	color: #000000;
}

.wp-block-cover .block-editor-block-list__block .has-link-color a {
	color: #000000;
}

.wp-block-cover-image .wp-block-cover__inner-container .has-link-color a {
	color: #000000;
}

.wp-block-cover-image .wp-block-cover-image-text .has-link-color a {
	color: #000000;
}

.wp-block-cover-image .wp-block-cover-text .has-link-color a {
	color: #000000;
}

.wp-block-cover-image .block-editor-block-list__block .has-link-color a {
	color: #000000;
}

.wp-block-cover:not([class*='background-color']) .wp-block-cover__inner-container {
	color: #FAFBF6;
}

.wp-block-cover:not([class*='background-color']) .wp-block-cover-image-text {
	color: #FAFBF6;
}

.wp-block-cover:not([class*='background-color']) .wp-block-cover-text {
	color: #FAFBF6;
}

.wp-block-cover:not([class*='background-color']) .block-editor-block-list__block {
	color: #FAFBF6;
}

.wp-block-cover-image:not([class*='background-color']) .wp-block-cover__inner-container {
	color: #FAFBF6;
}

.wp-block-cover-image:not([class*='background-color']) .wp-block-cover-image-text {
	color: #FAFBF6;
}

.wp-block-cover-image:not([class*='background-color']) .wp-block-cover-text {
	color: #FAFBF6;
}

.wp-block-cover-image:not([class*='background-color']) .block-editor-block-list__block {
	color: #FAFBF6;
}

.wp-block-cover h2 {
	font-size: 32px;
	letter-spacing: normal;
	line-height: 1.3;
	padding: 0;
	max-width: inherit;
	text-align: inherit;
}

.wp-block-cover-image h2 {
	font-size: 32px;
	letter-spacing: normal;
	line-height: 1.3;
	padding: 0;
	max-width: inherit;
	text-align: inherit;
}

.wp-block-cover h2.has-text-align-left,
.wp-block-cover-image h2.has-text-align-left {
	text-align: left;
}

.wp-block-cover h2.has-text-align-center,
.wp-block-cover-image h2.has-text-align-center {
	text-align: center;
}

.wp-block-cover h2.has-text-align-right,
.wp-block-cover-image h2.has-text-align-right {
	text-align: right;
}

.wp-block-file .wp-block-file__textlink {
	border-bottom: 1px solid #3C8067;
	color: #000000;
	text-decoration: none;
}

.wp-block-file .wp-block-file__button {
	color: #FFFFFF;
	font-weight: normal;
	font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
	font-size: 1em;
	line-height: 1;
	background-color: #3C8067;
	border-radius: 4px;
	padding: 12px 13px;
}

.wp-block-file .wp-block-file__button:hover {
	color: #FFFFFF;
	background-color: #336D58;
}

.wp-block-file .wp-block-file__button:focus {
	color: #FFFFFF;
	background-color: #336D58;
}

.wp-block-file .wp-block-file__button.has-focus {
	color: #FFFFFF;
	background-color: #336D58;
}

.wp-block-gallery figcaption {
	margin-bottom: 0;
}

.wp-block-group.has-background {
	padding: 30px;
}

.wp-block-group .wp-block-group.has-background > .block-editor-block-list__layout > [data-align="full"] {
	margin: 0;
	width: 100%;
}

.wp-block-heading h1 {
	clear: both;
	font-family: 'Playfair Display', Georgia, Times, serif;
	font-weight: normal;
}

h1 {
	clear: both;
	font-family: 'Playfair Display', Georgia, Times, serif;
	font-weight: normal;
}

.h1 {
	clear: both;
	font-family: 'Playfair Display', Georgia, Times, serif;
	font-weight: normal;
}

.wp-block-heading h2 {
	clear: both;
	font-family: 'Playfair Display', Georgia, Times, serif;
	font-weight: normal;
}

h2 {
	clear: both;
	font-family: 'Playfair Display', Georgia, Times, serif;
	font-weight: normal;
}

.h2 {
	clear: both;
	font-family: 'Playfair Display', Georgia, Times, serif;
	font-weight: normal;
}

.wp-block-heading h3 {
	clear: both;
	font-family: 'Playfair Display', Georgia, Times, serif;
	font-weight: normal;
}

h3 {
	clear: both;
	font-family: 'Playfair Display', Georgia, Times, serif;
	font-weight: normal;
}

.h3 {
	clear: both;
	font-family: 'Playfair Display', Georgia, Times, serif;
	font-weight: normal;
}

.wp-block-heading h4 {
	clear: both;
	font-family: 'Playfair Display', Georgia, Times, serif;
	font-weight: normal;
}

h4 {
	clear: both;
	font-family: 'Playfair Display', Georgia, Times, serif;
	font-weight: normal;
}

.h4 {
	clear: both;
	font-family: 'Playfair Display', Georgia, Times, serif;
	font-weight: normal;
}

.wp-block-heading h5 {
	clear: both;
	font-family: 'Playfair Display', Georgia, Times, serif;
	font-weight: normal;
}

h5 {
	clear: both;
	font-family: 'Playfair Display', Georgia, Times, serif;
	font-weight: normal;
}

.h5 {
	clear: both;
	font-family: 'Playfair Display', Georgia, Times, serif;
	font-weight: normal;
}

.wp-block-heading h6 {
	clear: both;
	font-family: 'Playfair Display', Georgia, Times, serif;
	font-weight: normal;
}

h6 {
	clear: both;
	font-family: 'Playfair Display', Georgia, Times, serif;
	font-weight: normal;
}

.h6 {
	clear: both;
	font-family: 'Playfair Display', Georgia, Times, serif;
	font-weight: normal;
}

.wp-block-heading h1 strong {
	font-weight: 600;
}

h1 strong {
	font-weight: 600;
}

.h1 strong {
	font-weight: 600;
}

.wp-block-heading h2 strong {
	font-weight: 600;
}

h2 strong {
	font-weight: 600;
}

.h2 strong {
	font-weight: 600;
}

.wp-block-heading h3 strong {
	font-weight: 600;
}

h3 strong {
	font-weight: 600;
}

.h3 strong {
	font-weight: 600;
}

.wp-block-heading h4 strong {
	font-weight: 600;
}

h4 strong {
	font-weight: 600;
}

.h4 strong {
	font-weight: 600;
}

.wp-block-heading h5 strong {
	font-weight: 600;
}

h5 strong {
	font-weight: 600;
}

.h5 strong {
	font-weight: 600;
}

.wp-block-heading h6 strong {
	font-weight: 600;
}

h6 strong {
	font-weight: 600;
}

.h6 strong {
	font-weight: 600;
}

.wp-block-heading h1 {
	font-size: 48px;
	letter-spacing: normal;
	line-height: 1.3;
}

h1 {
	font-size: 48px;
	letter-spacing: normal;
	line-height: 1.3;
}

.h1 {
	font-size: 48px;
	letter-spacing: normal;
	line-height: 1.3;
}

.wp-block-heading h2 {
	font-size: 32px;
	letter-spacing: normal;
	line-height: 1.3;
}

h2 {
	font-size: 32px;
	letter-spacing: normal;
	line-height: 1.3;
}

.h2 {
	font-size: 32px;
	letter-spacing: normal;
	line-height: 1.3;
}

.wp-block-heading h3 {
	font-size: 28px;
	letter-spacing: normal;
	line-height: 1.3;
}

h3 {
	font-size: 28px;
	letter-spacing: normal;
	line-height: 1.3;
}

.h3 {
	font-size: 28px;
	letter-spacing: normal;
	line-height: 1.3;
}

.wp-block-heading h4 {
	font-size: 24px;
	letter-spacing: normal;
	line-height: 1.3;
}

h4 {
	font-size: 24px;
	letter-spacing: normal;
	line-height: 1.3;
}

.h4 {
	font-size: 24px;
	letter-spacing: normal;
	line-height: 1.3;
}

.wp-block-heading h5 {
	font-size: 18px;
	letter-spacing: normal;
	line-height: undefined;
}

h5 {
	font-size: 18px;
	letter-spacing: normal;
	line-height: undefined;
}

.h5 {
	font-size: 18px;
	letter-spacing: normal;
	line-height: undefined;
}

.wp-block-heading h6 {
	font-size: 1em;
	letter-spacing: normal;
	line-height: undefined;
}

h6 {
	font-size: 1em;
	letter-spacing: normal;
	line-height: undefined;
}

.h6 {
	font-size: 1em;
	letter-spacing: normal;
	line-height: undefined;
}

.wp-block-heading h1[style*="--wp--typography--line-height"] {
	line-height: undefined;
}

h1[style*="--wp--typography--line-height"] {
	line-height: undefined;
}

.h1[style*="--wp--typography--line-height"] {
	line-height: undefined;
}

.wp-block-heading h2[style*="--wp--typography--line-height"] {
	line-height: undefined;
}

h2[style*="--wp--typography--line-height"] {
	line-height: undefined;
}

.h2[style*="--wp--typography--line-height"] {
	line-height: undefined;
}

.wp-block-heading h3[style*="--wp--typography--line-height"] {
	line-height: undefined;
}

h3[style*="--wp--typography--line-height"] {
	line-height: undefined;
}

.h3[style*="--wp--typography--line-height"] {
	line-height: undefined;
}

.wp-block-heading h4[style*="--wp--typography--line-height"] {
	line-height: undefined;
}

h4[style*="--wp--typography--line-height"] {
	line-height: undefined;
}

.h4[style*="--wp--typography--line-height"] {
	line-height: undefined;
}

.wp-block-heading h5[style*="--wp--typography--line-height"] {
	line-height: undefined;
}

h5[style*="--wp--typography--line-height"] {
	line-height: undefined;
}

.h5[style*="--wp--typography--line-height"] {
	line-height: undefined;
}

.wp-block-heading h6[style*="--wp--typography--line-height"] {
	line-height: undefined;
}

h6[style*="--wp--typography--line-height"] {
	line-height: undefined;
}

.h6[style*="--wp--typography--line-height"] {
	line-height: undefined;
}

/* Center image block by default in the editor */
.wp-block-image > div {
	text-align: center;
}

[data-type="core/image"] .block-editor-block-list__block-edit figure.is-resized {
	margin: 0 auto;
}

.wp-block-latest-comments {
	margin-left: 0;
}

.wp-block-latest-posts {
	padding-left: 0;
}

.wp-block-latest-posts:not(.is-grid) > li {
	margin-top: 30px;
	margin-bottom: 30px;
}

.wp-block-latest-posts:not(.is-grid) > li:first-child {
	margin-top: 0;
}

.wp-block-latest-posts:not(.is-grid) > li:last-child {
	margin-bottom: 0;
}

.wp-block-latest-posts.is-grid > li {
	margin-bottom: 30px;
}

.wp-block-latest-posts.is-grid > li:last-child {
	margin-bottom: 0;
}

.wp-block-latest-posts > li > * {
	margin-top: 15px;
	margin-bottom: 15px;
}

.wp-block-latest-posts > li > *:first-child {
	margin-top: 0;
}

.wp-block-latest-posts > li > *:last-child {
	margin-bottom: 0;
}

.wp-block-latest-posts > li > a {
	font-family: 'Playfair Display', Georgia, Times, serif;
	font-size: 28px;
	font-weight: normal;
	line-height: 1.3;
}

.wp-block-latest-posts .wp-block-latest-posts__post-date {
	color: #444444;
	font-size: 14px;
	line-height: 1.7;
}

[class*="inner-container"] .wp-block-latest-posts .wp-block-latest-posts__post-date,
.has-background .wp-block-latest-posts .wp-block-latest-posts__post-date {
	color: currentColor;
}

.wp-block-latest-posts .wp-block-latest-posts__post-excerpt {
	font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.7;
}

.wp-block-latest-posts .wp-block-latest-posts__post-full-content {
	font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.7;
}

@media only screen and (min-width: 592px) {
	.wp-block-latest-posts.is-style-seedlet-alternating-grid {
		overflow: hidden;
	}
	.wp-block-latest-posts.is-style-seedlet-alternating-grid > li {
		width: calc(50% - 13px);
		max-width: calc(50% - 13px);
		text-align: right;
	}
	.wp-block-latest-posts.is-style-seedlet-alternating-grid > li:nth-child(2n + 1) {
		float: right;
		text-align: left;
	}
	.wp-block-latest-posts.is-style-seedlet-alternating-grid.is-grid {
		display: inherit;
	}
	.wp-block-latest-posts.is-style-seedlet-alternating-grid.is-grid > li {
		margin-top: 30px;
		margin-right: 0;
	}
	.wp-block-latest-posts.is-style-seedlet-alternating-grid.is-grid > li:first-child {
		margin-top: 0;
	}
	.wp-block-latest-posts.is-style-seedlet-alternating-grid.is-grid > li:last-child {
		margin-bottom: 0;
	}
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

ul {
	font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
	margin: 30px 0;
	padding-left: 50px;
}

ol {
	font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
	margin: 30px 0;
	padding-left: 50px;
}

ul.aligncenter,
ol.aligncenter {
	list-style-position: inside;
	padding: 0;
}

ul.alignright,
ol.alignright {
	list-style-position: inside;
	text-align: right;
	padding: 0;
}

li > ul,
li > ol {
	margin: 0;
}

dt {
	font-family: 'Playfair Display', Georgia, Times, serif;
	font-weight: bold;
}

.wp-block-media-text .block-editor-inner-blocks {
	padding-right: 25px;
	padding-left: 25px;
}

.wp-block-navigation .wp-block-navigation__container {
	background: #FFFFFF;
	padding: 0;
}

.wp-block-navigation .wp-block-navigation-link .wp-block-navigation-link__content {
	padding: 13px;
}

.wp-block-navigation .wp-block-navigation-link .wp-block-navigation-link__label {
	font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
}

.wp-block-navigation .has-child .wp-block-navigation__container {
	box-shadow: 1px 1px 3px 0px rgba( 0, 0, 0, 0.2 );
}

.wp-block-navigation:not(.has-text-color) .wp-block-navigation-link > a:hover {
	color: #3C8067;
}

.wp-block-navigation:not(.has-text-color) .wp-block-navigation-link > a:focus {
	color: #3C8067;
}

.wp-block-navigation:not(.has-text-color) .wp-block-navigation-link__content {
	color: currentColor;
}

p {
	line-height: --global--line-height-body;
}

p.has-background {
	padding: 20px;
}

.a8c-posts-list {
	padding-left: 0;
}

.wp-block-pullquote {
	padding: 40px 0;
	margin-left: 0;
	margin-right: 0;
	text-align: left;
	border-top-color: transparent;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-width: 0;
	color: #333333;
}

.wp-block-pullquote p {
	font-family: 'Playfair Display', Georgia, Times, serif;
	font-size: 32px;
	font-style: italic;
	letter-spacing: normal;
	line-height: 1.3;
	margin: 0;
}

.wp-block-pullquote a {
	color: currentColor;
}

.wp-block-pullquote .wp-block-pullquote__citation {
	color: #444444;
	font-size: 14px;
}

.wp-block-pullquote cite {
	color: #444444;
	font-size: 14px;
}

.wp-block-pullquote footer {
	color: #444444;
	font-size: 14px;
}

.wp-block-pullquote:not(.is-style-solid-color) {
	background: none;
}

.wp-block-pullquote.is-style-solid-color {
	background-color: #333333;
	color: #FFFFFF;
	padding: 40px;
}

.wp-block-pullquote.is-style-solid-color.alignleft blockquote {
	padding-left: 20px;
	padding-right: 20px;
	max-width: inherit;
}

.wp-block-pullquote.is-style-solid-color.alignright blockquote {
	padding-left: 20px;
	padding-right: 20px;
	max-width: inherit;
}

.wp-block-pullquote.is-style-solid-color blockquote {
	margin: 0;
	text-align: left;
	max-width: 100%;
}

.wp-block-pullquote.is-style-solid-color .wp-block-pullquote__citation,
.wp-block-pullquote.is-style-solid-color cite,
.wp-block-pullquote.is-style-solid-color footer {
	color: currentColor;
}

.wp-block[data-align="full"] .wp-block-pullquote:not(.is-style-solid-color) blockquote {
	padding: 0 40px;
}

.wp-block-quote {
	border-left-color: #3C8067;
	border-left-width: 1px;
	margin: 30px 0;
	padding-left: 25px;
}

.wp-block-quote p {
	font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-style: normal;
	line-height: 1.7;
}

.wp-block-quote.is-large {
	border-left: 1px solid #3C8067;
	padding-left: 25px;
	/* Resetting margins to match _block-container.scss */
	margin-top: 30px;
	margin-bottom: 30px;
}

.wp-block-quote.is-style-large {
	border-left: 1px solid #3C8067;
	padding-left: 25px;
	/* Resetting margins to match _block-container.scss */
	margin-top: 30px;
	margin-bottom: 30px;
}

.wp-block-quote.is-large p {
	font-size: 24px;
	font-style: normal;
	line-height: 1.5;
}

.wp-block-quote.is-style-large p {
	font-size: 24px;
	font-style: normal;
	line-height: 1.5;
}

.wp-block-quote.is-large.has-text-align-right {
	border-left: none;
	border-right: 1px solid #3C8067;
}

.wp-block-quote.is-style-large.has-text-align-right {
	border-left: none;
	border-right: 1px solid #3C8067;
}

.wp-block-quote.has-text-align-right {
	border-right: 1px solid #3C8067;
}

.wp-block-quote.has-text-align-center {
	border: none;
}

.has-background:not(.has-background-background-color) .wp-block-quote,
[class*="background-color"]:not(.has-background-background-color) .wp-block-quote,
[style*="background-color"]:not(.has-background-background-color) .wp-block-quote,
.wp-block-cover[style*="background-image"] .wp-block-quote {
	border-color: currentColor;
}

.wp-block-quote .wp-block-quote__citation {
	color: #444444;
	font-size: 14px;
}

.has-background:not(.has-background-background-color) .wp-block-quote .wp-block-quote__citation,
[class*="background-color"]:not(.has-background-background-color) .wp-block-quote .wp-block-quote__citation,
[style*="background-color"]:not(.has-background-background-color) .wp-block-quote .wp-block-quote__citation,
.wp-block-cover[style*="background-image"] .wp-block-quote .wp-block-quote__citation {
	color: currentColor;
}

.wp-block-search {
	display: flex;
	max-width: calc(100vw - 30px);
}

@media only screen and (min-width: 652px) {
	.wp-block-search {
	max-width: min(calc(100vw - 200px), 750px);
	}
}

.wp-block-search .wp-block-search__label {
	font-weight: normal;
}

.wp-block-search .wp-block-search__input {
	border: 2px solid #EFEFEF;
	border-radius: 0;
	font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 1.7;
	max-width: inherit;
	margin-right: 17px;
	padding: 10px;
}

.wp-block-search .wp-block-search__input:focus {
	border-color: #EFEFEF;
}

.wp-block-separator {
	border-bottom: 2px solid #EFEFEF;
	clear: both;
}

hr {
	border-bottom: 2px solid #EFEFEF;
	clear: both;
}

.wp-block-separator[style*="text-align:right"] {
	border-right-color: #EFEFEF;
}

.wp-block-separator[style*="text-align: right"] {
	border-right-color: #EFEFEF;
}

hr[style*="text-align:right"] {
	border-right-color: #EFEFEF;
}

hr[style*="text-align: right"] {
	border-right-color: #EFEFEF;
}

.wp-block-separator.is-style-wide {
	border-bottom-width: 2px;
}

hr.is-style-wide {
	border-bottom-width: 2px;
}

.wp-block-separator.is-style-dots,
hr.is-style-dots {
	border-bottom: none;
}

.wp-block-separator.is-style-dots.has-background, .wp-block-separator.is-style-dots.has-text-color,
hr.is-style-dots.has-background,
hr.is-style-dots.has-text-color {
	background-color: transparent !important;
}

.wp-block-separator.is-style-dots.has-background:before, .wp-block-separator.is-style-dots.has-text-color:before,
hr.is-style-dots.has-background:before,
hr.is-style-dots.has-text-color:before {
	color: currentColor !important;
}

.wp-block-separator.is-style-dots:before {
	color: #EFEFEF;
}

hr.is-style-dots:before {
	color: #EFEFEF;
}

.has-background:not(.has-background-background-color) .wp-block-separator,
[class*="background-color"]:not(.has-background-background-color) .wp-block-separator,
[style*="background-color"]:not(.has-background-background-color) .wp-block-separator,
.wp-block-cover[style*="background-image"] .wp-block-separator, .has-background:not(.has-background-background-color)
hr,
[class*="background-color"]:not(.has-background-background-color)
hr,
[style*="background-color"]:not(.has-background-background-color)
hr,
.wp-block-cover[style*="background-image"]
hr {
	border-color: currentColor;
}

table th {
	font-family: 'Playfair Display', Georgia, Times, serif;
}

.wp-block-table th {
	font-family: 'Playfair Display', Georgia, Times, serif;
}

table td {
	padding: 10px;
}

table th {
	padding: 10px;
}

.wp-block-table td {
	padding: 10px;
}

.wp-block-table th {
	padding: 10px;
}

pre.wp-block-verse {
	padding: 0;
}

/**
* Editor Post Title
* - Needs a special styles
*/
.editor-post-title__block .editor-post-title__input {
	color: #333333;
	font-family: 'Playfair Display', Georgia, Times, serif;
	font-weight: normal;
	font-size: 32px;
	letter-spacing: normal;
	line-height: 1.3;
}

.wp-block.block-editor-default-block-appender > textarea {
	font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
	font-size: 18px;
}

.has-primary-color[class] {
	color: #000000;
}

.has-secondary-color[class] {
	color: #3C8067;
}

.has-foreground-color[class] {
	color: #333333;
}

.has-foreground-light-color[class] {
	color: #444444;
}

.has-foreground-dark-color[class] {
	color: #000000;
}

.has-tertiary-color[class] {
	color: #FAFBF6;
}

.has-background-dark-color[class] {
	color: #DDDDDD;
}

.has-background-color[class] {
	color: #FFFFFF;
}

.has-background:not(.has-background-background-color) a,
.has-background p, .has-background h1, .has-background h2, .has-background h3, .has-background h4, .has-background h5, .has-background h6 {
	color: currentColor;
}

.has-primary-background-color[class] {
	background-color: #000000;
	color: #FFFFFF;
}

.has-primary-background-color[class] {
	background-color: #000000;
	color: #FFFFFF;
}

.has-secondary-background-color[class] {
	background-color: #3C8067;
	color: #FFFFFF;
}

.has-foreground-background-color[class] {
	background-color: #333333;
	color: #FFFFFF;
}

.has-foreground-light-background-color[class] {
	background-color: #444444;
	color: #FFFFFF;
}

.has-foreground-dark-background-color[class] {
	background-color: #000000;
	color: #FFFFFF;
}

.has-tertiary-background-color[class] {
	background-color: #FAFBF6;
	color: #333333;
}

.has-background-dark-background-color[class] {
	background-color: #DDDDDD;
	color: #333333;
}

.has-background-background-color[class] {
	background-color: #FFFFFF;
	color: #333333;
}

.has-white-background-color[class] {
	background-color: white;
	color: #3C8067;
}

.has-black-background-color[class] {
	background-color: black;
	color: #000000;
}

.is-tiny-text {
	font-size: 14px;
}

.has-tiny-font-size {
	font-size: 14px;
}

.is-small-text {
	font-size: 16px;
}

.has-small-font-size {
	font-size: 16px;
}

.is-regular-text {
	font-size: 18px;
}

.has-regular-font-size {
	font-size: 18px;
}

.has-normal-font-size {
	font-size: 18px;
}

.has-medium-font-size {
	font-size: 18px;
}

.is-large-text {
	font-size: 24px;
	line-height: 1.3;
}

.has-large-font-size {
	font-size: 24px;
	line-height: 1.3;
}

.is-larger-text {
	font-size: 28px;
	line-height: 1.3;
}

.has-larger-font-size {
	font-size: 28px;
	line-height: 1.3;
}

.has-huge-font-size {
	font-size: 28px;
	line-height: 1.3;
}

.has-drop-cap:not(:focus)::first-letter {
	font-family: 'Playfair Display', Georgia, Times, serif;
	font-size: 96px;
	font-weight: normal;
}

/**
 * Spacing Overrides
 */
/*
 * Margins
 */
.margin-top-none {
	margin-top: 0 !important;
}

.margin-top-half {
	margin-top: 15px !important;
}

.margin-top-default {
	margin-top: 30px !important;
}

.margin-right-none {
	/*rtl:ignore*/
	margin-right: 0 !important;
}

.margin-right-half {
	/*rtl:ignore*/
	margin-right: 15px !important;
}

.margin-right-default {
	/*rtl:ignore*/
	margin-right: 30px !important;
}

.margin-bottom-none {
	margin-bottom: 0 !important;
}

.margin-bottom-half {
	margin-bottom: 15px !important;
}

.margin-bottom-default {
	margin-bottom: 30px !important;
}

.margin-left-none {
	/*rtl:ignore*/
	margin-left: 0 !important;
}

.margin-left-half {
	/*rtl:ignore*/
	margin-left: 15px !important;
}

.margin-left-default {
	/*rtl:ignore*/
	margin-left: 30px !important;
}

/*
 * Padding
 */
.padding-top-none {
	padding-top: 0 !important;
}

.padding-top-half {
	padding-top: 15px !important;
}

.padding-top-default {
	padding-top: 30px !important;
}

.padding-right-none {
	/*rtl:ignore*/
	padding-right: 0 !important;
}

.padding-right-half {
	/*rtl:ignore*/
	padding-right: 15px !important;
}

.padding-right-default {
	/*rtl:ignore*/
	padding-right: 30px !important;
}

.padding-bottom-none {
	padding-bottom: 0 !important;
}

.padding-bottom-half {
	padding-bottom: 15px !important;
}

.padding-bottom-default {
	padding-bottom: 30px !important;
}

.padding-left-none {
	/*rtl:ignore*/
	padding-left: 0 !important;
}

.padding-left-half {
	/*rtl:ignore*/
	padding-left: 15px !important;
}

.padding-left-default {
	/*rtl:ignore*/
	padding-left: 30px !important;
}

[data-block] {
	margin-top: 30px;
	margin-bottom: 30px;
}

[data-block] [data-block]:first-child {
	margin-top: 0;
}

[data-block] [data-block]:nth-last-child(2) {
	margin-bottom: 0;
}

/* 
 * Custom gradients 
*/
.has-hard-diagonal-gradient-background {
	background: linear-gradient(to bottom right, #3C8067 49.9%, #FAFBF6 50%);
}

.has-hard-diagonal-inverted-gradient-background {
	background: linear-gradient(to top left, #3C8067 49.9%, #FAFBF6 50%);
}

.has-diagonal-gradient-background {
	background: linear-gradient(to bottom right, #3C8067, #FAFBF6);
}

.has-diagonal-inverted-gradient-background {
	background: linear-gradient(to top left, #3C8067, #FAFBF6);
}

.has-hard-horizontal-gradient-background {
	background: linear-gradient(to bottom, #3C8067 50%, #FAFBF6 50%);
}

.has-hard-horizontal-inverted-gradient-background {
	background: linear-gradient(to top, #3C8067 50%, #FAFBF6 50%);
}

.has-horizontal-gradient-background {
	background: linear-gradient(to bottom, #3C8067, #FAFBF6);
}

.has-horizontal-inverted-gradient-background {
	background: linear-gradient(to top, #3C8067, #FAFBF6);
}

.has-stripe-gradient-background {
	background: linear-gradient(to bottom, transparent 20%, #3C8067 20%, #3C8067 80%, transparent 80%);
}

/* Block Alignments */
.wp-block {
	max-width: calc(100vw - 30px);
}
@media only screen and (min-width: 652px) {
	.wp-block {
	max-width: min(calc(100vw - 200px), 750px);
	}
}

.wp-block[data-align="wide"] {
	max-width: calc(100vw - 30px);
}

@media only screen and (min-width: 652px) {
	.wp-block[data-align="wide"] {
	max-width: calc(100vw - 200px);
	}
}

.wp-block.alignwide {
	max-width: calc(100vw - 30px);
}

@media only screen and (min-width: 652px) {
	.wp-block.alignwide {
	max-width: calc(100vw - 200px);
	}
}

.wp-block[data-align="full"], .wp-block.alignfull {
	max-width: none;
}

.block-editor-block-list__layout:not(.edit-site-block-editor__block-list) .wp-block[data-align="full"] > [data-block], .block-editor-block-list__layout:not(.edit-site-block-editor__block-list) .wp-block.alignfull > [data-block] {
	margin-top: 0;
	margin-bottom: 0;
}

.alignleft {
	margin: 0;
	margin-right: 25px;
}

.alignright {
	margin: 0;
	margin-left: 25px;
}

/**
 * Jetpack editor styles
 */
/**
 * Jetpack Block editor styles
 */
.wp-block-a8c-blog-posts.image-aligntop .post-thumbnail {
	margin-bottom: 15px;
}

.wp-block-a8c-blog-posts.image-alignleft .post-thumbnail {
	margin-right: 30px;
}

.wp-block-a8c-blog-posts.image-alignright .post-thumbnail {
	margin-left: 30px;
}

.wp-block-a8c-blog-posts.image-alignbehind .post-has-image .entry-wrapper {
	padding: 30px;
}

.wp-block-a8c-blog-posts.image-alignbehind .post-has-image .cat-links {
	color: white;
}

.wp-block-a8c-blog-posts.image-alignbehind .post-has-image a:hover {
	color: currentColor;
}

.wp-block-a8c-blog-posts .article-section-title {
	font-size: 24px;
	letter-spacing: normal;
	line-height: 1.3;
	margin-top: 0;
	margin-bottom: 15px;
}

.wp-block-a8c-blog-posts article {
	margin-bottom: 90px;
}

.wp-block-a8c-blog-posts .post-thumbnail img {
	vertical-align: middle;
	width: auto;
}

.wp-block-a8c-blog-posts .entry-wrapper > * {
	/* Vertical margins logic between post details */
	margin-top: 20px;
	margin-bottom: 20px;
}

.wp-block-a8c-blog-posts .entry-wrapper > *:first-child {
	margin-top: 0;
}

.wp-block-a8c-blog-posts .entry-wrapper > *:last-child {
	margin-bottom: 0;
}

.wp-block-a8c-blog-posts .entry-title a {
	color: #000000;
}

.has-background:not(.has-background-background-color) .wp-block-a8c-blog-posts .entry-title a,
[class*="background-color"]:not(.has-background-background-color) .wp-block-a8c-blog-posts .entry-title a,
[style*="background-color"] .wp-block-a8c-blog-posts .entry-title a {
	color: currentColor;
}

.wp-block-a8c-blog-posts .entry-title a:hover {
	color: #3C8067;
}

.has-background:not(.has-background-background-color) .wp-block-a8c-blog-posts .entry-title a,
[class*="background-color"]:not(.has-background-background-color) .wp-block-a8c-blog-posts .entry-title a,
[style*="background-color"] .wp-block-a8c-blog-posts .entry-title a {
	color: currentColor;
}

.wp-block-a8c-blog-posts .more-link {
	display: block;
	margin-top: 20px;
}

.wp-block-a8c-blog-posts .more-link:after {
	content: "\02192";
	display: inline-block;
	margin-left: 0.5em;
}

.wp-block-a8c-blog-posts .more-link:hover {
	color: #3C8067;
	text-decoration: none;
}

.wp-block-a8c-blog-posts .more-link:active {
	color: #3C8067;
	text-decoration: none;
}

.has-background:not(.has-background-background-color) .wp-block-a8c-blog-posts .more-link:hover,
[class*="background-color"]:not(.has-background-background-color) .wp-block-a8c-blog-posts .more-link:hover,
[style*="background-color"] .wp-block-a8c-blog-posts .more-link:hover, .has-background:not(.has-background-background-color) .wp-block-a8c-blog-posts .more-link:active,
[class*="background-color"]:not(.has-background-background-color) .wp-block-a8c-blog-posts .more-link:active,
[style*="background-color"] .wp-block-a8c-blog-posts .more-link:active {
	color: currentColor;
}

.wp-block-a8c-blog-posts .entry-meta {
	color: #444444;
	font-size: 16px;
}

.wp-block-a8c-blog-posts .cat-links {
	color: #444444;
	font-size: 16px;
}

.has-background:not(.has-background-background-color) .wp-block-a8c-blog-posts .entry-meta,
[class*="background-color"]:not(.has-background-background-color) .wp-block-a8c-blog-posts .entry-meta,
[style*="background-color"] .wp-block-a8c-blog-posts .entry-meta, .has-background:not(.has-background-background-color)
.wp-block-a8c-blog-posts .cat-links,
[class*="background-color"]:not(.has-background-background-color)
.wp-block-a8c-blog-posts .cat-links,
[style*="background-color"]
.wp-block-a8c-blog-posts .cat-links {
	color: currentColor;
}

.wp-block-a8c-blog-posts .entry-meta .byline:not(:last-child) {
	margin-right: 20px;
}

.wp-block-a8c-blog-posts .cat-links .byline:not(:last-child) {
	margin-right: 20px;
}

.wp-block-a8c-blog-posts .entry-meta .published + .updated,
.wp-block-a8c-blog-posts .cat-links .published + .updated {
	display: none;
}

.wp-block-a8c-blog-posts .entry-meta a,
.wp-block-a8c-blog-posts .cat-links a {
	color: currentColor;
}

.wp-block-a8c-blog-posts .entry-meta a:hover {
	color: #3C8067;
	text-decoration: none;
}

.wp-block-a8c-blog-posts .entry-meta a:active {
	color: #3C8067;
	text-decoration: none;
}

.wp-block-a8c-blog-posts .cat-links a:hover {
	color: #3C8067;
	text-decoration: none;
}

.wp-block-a8c-blog-posts .cat-links a:active {
	color: #3C8067;
	text-decoration: none;
}

.has-background:not(.has-background-background-color) .wp-block-a8c-blog-posts .entry-meta a:hover,
[class*="background-color"]:not(.has-background-background-color) .wp-block-a8c-blog-posts .entry-meta a:hover,
[style*="background-color"] .wp-block-a8c-blog-posts .entry-meta a:hover, .has-background:not(.has-background-background-color) .wp-block-a8c-blog-posts .entry-meta a:active,
[class*="background-color"]:not(.has-background-background-color) .wp-block-a8c-blog-posts .entry-meta a:active,
[style*="background-color"] .wp-block-a8c-blog-posts .entry-meta a:active, .has-background:not(.has-background-background-color)
.wp-block-a8c-blog-posts .cat-links a:hover,
[class*="background-color"]:not(.has-background-background-color)
.wp-block-a8c-blog-posts .cat-links a:hover,
[style*="background-color"]
.wp-block-a8c-blog-posts .cat-links a:hover, .has-background:not(.has-background-background-color)
.wp-block-a8c-blog-posts .cat-links a:active,
[class*="background-color"]:not(.has-background-background-color)
.wp-block-a8c-blog-posts .cat-links a:active,
[style*="background-color"]
.wp-block-a8c-blog-posts .cat-links a:active {
	color: currentColor;
}

@media only screen and (min-width: 592px) {
	.wp-block-a8c-blog-posts.is-style-seedlet-alternating-grid {
		overflow: hidden;
	}
	.wp-block-a8c-blog-posts.is-style-seedlet-alternating-grid .article-section-title {
		margin-left: calc(50% + 13px);
	}
	.wp-block-a8c-blog-posts.is-style-seedlet-alternating-grid article {
		width: calc(50% - 13px);
		max-width: calc(50% - 13px);
		margin-top: 0;
		margin-bottom: 30px;
		text-align: right;
		clear: both;
	}
	.wp-block-a8c-blog-posts.is-style-seedlet-alternating-grid article .entry-meta {
		justify-content: flex-end;
	}
	.wp-block-a8c-blog-posts.is-style-seedlet-alternating-grid article:nth-of-type(2n + 1) {
		float: right;
		text-align: left;
	}
	.wp-block-a8c-blog-posts.is-style-seedlet-alternating-grid article:nth-of-type(2n + 1) .entry-meta {
		justify-content: flex-start;
	}
	.wp-block-a8c-blog-posts.is-style-seedlet-alternating-grid article .more-link {
		display: inline-block;
	}
	.wp-block-a8c-blog-posts.is-style-seedlet-alternating-grid.wpnbha.is-grid > div {
		display: inherit;
	}
	.wp-block-a8c-blog-posts.is-style-seedlet-alternating-grid + .wpnbha__wp-block-button__wrapper {
		text-align: center;
	}
}

.wp-block-search .wp-block-search__button {
	line-height: 1;
	color: #FFFFFF;
	cursor: pointer;
	font-weight: normal;
	font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
	font-size: 1em;
	background-color: #3C8067;
	border-radius: 4px;
	border-width: 0;
	text-decoration: none;
	padding: 23px 25px;
}

.wp-block-a8c-blog-posts + .button {
	line-height: 1;
	color: #FFFFFF;
	cursor: pointer;
	font-weight: normal;
	font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
	font-size: 1em;
	background-color: #3C8067;
	border-radius: 4px;
	border-width: 0;
	text-decoration: none;
	padding: 23px 25px;
}

.wp-block-search .wp-block-search__button:before, .wp-block-a8c-blog-posts + .button:before, .wp-block-search .wp-block-search__button:after, .wp-block-a8c-blog-posts + .button:after {
	content: '';
	display: block;
	height: 0;
	width: 0;
}

.wp-block-search .wp-block-search__button:before {
	margin-bottom: -calc(1em + 0);
}

.wp-block-a8c-blog-posts + .button:before {
	margin-bottom: -calc(1em + 0);
}

.wp-block-search .wp-block-search__button:after {
	margin-top: -calc(1em + 0);
}

.wp-block-a8c-blog-posts + .button:after {
	margin-top: -calc(1em + 0);
}

.wp-block-search .wp-block-search__button:active {
	color: #FFFFFF;
	background-color: #000000;
}

.wp-block-a8c-blog-posts + .button:active {
	color: #FFFFFF;
	background-color: #000000;
}

.wp-block-search .wp-block-search__button:hover {
	color: #FFFFFF;
	background-color: #336D58;
}

.wp-block-a8c-blog-posts + .button:hover {
	color: #FFFFFF;
	background-color: #336D58;
}

.wp-block-search .wp-block-search__button:focus {
	color: #FFFFFF;
	background-color: #336D58;
}

.wp-block-a8c-blog-posts + .button:focus {
	color: #FFFFFF;
	background-color: #336D58;
}

.wp-block-search .has-focus.wp-block-search__button {
	color: #FFFFFF;
	background-color: #336D58;
}

.wp-block-a8c-blog-posts + .has-focus.button {
	color: #FFFFFF;
	background-color: #336D58;
}

.wp-block-a8c-blog-posts + .button {
	display: inline-block;
	font-size: 18px;
}

.wp-block-a8c-blog-posts + .button:hover {
	cursor: default;
}

.has-background:not(.has-background-background-color) .wp-block-a8c-blog-posts + .button {
	background-color: transparent;
	border: 2px solid currentColor;
	color: currentColor;
}

[class*="background-color"]:not(.has-background-background-color) .wp-block-a8c-blog-posts + .button {
	background-color: transparent;
	border: 2px solid currentColor;
	color: currentColor;
}

[style*="background-color"] .wp-block-a8c-blog-posts + .button {
	background-color: transparent;
	border: 2px solid currentColor;
	color: currentColor;
}

/* Gutter Options */
.wp-block-jetpack-layout-grid {
	grid-gap: 40px;
}
.wp-block-jetpack-layout-grid > .block-editor-inner-blocks > .block-editor-block-list__layout {
	grid-gap: 40px;
}

.wp-block-jetpack-layout-grid.wp-block-jetpack-layout-gutter__none {
	grid-gap: 0px;
}

.wp-block-jetpack-layout-grid.wp-block-jetpack-layout-gutter__none > .block-editor-inner-blocks > .block-editor-block-list__layout {
	grid-gap: 0px;
}

.wp-block-jetpack-layout-grid.wp-block-jetpack-layout-gutter__small {
	grid-gap: 10px;
}

.wp-block-jetpack-layout-grid.wp-block-jetpack-layout-gutter__small > .block-editor-inner-blocks > .block-editor-block-list__layout {
	grid-gap: 10px;
}

.wp-block-jetpack-layout-grid.wp-block-jetpack-layout-gutter__medium {
	grid-gap: 20px;
}

.wp-block-jetpack-layout-grid.wp-block-jetpack-layout-gutter__medium > .block-editor-inner-blocks > .block-editor-block-list__layout {
	grid-gap: 20px;
}

.wp-block-jetpack-layout-grid.wp-block-jetpack-layout-gutter__large {
	grid-gap: 40px;
}

.wp-block-jetpack-layout-grid.wp-block-jetpack-layout-gutter__large > .block-editor-inner-blocks > .block-editor-block-list__layout {
	grid-gap: 40px;
}

.wp-block-jetpack-layout-grid.wp-block-jetpack-layout-gutter__huge {
	grid-gap: 60px;
}

.wp-block-jetpack-layout-grid.wp-block-jetpack-layout-gutter__huge > .block-editor-inner-blocks > .block-editor-block-list__layout {
	grid-gap: 60px;
}

/* No Gutters Options */
.wp-block-jetpack-layout-grid.wp-block-jetpack-layout-gutter__none {
	padding-left: 0px;
	padding-right: 0px;
}

.wp-block-jetpack-layout-grid.wp-block-jetpack-layout-gutter__none.wp-block-jetpack-layout-gutter__nowrap {
	padding-left: 0;
	padding-right: 0;
}

.wp-block-jetpack-layout-grid.wp-block-jetpack-layout-gutter__small {
	padding-left: 10px;
	padding-right: 10px;
}

.wp-block-jetpack-layout-grid.wp-block-jetpack-layout-gutter__small.wp-block-jetpack-layout-gutter__nowrap {
	padding-left: 0;
	padding-right: 0;
}

.wp-block-jetpack-layout-grid.wp-block-jetpack-layout-gutter__medium {
	padding-left: 20px;
	padding-right: 20px;
}

.wp-block-jetpack-layout-grid.wp-block-jetpack-layout-gutter__medium.wp-block-jetpack-layout-gutter__nowrap {
	padding-left: 0;
	padding-right: 0;
}

.wp-block-jetpack-layout-grid.wp-block-jetpack-layout-gutter__large {
	padding-left: 40px;
	padding-right: 40px;
}

.wp-block-jetpack-layout-grid.wp-block-jetpack-layout-gutter__large.wp-block-jetpack-layout-gutter__nowrap {
	padding-left: 0;
	padding-right: 0;
}

.wp-block-jetpack-layout-grid.wp-block-jetpack-layout-gutter__huge {
	padding-left: 60px;
	padding-right: 60px;
}

.wp-block-jetpack-layout-grid.wp-block-jetpack-layout-gutter__huge.wp-block-jetpack-layout-gutter__nowrap {
	padding-left: 0;
	padding-right: 0;
}

/* Padding Options */
.wp-block-jetpack-layout-grid {
	padding-left: 40px;
	padding-right: 40px;
	/* Individual Column Options */
}

.wp-block-jetpack-layout-grid .wp-block-jetpack-layout-grid-column.has-background {
	margin-left: -20px;
	margin-right: -20px;
	padding-left: 20px;
	padding-right: 20px;
}

.wp-block-jetpack-layout-grid .wp-block-jetpack-layout-grid-column[style^="background-color"] {
	margin-left: -20px;
	margin-right: -20px;
	padding-left: 20px;
	padding-right: 20px;
}

.wp-block-jetpack-layout-grid.wp-block-jetpack-layout-gutter__nowrap {
	padding-left: 0;
	padding-right: 0;
}

/* Additional, user-set paddings. */
.wp-block-jetpack-layout-grid .wp-block-jetpack-layout-grid-column.wp-block-jetpack-layout-grid__padding-none {
	padding: 0px;
}

.wp-block-jetpack-layout-grid .wp-block-jetpack-layout-grid-column.wp-block-jetpack-layout-grid__padding-none.has-background {
	padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-left: 20px;
}

.wp-block-jetpack-layout-grid .wp-block-jetpack-layout-grid-column.wp-block-jetpack-layout-grid__padding-none[style^="background-color"] {
	padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-left: 20px;
}

.wp-block-jetpack-layout-grid .wp-block-jetpack-layout-grid-column.wp-block-jetpack-layout-grid__padding-small {
	padding: 10px;
}

.wp-block-jetpack-layout-grid .wp-block-jetpack-layout-grid-column.wp-block-jetpack-layout-grid__padding-small.has-background {
	padding-top: 10px;
	padding-right: 30px;
	padding-bottom: 10px;
	padding-left: 30px;
}

.wp-block-jetpack-layout-grid .wp-block-jetpack-layout-grid-column.wp-block-jetpack-layout-grid__padding-small[style^="background-color"] {
	padding-top: 10px;
	padding-right: 30px;
	padding-bottom: 10px;
	padding-left: 30px;
}

.wp-block-jetpack-layout-grid .wp-block-jetpack-layout-grid-column.wp-block-jetpack-layout-grid__padding-medium {
	padding: 20px;
}

.wp-block-jetpack-layout-grid .wp-block-jetpack-layout-grid-column.wp-block-jetpack-layout-grid__padding-medium.has-background {
	padding-top: 20px;
	padding-right: 40px;
	padding-bottom: 20px;
	padding-left: 40px;
}

.wp-block-jetpack-layout-grid .wp-block-jetpack-layout-grid-column.wp-block-jetpack-layout-grid__padding-medium[style^="background-color"] {
	padding-top: 20px;
	padding-right: 40px;
	padding-bottom: 20px;
	padding-left: 40px;
}

.wp-block-jetpack-layout-grid .wp-block-jetpack-layout-grid-column.wp-block-jetpack-layout-grid__padding-large {
	padding: 40px;
}

.wp-block-jetpack-layout-grid .wp-block-jetpack-layout-grid-column.wp-block-jetpack-layout-grid__padding-large.has-background {
	padding-top: 40px;
	padding-right: 60px;
	padding-bottom: 40px;
	padding-left: 60px;
}

.wp-block-jetpack-layout-grid .wp-block-jetpack-layout-grid-column.wp-block-jetpack-layout-grid__padding-large[style^="background-color"] {
	padding-top: 40px;
	padding-right: 60px;
	padding-bottom: 40px;
	padding-left: 60px;
}

.wp-block-jetpack-layout-grid .wp-block-jetpack-layout-grid-column.wp-block-jetpack-layout-grid__padding-huge {
	padding: 60px;
}

.wp-block-jetpack-layout-grid .wp-block-jetpack-layout-grid-column.wp-block-jetpack-layout-grid__padding-huge.has-background {
	padding-top: 60px;
	padding-right: 80px;
	padding-bottom: 60px;
	padding-left: 80px;
}

.wp-block-jetpack-layout-grid .wp-block-jetpack-layout-grid-column.wp-block-jetpack-layout-grid__padding-huge[style^="background-color"] {
	padding-top: 60px;
	padding-right: 80px;
	padding-bottom: 60px;
	padding-left: 80px;
}

/* Overlay styles and margin reset */
.wp-block-jetpack-layout-grid {
	/* wpcom-overlay-grid is the classname targeting the grid overlay visual aid displayed in the editor */
	/* Override default block margin rules */
}

.wp-block-jetpack-layout-grid .wpcom-overlay-grid {
	grid-gap: 40px;
	padding-left: 40px;
	padding-right: 40px;
}

.wp-block-jetpack-layout-grid.wp-block-jetpack-layout-gutter__nowrap .wpcom-overlay-grid {
	padding-left: 0;
	padding-right: 0;
}

.wp-block-jetpack-layout-grid [data-type="jetpack/layout-grid-column"] {
	margin-top: 0;
	margin-bottom: 0;
}

.wp-block-jetpack-layout-grid.wp-block-jetpack-layout-gutter__none .wpcom-overlay-grid {
	grid-gap: 0px;
}

.wp-block-jetpack-layout-grid.wp-block-jetpack-layout-gutter__none .wpcom-overlay-grid {
	padding-left: 0px;
	padding-right: 0px;
}

.wp-block-jetpack-layout-grid.wp-block-jetpack-layout-gutter__none.wp-block-jetpack-layout-gutter__nowrap .wpcom-overlay-grid {
	padding-left: 0;
	padding-right: 0;
}

.wp-block-jetpack-layout-grid.wp-block-jetpack-layout-gutter__small .wpcom-overlay-grid {
	grid-gap: 10px;
}

.wp-block-jetpack-layout-grid.wp-block-jetpack-layout-gutter__small .wpcom-overlay-grid {
	padding-left: 10px;
	padding-right: 10px;
}

.wp-block-jetpack-layout-grid.wp-block-jetpack-layout-gutter__small.wp-block-jetpack-layout-gutter__nowrap .wpcom-overlay-grid {
	padding-left: 0;
	padding-right: 0;
}

.wp-block-jetpack-layout-grid.wp-block-jetpack-layout-gutter__medium .wpcom-overlay-grid {
	grid-gap: 20px;
}

.wp-block-jetpack-layout-grid.wp-block-jetpack-layout-gutter__medium .wpcom-overlay-grid {
	padding-left: 20px;
	padding-right: 20px;
}

.wp-block-jetpack-layout-grid.wp-block-jetpack-layout-gutter__medium.wp-block-jetpack-layout-gutter__nowrap .wpcom-overlay-grid {
	padding-left: 0;
	padding-right: 0;
}

.wp-block-jetpack-layout-grid.wp-block-jetpack-layout-gutter__large .wpcom-overlay-grid {
	grid-gap: 40px;
}

.wp-block-jetpack-layout-grid.wp-block-jetpack-layout-gutter__large .wpcom-overlay-grid {
	padding-left: 40px;
	padding-right: 40px;
}

.wp-block-jetpack-layout-grid.wp-block-jetpack-layout-gutter__large.wp-block-jetpack-layout-gutter__nowrap .wpcom-overlay-grid {
	padding-left: 0;
	padding-right: 0;
}

.wp-block-jetpack-layout-grid.wp-block-jetpack-layout-gutter__huge .wpcom-overlay-grid {
	grid-gap: 60px;
}

.wp-block-jetpack-layout-grid.wp-block-jetpack-layout-gutter__huge .wpcom-overlay-grid {
	padding-left: 60px;
	padding-right: 60px;
}

.wp-block-jetpack-layout-grid.wp-block-jetpack-layout-gutter__huge.wp-block-jetpack-layout-gutter__nowrap .wpcom-overlay-grid {
	padding-left: 0;
	padding-right: 0;
}
