<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:cover {"overlayColor":"base","isUserOverlayColor":true,"minHeight":619,"minHeightUnit":"px","isDark":false,"layout":{"type":"constrained"}} -->
<div class="wp-block-cover is-light" style="min-height:619px"><span aria-hidden="true" class="wp-block-cover__background has-base-background-color has-background-dim-100 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:heading {"textAlign":"left","align":"wide","style":{"typography":{"fontSize":"2.6rem"}}} -->
<h2 class="wp-block-heading alignwide has-text-align-left" id="oops-that-page-can-t-be-found" style="font-size:2.6rem">The URL you're looking for doesn't exist.</h2>
<!-- /wp:heading -->

<!-- wp:group {"align":"wide","layout":{"type":"constrained","justifyContent":"left"}} -->
<div class="wp-block-group alignwide"><!-- wp:search {"showLabel":false,"placeholder":"Search...","style":{"border":{"width":"0px","style":"none","radius":"100px"}},"backgroundColor":"tertiary","textColor":"contrast"} /--></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->