.post-meta {
	&.wp-block-group {
		flex-direction: column;
		align-items: start;
		gap: .5em;
	}

	.wp-block-post-date,
	.taxonomy-category,
	.taxonomy-post_tag {
		margin-bottom: 0.5em;
		&:before {
			height: 18px;
			width: 18px;
		}
	}

	.wp-block-post-date:before {
		-webkit-mask-image: url(svg/post-date.svg);
		mask-image: url(svg/post-date.svg);
	}

	.taxonomy-category:before  {
		-webkit-mask-image: url(svg/post-category.svg);
		mask-image: url(svg/post-category.svg);
	}

	.taxonomy-post_tag:before {
		-webkit-mask-image: url(svg/post-tag.svg);
		mask-image: url(svg/post-tag.svg);
	}
}