/** Post Title */
.editor-post-title__block .editor-post-title__input {
	clear: both;
	font-family: "Playfair Display", serif;
	font-weight: bold;
	margin-top: 0;
	font-size: 39px;
    line-height: 1.54;
}
