node_modules
twentynineteen/
theme-dev-utils/
theme-dev-utils
vendor/
*.DS_Store
*.zip
*.rej
**/*.map
.ignore
.svnignore
.svn
.sandbox-config
.wp-env.override.json

#Ignoring headstart files
*/inc/headstart/*
*/languages/*
!*/languages/*.pot

#Retired themes we do not track in git
able/
academica/
adaption/
adelle/
adventure-journal/
afterlight-2/
afterlight/
albeo/
almost-spring/
ambiru/
andrea/
andreas04/
andreas09/
apostrophe/
argent/
ari/
ascetica/
autofocus/
babylog/
balan/
balloons/
banana-smoothie/
baskerville-2/
baskerville/
beach/
benevolence/
big-brother/
black-letterhead/
blask/
blaskan/
blissful-blog/
blix/
blogum/
blue-green/
boardwalk/
bold-life/
bonpress/
book-lite/
bosco/
bouquet/
brand-new-day/
bueno/
bushwick/
business/
/button/
canape/
capoverso/
celsius/
cerauno/
chalkboard/
chaostheory/
chaoticsoul/
chateau/
cheer/
choco/
chunk/
circa/
classic/
clean-home/
coherent/
colinear/
cols/
comet/
confit/
connections/
contempt/
coraline/
crafty/
cubic/
cyanotype/
dark-wood/
daydream/
delicacy/
demo/
depo-masthead/
depo-square/
dev/
digg3/
duotone/
dusk-to-dawn/
dusk/
duster/
dyad/
ecto/
edda/
edin/
editor/
eighties/
elegant-grunge/
emire/
enterprise/
escutcheon/
espied/
esquire/
eventbrite-event/
eventbrite-venue/
ever-after/
expound/
extinct/
fadtastic/
fanwood-light/
fauna/
fictive/
fiore/
fjords/
fleur/
flounder/
flower-power/
fontfolio/
forever/
franklin/
fredrickson/
fresh-and-clean/
fresh-bananas/
freshy/
fruit-shake/
fusion/
garland/
gateway/
girl/
goran/
green-marinee/
greenery-10/
greyzed/
grid-focus/
grisaille/
harmonic/
hatch/
hemingway-rewritten/
hemingway/
hero/
hew/
hexa/
highwind/
hum/
iceburgg/
ideation-and-intent/
imbalance2/
inactive/
independent-publisher/
inove/
intergalactic/
inuit-types/
isola/
itheme2/
jentri/
journalist-13/
journalist/
k2/
kelly/
koi/
kubrick/
libre/
light/
lingonberry/
liquorice/
lovebirds/
lovecraft/
lyretail/
manifest/
matala/
mckinley/
minileven/
minimalizine/
minnow/
misty-lake/
mistylook/
mixfolio/
modularity-lite/
monochrome/
monotone/
monster/
motif/
motion/
museum/
my-life/
mystique/
neat/
neo-sapien-05/
neutra/
newsworthy/
next-saturday/
nishita/
notepad/
notesil/
nucleare/
nuntius/
ocadia/
ocean-mist/
origin/
orvis/
oulipo/
overton/
oxygen/
p2/
p2-breathe/
p2-hub/
p2020/
pachyderm/
panel/
paperpunch/
parament/
partner-annotum-base/
partner-annotum-sans/
penscratch/
piano-black/
pictorico/
pilcrow/
pink-touch-2/
plane/
pool/
prologue/
publish/
quadra/
quentin/
quintus/
radcliffe/
reddle/
redoable-lite/
refresh-2019/
regulus/
resonar/
responsive/
retro-fitted/
retro-mac-os/
revelar/
rivet/
rounded/
rowling/
rubric/
runo-lite/
rusty-grunge/
ryu/
saga/
san-kloud/
sandbox-10/
sandbox-161/
sandbox-162/
sandbox/
sapor/
sapphire/
satellite/
scrawl/
sela/
selecta/
sempress/
sequential/
shaan/
shine-on/
sidekick/
sidespied/
sight/
silesia/
silver-black/
simpla/
singl/
skeptical/
skylark/
snaps/
sobe/
solipsus/
something-fishy/
sorbet/
spectrum/
spirit/
splendio/
springloaded/
spun/
stay/
steira/
strange-little-town/
structure/
suburbia/
suits/
sunburn/
sundance/
sunspot/
superhero/
supposedly-clean/
sweet-blossoms/
syntax/
tarski/
taylor/
the-columnist/
themorningafter/
thirteen/
timepiece/
titan/
together/
tonal/
toni/
toolbox/
treba/
triton-lite/
truly-minimal/
trvl/
tt1-blocks/
twenty-eight/
twentyeleven/
twentyfifteen/
twentyfourteen/
twentynineteen/
twentynineteen-sb/
twentyseventeen/
twentysixteen/
twentyten/
twentythirteen/
twentytwelve/
twentytwenty/
twentytwentyone/
twentytwentyone-blocks/
typo/
under-the-influence/
unsleepable/
untitled/
vermilion-christmas/
vertigo/
vesta/
vigilance/
vintage-camera/
visual/
vostok/
whiteasmilk/
widely/
wilson/
wp-mobile/
wptouch/
writr/
wu-wei/
yoko/
zbench/
zoren/
