/**
 * Base
 * - Reset the browser
 */
body {
	margin: 0;
	padding: 0;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img {
	height: auto;
	max-width: 100%;
}

* {
	box-sizing: border-box;
}

/**
 * Breakpoints & Media Queries
 */
/**
 * Breakpoint mixins
 */
/**
 * Long content fade mixin
 *
 * Creates a fading overlay to signify that the content is longer
 * than the space allows.
 */
/**
 * Focus styles.
 */
/**
 * Applies editor left position to the selector passed as argument
 */
/**
 * Styles that are reused verbatim in a few places
 */
/**
 * Allows users to opt-out of animations via OS-level preferences.
 */
/**
 * Reset default styles for JavaScript UI based pages.
 * This is a WP-admin agnostic reset
 */
/**
 * Reset the WP Admin page styles for Gutenberg-like pages.
 */
/**
 * These are default block editor widths in case the theme doesn't provide them.
 */
.is-root-container {
	padding-left: var(--wp--custom--post-content--padding--left);
	padding-right: var(--wp--custom--post-content--padding--right);
}

.block-editor-block-list__layout.is-root-container > .wp-block[data-align=full],
.wp-block-post-content > .alignfull {
	margin-left: calc(-1 * var(--wp--custom--post-content--padding--left)) !important;
	margin-right: calc(-1 * var(--wp--custom--post-content--padding--right)) !important;
	width: calc( 100% + var(--wp--custom--post-content--padding--left) + var(--wp--custom--post-content--padding--right)) !important;
}

.site-header,
.post-header,
.page-content,
[data-align="full"] p,
.alignfull p {
	padding-left: var(--wp--custom--post-content--padding--left);
	padding-right: var(--wp--custom--post-content--padding--right);
}

@media (min-width: 480px) {
	.wp-block[data-align="left"],
	.wp-block[data-align="right"],
	.wp-site-blocks .alignleft,
	.wp-site-blocks .alignright {
		max-width: var(--wp--custom--alignment--aligned-max-width);
	}
}

.wp-block-group:not(.site-header) {
	overflow: auto;
}

.aligncenter {
	text-align: center;
}

.site-header {
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
	display: flex;
	overflow: inherit;
}

.site-header .wp-block-site-title a {
	text-decoration: none;
}

::selection {
	background-color: var(--wp--custom--color--selection);
}

::-moz-selection {
	background-color: var(--wp--custom--color--selection);
}

p, h1, h2, h3, h4, h5, h6 {
	margin-top: var(--wp--custom--margin--vertical);
	margin-bottom: var(--wp--custom--margin--vertical);
}

.image-no-margin {
	margin: 0;
}

.image-no-margin > * {
	vertical-align: bottom;
}

.has-background-no-padding.wp-block-columns.has-background {
	padding: 0;
}

/**
 * Elements
 * - Styles for basic HTML elemants
 */
ul,
ol {
	font-family: var(--wp--custom--list--font-family);
	padding-left: var(--wp--custom--list--padding--left);
}

a {
	cursor: pointer;
	text-underline-offset: 0.15em;
	text-decoration: none;
}

a:hover, a:focus {
	text-decoration-line: underline;
}

.block-editor-block-list__layout a,
.wp-block-post-content a {
	text-decoration-line: underline;
}

.block-editor-block-list__layout a:hover, .block-editor-block-list__layout a:focus,
.wp-block-post-content a:hover,
.wp-block-post-content a:focus {
	text-decoration: none;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	background: var(--wp--custom--form--color--background);
	border: var(--wp--custom--form--border--width) var(--wp--custom--form--border--style) var(--wp--custom--form--border--color);
	border-radius: var(--wp--custom--form--border--radius);
	box-shadow: var(--wp--custom--form--color--box-shadow);
	color: var(--wp--custom--form--color--text);
	font-family: var(--wp--preset--font-family--base);
	padding: var(--wp--custom--form--padding);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: var(--wp--custom--form--color--text);
	border-color: var(--custom--form--color--border);
}

select {
	font-family: inherit;
	font-size: 100%;
}

textarea {
	width: 100%;
}

input[type=checkbox] + label {
	display: inline;
	margin-left: 0.5em;
	line-height: 1em;
}

/*# sourceMappingURL=ponyfill.css.map */