/**
 * Base
 * - Reset the browser
 */
body {
	margin: 0 !important;
	padding: 0 !important;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img {
	height: auto;
	max-width: 100%;
}

* {
	box-sizing: border-box;
}

/**
 * Breakpoints & Media Queries
 */
/**
 * Breakpoint mixins
 */
/**
 * Long content fade mixin
 *
 * Creates a fading overlay to signify that the content is longer
 * than the space allows.
 */
/**
 * Focus styles.
 */
/**
 * Applies editor left position to the selector passed as argument
 */
/**
 * Styles that are reused verbatim in a few places
 */
/**
 * Allows users to opt-out of animations via OS-level preferences.
 */
/**
 * Reset default styles for JavaScript UI based pages.
 * This is a WP-admin agnostic reset
 */
/**
 * Reset the WP Admin page styles for Gutenberg-like pages.
 */
/**
 * These are default block editor widths in case the theme doesn't provide them.
 */
.wp-block-group.alignfull,
*[class*="wp-container-"] {
	padding-left: var(--wp--custom--post-content--padding--left);
	padding-right: var(--wp--custom--post-content--padding--right);
}

.wp-block-group.alignfull *[class*="wp-container-"],
.wp-block-group.alignfull > .alignfull,
*[class*="wp-container-"] *[class*="wp-container-"],
*[class*="wp-container-"] > .alignfull {
	margin-left: calc(-1 * var(--wp--custom--post-content--padding--left)) !important;
	margin-right: calc(-1 * var(--wp--custom--post-content--padding--right)) !important;
	width: calc( 100% + var(--wp--custom--post-content--padding--left) + var(--wp--custom--post-content--padding--right)) !important;
}

@media (min-width: 480px) {
	.wp-block[data-align="left"],
	.wp-block[data-align="right"],
	.wp-site-blocks .alignleft,
	.wp-site-blocks .alignright {
		max-width: var(--wp--custom--alignment--aligned-max-width);
	}
}

.aligncenter {
	text-align: center;
}

.site-header {
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
	display: flex;
	overflow: inherit;
}

.site-header .wp-block-site-title a {
	text-decoration: none;
}

h1.has-background, h2.has-background, h3.has-background, h4.has-background, h5.has-background, h6.has-background {
	padding: var(--wp--custom--padding--vertical) var(--wp--custom--padding--horizontal);
}

:root {
	--wpadmin-bar--height: 46px;
}

.wp-site-blocks {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.site-footer-container {
	margin-top: auto;
}

@media (min-width: 600px) {
	body.admin-bar {
		--wpadmin-bar--height: 32px;
	}
}

body.admin-bar .wp-site-blocks {
	min-height: calc( 100vh - var(--wpadmin-bar--height));
}

::selection {
	background-color: var(--wp--custom--color--selection);
}

::-moz-selection {
	background-color: var(--wp--custom--color--selection);
}

p, h1, h2, h3, h4, h5, h6 {
	margin-top: var(--wp--custom--margin--vertical);
	margin-bottom: var(--wp--custom--margin--vertical);
}

.image-no-margin {
	margin: 0;
}

.image-no-margin * {
	vertical-align: bottom;
}

.has-background-no-padding.wp-block-columns.has-background {
	padding: 0;
}

/**
 * Elements
 * - Styles for basic HTML elemants
 */
a {
	cursor: pointer;
	text-underline-offset: 0.15em;
	text-decoration: none;
}

a:hover, a:focus {
	text-decoration-line: underline;
}

.block-editor-block-list__layout a,
.wp-block-post-content a {
	text-decoration-line: underline;
}

.block-editor-block-list__layout a:hover, .block-editor-block-list__layout a:focus,
.wp-block-post-content a:hover,
.wp-block-post-content a:focus {
	text-decoration: none;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	background: var(--wp--custom--form--color--background);
	border: var(--wp--custom--form--border--width) var(--wp--custom--form--border--style) var(--wp--custom--form--border--color);
	border-radius: var(--wp--custom--form--border--radius);
	box-shadow: var(--wp--custom--form--color--box-shadow);
	color: var(--wp--custom--form--color--text);
	font-family: var(--wp--custom--body--typography--font-family);
	padding: var(--wp--custom--form--padding);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: var(--wp--custom--form--color--text);
	border-color: var(--custom--form--color--border);
}

select {
	font-family: inherit;
	font-size: 100%;
}

textarea {
	width: 100%;
}

input[type=checkbox] + label {
	display: inline;
	margin-left: 0.5em;
	line-height: 1em;
}

/**
 * Button
 */
/**
 * Block Options
 */
.wp-block-button.wp-block-button__link,
.wp-block-button .wp-block-button__link {
	border-width: 0;
	padding-top: calc( var(--wp--custom--button--spacing--padding--top) + var(--wp--custom--button--border--width));
	padding-bottom: calc( var(--wp--custom--button--spacing--padding--bottom) + var(--wp--custom--button--border--width));
	padding-left: calc( var(--wp--custom--button--spacing--padding--left) + var(--wp--custom--button--border--width));
	padding-right: calc( var(--wp--custom--button--spacing--padding--right) + var(--wp--custom--button--border--width));
	font-weight: var(--wp--custom--button--typography--font-weight);
	font-family: var(--wp--custom--button--typography--font-family);
	font-size: var(--wp--custom--button--typography--font-size);
	line-height: var(--wp--custom--button--typography--line-height);
	text-decoration: none;
	opacity: 1;
	color: var(--wp--custom--button--color--text);
	background-color: var(--wp--custom--button--color--background);
	border-color: currentColor;
	border-radius: var(--wp--custom--button--border--radius);
}

.wp-block-button.wp-block-button__link:not(.has-background):not(.has-text-color):hover, .wp-block-button.wp-block-button__link:not(.has-background):not(.has-text-color):focus, .wp-block-button.wp-block-button__link:not(.has-background):not(.has-text-color).has-focus,
.wp-block-button .wp-block-button__link:not(.has-background):not(.has-text-color):hover,
.wp-block-button .wp-block-button__link:not(.has-background):not(.has-text-color):focus,
.wp-block-button .wp-block-button__link:not(.has-background):not(.has-text-color).has-focus {
	--wp--custom--button--color--text: var(--wp--custom--button--hover--color--text);
	--wp--custom--button--color--background: var(--wp--custom--button--hover--color--background);
	--wp--custom--button--border--color: var(--wp--custom--button--hover--border--color);
	opacity: 1;
	color: var(--wp--custom--button--color--text);
	background-color: var(--wp--custom--button--color--background);
	border-color: currentColor;
	border-color: var(--wp--custom--button--border--color);
}

.wp-block-button.wp-block-button__link:not(.has-background):not(.has-text-color):hover svg, .wp-block-button.wp-block-button__link:not(.has-background):not(.has-text-color):focus svg, .wp-block-button.wp-block-button__link:not(.has-background):not(.has-text-color).has-focus svg,
.wp-block-button .wp-block-button__link:not(.has-background):not(.has-text-color):hover svg,
.wp-block-button .wp-block-button__link:not(.has-background):not(.has-text-color):focus svg,
.wp-block-button .wp-block-button__link:not(.has-background):not(.has-text-color).has-focus svg {
	fill: var(--wp--custom--button--color--text);
}

.wp-block-button.wp-block-button__link svg,
.wp-block-button .wp-block-button__link svg {
	fill: var(--wp--custom--button--color--text);
}

.wp-block-button.is-style-outline.wp-block-button__link,
.wp-block-button.is-style-outline .wp-block-button__link {
	--wp--custom--button--color--text: var(--wp--custom--button--border--color);
	--wp--custom--button--color--background: transparent;
	border-style: var(--wp--custom--button--border--style);
	border-width: var(--wp--custom--button--border--width);
	padding-top: var(--wp--custom--button--spacing--padding--top);
	padding-bottom: var(--wp--custom--button--spacing--padding--bottom);
	padding-left: var(--wp--custom--button--spacing--padding--left);
	padding-right: var(--wp--custom--button--spacing--padding--right);
	opacity: 1;
	color: var(--wp--custom--button--color--text);
	background-color: var(--wp--custom--button--color--background);
	border-color: currentColor;
}

.wp-block-button.is-style-outline.wp-block-button__link:not(.has-background):not(.has-text-color):hover, .wp-block-button.is-style-outline.wp-block-button__link:not(.has-background):not(.has-text-color):focus, .wp-block-button.is-style-outline.wp-block-button__link:not(.has-background):not(.has-text-color).has-focus,
.wp-block-button.is-style-outline .wp-block-button__link:not(.has-background):not(.has-text-color):hover,
.wp-block-button.is-style-outline .wp-block-button__link:not(.has-background):not(.has-text-color):focus,
.wp-block-button.is-style-outline .wp-block-button__link:not(.has-background):not(.has-text-color).has-focus {
	--wp--custom--button--color--text: var(--wp--custom--button--hover--color--text);
	--wp--custom--button--color--background: var(--wp--custom--button--hover--color--background);
	--wp--custom--button--border--color: var(--wp--custom--button--hover--border--color);
	opacity: 1;
	color: var(--wp--custom--button--color--text);
	background-color: var(--wp--custom--button--color--background);
	border-color: currentColor;
	border-color: var(--wp--custom--button--border--color);
}

.wp-block-button.is-style-outline.wp-block-button__link:not(.has-background):not(.has-text-color):hover svg, .wp-block-button.is-style-outline.wp-block-button__link:not(.has-background):not(.has-text-color):focus svg, .wp-block-button.is-style-outline.wp-block-button__link:not(.has-background):not(.has-text-color).has-focus svg,
.wp-block-button.is-style-outline .wp-block-button__link:not(.has-background):not(.has-text-color):hover svg,
.wp-block-button.is-style-outline .wp-block-button__link:not(.has-background):not(.has-text-color):focus svg,
.wp-block-button.is-style-outline .wp-block-button__link:not(.has-background):not(.has-text-color).has-focus svg {
	fill: var(--wp--custom--button--color--text);
}

.wp-block-button.is-style-outline.wp-block-button__link svg,
.wp-block-button.is-style-outline .wp-block-button__link svg {
	fill: var(--wp--custom--button--color--text);
}

.wp-block-buttons .wp-block-button:last-child {
	margin-bottom: 0;
}

.wp-block-code code {
	font-family: var(--wp--custom--code--typography--font-family);
}

.wp-block-gallery .blocks-gallery-image figcaption,
.wp-block-gallery .blocks-gallery-item figcaption {
	font-size: var(--wp--custom--gallery--caption--font-size);
}

.block-library-html__edit .block-editor-plain-text {
	color: var(--wp--custom--form--color--text);
	border: var(--wp--custom--form--border--width) var(--wp--custom--form--border--style) var(--wp--custom--form--border--color);
}

.wp-block-image {
	/* 
	From what I can tell the below are styles regularly used by themes
	to fix the image block.  I believe these should go into the block's
	default styles.  It's difficult to say how this will land, however 
	based on discussion found in (many) related issues here: 
	https://github.com/WordPress/gutenberg/issues/28923
	*/
	text-align: center;
}

.wp-block-latest-posts .wp-block-latest-posts__post-date,
.wp-block-latest-posts .wp-block-latest-posts__post-author {
	color: var(--wp--custom--latest-posts--meta--color--text);
}

ul,
ol {
	padding-left: var(--wp--custom--list--spacing--padding--left);
}

.wp-block-navigation.is-responsive .wp-block-navigation__responsive-container.is-menu-open {
	background-color: var(--wp--custom--color--background);
	color: var(--wp--custom--color--foreground);
}

.wp-block-navigation.is-responsive .wp-block-navigation-link__content {
	color: var(--wp--custom--color--foreground) !important;
}

.wp-block-navigation.is-responsive .has-child .wp-block-navigation-link__container {
	display: revert;
}

p.has-text-color a {
	color: var(--wp--style--color--link, var(--wp--custom--color--primary));
}

p.has-drop-cap:not(:focus):first-letter {
	font-size: var(--wp--custom--paragraph--dropcap--typography--font-size);
	font-family: var(--wp--custom--paragraph--dropcap--typography--font-family);
	font-weight: var(--wp--custom--paragraph--dropcap--typography--font-weight);
	margin: var(--wp--custom--paragraph--dropcap--margin);
}

p.has-background {
	padding: var(--wp--custom--padding--vertical) var(--wp--custom--padding--horizontal);
}

.wp-block-post-author__name {
	font-weight: var(--wp--custom--post-author--font-weight);
}

.wp-block-post-comments label, .wp-block-post-comments .comment-meta {
	font-size: var(--wp--custom--form--label--typography--font-size);
}

.wp-block-post-comments input[type="submit"],
.wp-block-post-comments .reply a {
	border-width: 0;
	padding-top: calc( var(--wp--custom--button--spacing--padding--top) + var(--wp--custom--button--border--width));
	padding-bottom: calc( var(--wp--custom--button--spacing--padding--bottom) + var(--wp--custom--button--border--width));
	padding-left: calc( var(--wp--custom--button--spacing--padding--left) + var(--wp--custom--button--border--width));
	padding-right: calc( var(--wp--custom--button--spacing--padding--right) + var(--wp--custom--button--border--width));
	font-weight: var(--wp--custom--button--typography--font-weight);
	font-family: var(--wp--custom--button--typography--font-family);
	font-size: var(--wp--custom--button--typography--font-size);
	line-height: var(--wp--custom--button--typography--line-height);
	text-decoration: none;
	opacity: 1;
	color: var(--wp--custom--button--color--text);
	background-color: var(--wp--custom--button--color--background);
	border-color: currentColor;
	border-radius: var(--wp--custom--button--border--radius);
}

.wp-block-post-comments input[type="submit"] svg,
.wp-block-post-comments .reply a svg {
	fill: var(--wp--custom--button--color--text);
}

.wp-block-post-comments input[type="submit"]:not(.has-background):not(.has-text-color):hover, .wp-block-post-comments input[type="submit"]:not(.has-background):not(.has-text-color):focus, .wp-block-post-comments input[type="submit"]:not(.has-background):not(.has-text-color).has-focus,
.wp-block-post-comments .reply a:not(.has-background):not(.has-text-color):hover,
.wp-block-post-comments .reply a:not(.has-background):not(.has-text-color):focus,
.wp-block-post-comments .reply a:not(.has-background):not(.has-text-color).has-focus {
	--wp--custom--button--color--text: var(--wp--custom--button--hover--color--text);
	--wp--custom--button--color--background: var(--wp--custom--button--hover--color--background);
	--wp--custom--button--border--color: var(--wp--custom--button--hover--border--color);
	opacity: 1;
	color: var(--wp--custom--button--color--text);
	background-color: var(--wp--custom--button--color--background);
	border-color: currentColor;
	border-color: var(--wp--custom--button--border--color);
}

.wp-block-post-comments input[type="submit"]:not(.has-background):not(.has-text-color):hover svg, .wp-block-post-comments input[type="submit"]:not(.has-background):not(.has-text-color):focus svg, .wp-block-post-comments input[type="submit"]:not(.has-background):not(.has-text-color).has-focus svg,
.wp-block-post-comments .reply a:not(.has-background):not(.has-text-color):hover svg,
.wp-block-post-comments .reply a:not(.has-background):not(.has-text-color):focus svg,
.wp-block-post-comments .reply a:not(.has-background):not(.has-text-color).has-focus svg {
	fill: var(--wp--custom--button--color--text);
}

.wp-block-post-comments .reply a {
	display: inline-block;
}

.wp-block-post-comments .comment-form input[type="text"] {
	width: 100%;
}

.wp-block-post-comments .comment-reply-title small {
	float: right;
	font-size: 14px;
}

.wp-block-post-comments .comment-form-cookies-consent input[type="checkbox"] {
	margin-left: 0;
}

.wp-block-post-comments .commentlist .comment p {
	font-size: var(--wp--custom--post-comment--typography--font-size);
	line-height: var(--wp--custom--post-comment--typography--line-height);
}

.wp-block-pullquote.is-style-solid-color,
.wp-block-pullquote {
	text-align: var(--wp--custom--pullquote--typography--text-align);
}

.wp-block-pullquote.is-style-solid-color blockquote,
.wp-block-pullquote blockquote {
	padding: 0;
	margin: 0;
}

.wp-block-pullquote.is-style-solid-color blockquote p,
.wp-block-pullquote blockquote p {
	font-size: 1em;
	padding: 0;
	margin: 0;
	line-height: inherit;
}

.wp-block-pullquote.is-style-solid-color blockquote .wp-block-pullquote__citation,
.wp-block-pullquote.is-style-solid-color blockquote cite,
.wp-block-pullquote blockquote .wp-block-pullquote__citation,
.wp-block-pullquote blockquote cite {
	display: block;
	font-size: var(--wp--custom--pullquote--citation--typography--font-size);
	font-family: var(--wp--custom--pullquote--citation--typography--font-family);
	font-style: var(--wp--custom--pullquote--citation--typography--font-style);
	font-weight: var(--wp--custom--pullquote--citation--typography--font-weight);
	margin-top: var(--wp--custom--pullquote--citation--spacing--margin--top);
}

.wp-block-pullquote.is-style-solid-color.is-style-solid-color,
.wp-block-pullquote.is-style-solid-color {
	background-color: var(--wp--custom--color--foreground);
	color: var(--wp--custom--color--background);
}

.wp-block-query-pagination {
	padding-top: 1.5em;
	justify-content: space-between;
	display: grid;
	grid-template-areas: "prev numbers next";
	grid-template-columns: 1fr 2fr 1fr;
}

@media (max-width: 599px) {
	.wp-block-query-pagination {
		grid-template-areas: "prev next";
		grid-template-columns: 1fr 1fr;
	}
}

.wp-block-query-pagination .wp-block-query-pagination-previous {
	justify-self: start;
	grid-area: prev;
}

.wp-block-query-pagination .wp-block-query-pagination-next {
	justify-self: end;
	grid-area: next;
}

.wp-block-query-pagination .wp-block-query-pagination-numbers {
	grid-area: numbers;
	justify-self: center;
}

.wp-block-query-pagination .wp-block-query-pagination-numbers .current {
	text-decoration: underline;
}

@media (max-width: 599px) {
	.wp-block-query-pagination .wp-block-query-pagination-numbers {
		display: none;
	}
}

.wp-block-quote.is-style-large p,
.wp-block-quote p {
	font-style: unset;
	margin-top: 0px;
}

.wp-block-quote.is-style-large .wp-block-quote__citation,
.wp-block-quote.is-style-large cite,
.wp-block-quote .wp-block-quote__citation,
.wp-block-quote cite {
	font-size: var(--wp--custom--quote--citation--typography--font-size);
	font-style: var(--wp--custom--quote--citation--typography--font-style);
}

.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper {
	padding: var(--wp--custom--form--padding);
	border: var(--wp--custom--form--border--width) var(--wp--custom--form--border--style) var(--wp--custom--form--border--color);
	border-radius: var(--wp--custom--form--border--radius);
}

.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__input {
	padding: 0;
}

.wp-block-search .wp-block-search__input {
	padding: var(--wp--custom--form--padding);
	border: var(--wp--custom--form--border--width) var(--wp--custom--form--border--style) var(--wp--custom--form--border--color);
}

.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__button,
.wp-block-search .wp-block-search__button {
	border-width: 0;
	padding-top: calc( var(--wp--custom--button--spacing--padding--top) + var(--wp--custom--button--border--width));
	padding-bottom: calc( var(--wp--custom--button--spacing--padding--bottom) + var(--wp--custom--button--border--width));
	padding-left: calc( var(--wp--custom--button--spacing--padding--left) + var(--wp--custom--button--border--width));
	padding-right: calc( var(--wp--custom--button--spacing--padding--right) + var(--wp--custom--button--border--width));
	font-weight: var(--wp--custom--button--typography--font-weight);
	font-family: var(--wp--custom--button--typography--font-family);
	font-size: var(--wp--custom--button--typography--font-size);
	line-height: var(--wp--custom--button--typography--line-height);
	text-decoration: none;
	opacity: 1;
	color: var(--wp--custom--button--color--text);
	background-color: var(--wp--custom--button--color--background);
	border-color: currentColor;
	border-radius: var(--wp--custom--button--border--radius);
}

.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__button svg,
.wp-block-search .wp-block-search__button svg {
	fill: var(--wp--custom--button--color--text);
}

.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__button:not(.has-background):not(.has-text-color):hover, .wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__button:not(.has-background):not(.has-text-color):focus, .wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__button:not(.has-background):not(.has-text-color).has-focus,
.wp-block-search .wp-block-search__button:not(.has-background):not(.has-text-color):hover,
.wp-block-search .wp-block-search__button:not(.has-background):not(.has-text-color):focus,
.wp-block-search .wp-block-search__button:not(.has-background):not(.has-text-color).has-focus {
	--wp--custom--button--color--text: var(--wp--custom--button--hover--color--text);
	--wp--custom--button--color--background: var(--wp--custom--button--hover--color--background);
	--wp--custom--button--border--color: var(--wp--custom--button--hover--border--color);
	opacity: 1;
	color: var(--wp--custom--button--color--text);
	background-color: var(--wp--custom--button--color--background);
	border-color: currentColor;
	border-color: var(--wp--custom--button--border--color);
}

.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__button:not(.has-background):not(.has-text-color):hover svg, .wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__button:not(.has-background):not(.has-text-color):focus svg, .wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__button:not(.has-background):not(.has-text-color).has-focus svg,
.wp-block-search .wp-block-search__button:not(.has-background):not(.has-text-color):hover svg,
.wp-block-search .wp-block-search__button:not(.has-background):not(.has-text-color):focus svg,
.wp-block-search .wp-block-search__button:not(.has-background):not(.has-text-color).has-focus svg {
	fill: var(--wp--custom--button--color--text);
}

.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__button.has-icon,
.wp-block-search .wp-block-search__button.has-icon {
	line-height: 0;
}

.wp-block-separator {
	margin: var(--wp--custom--separator--margin);
	opacity: var(--wp--custom--separator--opacity);
}

.wp-block-separator:not(.is-style-wide) {
	width: var(--wp--custom--separator--width);
}

.wp-block-file .wp-block-file__button {
	border-width: 0;
	padding-top: calc( var(--wp--custom--button--spacing--padding--top) + var(--wp--custom--button--border--width));
	padding-bottom: calc( var(--wp--custom--button--spacing--padding--bottom) + var(--wp--custom--button--border--width));
	padding-left: calc( var(--wp--custom--button--spacing--padding--left) + var(--wp--custom--button--border--width));
	padding-right: calc( var(--wp--custom--button--spacing--padding--right) + var(--wp--custom--button--border--width));
	font-weight: var(--wp--custom--button--typography--font-weight);
	font-family: var(--wp--custom--button--typography--font-family);
	font-size: var(--wp--custom--button--typography--font-size);
	line-height: var(--wp--custom--button--typography--line-height);
	text-decoration: none;
	opacity: 1;
	color: var(--wp--custom--button--color--text);
	background-color: var(--wp--custom--button--color--background);
	border-color: currentColor;
	border-radius: var(--wp--custom--button--border--radius);
	display: inline-block;
}

.wp-block-file .wp-block-file__button svg {
	fill: var(--wp--custom--button--color--text);
}

.wp-block-file .wp-block-file__button:not(.has-background):not(.has-text-color):hover, .wp-block-file .wp-block-file__button:not(.has-background):not(.has-text-color):focus, .wp-block-file .wp-block-file__button:not(.has-background):not(.has-text-color).has-focus {
	--wp--custom--button--color--text: var(--wp--custom--button--hover--color--text);
	--wp--custom--button--color--background: var(--wp--custom--button--hover--color--background);
	--wp--custom--button--border--color: var(--wp--custom--button--hover--border--color);
	opacity: 1;
	color: var(--wp--custom--button--color--text);
	background-color: var(--wp--custom--button--color--background);
	border-color: currentColor;
	border-color: var(--wp--custom--button--border--color);
}

.wp-block-file .wp-block-file__button:not(.has-background):not(.has-text-color):hover svg, .wp-block-file .wp-block-file__button:not(.has-background):not(.has-text-color):focus svg, .wp-block-file .wp-block-file__button:not(.has-background):not(.has-text-color).has-focus svg {
	fill: var(--wp--custom--button--color--text);
}

.wp-block-table.is-style-stripes,
.wp-block-table {
	margin-bottom: 1em;
	border-bottom: none;
}

.wp-block-table.is-style-stripes figcaption,
.wp-block-table figcaption {
	font-size: var(--wp--custom--table--figcaption--typography--font-size);
	text-align: center;
}

.wp-block-table.is-style-stripes td, .wp-block-table.is-style-stripes th,
.wp-block-table td,
.wp-block-table th {
	border: 1px solid;
	padding: calc(0.5*var(--wp--custom--margin--vertical)) calc(0.5*var(--wp--custom--margin--horizontal));
}

.wp-block-video figcaption {
	margin: var(--wp--custom--video--caption--margin);
	text-align: var(--wp--custom--video--caption--text-align);
}

.wp-block-columns {
	margin-bottom: unset;
}

.post-meta {
	display: flex;
}

.post-meta .wp-block-post-author,
.post-meta .wp-block-post-date,
.post-meta .wp-block-post-tags,
.post-meta .wp-block-post-hierarchical-terms {
	display: flex;
	margin-right: calc(2 * var(--wp--custom--margin--baseline));
}

.post-meta .wp-block-post-author:before,
.post-meta .wp-block-post-date:before,
.post-meta .wp-block-post-tags:before,
.post-meta .wp-block-post-hierarchical-terms:before {
	align-self: center;
	content: '';
	display: inline-block;
	margin-right: calc(0.5 * var(--wp--custom--margin--baseline));
	height: 16px;
	width: 16px;
	background-color: currentColor;
}

.post-meta .wp-block-post-author:before {
	-webkit-mask-image: url(svg/post-author.svg);
	mask-image: url(svg/post-author.svg);
}

.post-meta .wp-block-post-date:before {
	-webkit-mask-image: url(svg/post-date.svg);
	mask-image: url(svg/post-date.svg);
}

.post-meta .wp-block-post-hierarchical-terms:before {
	-webkit-mask-image: url(svg/post-category.svg);
	mask-image: url(svg/post-category.svg);
}

.post-meta .wp-block-post-tags:before {
	-webkit-mask-image: url(svg/post-tag.svg);
	mask-image: url(svg/post-tag.svg);
}

/*# sourceMappingURL=ponyfill.css.map */