.archive {

	.page-header {
		line-height: var(--heading--line-height-h1);
		margin-bottom: 16px;
	}

	.page-title {
		font-size: var(--heading--font-size-h1);
		color: var(--entry-header--color);
	}

	.site-main > article:first-of-type {
		margin-top: 0;
	}
}
