// Import the block extends
@import "block-extends/categories";
@import "block-extends/latest-posts";
@import "block-extends/links";
@import "block-extends/navigation";
@import "block-extends/related-posts";
@import "block-extends/blog-posts";
@import "block-extends/search";
