.site-footer {
	> .site-info {
		font-family: var(--global--font-secondary);

		a.site-name {
			color: var(--global--color-primary);
			font-family: var(--global--font-primary);
		}
		a:hover {
			color: var(--global--color-primary-hover);
		}
	}
}
