.has-main-navigation {
	.site-header {
		padding: var(--global--spacing-horizontal) var(--global--spacing-horizontal);

		@include media( mobile-only ){
			.site-description {
				display: none;
			}
		}
	}
}


.site-header {
	display: flex;
	justify-content: space-between;
	max-width: var(--responsive--alignfull-width);

	.site-branding {
		flex-grow: 1;
		text-align: left;

		.site-title > a {
			background: inherit;
			text-shadow: none;
		}
	}

	.primary-navigation {
		flex-grow: 4;
		margin-top: 0;

		@include media( laptop-only ){ // TODO - use $navigation-max-break-point variable
			.primary-menu-container {
				padding: var(--global--spacing-unit);
				background: var(--global--color-foreground);
				top: 119px;

				a {
					color: var(--global--color-background);
				}
			}
		}
	}

	.primary-navigation .menu-item-has-children > .svg-icon {
		margin-top: -2px;
	}


	.primary-navigation > div > ul li, .woo-navigation > div > ul li {
		color: var(--global--color-secondary);
		margin: 6px;
		padding: var(--social-nav--padding);

		a:hover {
			border-color: transparent;
			color: var(--global--color-primary);
		}
	}

	> .site-branding, > nav {
		margin: 0;
	}

	.social-navigation {
		ul {
			justify-content: flex-end;
			flex-wrap: nowrap;
		}

		li:first-of-type > a,
		a {
			padding: 0 0 0 var(--social-nav--padding);

			&:hover {
				border-color: transparent;
				color: var(--global--color-primary);
			}
		}
	}
}


.site-header div.menu-button-container {
	margin: 0 0 0 var(--social-nav--padding);
	position: static;
	width: auto;

	button#primary-close-menu,
	button#primary-open-menu {
		margin: 0;
		padding: 6px;

		&:before {
			margin: 0;
		}
	}
}
