$admin-bar-height: 46px;
$site-branding-height: 68px;

.has-main-navigation {
	.site-header {
		padding: var(--global--spacing-horizontal);
		@include media( laptop ){
			padding: 35px var(--global--spacing-horizontal);
		}

		@include media( laptop-only ){
			.site-title {
				margin: 0;
			}

			.site-description {
				display: none;
			}
		}
	}
}

.has-sticky-post .site-header {
	background: var(--sticky-posts--color-background);
}

.site-header {
	display: flex;
	justify-content: space-between;
	max-width: var(--responsive--alignfull-width);

	@include media( laptop-only ){
		flex-wrap: wrap;
	}

	.site-branding {
		flex-grow: 1;
		text-align: left;

		.site-title {
			margin-bottom: 4px;

			> a {
				background: inherit;
				text-shadow: none;
			}
		}
	}

	.primary-navigation {
		flex-grow: 4;
		margin-top: 0;

		@include media( laptop-only ){ // TODO - use $navigation-max-break-point variable
			.primary-menu-container {
				.admin-bar & {
					top: $site-branding-height + $admin-bar-height;
				}

				a {
					color: var(--primary-nav--dropdown-color-link);
				}
			}
		}

		button#primary-close-menu {
			color: var(--global--color-secondary);
			margin: 0;
			padding: var(--global--spacing-horizontal);
			position: fixed;
			top: 0;
			right: 0;

			.admin-bar & {
				top: $admin-bar-height;
			}

			&:hover {
				color: var(--global--color-primary);
			}
		}
	}

	.primary-navigation .menu-item-has-children > .svg-icon {
		margin-top: -2px;
		margin-left: -2px;
	}


	.primary-navigation > div > ul li, .woo-navigation > div > ul li {
		color: var(--global--color-secondary);

		a:hover {
			border-color: transparent;
			color: var(--global--color-primary);
		}
	}

	> .site-branding, > nav {
		margin: 0;
	}

	.social-navigation {
		flex-basis: 100%;

		ul {
			justify-content: flex-start;
			flex-wrap: nowrap;
			margin-top: var(--social-nav--padding);

			li {
				margin: 0;
				padding: 0 var(--social-nav--padding) 0 0;
			}

		}
		@include media( laptop ){
			flex-basis: auto;
			ul {
				justify-content: flex-end;
				margin-top: 0;

				li {
					padding: 0 0 0 var(--social-nav--padding);
				}
			}
		}

		.menu-item > a {
			padding: 0;

			&:hover {
				border-color: transparent;
				color: var(--global--color-primary);
			}
		}
	}
}


.site-header div.menu-button-container {
	button#primary-open-menu {
		margin-top: 0;
		margin-right: 0;
		padding: var(--global--spacing-horizontal);

		&:before {
			margin: 0;
		}
	}

	.primary-navigation-open & {
		margin: 0;
	}
}
