@import '~@wordpress/base-styles/breakpoints';
@import '~@wordpress/base-styles/mixins';

.has-main-navigation {
    .site-header {
        @include media( mobile-only ){
            .site-description {
                display: none;
            }
        }
    }
}


.site-header {
    display: flex;
    justify-content: space-between;
    max-width: var(--responsive--alignwide-width);

    .site-branding {
        flex-grow: 1;
        text-align: left;

        .site-title > a {
                background: inherit;
            text-shadow: none;
        }
    }

    .primary-navigation {
        flex-grow: 4;
        justify-content: flex-end;
        margin-top: 0;
    }

    .primary-navigation .menu-item-has-children > .svg-icon {
        margin-top: -2px;
    }

    .primary-navigation > div > ul li, .woo-navigation > div > ul li {
        color: var(--global--color-secondary);
        margin: 6px calc( var(--global--spacing-horizontal) / 2);
    }

    > .site-branding, > nav {
        margin: 0;
    }
}
