.archive .post .entry-title,
.home .post .entry-title {
	font-size: var(--global--font-size-lg);
	margin-bottom: 0;
}

.post .entry-header {
	display: flex;
	flex-direction: column;
	.entry-title {
		margin-bottom: 0;
	}
	.entry-meta {
		order: -1;
		.posted-on {
			svg {
				display: none;
			}
			a {
				font-family: var(--global--font-primary);
				text-transform: uppercase;
			}
		}
	}
}

.site-main > * {
	margin: 0 auto;
	padding: calc(3 * var(--global--spacing-vertical)) 0;
}

// Sticky posts
.has-sticky-post .site-main > *:first-child {
	margin-top: calc( 0px - var(--global--spacing-vertical) );
	padding-top: var(--global--spacing-vertical);
}

.post.sticky { // .post class needed to make this stronger
	background: var(--sticky-posts--color-background);

	.entry-title {
		font-size: var(--sticky-posts--entry-title-font-size);
	}

	.entry-content {
		font-size: var(--sticky-posts--entry-content-font-size);
	}
}

.sticky-post {
	display: none;
}

.entry-content {
    .more-link {
        margin-top: 0;
        display: inline-block;
        color: var(--global--color-foreground);

        &:hover {
            border: none;
            color: var(--global--color-primary);
		}

        &:after {
            content: none;
		}

        svg {
            height: var(--global--font-size-base);
            width: var(--global--font-size-base);
            margin-left: -0.25em;
            display: inline-block;
            vertical-align: middle;
            transform: rotate(-90deg);
        }
	}

	.excerpt-more-link {
		.more-link {
			font-size: calc(0.75 * var(--global--font-size-base));
			margin-left: 1rem;
		}
	}
}
