.home .post .entry-title {
    font-size: var(--global--font-size-lg);
    margin-bottom: 0;
}

.post .entry-header {
    display: flex;
    flex-direction: column;
    .entry-title {
        margin-bottom: 0;
    }
    .entry-meta {
        order: -1;
        .posted-on {
            svg {
                display: none;
            }
            a {
                font-family: var(--global--font-primary);
                text-transform: uppercase;
            }
        }
    }
}