/**
 * Repsonsive Styles
 */

/**
 * Required Variables
 */
$breakpoint_sm: 482px;
$breakpoint_md: 592px;
$breakpoint_lg: calc( 780px + 2 * var(--global--spacing-horizontal) ); // default width + the margins
$breakpoint_xl: calc( 1247px + 2 * var(--global--spacing-horizontal) ); // wide width + the margins
$breakpoint_xxl: 1440px;

// Responsive breakpoints mixin
@mixin media( $res ) {

	@if mobile-only == $res {
		@media only screen and (max-width: #{$breakpoint_sm - 1}) {
			@content;
		}
	}

	@if mobile == $res {
		@media only screen and (min-width: #{$breakpoint_sm}) {
			@content;
		}
	}

	@if tablet-only == $res {
		@media only screen and (max-width: #{$breakpoint_md - 1}) {
			@content;
		}
	}

	@if tablet == $res {
		@media only screen and (min-width: #{$breakpoint_md}) {
			@content;
		}
	}

	@if laptop-only == $res {
		@media only screen and (max-width: #{$breakpoint_lg - 1}) {
			@content;
		}
	}

	@if laptop == $res {
		@media only screen and (min-width: #{$breakpoint_lg}) {
			@content;
		}
	}

	@if desktop-only == $res {
		@media only screen and (max-width: #{$breakpoint_xl - 1}) {
			@content;
		}
	}

	@if desktop == $res {
		@media only screen and (min-width: #{$breakpoint_xl}) {
			@content;
		}
	}

	@if wide-only == $res {
		@media only screen and (max-width: #{$breakpoint_xxl - 1}) {
			@content;
		}
	}

	@if wide == $res {
		@media only screen and (min-width: #{$breakpoint_xxl}) {
			@content;
		}
	}
}

/**
 * Root Media Query Variables
 */
:root {
	--responsive--spacing-horizontal: calc(2 * var(--global--spacing-horizontal));
	--responsive--aligndefault-width: 100%;
	--responsive--alignwide-width: 100%;
	--responsive--alignfull-width: 100%;
	--responsive--alignwide-width-multiplier: calc(16 * var(--global--spacing-horizontal));
	--responsive--alignright-margin: var(--global--spacing-horizontal);
	--responsive--alignleft-margin: var(--global--spacing-horizontal);
}

@include media(mobile) {
	:root {
		--responsive--aligndefault-width: calc(#{$breakpoint_sm} - var(--responsive--spacing-horizontal));
		--responsive--alignwide-width: calc(#{$breakpoint_sm} - var(--responsive--spacing-horizontal));
		--responsive--alignright-margin: calc( 0.5 * (100vw - var(--responsive--aligndefault-width)));
		--responsive--alignleft-margin: calc( 0.5 * (100vw - var(--responsive--aligndefault-width)));
	}
}

@include media(tablet) {
	:root {
		--responsive--aligndefault-width: calc(#{$breakpoint_sm} - var(--responsive--spacing-horizontal));
		--responsive--alignwide-width: calc(#{$breakpoint_md} - var(--responsive--spacing-horizontal));
		--responsive--alignright-margin: calc( 0.5 * (100vw - var(--responsive--aligndefault-width)));
		--responsive--alignleft-margin: calc( 0.5 * (100vw - var(--responsive--aligndefault-width)));
	}
}

@include media(laptop) {
	:root {
		--responsive--aligndefault-width: calc(#{$breakpoint_md} - var(--responsive--spacing-horizontal));
		--responsive--alignwide-width: calc(#{$breakpoint_lg} - var(--responsive--spacing-horizontal));
		--responsive--alignright-margin: calc( 0.5 * (100vw - var(--responsive--aligndefault-width)));
		--responsive--alignleft-margin: calc( 0.5 * (100vw - var(--responsive--aligndefault-width)));
	}
}

@include media(desktop) {
	:root {
		--responsive--aligndefault-width: calc(#{$breakpoint_lg} - var(--responsive--spacing-horizontal));
		--responsive--alignwide-width: calc(#{$breakpoint_xl} - var(--responsive--spacing-horizontal));
		--responsive--alignright-margin: calc( 0.5 * (100vw - var(--responsive--aligndefault-width)));
		--responsive--alignleft-margin: calc( 0.5 * (100vw - var(--responsive--aligndefault-width)));
	}
}

@include media(wide) {
	:root {
		--responsive--aligndefault-width: calc(#{$breakpoint_lg} - var(--responsive--spacing-horizontal));
		--responsive--alignwide-width: calc(#{$breakpoint_xl} - var(--responsive--spacing-horizontal));
		--responsive--alignright-margin: calc( 0.5 * (100vw - var(--responsive--aligndefault-width)));
		--responsive--alignleft-margin: calc( 0.5 * (100vw - var(--responsive--aligndefault-width)));
	}
}