/**
 * Repsonsive Styles
 */
@include media(laptop) {
	:root {
		--global--spacing-horizontal: 60px;
		--global--spacing-vertical: 35px;
		--responsive--aligndefault-width: min(calc(100vw - 2 * var(--global--spacing-horizontal)), #{$default_width});
		--responsive--alignwide-width: min(calc(100vw - 2 * var(--global--spacing-horizontal)), #{$alignwide_width});
		--wpadmin-bar--height: 32px;
	}
}
