.search-results {
    .site-main > * {
        padding: var(--global--spacing-vertical) 0;
    }

    .entry-title {
        font-size: var(--heading--font-size-h2);
    }

    .entry-header {
        margin-bottom: 0;
    }
}
