.has-link-color a, a {
    border-bottom: none;
    transition: all 0.1s ease;

    &:hover {
        color: var( --global--color-primary-hover );
        border-bottom: 1px solid var( --global--color-primary-hover );
    }
}

.entry-content a {
    font-weight: 500;
}
