// Abstracts
// - Mixins, variables and functions
@import "../../../seedlet/assets/sass/abstracts/mixins";
@import "breakpoints";

// Variables
$navigation-min-break-point: 'laptop';
$navigation-max-break-point: 'laptop-only';

@import "../../../seedlet/assets/sass/components/navigation/style";

.primary-navigation,
.woo-navigation {
	// Top-level Menu Item
	.primary-menu-container > ul > .menu-item {
		padding: 0;

		@include media( $navigation-min-break-point ) {
			padding: 0 var(--primary-nav--padding);

			&:last-child {
				padding-right: 0;
			}

		}
	}

	.sub-menu {
		@include media( $navigation-min-break-point ) {
			padding: calc(0.5 * var(--primary-nav--padding)) calc( 2 * var(--primary-nav--padding) );

			> .menu-item.menu-item-has-children {
				padding: calc(0.5 * var(--primary-nav--padding)) calc( 2 * var(--primary-nav--padding) ) 0 0;
			}
		}
	}
}

.social-navigation > div {
	ul li {
		width: auto;
	}
}

.primary-navigation-open .extra-navigation-wrapper {
	background: var(--primary-nav--color-background);
	padding: var(--global--spacing-unit) var(--global--spacing-horizontal);
	visibility: visible;
	opacity: 1;
	top: 50px;
	right: 0;
	bottom: 30px; //Not sure why this div is offset by 30px
	left: 0;
}

.admin-bar.primary-navigation-open .extra-navigation-wrapper {
	top: calc(50px + var(--wpadmin-bar--height));
}
