/*
Theme Name: Spearhead
Theme URI: https://github.com/Automattic/themes/root-child
Author: Automattic
Author URI: https://automattic.com/
Description: Share your podcast with the world using Spearhead.
Requires at least: WordPress 5.4
Version: 1.2.1
License: GNU General Public License v2 or later
License URI: LICENSE
Template: seedlet
Text Domain: spearhead
Tags: one-column, flexible-header, accessibility-ready, custom-colors, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, rtl-language-support, sticky-post, threaded-comments, translation-ready, auto-loading-homepage, jetpack-global-styles
*/

@import "../../../seedlet/assets/sass/abstracts/mixins";
@import "author-bio";
@import "breakpoints";
@import "responsive";
@import "posts-and-pages";
@import "text";
@import "header";
@import "footer";
@import "archive";
@import "block-extends";
@import "search";
@import "meta";
