/**
 * Block Styles
 */

 .wp-block-buttons.is-style-linkinbio-large-buttons {

 	.wp-block-button {
 		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		margin: 0;
 	}

	.wp-block-button__link:not(.has-background) {
		width: 100%;
		margin-bottom: calc(0.5 * var(--global--spacing-vertical));
		font-size: var(--global--font-size-md);
		background-color: rgba(255, 255, 255, 0.15);
	}
 }

 .wp-block-cover.is-style-linkinbio-blurry-background::after {
 	content: "";
 	position:absolute;
 	top: 0;
 	bottom: 0;
 	left: 0;
 	right: 0;
 	-webkit-backdrop-filter: blur(200px);
 	backdrop-filter: blur(200px);
 }