/*
Theme Name: Twenty Twenty-Two (Swiss)
Theme URI: https://wordpress.com/theme/twentytwentytwo-swiss
Author: the WordPress team
Author URI: https://wordpress.org/
Description: The WordPress default theme for 2022.
Requires at least: 5.8
Tested up to: 5.8
Requires PHP: 5.6
Version: 1.8.2
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: twentytwentytwo-swiss
Template: twentytwentytwo
Tags: one-column, custom-colors, custom-menu, custom-logo, editor-style, featured-images, full-site-editing, block-patterns, rtl-language-support, sticky-post, threaded-comments

Twenty Twenty-Two (Swiss) WordPress Theme, (C) 2021 WordPress.org
Twenty Twenty-Two (Swiss) is distributed under the terms of the GNU GPL.
*/
