<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30","left":"var:preset|spacing|30","right":"var:preset|spacing|30"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--30);padding-right:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)">
	<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

	<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|80"}}},"layout":{"type":"default"}} -->
	<main class="wp-block-group" style="margin-top:var(--wp--preset--spacing--80)">
		<!-- wp:columns {"style":{"spacing":{"blockGap":{"top":"0","left":"var:preset|spacing|30"}}}} -->
		<div class="wp-block-columns">
			<!-- wp:column {"width":"33.34%"} -->
			<div class="wp-block-column" style="flex-basis:33.34%">
				<!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30","top":"var:preset|spacing|30","bottom":"var:preset|spacing|30"}},"dimensions":{"minHeight":""},"border":{"width":"1px"},"layout":{"rowSpan":"","columnSpan":""}},"borderColor":"theme-3","className":"corner-only","layout":{"type":"default"}} -->
				<div class="wp-block-group corner-only has-border-color has-theme-3-border-color" style="border-width:1px;padding-top:var(--wp--preset--spacing--30);padding-right:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)">
					<!-- wp:post-featured-image /-->
				</div>
				<!-- /wp:group -->
			</div>
			<!-- /wp:column -->

			<!-- wp:column {"width":"33.33%"} -->
			<div class="wp-block-column" style="flex-basis:33.33%">
				<!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30","top":"var:preset|spacing|30","bottom":"var:preset|spacing|30"}},"dimensions":{"minHeight":""},"border":{"width":"1px"}},"borderColor":"theme-4","layout":{"type":"default"}} -->
				<div class="wp-block-group has-border-color has-theme-4-border-color" style="border-width:1px;padding-top:var(--wp--preset--spacing--30);padding-right:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)">
					<!-- wp:post-date {"format":"n/j/Y","style":{"typography":{"lineHeight":"1.25"}},"fontSize":"medium"} /-->

					<!-- wp:post-title {"fontSize":"x-large"} /-->

					<!-- wp:post-content {"lock":{"move":false,"remove":true},"layout":{"type":"default"}} /-->

					<!-- wp:group {"style":{"spacing":{"blockGap":"0","padding":{"top":"var:preset|spacing|40"}},"border":{"top":{"color":"var:preset|color|theme-3","width":"1px"},"right":[],"bottom":[],"left":[]}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
					<div class="wp-block-group" style="border-top-color:var(--wp--preset--color--theme-3);border-top-width:1px;padding-top:var(--wp--preset--spacing--40)">
						<!-- wp:post-author-name {"isLink":true} /-->

						<!-- wp:post-terms {"term":"category"} /-->

						<!-- wp:post-terms {"term":"post_tag"} /-->
					</div>
					<!-- /wp:group -->

					<!-- wp:group {"layout":{"type":"default"}} -->
					<div class="wp-block-group">
						<!-- wp:group {"style":{"spacing":{"margin":{"top":"var:preset|spacing|60"},"padding":{"top":"var:preset|spacing|30"}},"border":{"top":{"color":"var:preset|color|theme-3","width":"1px"},"right":{},"left":{}}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
						<div class="wp-block-group" style="border-top-color:var(--wp--preset--color--theme-3);border-top-width:1px;margin-top:var(--wp--preset--spacing--60);padding-top:var(--wp--preset--spacing--30)">
							<!-- wp:post-navigation-link {"type":"previous","arrow":"arrow"} /-->

							<!-- wp:post-navigation-link {"arrow":"arrow"} /-->
						</div>
						<!-- /wp:group -->
					</div>
					<!-- /wp:group -->

					<!-- wp:template-part {"slug":"comments","area":"uncategorized"} /-->
				</div>
				<!-- /wp:group -->
			</div>
			<!-- /wp:column -->

			<!-- wp:column {"width":"33.33%"} -->
			<div class="wp-block-column" style="flex-basis:33.33%">
				<!-- wp:template-part {"slug":"sidebar"} /-->
			</div>
			<!-- /wp:column -->
		</div>
		<!-- /wp:columns -->
	</main>
	<!-- /wp:group -->

	<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
</div>
<!-- /wp:group -->
