@mixin form-variables() {
	--form--font-family: var(--global--font-secondary);
	--form--font-size: var(--global--font-size-md);
	--form--line-height: var(--global--line-height-body);

	--form--color-text: var(--global--color-foreground);

	--form--border-color: var(--global--color-border);
	--form--border-width: 2px;
	--form--border-radius: 0;

	--form--spacing-unit: calc(0.5 * var(--global--spacing-unit));

	--form--background-color: transparent;
	--form--box-shadow: none;
}
