.columns-in-container {
	h4 { // Shrink default vertical margins for headings in this pattern
		margin-bottom: 20px;

		+ p {
			margin-top: 0;
		}
	}

	> *:last-of-type { // Shrink default vertical margins for last element in this pattern
		margin-bottom: 0;
	}
}