.paragraph-with-quote {
    display: flex;

    > .wp-block-column {
        flex: 1 0 25% !important;
    }

    .paragraph-column {
        flex: 1 0 50% !important;

        h4 {
            margin: 0 0 calc( var(--wp--custom--margin--vertical) * 0.89 ) 0;
        }

        > p:first-of-type {
            text-indent: 9.15em;
        }

        p {
            margin: calc( var(--wp--custom--margin--baseline) * 1.55 ) 0 0 0;
        }
    }
}