.paragraph-with-quote {
    h4 {
        margin: 0 0 calc( var(--wp--custom--margin--vertical) * 0.89 ) 0;
    }

    p {
        margin: calc( var(--wp--custom--margin--baseline) * 1.55 ) 0 0 0;
    }

    div:nth-child(2) {    
        > p:first-of-type {
            text-indent: 9.15em;
        }
    }
}