/*
 * Components
 * - Similar to Blocks but exist outside of the "current" editor context
 */

@import "header/header";
@import "footer/footer";

@import "content/entry-header";
@import "content/entry-content";
@import "content/post-thumbnail";
@import "content/author-bio";

@import "pagination/next-previous";
@import "comments/comments";

@import "widgets/widgets";

@import "utilities/utilities";
