/**
 * Extra Child Theme Styles
 */
// @import "";

$spacing_unit: map-deep-get($config-global, "spacing", "unit");
$spacing_horizontal: map-deep-get($config-global, "spacing", "horizontal");
$spacing_vertical: map-deep-get($config-global, "spacing", "vertical");

a {
	text-decoration: none;
}

/**
 * Wide Header & Footer
 */
#masthead {
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 0;
	position: relative;
	width: calc(100% - #{$spacing_unit * 2});
}

/**
 * CSS-grid Desktop Menu
 */
@include media(mobile) {
	.site-header {
		align-items: center;
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto;
		grid-auto-flow: row;
		grid-column-gap: $spacing_unit;
		grid-template-areas:
			"site-branding main-navigation main-navigation social-navigation"
			"site-branding site-description site-description .";

		&:before,
		&:after {
			content: none;
			display: none;
		}

		& > * {
			margin-top: 0;
			margin-bottom: 0;
		}

		.site-branding {
			align-self: flex-end;
			grid-area: site-branding;
		}

		.site-logo {
			margin-bottom: $spacing_unit;
		}

		.site-title {
			& + .site-description {
				margin-top: 0;
			}
		}

		.site-description {
			align-self: flex-end;
			grid-area: site-description;
		}

		.main-navigation {
			align-self: flex-start;
			margin-bottom: $spacing_unit;
			grid-area: main-navigation;
			justify-self: flex-start;

			& > div > ul {
				justify-content: flex-start;
				margin-left: -#{0.5 * $spacing_horizontal};
				margin-right: -#{0.5 * $spacing_horizontal};

				& > li {

					& > a {
						padding: #{0.5 * map-deep-get($config-header, "main-nav", "link-padding")};
					}
				}

				& > .menu-item-has-children > a::after {
						font-size: #{0.5 * map-deep-get($config-global, "font", "size", "base")};
				}
			}

			& > div > ul > li:hover,
			& > div > ul > li.focus,
			& > div > ul > li.current-menu-item {

				& > ul {
					box-shadow: none;
					overflow: hidden;

					&:before {
						border-bottom: #{0.5 * $spacing_unit} solid #{map-deep-get($config-global, "color", "primary", "default")};
						border-left: #{0.5 * $spacing_unit} solid transparent;
						border-right: #{0.5 * $spacing_unit} solid transparent;
						content: "";
						display: block;
						margin-left: #{$spacing_unit};
						width: #{$spacing_unit};
					}
				}

				& li {

					& > a {
						background: #{map-deep-get($config-global, "color", "primary", "default")};
						color: #{map-deep-get($config-global, "color", "background", "default")};
					}

					&:hover > a,
					&.focus > a,
					&.current-menu-item > a {
						background: #{map-deep-get($config-global, "color", "primary", "hover")};
					}
				}
			}
		}

		.social-navigation {
			line-height: 1;
			align-self: flex-start;
			grid-area: social-navigation;
			justify-self: flex-end;
		}
	}
}

// Social Menu
.social-navigation {
	& > div > ul {
		flex-wrap: wrap;
	}
}

/**
 * Site Title
 */
.site-description {
	color: #{map-deep-get($config-header, "branding", "color", "text")};
}

.site-title + .site-description {
	margin-top: -#{map-deep-get($config-global, "spacing", "unit")};
}

/**
 * Content
 */
.site-main > article > .entry-header {
	margin: #{3 * $spacing_unit} $spacing_unit $spacing_unit;
	position: relative;
}

@include media(mobile) {
	.site-main > article > .entry-header {
		margin: #{3 * $spacing_vertical} auto #{2 * $spacing_unit};
	}
}

.entry-title {
	font-size: map-deep-get($config-global, "font", "size", "xxxxl");
	font-weight: 600;
}

/**
 * Blocks
 */

.entry .entry-content .wp-block-media-text {

	background: #{map-deep-get($config-global, "color", "secondary", "default")};
	color: #{map-deep-get($config-global, "color", "background", "default")};
	position: relative;

	&:before {
		content: '';
		position: absolute;
		top: 10px;
		right: 10px;
		bottom: 10px;
		left: 10px;
		border: 1px solid #{map-deep-get($config-global, "color", "background", "default")};
		z-index: 1;
	}
}