<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"10vh","bottom":"10vh"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:10vh;padding-bottom:10vh"><!-- wp:group {"tagName":"main","lock":{"move":false,"remove":false},"style":{"spacing":{"blockGap":"5vh"}}} -->
<main class="wp-block-group"><!-- wp:post-title {"style":{"typography":{"textTransform":"none"}}} /-->

<!-- wp:post-content {"lock":{"move":false,"remove":false},"layout":{"type":"constrained"}} /-->

<!-- wp:template-part {"slug":"post-meta"} /--></main>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->