<!-- wp:group {"style":{"position":{"type":"sticky","top":"0px"},"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"margin":{"top":"0px","bottom":"0px"},"blockGap":"0px"},"color":{"background":"#080808"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group has-background" style="background-color:#080808;margin-top:0px;margin-bottom:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"><!-- wp:template-part {"slug":"header","theme":"jazzers","align":"full"} /-->

<!-- wp:query {"queryId":0,"query":{"perPage":"1","pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":{"post_tag":[3]},"parents":[]},"tagName":"main","align":"full","layout":{"type":"constrained"}} -->
<main class="wp-block-query alignfull"><!-- wp:post-template {"align":"full"} -->
<!-- wp:cover {"useFeaturedImage":true,"hasParallax":true,"isRepeated":true,"dimRatio":0,"minHeight":100,"minHeightUnit":"vh","align":"full","style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"margin":{"top":"0px","bottom":"0px"},"blockGap":"0px"},"color":{"duotone":"unset"}},"layout":{"type":"default"}} -->
<div class="wp-block-cover alignfull has-parallax is-repeated" style="margin-top:0px;margin-bottom:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;min-height:100vh"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-0 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:group {"style":{"spacing":{"blockGap":"0.5rem"}},"layout":{"type":"flex","orientation":"vertical","flexWrap":"nowrap","justifyContent":"center"}} -->
<div class="wp-block-group"><!-- wp:post-title {"isLink":true,"style":{"typography":{"fontSize":"8.8rem","textTransform":"uppercase","fontStyle":"normal","fontWeight":"300","lineHeight":"0.8","letterSpacing":"-4px"},"elements":{"link":{"color":{"text":"var:preset|color|background"}}}},"textColor":"background"} /-->

<!-- wp:post-title {"isLink":true,"style":{"typography":{"textTransform":"uppercase","fontStyle":"normal","fontWeight":"300","lineHeight":"0.8","letterSpacing":"-4px","fontSize":"8.8rem"},"elements":{"link":{"color":{"text":"#e9e7e2b3"}}},"color":{"text":"#e9e7e2b3"}}} /-->

<!-- wp:post-title {"isLink":true,"style":{"typography":{"textTransform":"uppercase","fontStyle":"normal","fontWeight":"300","lineHeight":"0.8","letterSpacing":"-4px","fontSize":"8.8rem"},"elements":{"link":{"color":{"text":"#e9e7e2b3"}}},"color":{"text":"#e9e7e2b3"}}} /-->

<!-- wp:post-title {"isLink":true,"style":{"typography":{"textTransform":"uppercase","fontStyle":"normal","fontWeight":"300","lineHeight":"0.8","letterSpacing":"-4px","fontSize":"8.8rem"},"elements":{"link":{"color":{"text":"#e9e7e2b3"}}},"color":{"text":"#e9e7e2b3"}}} /--></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"10vh","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}}} -->
<div style="margin-top:0px;margin-bottom:0px;height:10vh" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div></div>
<!-- /wp:cover -->
<!-- /wp:post-template --></main>
<!-- /wp:query -->

<!-- wp:query {"queryId":0,"query":{"perPage":"1","pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":{"post_tag":[4]},"parents":[]},"tagName":"main","align":"full","layout":{"type":"constrained"}} -->
<main class="wp-block-query alignfull"><!-- wp:post-template {"align":"full"} -->
<!-- wp:cover {"useFeaturedImage":true,"hasParallax":true,"isRepeated":true,"dimRatio":0,"minHeight":100,"minHeightUnit":"vh","align":"full","style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"margin":{"top":"0px","bottom":"0px"},"blockGap":"0px"},"color":{"duotone":"unset"}},"layout":{"type":"default"}} -->
<div class="wp-block-cover alignfull has-parallax is-repeated" style="margin-top:0px;margin-bottom:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;min-height:100vh"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-0 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:group {"style":{"spacing":{"blockGap":"0.5rem"}},"layout":{"type":"flex","orientation":"vertical","flexWrap":"nowrap","justifyContent":"center"}} -->
<div class="wp-block-group"><!-- wp:post-title {"isLink":true,"style":{"typography":{"fontSize":"8.8rem","textTransform":"uppercase","fontStyle":"normal","fontWeight":"300","lineHeight":"0.8","letterSpacing":"-4px"},"elements":{"link":{"color":{"text":"var:preset|color|background"}}}},"textColor":"background"} /-->

<!-- wp:post-title {"isLink":true,"style":{"typography":{"textTransform":"uppercase","fontStyle":"normal","fontWeight":"300","lineHeight":"0.8","letterSpacing":"-4px","fontSize":"8.8rem"},"elements":{"link":{"color":{"text":"#e9e7e2b3"}}},"color":{"text":"#e9e7e2b3"}}} /-->

<!-- wp:post-title {"isLink":true,"style":{"typography":{"textTransform":"uppercase","fontStyle":"normal","fontWeight":"300","lineHeight":"0.8","letterSpacing":"-4px","fontSize":"8.8rem"},"elements":{"link":{"color":{"text":"#e9e7e2b3"}}},"color":{"text":"#e9e7e2b3"}}} /-->

<!-- wp:post-title {"isLink":true,"style":{"typography":{"textTransform":"uppercase","fontStyle":"normal","fontWeight":"300","lineHeight":"0.8","letterSpacing":"-4px","fontSize":"8.8rem"},"elements":{"link":{"color":{"text":"#e9e7e2b3"}}},"color":{"text":"#e9e7e2b3"}}} /--></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"10vh","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}}} -->
<div style="margin-top:0px;margin-bottom:0px;height:10vh" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div></div>
<!-- /wp:cover -->
<!-- /wp:post-template --></main>
<!-- /wp:query -->

<!-- wp:query {"queryId":0,"query":{"perPage":"1","pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":{"post_tag":[5]},"parents":[]},"tagName":"main","align":"full","layout":{"type":"constrained"}} -->
<main class="wp-block-query alignfull"><!-- wp:post-template {"align":"full"} -->
<!-- wp:cover {"useFeaturedImage":true,"hasParallax":true,"isRepeated":true,"dimRatio":0,"minHeight":100,"minHeightUnit":"vh","align":"full","style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"margin":{"top":"0px","bottom":"0px"},"blockGap":"0px"},"color":{"duotone":"unset"}},"layout":{"type":"default"}} -->
<div class="wp-block-cover alignfull has-parallax is-repeated" style="margin-top:0px;margin-bottom:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;min-height:100vh"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-0 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:group {"style":{"spacing":{"blockGap":"0.5rem"}},"layout":{"type":"flex","orientation":"vertical","flexWrap":"nowrap","justifyContent":"center"}} -->
<div class="wp-block-group"><!-- wp:post-title {"isLink":true,"style":{"typography":{"fontSize":"8.8rem","textTransform":"uppercase","fontStyle":"normal","fontWeight":"300","lineHeight":"0.8","letterSpacing":"-4px"},"elements":{"link":{"color":{"text":"var:preset|color|background"}}}},"textColor":"background"} /-->

<!-- wp:post-title {"isLink":true,"style":{"typography":{"textTransform":"uppercase","fontStyle":"normal","fontWeight":"300","lineHeight":"0.8","letterSpacing":"-4px","fontSize":"8.8rem"},"elements":{"link":{"color":{"text":"#e9e7e2b3"}}},"color":{"text":"#e9e7e2b3"}}} /-->

<!-- wp:post-title {"isLink":true,"style":{"typography":{"textTransform":"uppercase","fontStyle":"normal","fontWeight":"300","lineHeight":"0.8","letterSpacing":"-4px","fontSize":"8.8rem"},"elements":{"link":{"color":{"text":"#e9e7e2b3"}}},"color":{"text":"#e9e7e2b3"}}} /-->

<!-- wp:post-title {"isLink":true,"style":{"typography":{"textTransform":"uppercase","fontStyle":"normal","fontWeight":"300","lineHeight":"0.8","letterSpacing":"-4px","fontSize":"8.8rem"},"elements":{"link":{"color":{"text":"#e9e7e2b3"}}},"color":{"text":"#e9e7e2b3"}}} /--></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"10vh","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}}} -->
<div style="margin-top:0px;margin-bottom:0px;height:10vh" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div></div>
<!-- /wp:cover -->
<!-- /wp:post-template --></main>
<!-- /wp:query -->

<!-- wp:query {"queryId":0,"query":{"perPage":"1","pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":{"post_tag":[6]},"parents":[]},"tagName":"main","align":"full","layout":{"type":"constrained"}} -->
<main class="wp-block-query alignfull"><!-- wp:post-template {"align":"full"} -->
<!-- wp:cover {"useFeaturedImage":true,"hasParallax":true,"isRepeated":true,"dimRatio":0,"minHeight":100,"minHeightUnit":"vh","align":"full","style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"margin":{"top":"0px","bottom":"0px"},"blockGap":"0px"},"color":{"duotone":"unset"}},"layout":{"type":"default"}} -->
<div class="wp-block-cover alignfull has-parallax is-repeated" style="margin-top:0px;margin-bottom:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;min-height:100vh"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-0 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:group {"style":{"spacing":{"blockGap":"0.5rem"}},"layout":{"type":"flex","orientation":"vertical","flexWrap":"nowrap","justifyContent":"center"}} -->
<div class="wp-block-group"><!-- wp:post-title {"isLink":true,"style":{"typography":{"fontSize":"8.8rem","textTransform":"uppercase","fontStyle":"normal","fontWeight":"300","lineHeight":"0.8","letterSpacing":"-4px"},"elements":{"link":{"color":{"text":"var:preset|color|background"}}}},"textColor":"background"} /-->

<!-- wp:post-title {"isLink":true,"style":{"typography":{"textTransform":"uppercase","fontStyle":"normal","fontWeight":"300","lineHeight":"0.8","letterSpacing":"-4px","fontSize":"8.8rem"},"elements":{"link":{"color":{"text":"#e9e7e2b3"}}},"color":{"text":"#e9e7e2b3"}}} /-->

<!-- wp:post-title {"isLink":true,"style":{"typography":{"textTransform":"uppercase","fontStyle":"normal","fontWeight":"300","lineHeight":"0.8","letterSpacing":"-4px","fontSize":"8.8rem"},"elements":{"link":{"color":{"text":"#e9e7e2b3"}}},"color":{"text":"#e9e7e2b3"}}} /-->

<!-- wp:post-title {"isLink":true,"style":{"typography":{"textTransform":"uppercase","fontStyle":"normal","fontWeight":"300","lineHeight":"0.8","letterSpacing":"-4px","fontSize":"8.8rem"},"elements":{"link":{"color":{"text":"#e9e7e2b3"}}},"color":{"text":"#e9e7e2b3"}}} /--></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"10vh","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}}} -->
<div style="margin-top:0px;margin-bottom:0px;height:10vh" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div></div>
<!-- /wp:cover -->
<!-- /wp:post-template --></main>
<!-- /wp:query -->

<!-- wp:query {"queryId":0,"query":{"perPage":"1","pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":{"post_tag":[7]},"parents":[]},"tagName":"main","align":"full","layout":{"type":"constrained"}} -->
<main class="wp-block-query alignfull"><!-- wp:post-template {"align":"full"} -->
<!-- wp:cover {"useFeaturedImage":true,"hasParallax":true,"isRepeated":true,"dimRatio":0,"minHeight":100,"minHeightUnit":"vh","align":"full","style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"margin":{"top":"0px","bottom":"0px"},"blockGap":"0px"},"color":{"duotone":"unset"}},"layout":{"type":"default"}} -->
<div class="wp-block-cover alignfull has-parallax is-repeated" style="margin-top:0px;margin-bottom:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;min-height:100vh"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-0 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:group {"style":{"spacing":{"blockGap":"0.5rem"}},"layout":{"type":"flex","orientation":"vertical","flexWrap":"nowrap","justifyContent":"center"}} -->
<div class="wp-block-group"><!-- wp:post-title {"isLink":true,"style":{"typography":{"fontSize":"8.8rem","textTransform":"uppercase","fontStyle":"normal","fontWeight":"300","lineHeight":"0.8","letterSpacing":"-4px"},"elements":{"link":{"color":{"text":"var:preset|color|background"}}}},"textColor":"background"} /-->

<!-- wp:post-title {"isLink":true,"style":{"typography":{"textTransform":"uppercase","fontStyle":"normal","fontWeight":"300","lineHeight":"0.8","letterSpacing":"-4px","fontSize":"8.8rem"},"elements":{"link":{"color":{"text":"#e9e7e2b3"}}},"color":{"text":"#e9e7e2b3"}}} /-->

<!-- wp:post-title {"isLink":true,"style":{"typography":{"textTransform":"uppercase","fontStyle":"normal","fontWeight":"300","lineHeight":"0.8","letterSpacing":"-4px","fontSize":"8.8rem"},"elements":{"link":{"color":{"text":"#e9e7e2b3"}}},"color":{"text":"#e9e7e2b3"}}} /-->

<!-- wp:post-title {"isLink":true,"style":{"typography":{"textTransform":"uppercase","fontStyle":"normal","fontWeight":"300","lineHeight":"0.8","letterSpacing":"-4px","fontSize":"8.8rem"},"elements":{"link":{"color":{"text":"#e9e7e2b3"}}},"color":{"text":"#e9e7e2b3"}}} /--></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"10vh","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}}} -->
<div style="margin-top:0px;margin-bottom:0px;height:10vh" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div></div>
<!-- /wp:cover -->
<!-- /wp:post-template --></main>
<!-- /wp:query -->

<!-- wp:query {"queryId":0,"query":{"perPage":"1","pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":{"post_tag":[8]},"parents":[]},"tagName":"main","align":"full","layout":{"type":"constrained"}} -->
<main class="wp-block-query alignfull"><!-- wp:post-template {"align":"full"} -->
<!-- wp:cover {"useFeaturedImage":true,"hasParallax":true,"isRepeated":true,"dimRatio":0,"minHeight":100,"minHeightUnit":"vh","align":"full","style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"margin":{"top":"0px","bottom":"0px"},"blockGap":"0px"},"color":{"duotone":"unset"}},"layout":{"type":"default"}} -->
<div class="wp-block-cover alignfull has-parallax is-repeated" style="margin-top:0px;margin-bottom:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;min-height:100vh"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-0 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:group {"style":{"spacing":{"blockGap":"0.5rem"}},"layout":{"type":"flex","orientation":"vertical","flexWrap":"nowrap","justifyContent":"center"}} -->
<div class="wp-block-group"><!-- wp:post-title {"isLink":true,"style":{"typography":{"fontSize":"8.8rem","textTransform":"uppercase","fontStyle":"normal","fontWeight":"300","lineHeight":"0.8","letterSpacing":"-4px"},"elements":{"link":{"color":{"text":"var:preset|color|background"}}}},"textColor":"background"} /-->

<!-- wp:post-title {"isLink":true,"style":{"typography":{"textTransform":"uppercase","fontStyle":"normal","fontWeight":"300","lineHeight":"0.8","letterSpacing":"-4px","fontSize":"8.8rem"},"elements":{"link":{"color":{"text":"#e9e7e2b3"}}},"color":{"text":"#e9e7e2b3"}}} /-->

<!-- wp:post-title {"isLink":true,"style":{"typography":{"textTransform":"uppercase","fontStyle":"normal","fontWeight":"300","lineHeight":"0.8","letterSpacing":"-4px","fontSize":"8.8rem"},"elements":{"link":{"color":{"text":"#e9e7e2b3"}}},"color":{"text":"#e9e7e2b3"}}} /-->

<!-- wp:post-title {"isLink":true,"style":{"typography":{"textTransform":"uppercase","fontStyle":"normal","fontWeight":"300","lineHeight":"0.8","letterSpacing":"-4px","fontSize":"8.8rem"},"elements":{"link":{"color":{"text":"#e9e7e2b3"}}},"color":{"text":"#e9e7e2b3"}}} /--></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"10vh","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}}} -->
<div style="margin-top:0px;margin-bottom:0px;height:10vh" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div></div>
<!-- /wp:cover -->
<!-- /wp:post-template --></main>
<!-- /wp:query -->

<!-- wp:query {"queryId":0,"query":{"perPage":"1","pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":{"post_tag":[9]},"parents":[]},"tagName":"main","align":"full","layout":{"type":"constrained"}} -->
<main class="wp-block-query alignfull"><!-- wp:post-template {"align":"full"} -->
<!-- wp:cover {"useFeaturedImage":true,"hasParallax":true,"isRepeated":true,"dimRatio":0,"minHeight":100,"minHeightUnit":"vh","align":"full","style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"margin":{"top":"0px","bottom":"0px"},"blockGap":"0px"},"color":{"duotone":"unset"}},"layout":{"type":"default"}} -->
<div class="wp-block-cover alignfull has-parallax is-repeated" style="margin-top:0px;margin-bottom:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;min-height:100vh"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-0 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:group {"style":{"spacing":{"blockGap":"0.5rem"}},"layout":{"type":"flex","orientation":"vertical","flexWrap":"nowrap","justifyContent":"center"}} -->
<div class="wp-block-group"><!-- wp:post-title {"isLink":true,"style":{"typography":{"fontSize":"8.8rem","textTransform":"uppercase","fontStyle":"normal","fontWeight":"300","lineHeight":"0.8","letterSpacing":"-4px"},"elements":{"link":{"color":{"text":"var:preset|color|background"}}}},"textColor":"background"} /-->

<!-- wp:post-title {"isLink":true,"style":{"typography":{"textTransform":"uppercase","fontStyle":"normal","fontWeight":"300","lineHeight":"0.8","letterSpacing":"-4px","fontSize":"8.8rem"},"elements":{"link":{"color":{"text":"#e9e7e2b3"}}},"color":{"text":"#e9e7e2b3"}}} /-->

<!-- wp:post-title {"isLink":true,"style":{"typography":{"textTransform":"uppercase","fontStyle":"normal","fontWeight":"300","lineHeight":"0.8","letterSpacing":"-4px","fontSize":"8.8rem"},"elements":{"link":{"color":{"text":"#e9e7e2b3"}}},"color":{"text":"#e9e7e2b3"}}} /-->

<!-- wp:post-title {"isLink":true,"style":{"typography":{"textTransform":"uppercase","fontStyle":"normal","fontWeight":"300","lineHeight":"0.8","letterSpacing":"-4px","fontSize":"8.8rem"},"elements":{"link":{"color":{"text":"#e9e7e2b3"}}},"color":{"text":"#e9e7e2b3"}}} /--></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"10vh","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}}} -->
<div style="margin-top:0px;margin-bottom:0px;height:10vh" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div></div>
<!-- /wp:cover -->
<!-- /wp:post-template --></main>
<!-- /wp:query -->

<!-- wp:query {"queryId":0,"query":{"perPage":"1","pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":{"post_tag":[10]},"parents":[]},"tagName":"main","align":"full","layout":{"type":"constrained"}} -->
<main class="wp-block-query alignfull"><!-- wp:post-template {"align":"full"} -->
<!-- wp:cover {"useFeaturedImage":true,"hasParallax":true,"isRepeated":true,"dimRatio":0,"minHeight":100,"minHeightUnit":"vh","align":"full","style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"margin":{"top":"0px","bottom":"0px"},"blockGap":"0px"},"color":{"duotone":"unset"}},"layout":{"type":"default"}} -->
<div class="wp-block-cover alignfull has-parallax is-repeated" style="margin-top:0px;margin-bottom:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;min-height:100vh"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-0 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:group {"style":{"spacing":{"blockGap":"0.5rem"}},"layout":{"type":"flex","orientation":"vertical","flexWrap":"nowrap","justifyContent":"center"}} -->
<div class="wp-block-group"><!-- wp:post-title {"isLink":true,"style":{"typography":{"fontSize":"8.8rem","textTransform":"uppercase","fontStyle":"normal","fontWeight":"300","lineHeight":"0.8","letterSpacing":"-4px"},"elements":{"link":{"color":{"text":"var:preset|color|background"}}}},"textColor":"background"} /-->

<!-- wp:post-title {"isLink":true,"style":{"typography":{"textTransform":"uppercase","fontStyle":"normal","fontWeight":"300","lineHeight":"0.8","letterSpacing":"-4px","fontSize":"8.8rem"},"elements":{"link":{"color":{"text":"#e9e7e2b3"}}},"color":{"text":"#e9e7e2b3"}}} /-->

<!-- wp:post-title {"isLink":true,"style":{"typography":{"textTransform":"uppercase","fontStyle":"normal","fontWeight":"300","lineHeight":"0.8","letterSpacing":"-4px","fontSize":"8.8rem"},"elements":{"link":{"color":{"text":"#e9e7e2b3"}}},"color":{"text":"#e9e7e2b3"}}} /-->

<!-- wp:post-title {"isLink":true,"style":{"typography":{"textTransform":"uppercase","fontStyle":"normal","fontWeight":"300","lineHeight":"0.8","letterSpacing":"-4px","fontSize":"8.8rem"},"elements":{"link":{"color":{"text":"#e9e7e2b3"}}},"color":{"text":"#e9e7e2b3"}}} /--></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"10vh","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}}} -->
<div style="margin-top:0px;margin-bottom:0px;height:10vh" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div></div>
<!-- /wp:cover -->
<!-- /wp:post-template --></main>
<!-- /wp:query -->

<!-- wp:cover {"url":"<?php echo esc_url( get_stylesheet_directory_uri() ); ?>/assets/images/bg-basic.png","id":117,"isRepeated":true,"dimRatio":0,"minHeight":100,"minHeightUnit":"vh","isDark":false,"align":"full","style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"margin":{"top":"0px","bottom":"0px"},"blockGap":"0px"},"color":{"duotone":"unset"}},"layout":{"type":"default"}} -->
<div class="wp-block-cover alignfull is-light is-repeated" style="margin-top:0px;margin-bottom:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;min-height:100vh"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-0 has-background-dim"></span><div role="img" class="wp-block-cover__image-background wp-image-117 is-repeated" style="background-position:50% 50%;background-image:url(<?php echo esc_url( get_stylesheet_directory_uri() ); ?>/assets/images/bg-basic.png)"></div><div class="wp-block-cover__inner-container"><!-- wp:group {"align":"full","style":{"dimensions":{"minHeight":"92vh"},"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"margin":{"top":"0px","bottom":"0px"}}},"backgroundColor":"background","textColor":"primary","layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch","verticalAlignment":"space-between"}} -->
<div class="wp-block-group alignfull has-primary-color has-background-background-color has-text-color has-background" style="min-height:92vh;margin-top:0px;margin-bottom:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"><!-- wp:template-part {"slug":"header","theme":"jazzers","align":"full"} /-->

<!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"flex","orientation":"vertical","flexWrap":"nowrap","justifyContent":"center"}} -->
<div class="wp-block-group"><!-- wp:query {"queryId":28,"query":{"perPage":"12","pages":"0","offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false},"displayLayout":{"type":"list"}} -->
<div class="wp-block-query"><!-- wp:post-template -->
<!-- wp:post-title {"textAlign":"center","style":{"typography":{"fontSize":"6rem","textTransform":"uppercase","fontStyle":"normal","fontWeight":"300","lineHeight":"0.8","letterSpacing":"-4px"},"spacing":{"margin":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"padding":{"top":"0.1rem","right":"0.1rem","bottom":"0.1rem","left":"0.1rem"}}}} /-->
<!-- /wp:post-template -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"2rem","right":"2rem","bottom":"2rem","left":"2rem"},"blockGap":"1rem"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
<div class="wp-block-group" style="padding-top:2rem;padding-right:2rem;padding-bottom:2rem;padding-left:2rem"><!-- wp:query-pagination {"layout":{"type":"flex","justifyContent":"center"}} -->
<!-- wp:query-pagination-previous /-->

<!-- wp:query-pagination-numbers /-->

<!-- wp:query-pagination-next /-->
<!-- /wp:query-pagination -->

<!-- wp:query-no-results -->
<!-- wp:paragraph {"align":"center","placeholder":"Add text or blocks that will display when a query returns no results."} -->
<p class="has-text-align-center">No posts here yet, sorry.</p>
<!-- /wp:paragraph -->
<!-- /wp:query-no-results --></div>
<!-- /wp:group --></div>
<!-- /wp:query --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"jazzers"} /--></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover --></div>
<!-- /wp:group -->