.wp-block-gallery {

	&:not(.alignfull) {
		margin: 0 auto;
	}

	.blocks-gallery-image,
	.blocks-gallery-item {

		figcaption {
			margin: 0;
			// Text color is always white to account for default gradient background
			color: var(--global--color-white);
			font: var(--global--font-size-sm);
		}
	}

	// Apply max-width to floated items that have no intrinsic width.
	&.alignleft,
	&.alignright {
		max-width: 50%;
	}

	&.alignfull {
		.blocks-gallery-grid {
			width: 100%;
		}
	}
}
