.wp-block-tag-cloud a {
	border: 1px solid var(--wp--custom--color--foreground);
	border-radius: 5px;
	font-size: var(--wp--preset--font-size--normal) !important;
	margin-bottom: 10px;
	padding: 5px 10px;
}
