/*--------------------------------------------------------------
WP.com
--------------------------------------------------------------*/
/* Comments */
#comments #respond {
	padding: 0 0 20px;
	margin: 0;
	overflow: visible;
	font-family: inherit;
}
#comments #respond #commentform {
	width: 840px !important;
	background: transparent;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
@media screen and (min-width: 768px) and (max-width: 959px) {
	#comments #respond #commentform {
		width: 648px !important;
	}
}
@media screen and (max-width: 767px) {
	#comments #respond #commentform {
		width: 100% !important;
	}
}
#comments #respond .comment-reply-title {
	padding-bottom: 22px;
	margin-top: 0;
	margin-bottom: 40px;
}
#comments #respond .comment-reply-title small {
	float: none;
}
#comments #respond #comment-form-comment {
	padding: 0 !important;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
#comments #respond #comment-form-comment #comment {
	padding: 10px;
	background: #f1f2f3 !important;
	border: 1px solid #f1f2f3 !important;
}
@media screen and (max-width: 767px) {
	#comments #respond #comment-form-comment #comment {
		padding: 5px;
	}
}
#comments #respond #comment-form-comment #comment:focus {
	background: white !important;
}
#comments #respond .comment-form-padder {
	padding: 0;
}
#comments #respond .comment-form-service {
	background: white;
	border-bottom-color: #f1f2f3;
}
#comments #respond #comment-form-subscribe {
	padding: 0;
}
#comments #respond .form-submit {
	padding: 10px 0;
}
#comments #respond label {
	font-weight: normal;
}
#comments #respond #comment-submit {
	padding: 10px 20px !important;
	background: #464d4d !important;
	border: 1px solid #464d4d;
	color: white !important;
	font-family: inherit !important;
	font-size: 0.73rem !important;
	font-weight: 900 !important;
	line-height: 1.5 !important;
	text-shadow: none !important;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	-ms-border-radius: 0 !important;
	-o-border-radius: 0 !important;
	border-radius: 0 !important;
}
@media screen and (max-width: 767px) {
	#comments #respond #comment-submit {
		padding: 5px 10px !important;
	}
}
#comments #respond #comment-submit:hover, #comments #respond #comment-submit:focus, #comments #respond #comment-submit:active {
	background: #e06d5e !important;
}
#comments #respond #comment-submit:hover, #comments #respond #comment-submit:focus, #comments #respond #comment-submit:active {
	border-color: #e06d5e !important;
}
#comments .comment-list + #respond {
	padding-top: 81px;
	margin-top: 60px;
}
@media screen and (max-width: 767px) {
	#comments .comment-list + #respond {
		margin-top: 20px;
		padding-top: 41px;
	}
}
#comments .comment-list + #respond:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	z-index: 0;
	height: 1px;
	background: #f1f2f3;
	padding-left: 40px;
	padding-right: 40px;
	margin-left: -40px;
	width: 100%;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
@media screen and (max-width: 767px) {
	#comments .comment-list + #respond:before {
		padding-left: 20px;
		padding-right: 20px;
		margin-left: -20px;
	}
}

body.rtl #comments .comment-list + #respond:before {
	margin-right: -40px;
	margin-left: 0;
}
@media screen and (max-width: 767px) {
	body.rtl #comments .comment-list + #respond:before {
		margin-right: -20px;
		margin-left: 0;
	}
}

/* Sharedaddy */
.page-content > .sharedaddy .jetpack-likes-widget-wrapper,
.entry-content > .sharedaddy .jetpack-likes-widget-wrapper,
.entry-sharedaddy > .sharedaddy .jetpack-likes-widget-wrapper {
	padding: 20px 0;
	border-top: 1px solid #f1f2f3;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.page-content > .sharedaddy .jetpack-likes-widget-wrapper .post-likes-widget,
.entry-content > .sharedaddy .jetpack-likes-widget-wrapper .post-likes-widget,
.entry-sharedaddy > .sharedaddy .jetpack-likes-widget-wrapper .post-likes-widget {
	top: 15px !important;
}
.page-content > .sharedaddy .jp-relatedposts,
.entry-content > .sharedaddy .jp-relatedposts,
.entry-sharedaddy > .sharedaddy .jp-relatedposts {
	padding: 20px 0 0 !important;
	margin: 0 !important;
	border-top: 1px solid #f1f2f3;
}
.page-content > .sharedaddy .jp-relatedposts a,
.page-content > .sharedaddy .jp-relatedposts img,
.entry-content > .sharedaddy .jp-relatedposts a,
.entry-content > .sharedaddy .jp-relatedposts img,
.entry-sharedaddy > .sharedaddy .jp-relatedposts a,
.entry-sharedaddy > .sharedaddy .jp-relatedposts img {
	display: block;
}
.page-content > .sharedaddy .jp-relatedposts img,
.entry-content > .sharedaddy .jp-relatedposts img,
.entry-sharedaddy > .sharedaddy .jp-relatedposts img {
	margin-bottom: 10px;
}
.page-content > .sharedaddy .jp-relatedposts .jp-relatedposts-headline,
.entry-content > .sharedaddy .jp-relatedposts .jp-relatedposts-headline,
.entry-sharedaddy > .sharedaddy .jp-relatedposts .jp-relatedposts-headline {
	margin-bottom: 10px !important;
	font-size: 0.73em;
}
.page-content > .sharedaddy .jp-relatedposts .jp-relatedposts-headline em:before,
.entry-content > .sharedaddy .jp-relatedposts .jp-relatedposts-headline em:before,
.entry-sharedaddy > .sharedaddy .jp-relatedposts .jp-relatedposts-headline em:before {
	display: none !important;
}
.page-content > .sharedaddy .jp-relatedposts .jp-relatedposts-post,
.entry-content > .sharedaddy .jp-relatedposts .jp-relatedposts-post,
.entry-sharedaddy > .sharedaddy .jp-relatedposts .jp-relatedposts-post {
	margin-bottom: 20px !important;
	font-size: inherit !important;
	line-height: 1.5 !important;
	filter: alpha(opacity=100) !important;
	-moz-opacity: 1 !important;
	opacity: 1 !important;
}
.page-content > .sharedaddy .jp-relatedposts .jp-relatedposts-post span,
.entry-content > .sharedaddy .jp-relatedposts .jp-relatedposts-post span,
.entry-sharedaddy > .sharedaddy .jp-relatedposts .jp-relatedposts-post span {
	font-size: 0.73em;
}
.page-content > .sharedaddy .jp-relatedposts .jp-relatedposts-post .jp-relatedposts-post-context,
.entry-content > .sharedaddy .jp-relatedposts .jp-relatedposts-post .jp-relatedposts-post-context,
.entry-sharedaddy > .sharedaddy .jp-relatedposts .jp-relatedposts-post .jp-relatedposts-post-context {
	font-family: "PT Serif", serif;
	font-style: italic;
	filter: alpha(opacity=100) !important;
	-moz-opacity: 1 !important;
	opacity: 1 !important;
}
.page-content > .sharedaddy .jp-relatedposts .jp-relatedposts-post .jp-relatedposts-post-title,
.entry-content > .sharedaddy .jp-relatedposts .jp-relatedposts-post .jp-relatedposts-post-title,
.entry-sharedaddy > .sharedaddy .jp-relatedposts .jp-relatedposts-post .jp-relatedposts-post-title {
	text-transform: uppercase !important;
}
.page-content > .sharedaddy .sd-title:before,
.entry-content > .sharedaddy .sd-title:before,
.entry-sharedaddy > .sharedaddy .sd-title:before {
	display: none;
}

.portfolio-sharedaddy > .sharedaddy .jetpack-likes-widget-wrapper {
	padding: 20px 0;
	border-top: 1px solid #f1f2f3;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.portfolio-sharedaddy > .sharedaddy .jetpack-likes-widget-wrapper .post-likes-widget {
	top: 15px !important;
}
.portfolio-sharedaddy > .sharedaddy .sd-title:before {
	display: none;
}

/* Ratings */
.pd-rating {
	padding: 10px 20px;
	margin: 0 0 40px;
	background: #f1f2f3;
	font-size: 0.73em;
	line-height: 1;
	text-transform: uppercase;
}
.pd-rating + br {
	display: none;
}

.sd-rating {
	padding: 15px 0 20px 0;
	margin: 0;
	border-top: 1px solid #f1f2f3;
}
.sd-rating .pd-rating {
	padding: 0;
	margin: 0;
	background: transparent;
}

.entry-summary .sd-title {
	margin: 5px 0;
	font-size: 0.73em;
	line-height: 1.5;
}

.comment-body .pd-rating {
	padding: 20px 0;
	margin: 0;
	background: transparent;
}
.comment-body .comment-meta + .pd-rating {
	padding-top: 0;
}

/* Widget - About.me */
.aboutme_widget #am_thumbnail,
.aboutme_widget #am_name,
.aboutme_widget #am_headline,
.aboutme_widget #am_bio {
	margin: 0 0 10px;
}
.aboutme_widget #am_thumbnail a,
.aboutme_widget #am_thumbnail img {
	display: block;
}
.aboutme_widget #am_thumbnail img {
	max-width: 100%;
	border: none;
}
.aboutme_widget #am_name {
	text-transform: uppercase;
}
.aboutme_widget #am_name a {
	font-size: inherit !important;
	text-decoration: none;
}
.aboutme_widget #am_services {
	padding-bottom: 5px;
}
.aboutme_widget #am_services a,
.aboutme_widget #am_services img {
	display: inline-block;
	line-height: 0;
}
.aboutme_widget #am_services a.am_service_icon img {
	margin-bottom: 5px;
}

/* Widget - Akismet */
.widget_akismet_widget .a-stats {
	padding-bottom: 20px;
}
.widget_akismet_widget .a-stats a {
	padding: 10px 20px;
	background: #24282d;
	border-color: #24282d;
	color: white;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	-webkit-transition: all 250ms ease;
	-moz-transition: all 250ms ease;
	-o-transition: all 250ms ease;
	transition: all 250ms ease;
}
.widget_akismet_widget .a-stats a:hover, .widget_akismet_widget .a-stats a:focus, .widget_akismet_widget .a-stats a:active {
	background: white;
}
.widget_akismet_widget .a-stats a:hover, .widget_akismet_widget .a-stats a:focus, .widget_akismet_widget .a-stats a:active {
	border-color: white;
}
.widget_akismet_widget .a-stats a:hover, .widget_akismet_widget .a-stats a:focus, .widget_akismet_widget .a-stats a:active {
	color: #e06d5e;
}
.widget_akismet_widget .a-stats a .count {
	color: inherit;
}

/* Widget - Author Grid */
.widgets-area .widget_author_grid ul {
	margin-top: -10px;
	margin-bottom: 10px;
}
.widgets-area .widget_author_grid ul li {
	padding: 10px !important;
	margin: 0 !important;
}
.widgets-area .widget_author_grid ul li a {
	margin: 0;
}
.widgets-area .widget_author_grid ul li img {
	display: block;
}

/* Widget - Authors */
.widget_authors a {
	text-decoration: none;
}
.widget_authors img {
	margin-right: 15px;
	vertical-align: middle;
}

body.rtl .widget_authors img {
	margin-right: 0;
	margin-left: 15px;
}

/* Widget - Blog Stats */
.widget_blog-stats ul {
	padding: 5px 10px;
	border: 1px solid #525a5a;
	list-style: none;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

/* Widget - Contact Info */
.widget_contact_info #contact-map,
.widget_contact_info .confit-address,
.widget_contact_info .confit-phone,
.widget_contact_info .confit-hours {
	margin-bottom: 20px;
}
.widget_contact_info #contact-map + * {
	padding-top: 20px;
	border-top: 2px solid #24282d;
}

/* Widget - Flickr */
.widget_flickr table {
	margin: 0;
	border: 0;
}
.widget_flickr td {
	padding: 0;
	border: 0;
}
.widget_flickr #flickr_badge_wrapper {
	padding-bottom: 20px;
	background: transparent;
	border: 0;
}
.widget_flickr #flickr_badge_wrapper td {
	text-align: center;
}
.widget_flickr br {
	display: none;
}
.widget_flickr #flickr_badge_uber_wrapper a:not(:last-of-type) {
	display: block;
	float: left;
	padding: 10px;
	margin: 0;
	max-width: 33.33333333333333%;
}
.widget_flickr #flickr_badge_uber_wrapper a:not(:last-of-type) img {
	display: block;
}
.widget_flickr #flickr_badge_uber_wrapper a:last-of-type {
	display: inline-block;
	clear: both;
	padding: 5px 10px;
	margin: 10px auto 0 auto;
	border: 1px solid #525a5a;
	color: white !important;
	-webkit-transition: all 250ms ease;
	-moz-transition: all 250ms ease;
	-o-transition: all 250ms ease;
	transition: all 250ms ease;
}
.widget_flickr #flickr_badge_uber_wrapper a:last-of-type:hover, .widget_flickr #flickr_badge_uber_wrapper a:last-of-type:focus, .widget_flickr #flickr_badge_uber_wrapper a:last-of-type:active {
	background: #525a5a !important;
}
.widget_flickr #flickr_badge_uber_wrapper a:last-of-type:hover, .widget_flickr #flickr_badge_uber_wrapper a:last-of-type:focus, .widget_flickr #flickr_badge_uber_wrapper a:last-of-type:active {
	color: #24282d;
}

body.rtl .widget_flickr #flickr_badge_uber_wrapper a:not(:last-of-type) {
	float: right;
}

/* Widget - GoodReads */
.widget_goodreads div[class^="gr_custom_container"] {
	padding: 0 0 20px;
	background: transparent;
	border: none;
	color: inherit;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
}
.widget_goodreads div[class^="gr_custom_container"] a {
	color: #acb3b3;
}
.widget_goodreads div[class^="gr_custom_container"] a:hover, .widget_goodreads div[class^="gr_custom_container"] a:focus, .widget_goodreads div[class^="gr_custom_container"] a:active {
	color: #e06d5e;
}
.widget_goodreads div[class^="gr_custom_each_container"] {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom-color: #525a5a;
}
.widget_goodreads div[class^="gr_custom_each_container"]:last-of-type {
	border-bottom: 0;
}
.widget_goodreads div[class^="gr_custom_each_container"] + br {
	display: none;
}
.widget_goodreads div[class^="gr_custom_author"] {
	font-family: "PT Serif", serif;
	font-size: 1em;
	font-style: italic;
}
.widget_goodreads div[class^="gr_custom_author"] a {
	text-decoration: none;
}

/* Widget - Gravatar */
.widget_gravatar p:first-of-type img {
	display: block;
}

/* Widget - Grid */
.widget .widgets-multi-column-grid {
	margin-top: -10px;
	margin-bottom: 10px;
}
.widget .widgets-multi-column-grid ul li {
	padding: 10px;
	margin: 0;
	max-width: 20%;
}
.widget .widgets-multi-column-grid ul li a {
	margin: 0;
}
.widget .widgets-multi-column-grid ul li img {
	display: block;
}

/* Widget - Instagram */
.widget_wpcom_instagram_widget a,
.widget_wpcom_instagram_widget img {
	display: block;
}
.widget_wpcom_instagram_widget > div {
	margin-bottom: 20px;
}

/* Widget - Lists */
.widget_authors ul,
.widget_jp_blogs_i_follow ul,
.widget_links ul,
.widget_jetpack_posts_i_like ul,
.widget.top_rated ul,
.widget_upcoming_events_widget ul {
	list-style: none;
}
.widget_authors li,
.widget_jp_blogs_i_follow li,
.widget_links li,
.widget_jetpack_posts_i_like li,
.widget.top_rated li,
.widget_upcoming_events_widget li {
	padding: 10px 0;
	border-bottom: 1px solid #525a5a;
}
.widget_authors li:first-child,
.widget_jp_blogs_i_follow li:first-child,
.widget_links li:first-child,
.widget_jetpack_posts_i_like li:first-child,
.widget.top_rated li:first-child,
.widget_upcoming_events_widget li:first-child {
	padding-top: 0;
}
.widget_authors li:last-child,
.widget_jp_blogs_i_follow li:last-child,
.widget_links li:last-child,
.widget_jetpack_posts_i_like li:last-child,
.widget.top_rated li:last-child,
.widget_upcoming_events_widget li:last-child {
	padding-bottom: 0;
	border-bottom: 0;
}

.widget_links .children {
	position: relative;
	padding-top: 10px;
	margin-top: 10px;
	border-top: 1px solid #525a5a;
}
.widget_links .children:before {
	content: '';
	display: block;
	position: absolute;
	top: -1px;
	left: -40px;
	width: 100%;
	height: 1px;
	background: #525a5a;
}
@media screen and (max-width: 767px) {
	.widget_links .children:before {
		left: -20px;
	}
}

body.rtl .widget_links .children:before {
	right: -40px;
	left: auto;
}
@media screen and (max-width: 767px) {
	body.rtl .widget_links .children:before {
		right: -40px;
		left: auto;
	}
}

/* Widget - Milestone */
.milestone-widget .milestone-header {
	background: #525a5a;
}
.milestone-widget .milestone-countdown,
.milestone-widget .milestone-message {
	background: transparent;
	border-color: #525a5a;
	color: white;
}
.milestone-widget .milestone-content {
	margin: 0 0 20px;
	max-width: 100%;
}

/* Widget - Music Player */
.widget.music-player .wp-playlist {
	padding: 20px;
	margin: 0 0 20px;
	background: transparent;
	border-color: #525a5a;
	color: inherit;
	font-size: inherit;
	line-height: inherit;
}
.widget.music-player .wp-playlist .wp-playlist-current-item {
	margin-bottom: 20px;
	height: auto;
	max-height: 60px;
}
.widget.music-player .wp-playlist .wp-playlist-tracks {
	margin-top: 15px;
	margin-bottom: -5px;
	border: 0;
}
.widget.music-player .wp-playlist .wp-playlist-playing {
	background: transparent;
	color: inherit;
}
.widget.music-player .wp-playlist .wp-playlist-item {
	padding: 5px;
	border: 0;
}
.widget.music-player .wp-playlist .mejs-container {
	width: 100% !important;
}

/* Widget - Posts I Like */
.widget_jetpack_posts_i_like ul {
	margin-bottom: 20px;
}

/* Widget - Recent Comments */
.widget_recent_comments table {
	border-top: 0;
}
.widget_recent_comments td {
	padding: 10px 0 !important;
	vertical-align: middle;
}
.widget_recent_comments td:nth-of-type(2n) {
	padding-left: 20px !important;
}
.widget_recent_comments td.recentcommentstexttop, .widget_recent_comments td.recentcommentstextend {
	border-bottom: 1px solid #525a5a !important;
}
.widget_recent_comments td.recentcommentsavatartop img,
.widget_recent_comments td.recentcommentsavatartop a, .widget_recent_comments td.recentcommentsavatarend img,
.widget_recent_comments td.recentcommentsavatarend a {
	display: block;
}
.widget_recent_comments tr:first-of-type td {
	padding-top: 0 !important;
}
.widget_recent_comments tr:last-of-type td {
	padding-bottom: 0 !important;
	border-bottom: 0 !important;
}

/* Widget - Recent Images */
.widget_recent_images a,
.widget_recent_images img {
	display: block;
}
.widget_recent_images a {
	float: left;
	padding: 10px;
	max-width: 25%;
}
.widget_recent_images .recent_images {
	margin: -10px 0 10px 0;
}

body.rtl .widget_recent_images a {
	float: right;
}

/* Widget - Tag Cloud */
.wp_widget_tag_cloud {
	padding-bottom: 15px;
}
.wp_widget_tag_cloud a {
	display: inline-block;
	float: left;
	padding: 5px 10px !important;
	margin: 0 5px 5px 0 !important;
	background: #24282d;
	color: white;
	font-size: inherit !important;
	text-decoration: none;
	-webkit-transition: all 250ms ease;
	-moz-transition: all 250ms ease;
	-o-transition: all 250ms ease;
	transition: all 250ms ease;
}
.wp_widget_tag_cloud a:hover, .wp_widget_tag_cloud a:focus, .wp_widget_tag_cloud a:active {
	background: white;
}
.wp_widget_tag_cloud a:hover, .wp_widget_tag_cloud a:focus, .wp_widget_tag_cloud a:active {
	color: #e06d5e;
}
.wp_widget_tag_cloud > div {
	margin-bottom: 20px;
}
.wp_widget_tag_cloud > div:before, .wp_widget_tag_cloud > div:after {
	content: '';
	display: table;
}
.wp_widget_tag_cloud > div:after {
	clear: both;
}

body.rtl .wp_widget_tag_cloud a {
	float: right;
}

/* Widget - Top Rated */
.widget.top_rated ul {
	padding: 20px;
	border: 1px solid #525a5a;
}
.widget.top_rated .pd_top_rated_holder_posts > p {
	padding: 20px;
	margin: 0;
	border: 1px solid #525a5a;
	border-bottom: 0;
}
.widget.top_rated .pd_top_rated_holder_posts > p:first-of-type {
	background: #525a5a;
}

/* Widget - Upcoming Events */
.widget_upcoming_events_widget .upcoming-events li {
	margin-bottom: 0;
}

/* WPStats */
img#wpstats {
	position: absolute;
	top: -9999px;
}

/* Ad */
.entry-content .wpa {
	display: block;
}
