<!-- wp:group {"style":{"border":{"top":{"color":"var:preset|color|secondary","style":"solid","width":"10px"}},"position":{"type":"sticky","top":"0px"}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="border-top-color:var(--wp--preset--color--secondary);border-top-style:solid;border-top-width:10px"><!-- wp:template-part {"slug":"header","tagName":"header"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"60px","right":"40px","left":"40px"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:60px;padding-right:40px;padding-left:40px"><!-- wp:pattern {"slug":"awburn/hidden-no-results-content"} /-->

<!-- wp:search {"showLabel":false,"buttonPosition":"button-inside","buttonUseIcon":true,"style":{"border":{"radius":"2px","top":{"color":"#dfdfdf","style":"solid","width":"1px"},"right":{"color":"#dfdfdf","style":"solid","width":"1px"},"bottom":{"color":"#dfdfdf","style":"solid","width":"1px"},"left":{"color":"#dfdfdf","style":"solid","width":"1px"}}},"backgroundColor":"primary","textColor":"background"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
