<!-- wp:group {"style":{"border":{"top":{"color":"var:preset|color|secondary","style":"solid","width":"10px"}},"position":{"type":"sticky","top":"0px"}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="border-top-color:var(--wp--preset--color--secondary);border-top-style:solid;border-top-width:10px"><!-- wp:template-part {"slug":"header"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"0px","left":"0px"},"blockGap":"0px"}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="padding-right:0px;padding-left:0px"><!-- wp:post-content {"align":"full","layout":{"type":"constrained","wideSize":"1200px"}} /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->