.post-meta {
	display: flex;

	.wp-block-post-author,
	.wp-block-post-date,
	.wp-block-post-hierarchical-terms {
		display: flex;
		margin-right: calc(2 * var(--wp--custom--margin--baseline) );
	}

	.wp-block-post-author:before,
	.wp-block-post-date:before,
	.wp-block-post-hierarchical-terms:before {
		align-self: center;
		content: '';
		display: inline-block;
		margin-right: calc(0.5 * var(--wp--custom--margin--baseline) );
		height: 16px;
		width: 16px;
	}

	.wp-block-post-author:before {
		background: url(svg/post-author.svg) no-repeat;
	}

	.wp-block-post-date:before {
		background: url(svg/post-date.svg) no-repeat;
	}

	.wp-block-post-hierarchical-terms:before {
		background: url(svg/post-category.svg) no-repeat;
	}
}
