<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:query {"tagName":"main","layout":{"inherit":true}} -->
<main class="wp-block-query">
<!-- wp:query-title {"type":"archive","style":{"spacing":{"margin":{"bottom":"60px"}}}} /-->
<!-- wp:post-template -->
<!-- wp:template-part {"slug":"query"} /-->
<!-- /wp:post-template -->
<!-- wp:template-part {"slug":"pagination"} /-->
</main>
<!-- /wp:query -->

<!-- wp:template-part {"area":"footer","slug":"footer","tagName":"footer","className":"site-footer-container"} /-->
