<!-- wp:group {"style":{"position":{"type":"sticky","top":"0px"}},"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:template-part {"slug":"header","tagName":"header"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","lock":{"move":false,"remove":true},"metadata":{"name":"Title and Featured Image"},"style":{"spacing":{"padding":{"top":"10vh","bottom":"0vh","right":"5vw","left":"5vw"},"blockGap":"2rem"}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:10vh;padding-right:5vw;padding-bottom:0vh;padding-left:5vw"><!-- wp:post-featured-image {"aspectRatio":"3/2","width":"","align":"center"} /-->

<!-- wp:post-title {"textAlign":"left"} /--></main>
<!-- /wp:group -->

<!-- wp:group {"lock":{"move":false,"remove":true},"metadata":{"name":"Post Content"},"align":"full","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull"><!-- wp:group {"align":"full","style":{"spacing":{"padding":{"right":"5vw","left":"5vw"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group alignfull" style="padding-right:5vw;padding-left:5vw"><!-- wp:post-content {"lock":{"move":true,"remove":true},"align":"full","style":{"typography":{"textTransform":"none"}},"layout":{"type":"constrained"}} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->