// Text selection text color
::selection {
	color: var(--wp--preset--color--background);
	background-color: var(--wp--preset--color--primary);
}

p {
	margin-top: calc( 0.5 * var(--wp--custom--gap--vertical) );
	margin-bottom: calc( 0.5 * var(--wp--custom--gap--vertical) );
}
