// Text selection text color
::selection {
	color: var(--wp--preset--color--background);
}

p {
	margin-top: calc( 0.5 * var(--wp--custom--margin--vertical) );
	margin-bottom: calc( 0.5 * var(--wp--custom--margin--vertical) );
} 