// Text selection text color
::selection {
	color: var(--wp--preset--color--background);
}

p {
	margin-top: calc( 0.5 * var(--wp--custom--margin--vertical) );
	margin-bottom: calc( 0.5 * var(--wp--custom--margin--vertical) );
}

.wp-block-post-content {
	p:first-of-type {
		text-indent: 15%;
	}
}

.wp-block-post-author__content,
.wp-block-post-comments,
.wp-block-quote {
	p:first-of-type {
		text-indent: 0;
	}
}
