<!-- wp:template-part {"slug":"header-lean"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"5vh","bottom":"15vh"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:5vh;padding-bottom:15vh"><!-- wp:group {"tagName":"main","lock":{"move":false,"remove":false},"align":"wide","style":{"spacing":{"blockGap":"5vh"}}} -->
<main class="wp-block-group alignwide"><!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"2.5vh"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide"><!-- wp:post-title {"textAlign":"center","level":1,"align":"wide"} /-->

<!-- wp:template-part {"slug":"post-meta"} /--></div>
<!-- /wp:group -->

<!-- wp:post-featured-image {"aspectRatio":"4/3","align":"wide"} /-->

<!-- wp:post-content {"lock":{"move":false,"remove":true},"layout":{"type":"constrained"}} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"comments","area":"uncategorized"} /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->