<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|80"}}},"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group" style="margin-top:var(--wp--preset--spacing--80);margin-bottom:var(--wp--preset--spacing--80)"><!-- wp:post-title {"textAlign":"left","fontSize":"x-large"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","lock":{"move":false,"remove":true},"layout":{"type":"constrained"}} -->
<main class="wp-block-group"><!-- wp:post-featured-image {"align":"full","style":{"spacing":{"margin":{"top":"var:preset|spacing|80","right":"0","bottom":"var:preset|spacing|80","left":"0"}}}} /-->

<!-- wp:post-content {"lock":{"move":false,"remove":true},"layout":{"inherit":true},"style":{"dimensions":{"minHeight":"700px"}}} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->