<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:query {"queryId":0,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true,"taxQuery":null,"parents":[]},"tagName":"main","displayLayout":{"type":"flex","columns":3},"layout":{"type":"constrained","wideSize":"1200px"}} -->
<main class="wp-block-query">
<!-- wp:query-title {"type":"search","style":{"spacing":{"padding":{"bottom":"0px","top":"40px"}}},"textColor":"primary"} /-->
<!-- wp:search {"showLabel":false,"buttonPosition":"button-inside","buttonUseIcon":true,"style":{"border":{"radius":"2px","top":{"color":"#dfdfdf","style":"solid","width":"1px"},"right":{"color":"#dfdfdf","style":"solid","width":"1px"},"bottom":{"color":"#dfdfdf","style":"solid","width":"1px"},"left":{"color":"#dfdfdf","style":"solid","width":"1px"}}},"backgroundColor":"primary","textColor":"background"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"20px"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="padding-top:20px"><!-- wp:post-template {"layout":{"type":"grid","columnCount":3}} -->
<!-- wp:group -->
<div class="wp-block-group"><!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:group {"style":{"border":{"radius":"4px","top":{"style":"none","width":"0px"},"right":{"style":"none","width":"0px"},"bottom":{"style":"none","width":"0px"},"left":{"style":"none","width":"0px"}},"color":{"background":"#ecf1fe"}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
<div class="wp-block-group has-background" style="border-radius:4px;border-top-style:none;border-top-width:0px;border-right-style:none;border-right-width:0px;border-bottom-style:none;border-bottom-width:0px;border-left-style:none;border-left-width:0px;background-color:#ecf1fe"><!-- wp:post-terms {"term":"category","textAlign":"center","separator":"  ","style":{"layout":{"selfStretch":"fill"},"spacing":{"padding":{"top":"6px","right":"6px","bottom":"6px","left":"6px"}},"typography":{"textTransform":"uppercase","fontSize":"0.7rem","letterSpacing":"0.04rem"}}} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:post-title {"isLink":true,"style":{"typography":{"fontStyle":"normal","fontWeight":"500","letterSpacing":"-0.04rem"}},"fontFamily":"literata"} /-->

<!-- wp:post-featured-image {"isLink":true,"aspectRatio":"3/2"} /-->

<!-- wp:post-excerpt {"showMoreOnNewLine":false,"excerptLength":50,"style":{"typography":{"lineHeight":1.5}},"fontSize":"small"} /-->

<!-- wp:post-date /-->

<!-- wp:spacer {"height":"40px"} -->
<div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"wide","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide"><!-- wp:query-pagination {"align":"wide","layout":{"type":"flex","justifyContent":"space-between"}} -->
<!-- wp:query-pagination-previous /-->

<!-- wp:query-pagination-numbers /-->

<!-- wp:query-pagination-next /-->
<!-- /wp:query-pagination --></div>
<!-- /wp:group -->

<!-- wp:query-no-results -->
<!-- wp:pattern {"slug":"creatio/hidden-no-results-content"} /-->
<!-- /wp:query-no-results --></main>
<!-- /wp:query -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->