/*
Theme Name: Kingsley
Theme URI: https://wordpress.com/theme/kingsley
Author: Automattic
Author URI: https://automattic.com/
Description: Kingsley is a minimalist theme, designed for single-page websites.
Requires at least: 5.8
Tested up to: 5.8
Requires PHP: 5.7
Version: 1.0.2
License: GNU General Public License v2 or later
License URI: https://raw.githubusercontent.com/Automattic/themes/trunk/LICENSE
Template: blockbase
Text Domain: kingsley
Tags: one-column, custom-colors, custom-menu, custom-logo, editor-style, featured-images, full-site-editing, rtl-language-support, theme-options, threaded-comments, translation-ready, wide-blocks, auto-loading-homepage

Kingsley WordPress Theme, (C) 2021 Automattic, Inc.
Kingsley is distributed under the terms of the GNU GPL.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

Kingsley uses the following third-party resources:

Free Curve to the Point: Accompanying Sound of Geometric Curves (1925) print in high resolution by Wassily Kandinsky.
Source: https://www.rawpixel.com/image/2968487/free-illustration-image-kandinsky-abstract-black-and-white
Included in theme screenshot and demo site.
*/