<!-- wp:template-part {"slug":"minimal","area":"header"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:group {"align":"wide","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide"><!-- wp:post-featured-image {"align":"wide","style":{"border":{"width":"1px","radius":"2px"}},"borderColor":"tertiary"} /-->

<!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"1rem","margin":{"top":"3rem","bottom":"3rem"}}},"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group alignwide" style="margin-top:3rem;margin-bottom:3rem"><!-- wp:post-content /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->