<!-- wp:template-part {"slug":"header-pages"} /-->

<!-- wp:group {"tagName":"main","lock":{"move":false,"remove":false},"style":{"spacing":{"padding":{"bottom":"10vh","top":"5vh"}}}} -->
<main class="wp-block-group" style="padding-top:5vh;padding-bottom:10vh"><!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"5vh"}},"layout":{"type":"default"}} -->
<div class="wp-block-group alignwide"><!-- wp:post-title {"style":{"typography":{"fontSize":"0.75rem","textTransform":"uppercase","letterSpacing":"0.05rem"},"elements":{"link":{"color":{"text":"var:preset|color|primary"}}}},"textColor":"primary","fontFamily":"inter-tight"} /-->

<!-- wp:post-content {"lock":{"move":false,"remove":false},"align":"wide","layout":{"type":"default"}} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"blockGap":"0rem","padding":{"top":"10vh","bottom":"10vh"}}},"backgroundColor":"tertiary","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-tertiary-background-color has-background" style="padding-top:10vh;padding-bottom:10vh"><!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"5vh"},"elements":{"link":{"color":{"text":"var:preset|color|primary"}}}},"textColor":"primary","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide has-primary-color has-text-color has-link-color"><!-- wp:group {"align":"wide","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group alignwide"><!-- wp:heading {"align":"wide","style":{"typography":{"textTransform":"uppercase","fontSize":"0.75rem","letterSpacing":"0.05rem","fontStyle":"normal","fontWeight":"700"},"elements":{"link":{"color":{"text":"var:preset|color|primary"}}}},"textColor":"primary","fontFamily":"inter-tight"} -->
<h2 class="wp-block-heading alignwide has-primary-color has-text-color has-link-color has-inter-tight-font-family" style="font-size:0.75rem;font-style:normal;font-weight:700;letter-spacing:0.05rem;text-transform:uppercase">News</h2>
<!-- /wp:heading -->

<!-- wp:group {"style":{"spacing":{"blockGap":"0.5rem"}},"layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"center"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"style":{"typography":{"textTransform":"uppercase","fontSize":"0.75rem","letterSpacing":"0.05rem","fontStyle":"normal","fontWeight":"700","textDecoration":"none"}},"fontFamily":"inter-tight"} -->
<p class="has-inter-tight-font-family" style="font-size:0.75rem;font-style:normal;font-weight:700;letter-spacing:0.05rem;text-decoration:none;text-transform:uppercase"><a href="https://conference.mystagingwebsite.com/sponsors/" data-type="page" data-id="9">View all</a></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"style":{"typography":{"textTransform":"uppercase","fontSize":"0.75rem","letterSpacing":"0.05rem","fontStyle":"normal","fontWeight":"700","textDecoration":"none"}},"fontFamily":"inter-tight"} -->
<p class="has-inter-tight-font-family" style="font-size:0.75rem;font-style:normal;font-weight:700;letter-spacing:0.05rem;text-decoration:none;text-transform:uppercase"><a href="https://conference.mystagingwebsite.com/sponsors/" data-type="page" data-id="9">↗</a></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:query {"queryId":0,"query":{"perPage":"3","pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[]},"tagName":"main","enhancedPagination":true,"align":"wide","layout":{"type":"constrained"}} -->
<main class="wp-block-query alignwide"><!-- wp:post-template {"align":"wide","style":{"spacing":{"blockGap":"1rem"}},"layout":{"type":"grid","columnCount":3}} -->
<!-- wp:group {"style":{"spacing":{"blockGap":"1rem","padding":{"right":"1.5rem"}}},"layout":{"type":"flex","orientation":"vertical","verticalAlignment":"top"}} -->
<div class="wp-block-group" style="padding-right:1.5rem"><!-- wp:post-date {"style":{"elements":{"link":{"color":{"text":"var:preset|color|primary"}}}},"textColor":"primary"} /-->

<!-- wp:post-title {"isLink":true,"style":{"typography":{"fontSize":"1.5rem"}}} /--></div>
<!-- /wp:group -->
<!-- /wp:post-template --></main>
<!-- /wp:query --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-pages","align":"full"} /--></div>
<!-- /wp:group -->