<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"left":"var:preset|spacing|70","right":"var:preset|spacing|70"}}},"layout":{"type":"constrained","justifyContent":"left"}} -->
<main class="wp-block-group" style="padding-left:var(--wp--preset--spacing--70);padding-right:var(--wp--preset--spacing--70)">
	<!-- wp:pattern {"slug":"azur/404"} /-->

	<!-- wp:pattern {"slug":"azur/search"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
