<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"left":"var:preset|spacing|70","right":"var:preset|spacing|70"}}},"layout":{"type":"constrained","justifyContent":"left"}} -->
<main class="wp-block-group" style="padding-left:var(--wp--preset--spacing--70);padding-right:var(--wp--preset--spacing--70)">
	<!-- wp:post-title {"style":{"typography":{"fontSize":"0.8rem","fontStyle":"normal","fontWeight":"500"}}} /-->

	<!-- wp:post-featured-image /-->

	<!-- wp:post-content /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
