<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"left":"var:preset|spacing|70","right":"var:preset|spacing|70"}}},"layout":{"type":"constrained","justifyContent":"left"}} -->
<main class="wp-block-group" style="padding-left:var(--wp--preset--spacing--70);padding-right:var(--wp--preset--spacing--70)">
	<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|30"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
	<div class="wp-block-group">
		<!-- wp:post-title {"style":{"typography":{"fontSize":"0.8rem","fontStyle":"normal","fontWeight":"500"}}} /-->

		<!-- wp:paragraph {"style":{"typography":{"fontSize":"0.8rem","fontStyle":"normal","fontWeight":"500"}}} -->
		<p style="font-size:0.8rem;font-style:normal;font-weight:500">●</p>
		<!-- /wp:paragraph -->

		<!-- wp:post-date /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:post-content /-->

	<!-- wp:post-terms {"term":"post_tag","style":{"typography":{"fontStyle":"normal","fontWeight":"700","textTransform":"uppercase","fontSize":"3rem"},"spacing":{"margin":{"top":"var:preset|spacing|30"}}}} /-->

	<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|50"}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
	<div class="wp-block-group">
		<!-- wp:post-navigation-link {"type":"previous","arrow":"arrow"} /-->

		<!-- wp:post-navigation-link {"arrow":"arrow"} /-->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
