/*--------------------------------------------------------------
## Gutenberg Styles
--------------------------------------------------------------*/

/* Dropcaps */
p.has-drop-cap:first-letter {
	font-family: Lora, Baskerville, Georgia, Times, serif;
	font-size: 64px;
}

/* Images */
.wp-block-image {
	margin-bottom: 1.6em;
}

.wp-block-image figcaption {
	font-size: 13.2px;
	font-style: italic;
	margin-bottom: 1.6em;
	max-width: 100%;
}

/* Galleries */
.wp-block-gallery {
	margin-bottom: 1.6em;
	margin-left: auto;
}

/* Blockquotes */
.wp-block-quote {
	color: #99908a;
	font-size: 18px;
	font-size: 1.125rem;
	font-style: italic;
	margin: 0;
	border-top: 3px solid #e8e9ea;
	padding-top: .8em;
	border-bottom: 1px solid #e8e9ea;
	margin-bottom: .8em;
	padding-bottom: .8em;
}

.wp-block-quote.is-large,
.wp-block-quote.is-style-large {
	font-size: 26px;
	padding: .8em 0;
}

.wp-block-quote p:last-of-type {
	margin-bottom: 1.6em;
}

.wp-block-quote cite {
	display: block;
	text-align: right;
	font-style: normal;
	font-size: 16px;
}

.wp-block-quote.aligncenter {
	text-align: center;
}

/* Cover Images */
.wp-block-cover-image {
	display: flex;
	margin-bottom: 1.6em;
}

/* Video */
.wp-block-video {
	margin-bottom: 1.6em;
}
.wp-block-video.alignleft,
.wp-block-video.alignright {
	max-width: 360px;
}
.wp-block-video video {
	display: block;
	width: 100%;
	margin: auto;
}

/* Audio */
.wp-block-audio {
	margin-bottom: 1.6em;
}
.wp-block-audio.alignleft,
.wp-block-audio.alignright {
	max-width: 360px;
}
.wp-block-audio audio {
	display: block;
	width: 100%;
	margin: auto;
}

/* Pullquotes */

.wp-block-pullquote {
	padding: 0;
}

.wp-block-pullquote blockquote {
	color: #99908a;
	font-size: 18px;
	font-style: italic;
	margin: 0;
	border-top: 3px solid #e8e9ea;
	padding-top: .8em;
	border-bottom: 1px solid #e8e9ea;
	margin-bottom: .8em;
	padding-bottom: .8em;
}

.wp-block-pullquote blockquote,
.wp-block-pullquote.alignleft,
.wp-block-pullquote.alignright {
	color: #99908a;
	font-size: 18px;
	margin: 0 0 1.6em;
}

.wp-block-pullquote blockquote > p:last-of-type {
	margin-bottom: 1.6em;
}

.wp-block-pullquote blockquote cite {
	color: #99908a;
	display: block;
	text-transform: uppercase;
	font-size: 14px;
}

.wp-block-pullquote.alignleft,
.wp-block-pullquote.alignright {
	max-width: 320px;
	padding-bottom: 1.6em;
	padding-top: .8em;
}

/* Categories & Archives */
.wp-block-categories-list,
.wp-block-archives {
	margin-left: 3.2em;
}

/* Tables */
.wp-block-table {
	display: table;
}

.wp-block-table.alignleft,
.wp-block-table.alignright {
	max-width: 50%;
}

/* Preformatted */
.wp-block-preformatted {
	background: #e8e9ea;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 13.2px;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

/* Code */
.wp-block-code {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 13.2px;
}

/* Verse */
pre.wp-block-verse {
	background: transparent;
	font-family: inherit;
	font-size: 18px;
	line-height: inherit;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 0;
	padding-left: 1.6em;
}
.wp-block-verse.aligncenter {
	text-align: center;
}

.wp-block-verse.alignleft {
	text-align: left;
}

.wp-block-verse.alignright {
	text-align: right;
}

/* Separator */
.wp-block-separator {
	background-color: #e8e9ea;
	border: 0;
	height: 1px;
	margin: 0.8em auto;
	max-width: 66%;
}
.wp-block-separator.is-style-wide {
	max-width: 100%;
}

/* Buttons */
.wp-block-button .wp-block-button__link {
	border-radius: 0;
	display: inline-block;
	font-size: 13.2px;
	font-family: Raleway, "Helvetica Neue", sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	line-height: 1;
	transition: 0.3s;
	text-decoration: none;
}

.wp-block-button__link:not(.has-text-color),
.wp-block-button__link:not(.has-text-color):active,
.wp-block-button__link:not(.has-text-color):focus,
.wp-block-button__link:not(.has-text-color):hover {
	color: white;
}

.wp-block-button__link:not(.has-background) {
	background-color: #99908a;
	outline: 4px solid #99908a;
	border: 2px solid white;
	position: relative;
	left: 4px;
}

.wp-block-button__link:not(.has-background):active,
.wp-block-button__link:not(.has-background):focus,
.wp-block-button__link:not(.has-background):hover {
	outline-color: #5e5853;
	background-color: #5e5853;
}

/* Text Columns */
.wp-block-columns {
	justify-content: space-between;
}
.wp-block-column {
	flex: initial;
}
.wp-block-columns.has-2-columns .wp-block-column {
	width: 47%;
}
.wp-block-columns.has-3-columns .wp-block-column {
	width: 30%;
}
.wp-block-columns.has-4-columns .wp-block-column {
	width: 23%;
}

/* Latest Posts */

.wp-block-latest-posts.is-grid {
	margin: 0 0 1.6em;
}

/* Latest Comments */

ol.wp-block-latest-comments {
	margin: 0;
}

/* Media queries */

@media screen and ( min-width: 46em ) {
	h1 {
		font-size: 47.12px;
	}

	h2 {
		font-size: 42px;
	}

	h3 {
		font-size: 29.2px;
	}

	h4 {
		font-size: 26px;
	}

	h5 {
		font-size: 18px;
	}

	h6 {
		font-size: 16px;
	}
}

@media screen and ( min-width: 68em ) {
	.wp-block-quote,
	.wp-block-pullquote blockquote,
	.wp-block-pullquote.alignleft p,
	.wp-block-pullquote.alignright p {
		font-size: 26px;
	}
	.wp-block-pullquote.alignleft {
		margin-right: 1.6em;
		text-align: left;
	}

	.wp-block-pullquote.alignright {
		margin-left: 1.6em;
		text-align: right;
	}

	.wp-block-quote.alignright {
		margin-left: 1.6em;
	}

	.wp-block-quote.alignleft {
		margin-right: 1.6em;
	}
}