/* Gutenberg Editor Styles */

.editor-block-list__block .mce-content-body {
	line-height: 1.6;
}

.editor-block-list__layout,
.editor-block-list__layout p,
.editor-block-list__layout ol,
.editor-block-list__layout ul {
	color: #5e5853;
	font-family: Lora, Baskerville, Georgia, Times, serif;
}

.editor-block-list__layout a {
	color: #99908a;
  	transition: 0.3s;
}

.editor-block-list__layout a:visited {
	color: #99908a;
}

.editor-block-list__layout a:hover,
.editor-block-list__layout a:focus,
.editor-block-list__layout a:active {
	color: #383e44;
	text-decoration: underline !important;
}

.editor-block-list__layout a:focus {
	outline: thin dotted;
}

.editor-block-list__layout a:hover,
.editor-block-list__layout a:active {
	outline: 0;
	text-decoration: none;
}

h1.mce-content-body,
h2.mce-content-body,
h3.mce-content-body,
h4.mce-content-body,
h5.mce-content-body,
h6.mce-content-body,
.wp-block-heading h1,
.wp-block-heading h2,
.wp-block-heading h3,
.wp-block-heading h4,
.wp-block-heading h5,
.wp-block-heading h6 {
	clear: both;
	color: #5e5853;
	font-family: Lora, Baskerville, Georgia, Times, serif;
	font-style: italic;
	font-weight: normal;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}

.wp-block-heading h1 {
	font-size: 34px;
}

.wp-block-heading h2 {
	font-size: 29.2px;
}

.wp-block-heading h3 {
	font-size: 26px;
}

.wp-block-heading h4 {
	font-size: 18px;
}

.wp-block-heading h5 {
	font-size: 16px;
}

.wp-block-heading h6 {
	font-size: 14px;
}

p {
	margin-bottom: 1.6em;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	color: #99908a;
	font-size: 18px;
	font-style: italic;
	margin: 0;
	border-top: 3px solid #e8e9ea;
	padding-top: .8em;
	border-bottom: 1px solid #e8e9ea;
	margin-bottom: .8em;
	padding-bottom: .8em;
}

blockquote cite {
	display: block;
	text-align: right;
	font-style: normal;
	font-size: 16px;
}

address {
	margin: 0 0 1.6em;
}

pre {
	background: #e8e9ea;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 13.2px;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

.aligncenter img {
	display: block;
	margin: 0 auto;
}

/* Dropcaps */
p.has-drop-cap:first-letter {
	font-family: "Zilla Slab", "Merriweather", Georgia, "Times New Roman", serif;
	font-size: 4.8em;
	margin-right: .1em;
}

/* Images */
.wp-block-image {
	margin-bottom: 1.6em;
}
.wp-block-image figcaption {
	font-size: 13.2px;
	font-style: italic;
	margin-bottom: 1.6em;
	max-width: 100%;
}

/* Galleries */
.wp-block-gallery {
	margin-bottom: 1.6em;
	margin-left: auto;
}
.columns-1 {}
.columns-2 {}
.columns-3 {}
.columns-4 {}
.columns-5 {}

/* Blockquotes*/
.wp-block-quote,
.wp-block-quote:not(.is-large):not(.is-style-large) {
	color: #99908a;
	font-size: 18px;
	font-style: italic;
	margin: 0;
	border-top: 3px solid #e8e9ea;
	border-bottom: 1px solid #e8e9ea;
	margin-bottom: .8em;
	border-left: 0;
	padding: .8em 0 .8em;
}

.wp-block-quote.is-large {
	padding: .8em 0;
}

.wp-block-quote p {
	color: #99908a;
}

.wp-block-quote p:last-of-type {
	margin-bottom: 1.6em;
}

.wp-block-quote .wp-block-quote__citation {
	color: #99908a;
	display: block;
	text-align: right;
	font-style: normal;
	font-size: 16px;
}

.wp-block-quote.aligncenter {
	text-align: center;
}

/* Cover Images */
.wp-block-cover-image {
	display: flex;
	margin-bottom: 1.6em;
}
.wp-block-cover-image h1,
.wp-block-cover-image h2,
.wp-block-cover-image h3,
.wp-block-cover-image h4,
.wp-block-cover-image h5,
.wp-block-cover-image h6 {
	color: #fff;
	font-weight: normal;
}
.wp-block-cover-image .blocks-editable strong {
	font-weight: bold;
}
.wp-block-cover-image .blocks-editable a,
.wp-block-cover-image .blocks-editable a:visited {
	color: white;
	opacity: 1;
	transition: 0.3s opacity;
}
.wp-block-cover-image .blocks-editable a:hover,
.wp-block-cover-image .blocks-editable a:focus,
.wp-block-cover-image .blocks-editable a:active {
	color: white;
	opacity: 0.5;
}
.has-background-dim {}
.has-parallax {}

/* Video */
.wp-block-video {
	margin: 0 0 1.6em;
}
.wp-block-video video {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}

/* Audio */
.wp-block-audio {}

/* Pullquotes */
.wp-block-pullquote {
	padding: 0;
	border: 0;
}
.wp-block-pullquote blockquote {
	color: #99908a;
	font-size: 18px;
	font-style: italic;
	margin: 0;
	border-top: 3px solid #e8e9ea;
	padding-top: .8em;
	border-bottom: 1px solid #e8e9ea;
	margin-bottom: .8em;
	padding-bottom: .8em;
}
.wp-block-pullquote blockquote > p {
	color: #99908a;
	margin: 0 0 1.6em;
}
.wp-block-pullquote .wp-block-quote__citation {
	color: #99908a;
	display: block;
	text-align: right;
	font-style: normal;
	font-size: 16px;
}

.wp-block-pullquote.alignleft,
.wp-block-pullquote.alignright {
	max-width: 320px;
	padding-bottom: 1.6em;
	padding-top: .8em;
}

.wp-block-pullquote.aligncenter {
	text-align: center;
}

/* Tables */
.wp-block-table {
	display: table;
	margin: 0 0 1.6em;
	width: 100%;
}

.wp-block-table td,
.wp-block-table th {
  padding: 0.4em 0.2em;
  border-bottom: 1px solid #e8e9ea;
}

.wp-block-table th {
  font-weight: bold;
  border-bottom-width: 3px;
  text-align: left;
}

.wp-block-table caption {
  font-style: italic;
  font-weight: bold;
}

.wp-block-table.alignleft,
.wp-block-table.alignright {
	max-width: 50%;
}

/* Preformatted */
.wp-block-preformatted {
	background: #e8e9ea;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 13.2px;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

/* Code */
.wp-block-code {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 13.2px;
}

/* Verse */
.wp-block-verse {
	background: #e8e9ea;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 13.2px;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

.wp-block-verse.aligncenter {
	text-align: center;
}

.wp-block-verse.alignleft {
	text-align: left;
}

.wp-block-verse.alignright {
	text-align: right;
}

/* Separator */
.wp-block-separator {
	background-color: #e8e9ea;
	border: 0;
	height: 1px;
	margin: 0.8em auto;
	max-width: 66%;
}
.wp-block-separator.is-style-wide {
	max-width: 100%;
}
/* Buttons */
.wp-block-button .wp-block-button__link {
	border-radius: 0;
	display: inline-block;
	font-size: 13.2px;
	font-family: Raleway, "Helvetica Neue", sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	line-height: 1 !important;
	transition: 0.3s;
	text-decoration: none;
}

.wp-block-button .wp-block-button__link:hover,
.wp-block-button .wp-block-button__link:focus,
.wp-block-button .wp-block-button__link:active {
}

.wp-block-button__link:not(.has-text-color),
.wp-block-button__link:not(.has-text-color):active,
.wp-block-button__link:not(.has-text-color):focus,
.wp-block-button__link:not(.has-text-color):hover {
	color: white;
}

.wp-block-button__link:not(.has-background) {
	background-color: #99908a;
	outline: 4px solid #99908a;
	border: 2px solid white;
	position: relative;
	left: 4px;
}

.wp-block-button__link:not(.has-background):active,
.wp-block-button__link:not(.has-background):focus,
.wp-block-button__link:not(.has-background):hover {
	outline-color: #5e5853;
	background-color: #5e5853;
}

/* Text Columns */
.wp-block-text-columns {}
.wp-block-column {}

/* Latest Posts */
.wp-block-latest-posts {}
.wp-block-latest-posts__post-date {
	color: #888;
}
.is-grid {}

/* Media Queries */

@media screen and ( min-width: 68em ) {
	.wp-block-quote,
	.wp-block-pullquote,
	.wp-block-quote:not(.is-large):not(.is-style-large) {
		font-size: 26px;
	}
}

@media screen and ( min-width: 46em ) {
	.wp-block-heading h1 {
		font-size: 47.12px;
	}

	.wp-block-heading h2 {
		font-size: 42px;
	}

	.wp-block-heading h3 {
		font-size: 29.2px;
	}

	.wp-block-heading h4 {
		font-size: 26px;
	}

	.wp-block-heading h5 {
		font-size: 18px;
	}

	.wp-block-heading h6 {
		font-size: 16px;
	}
}