<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"8vh","bottom":"8vh","left":"4vw","right":"4vw"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="padding-top:8vh;padding-right:4vw;padding-bottom:8vh;padding-left:4vw"><!-- wp:group {"align":"full","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull"><!-- wp:post-title {"textAlign":"center","align":"full","style":{"typography":{"textTransform":"uppercase","letterSpacing":"1.4px"}},"fontSize":"small","fontFamily":"cardo"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","lock":{"move":false,"remove":true},"layout":{"type":"default"}} -->
<main class="wp-block-group"><!-- wp:group {"align":"full","style":{"spacing":{"padding":{"right":"4vw","left":"4vw"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull" style="padding-right:4vw;padding-left:4vw"><!-- wp:post-content {"lock":{"move":false,"remove":true},"align":"full","layout":{"type":"constrained"}} /--></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
