/*--------------------------------------------------------------*/
/* !## Global Structure */
/*--------------------------------------------------------------*/

$size_site-main: 100%;
$size_content: 60%;
$size_site-sidebar: 25%;
$gutter: 25px;
$mobile-gutter: ($gutter * .6);
$admin-bar-height: 32px;