<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"style":{"spacing":{"blockGap":"0px"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:group {"align":"full","style":{"spacing":{"padding":{"bottom":"3rem","top":"3rem","right":"2rem","left":"2rem"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group alignfull" style="padding-top:3rem;padding-right:2rem;padding-bottom:3rem;padding-left:2rem"><!-- wp:group {"style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"><!-- wp:group {"align":"full","layout":{"type":"default"}} -->
<div class="wp-block-group alignfull"><!-- wp:post-content {"lock":{"move":false,"remove":false},"align":"wide","style":{"typography":{"fontSize":"1.5rem"}},"layout":{"type":"default"}} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"full","style":{"border":{"top":{"width":"1px","style":"dotted"}},"spacing":{"margin":{"top":"0rem","bottom":"0rem"},"padding":{"right":"2rem","left":"2rem","bottom":"3rem"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull" style="border-top-style:dotted;border-top-width:1px;margin-top:0rem;margin-bottom:0rem;padding-right:2rem;padding-bottom:3rem;padding-left:2rem"><!-- wp:post-featured-image {"align":"wide"} /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","align":"full"} /--></div>
<!-- /wp:group -->