/**
 * Author
 */

/* Author description */

.author-bio {

	.site-main > article > & {
		margin-top: calc(2 * #{map-deep-get($config-global, "spacing", "vertical")});
	}

	.author-title {
		font-size: #{map-deep-get($config-heading, "font", "size", "h3")};
	}

	.author-description {

		.author-link {

		}
	}
}
