html .mceContentBody {
	max-width: 656px;
}
body.mceContentBody {
    font-family: "Roboto Slab", Georgia, Times, serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 27px;
    color: #666;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

table {
    border-spacing: 0;
    /* tables still need 'cellspacing="0"' in the markup */
    border-collapse: separate;
}

caption,
th,
td,
th {
    font-weight: normal;
    text-align: left;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
}

blockquote,
q {
    quotes: '' '';
}

a:focus {
    outline: thin dotted;
}

a:hover,
a:active {
    outline: 0;
}

a img {
    border: 0;
}

/* =Rebuild
----------------------------------------------- */

/* Text elements */
p {
    margin-bottom: 24px;
}

ul,
ol {
    margin: 0 0 24px 36px;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li > ul,
li > ol {
    margin-bottom: 0;
    margin-left: 24px;
}

dt {
    font-weight: 600;
}

dd {
    margin: 0 24px 24px;
}

b,
strong {
    font-weight: 600;
}

dfn,
cite,
em,
i {
    font-style: italic;
}

blockquote {
    margin: 0 24px;
}

address {
    margin: 0 0 24px;
}

pre {
    font-family: 'Courier 10 Pitch', Courier, monospace;
    font-size: .9375em;
    line-height: 1.6em;
    overflow: auto;
    max-width: 100%;
    margin-top: -2px;
    margin-bottom: 24px;
    padding: 24px;
    background: rgba(119, 119, 119, .5);
}

code,
kbd,
tt,
var {
    font-family: Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
    font-size: .875em;
    line-height: 1.71429em;
}

abbr,
acronym {
    cursor: help;
    border-bottom: 1px dotted #666;
}

mark,
ins {
    text-decoration: none;
    background: #fff9c0;
}

sup,
sub {
    font-size: 75%;
    line-height: 0;
    position: relative;
    height: 0;
    vertical-align: baseline;
}

sup {
    bottom: 1ex;
}

sub {
    top: .5ex;
}

small {
    font-size: 75%;
}

big {
    font-size: 125%;
}

figure {
    margin: 0;
}

table {
    width: 100%;
    margin: 0 0 24px;
}

th {
    font-weight: bold;
}

/* =Global */

/* Alignment */
.alignleft {
    display: inline;
    float: left;
    margin: 14px 27px 14px 0;
}

.alignright {
    display: inline;
    float: right;
    margin: 14px 0 14px 27px;
}

.aligncenter {
    display: block;
    clear: both;
    margin: 14px auto;
}

.alignnone {
    margin-top: 14px;
    margin-bottom: 14px;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
    color: #666;
    font-family: "Roboto Slab", Georgia, Times, serif;
    font-weight: 600;
}
h1 {
    font-size: 28px;
    margin: 27px 0;
}

h2 {
    font-size: 20px;
    margin: 27px 0;
}

h3 {
    font-size: 20px;
    margin: 27px 0;
}

h4 {
    font-size: 16px;
    margin: 27px 0;
}

h5 {
    font-size: 16px;
    margin: 27px 0;
}

h6 {
    font-size: 14px;
    margin: 27px 0;
}

hr {
    height: 0;
    margin-top: -1px;
    margin-bottom: 24px;
    padding-top: 24px;
    border: 1px solid #ccc;
    border-width: 0 0 1px 0;
    clear: both;
}

/* Text elements */
p {
    margin-bottom: 27px;
}

ul {
    margin: 0 0 27px 27px;
    padding: 0;
    list-style: disc;
}
ul ul {
    list-style: square;
}
ul ul ul {
    list-style: circle;
}

ol {
    margin: 0 0 27px 27px;
    padding: 0;
    list-style: decimal;
}
ol ol {
    list-style: lower-alpha;
}
ol ol ol {
    list-style: lower-roman;
}

li > ul,
li > ol {
    margin-bottom: 0;
    margin-left: 27px;
}

dt {
    font-weight: 600;
}

dd {
    margin: 14px 0 14px 27px;
}

b,
strong {
    font-weight: bold;
}

dfn,
cite,
em,
i {
    font-style: italic;
}

blockquote {
    margin: 0 0 27px;
    padding-left: 48px;
    position: relative;
    color: #999;
}
blockquote:before {
	font-family: Genericons;
	font-size: 32px;
	color: #eee;
	content: "\f106";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}
blockquote blockquote {
    font-size: inherit;
}
blockquote cite {
	display: block;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    margin-top: 7px;
    width: 100%;
    text-align: right;
}

address {
    font-style: italic;
    margin-bottom: 27px;
}

pre {
	background: transparent;
	color: #666;
	font-family: "Roboto Slab", Georgia, Times, serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 27px;
    overflow: auto;
    max-width: 100%;
    margin-bottom: 27px;
    padding: 0;
}

code,
kbd,
tt,
var {
    font: 14px Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
    font-size: 1em;
    line-height: 2.09231em;
}

abbr,
acronym {
    margin-bottom: 26px;
    cursor: help;
    border-bottom: 1px dotted #eee;
}

mark,
ins {
    text-decoration: none;
    background: fff9c0;
}

sup,
sub {
    font-size: .8125em;
    line-height: 2.09231em;
    line-height: 0;
    position: relative;
    height: 0;
    vertical-align: baseline;
}

sup {
    bottom: 1ex;
}

sub {
    top: .5ex;
}

small {
    font-size: .8125em;
    line-height: 2.09231em;
}

big {
    font-size: 1.2em;
    line-height: 1.36em;
}

figure {
    margin: 0;
}

table {
    width: 100%;
    margin-bottom: 27px;
}

td,
th {
    padding: 7px 3px 6px;
    border-collapse: collapse;
    border-bottom: 1px solid #eee;
}

th {
    font-weight: bold;
    padding-bottom: 4px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-bottom-width: 3px;
}

img {
    max-width: 100%;
    height: auto;
}

/* Links */
a {
    -webkit-transition: all .2s ease-in-out;
       -moz-transition: all .2s ease-in-out;
         -o-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
    text-decoration: none;
    color: #1c7c7c;
}
a:visited {
    color: #1c7c7c;
}
a:hover,
a:focus,
a:active {
    -webkit-transition: all .2s ease-in-out;
       -moz-transition: all .2s ease-in-out;
         -o-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
            color: #1c7c7c;
}

.wp-caption-dd {
	text-align: left;
	font-size: .8125em;
	line-height: 1.5675em;
	margin: 14px 0;
	padding: 0 1%;
}

@media screen and (min-width: 50em) {

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 20px;
    }

	body.mceContentBody,
    pre {
        font-size: 18px;
        line-height: 1.7em;
    }
    blockquote {
		font-size: 18pxem;
		line-height: 1.4em;
    	padding-left: 64px;
    }
    blockquote cite {
    	font-size: .8125em;
    }
    blockquote:before {
		font-size: 48px;
	}
	blockquote.alignleft,
	blockquote.alignright {
		max-width: 280px;
		padding-left: 48px;
	}
	blockquote.alignleft:before,
	blockquote.alignright:before {
		font-size: 32px;
	}
}