body {
	direction: rtl;
	unicode-bidi: embed;
}

/* =Reset
-------------------------------------------------------------- */

caption,
th,
td,
th {
	text-align: right;
}

/* =Rebuild
----------------------------------------------- */

/* Text elements */

ul,
ol {
	margin: 0 36px 24px 0;
}

li > ul,
li > ol {
	margin-right: 24px;
	margin-left: auto;
}

/* Alignment */
.alignright {
	float: right;
	margin-left: 24px;
	margin-right: auto;
}

.alignleft {
	float: left;
	margin-right: 24px;
	margin-left: auto;
}

/* Text meant only for screen readers */

.screen-reader-text:focus {
	right: 24px;
	left: auto;
}

/* =Forms
----------------------------------------------- */

textarea {
	padding-right: 3px;
	padding-left: 0;
}

/* =Global */

/* Alignment */
.alignright {
	float: right;
	margin: 14px 0 14px 27px;
}

.alignleft {
	float: left;
	margin: 14px 27px 14px 0;
}

/* Text elements */

ul {
	margin: 0 27px 27px 0;
}

ol {
	margin: 0 27px 27px 0;
}

li > ul,
li > ol {
	margin-right: 27px;
	margin-left: auto;
}

dd {
	margin: 14px 27px 14px 0;
}

blockquote {
	padding-right: 48px;
	padding-left: 0;
}

blockquote:before {
	right: 0;
	left: auto;
}

blockquote cite {
	text-align: left;
}

/* =Menu */

.main-navigation ul {
	padding-right: 0;
	padding-left: 0;
}

/* Small menu */

.menu-toggle:before {
	margin-left: 5px;
	margin-right: auto;
}

.main-navigation ul ul li a {
	padding-right: 14px;
	padding-left: 0;
}

.main-navigation ul ul ul li a {
	padding-right: 28px;
	padding-left: 0;
}

.main-navigation ul ul ul ul li a {
	padding-right: 42px;
	padding-left: 0;
}

/* =Content */

/* =Post Formats */
.format-link .entry-title a:after {
	margin-right: 5px;
	margin-left: auto;
}

/* =Media */

/* Gallery column widths */

.gallery-item {
	float: right;
}

/* =Navigation */

.site-main .post-navigation .nav-previous a,
.site-main .paging-navigation .nav-previous a {
	float: right;
}

.site-main .post-navigation .nav-next a,
.site-main .paging-navigation .nav-next a {
	float: left;
	text-align: left;
}

.site-main .comment-navigation .nav-previous {
	float: right;
	text-align: right;
}

.site-main .comment-navigation .nav-next {
	float: left;
	text-align: left;
}

/* =Comments */

.comments-title small,
.comment-reply-title small {
	float: left;
}

.comment-meta .comment-author img {
	float: right;
}

.comment-meta .comment-author .fn {
	margin-right: 74px;
	margin-left: auto;
}

.comment-meta .comment-metadata {
	margin-right: 74px;
	margin-left: auto;
}

.comment-form-author label,
.comment-form-email label,
.comment-form-url label,
.comment-form-comment label {
	right: 0;
	left: auto;
}

.comment-form-author input,
.comment-form-email input,
.comment-form-url input,
.comment-form-comment input {
	padding-right: 100px;
	padding-left: 0;
}

/* =Widgets */

.widget select {
	margin-right: 1px;
	margin-left: auto;
}

/* Tags */

.wp_widget_tag_cloud a,
.tags-links a {
	margin: 0 0 7px 7px  ;
}
div.sharedaddy div.sd-block {
	padding: 14px !important 14px 0;
}

/* =Social Links */

.social-links ul a:before {
	margin-right: 4px;
	padding: 8px 9px 8px 7px;
	margin-left: auto;
}

@media screen and (min-width: 50em) {
	.content-area {
		float: right;
		margin: 0 0 0 -30%;
	}

	.site-main {
		margin: 0 0 0 30%;
	}

	.site-content .widget-area {
		float: left;
	}

	.site-info {
		float: right;
		text-align: right;
	}

	.social-links {
		float: left;
		text-align: left;
	}

	blockquote {
		padding-right: 64px;
		padding-left: 0;
	}

	blockquote.alignright,
		blockquote.alignleft {
		padding-right: 48px;
		padding-left: 0;
	}

	.main-navigation ul ul {
		right: -11px;
		float: right;
		text-align: right;
		left: auto;
	}

	.main-navigation ul ul ul {
		right: 105%;
		left: auto;
	}

	.main-navigation ul ul li a,
		.main-navigation ul ul ul li a,
		.main-navigation ul ul ul ul li a {
		padding-right: 5px;
		padding-left: 0;
	}

}
