// See https://github.com/WordPress/gutenberg/issues/39053
.wp-block-calendar {

	table {

		caption {
			color: var(--wp--custom--color--primary);
		}

		th {
			background-color: var(--wp--custom--color--tertiary);
			border-color: var(--wp--custom--color--tertiary);
		}

		td {
			color: var(--wp--custom--color--primary);
			border-color: var(--wp--custom--color--tertiary);
		}
	}
}
