@import "button-mixins";

// TODO: Remove when https://github.com/WordPress/gutenberg/issues/27760 is fixed.
.wp-block-file .wp-block-file__button {

	@include button-hover-styles;
	display: inline-block;
}
