.block-library-html__edit {
	.block-editor-plain-text {
		color: var(--wp--custom--form--color--text);
		border: var(--wp--custom--form--border--width) var(--wp--custom--form--border--style) var(--wp--custom--form--border--color);
	}
}