// See https://github.com/WordPress/gutenberg/issues/34648
.wp-block-navigation.is-responsive {
	.wp-block-navigation__responsive-container.is-menu-open {
		background-color: var(--wp--custom--color--background);
		color: var(--wp--custom--color--foreground);
	}
	.wp-block-navigation-link__content {
		color: var(--wp--custom--color--foreground) !important;
	}
	.has-child .wp-block-navigation__submenu-container{
		gap: 1rem;
	}
}

.wp-block-navigation {
	ul.wp-block-social-links {
		margin: 0;
	}
}
