.wp-block-navigation.is-responsive {
	.wp-block-navigation__responsive-container.is-menu-open {
		background-color: var(--wp--custom--color--background);
		color: var(--wp--custom--color--foreground);
	}
	.wp-block-navigation-link__content {
		color: var(--wp--custom--color--foreground) !important;
	}
	.has-child .wp-block-navigation-link__container{
		display: revert;
	}
}