p {


	// Override `color: inherit` from Core styles.
	&.has-text-color a {
		color: var( --wp--style--color--link, var(--wp--custom--color--primary) );
	}

	&.has-drop-cap:not(:focus):first-letter {
		font-size: var(--wp--custom--paragraph--dropcap--typography--font-size);
		font-family: var(--wp--custom--paragraph--dropcap--typography--font-family);
		font-weight: var(--wp--custom--paragraph--dropcap--typography--font-weight);
		margin: var(--wp--custom--paragraph--dropcap--margin);
	}

	&.has-background {
		padding: var(--wp--custom--padding--vertical) var(--wp--custom--padding--horizontal);
	}
}
