.wp-block-comments-query-loop {

	form {

		label {
			font-size: var(--wp--custom--form--label--typography--font-size);
			font-weight: var(--wp--custom--form--label--typography--font-weight);
			letter-spacing: var(--wp--custom--form--label--typography--letter-spacing);
		}

		.comment-form-cookies-consent {

			input[type="checkbox"]#wp-comment-cookies-consent {
				margin-left: 0;
				margin-top: 1px;

				& + label {
					margin-left: 0;
				}
			}
		}
	}
}
