// Needed until https://github.com/WordPress/gutenberg/pull/35193 is merged.
.wp-block-post-template {
	margin-top: 0;
	margin-bottom: 0;
	// Needed until https://github.com/WordPress/gutenberg/pull/35273 is merged.
	.wp-block-post-featured-image {
		line-height: 0;
	}
	// Needed to align the titles across all templates
	:first-child {
		h3 {
			margin-top: 0;
		}
	}
}
