.wp-block-query-pagination {
	padding-top: 1.5em;
	justify-content: space-between;
	display: grid;
	grid-template-areas: "prev numbers next";
	grid-template-columns: 1fr 2fr 1fr;

	@include break-mobile-only(){
		grid-template-areas: "prev next";
		grid-template-columns: 1fr 1fr;
	}

	.wp-block-query-pagination-previous {
		grid-area: prev;
	}

	.wp-block-query-pagination-next {
		grid-area: next;
	}
	
	.wp-block-query-pagination-numbers{
		grid-area: numbers;
		justify-self: center;
		.current {
			text-decoration: underline;
		}
		@include break-mobile-only(){
			display: none;
		}
	}
}
