.wp-block-quote.is-style-large,
.wp-block-quote {
	p {
		font-style: unset;
		margin-top: 0px;
	}
	.wp-block-quote__citation, // For the editor
	cite {
		font-size: var(--wp--custom--quote--citation--typography--font-size);
		font-style: var(--wp--custom--quote--citation--typography--font-style);
	}
}