@import "button-mixins";

.wp-block-search {

	&.wp-block-search__button-inside {

		.wp-block-search__inside-wrapper {
			padding: var(--wp--custom--form--border--width);
			border: var(--wp--custom--form--border--width) var(--wp--custom--form--border--style) var(--wp--custom--form--border--color);
			border-radius: var(--wp--custom--form--border--radius);

			.wp-block-search__input {
				padding: 0 var(--wp--custom--form--padding);
			}
		}
	}

	.wp-block-search__input {
		padding: var(--wp--custom--form--padding);
		border: var(--wp--custom--form--border--width) var(--wp--custom--form--border--style) var(--wp--custom--form--border--color);
	}

	&.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__button,
	.wp-block-search__button {

		@include button-hover-styles;

		&.has-icon {
			line-height: 0;
		}
	}

	.wp-block-search__input {

		&::placeholder {
			color: var(--wp--custom--form--color--text);
			opacity: 0.66;
		}
	}

	/* Block Styles */
	&.is-style-small-search {
		--wp--custom--button--typography--font-size: calc(0.8 * var(--wp--preset--font-size--small));

		.wp-block-search__input {
			padding: calc(0.5 * var(--wp--custom--form--padding));
		}
	}
}
