// See https://github.com/WordPress/gutenberg/issues/31261
.wp-block-table.is-style-stripes,
.wp-block-table {
	figcaption { // See https://github.com/WordPress/gutenberg/issues/34650
		font-size: var(--wp--custom--table--figcaption--typography--font-size);
		text-align: center;
	}

	td, th {
		// See https://github.com/WordPress/gutenberg/issues/31261
		border: 1px solid;
		padding: calc(0.5*var(--wp--custom--margin--vertical)) calc(0.5*var(--wp--custom--margin--horizontal));
	}

	margin-bottom: 1em; // See https://github.com/WordPress/gutenberg/issues/34652
	border-bottom: none;
}
