.wp-block-table.is-style-stripes,
.wp-block-table {
	figcaption {
		font-size: var(--wp--custom--table--figcaption--typography--font-size);
		text-align: center;
	}

	td, th {
		border: 1px solid;
		padding: calc(0.5*var(--wp--custom--margin--vertical)) calc(0.5*var(--wp--custom--margin--horizontal));
	}

	margin-bottom: 1em;
	border-bottom: none;
}
