.wp-block-latest-comments {
	padding-left: 0;

	.wp-block-latest-comments__comment {
		font-size: #{map-deep-get($config-global, "font", "size", "sm")};
		line-height:  #{map-deep-get($config-global, "font", "line-height", "body")};

		/* Vertical margins logic */
		margin-top: #{map-deep-get($config-global, "spacing", "vertical")};
		margin-bottom: #{map-deep-get($config-global, "spacing", "vertical")};

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.wp-block-latest-comments__comment-meta {
		@include font-family( map-deep-get($config-heading, "font", "family") );
	}

	.wp-block-latest-comments__comment-date {
		color: #{map-deep-get($config-global, "color", "foreground", "light")};
		font-size: #{map-deep-get($config-global, "font", "size", "sm")};
	}

	.wp-block-latest-comments__comment-excerpt p {
		font-size: #{map-deep-get($config-global, "font", "size", "sm")};
		line-height: #{map-deep-get($config-global, "font", "line-height", "body")};
		margin: 0;
	}
}
