/**
 * Author
 */

/* Author description */

.entry-author {

	font-size: var(--global--font-size-xs);
	max-width: var(--responsive--aligndefault-width);

	.author-avatar {
		display: none;
	}

	.site-main > article > & {
		margin-top: calc(2 * var(--global--spacing-vertical));
	}

	.author-title {
		font-family: var(--global--font-ui);
		font-size: var(--global--font-size-xs);

		.author-name {
			display: block;
			margin-top: 4px;
			font-family: var(--entry-author-bio--font-family);
			font-size: var(--entry-author-bio--font-size);
		}
	}

	.author-bio {
		font-size: var(--global--font-size-md);
	}

	.author-link::before {
		content: '';
		display: block;
	}
}
