@mixin entry-variables() {
	--entry-header--color: var(--global--color-primary);
	--entry-header--color-link: currentColor;
	--entry-header--color-hover: var(--global--color-primary-hover);
	--entry-header--color-focus: var(--global--color-secondary);
	--entry-header--font-family: var(--heading--font-family);
	--entry-header--font-size: var(--heading--font-size-h2);

	--entry-content--font-family: var(--heading--font-size-h2);

	--entry-meta--color: var(--global--color-foreground);
	--entry-meta--color-link: currentColor;
	--entry-meta--color-hover: var(--global--color-primary-hover);
	--entry-meta--font-family: var(--global--font-primary);
	--entry-meta--font-size: var(--global--font-size-xs);

	--entry-author-bio--font-family: var(--heading--font-family);
	--entry-author-bio--font-size: var(--heading--font-size-h3);
}
