.entry-header {

}

.entry-title {

	color: var(--entry-header--color);
	font-size: var(--entry-header--font-size);
	letter-spacing: var(--heading--letter-spacing-h2);
	line-height: var(--heading--line-height);
	overflow-wrap: break-word;

	a {
		color: var(--entry-header--color-link);

		&:hover,
		&:focus {
			color: var(--entry-header--color-hover);
		}

		&:active {
			color: var(--entry-header--color-link);
		}
	}
}
