.wp-block-latest-posts {
	padding-left: 0;

	& > li > a {
		@include font-family( map-deep-get($config-heading, "font", "family") );
		font-size: #{map-deep-get($config-heading, "font", "size", "h4")};
		font-weight: #{map-deep-get($config-heading, "font", "weight")};
		line-height: #{map-deep-get($config-heading, "font", "line-height", "h4")};
	}

	&:not(.is-grid) > li {
		/* Vertical margins logic */
		margin-top: #{map-deep-get($config-global, "spacing", "vertical")};
		margin-bottom: #{map-deep-get($config-global, "spacing", "vertical")};

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.wp-block-latest-posts__post-date {
		color: #{map-deep-get($config-global, "color", "foreground", "light")};
		font-size: #{map-deep-get($config-global, "font", "size", "sm")};
		line-height: #{map-deep-get($config-global, "font", "line-height", "body")};

		[class*="inner-container"] &,
		.has-background & {
			color: currentColor;
		}
	}

	.wp-block-latest-posts__post-excerpt,
	.wp-block-latest-posts__post-full-content {
		font-size: #{map-deep-get($config-global, "font", "size", "sm")};
		line-height: #{map-deep-get($config-global, "font", "line-height", "body")};
		margin: 0;
	}
}
