/*
Theme Name: Tenaz
Theme URI: https://wordpress.com/theme/tenaz/
Author: Automattic
Author URI: https://automattic.com/
Description: Tenaz is a classic "magazine" theme with a rich, dense homepage perfect for pro-bloggers.
Requires at least: 5.8
Tested up to: 6.2
Requires PHP: 5.7
Version: 1.0.5
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Template: 
Text Domain: tenaz
Tags: blog, two-columns, wide-blocks, block-patterns, custom-background, custom-colors, custom-logo, custom-menu, editor-style, featured-images, full-site-editing, template-editing, rtl-language-support, threaded-comments, translation-ready
Status: inactive
*/

/*
 * Avatar Block
 * Fix border radius setting for the avatar block
 * https://github.com/WordPress/gutenberg/issues/48253
 */
.wp-block-avatar a,
.wp-block-avatar img {
	border-radius: inherit;
}

/*
 * Button Block
 * Control the hover stylings of outline block style.
 * Unnecessary once block styles are configurable via theme.json
 * https://github.com/WordPress/gutenberg/issues/42794
 */
.wp-block-button.is-style-outline>.wp-block-button__link:not(.has-background):hover {
	background-color: var(--wp--preset--color--primary);
	color: var(--wp--preset--color--base);
	border-color: var(--wp--preset--color--primary);
}

/*
 * Pull quote Block
 * Reset the browser default margins for blockquote element
 * https://github.com/WordPress/gutenberg/issues/44129
 */
.wp-block-pullquote blockquote,
.wp-block-pullquote p {
	margin: 0;
}
