<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"var:preset|spacing|50","margin":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:var(--wp--preset--spacing--80);margin-bottom:var(--wp--preset--spacing--60)"><!-- wp:heading {"textAlign":"center","level":1,"fontSize":"x-large"} -->
<h1 class="wp-block-heading has-text-align-center has-x-large-font-size" id="oops-that-page-can-t-be-found">what the hell?! nothing was found</h1>
<!-- /wp:heading -->

<!-- wp:search {"label":"","showLabel":false,"placeholder":"type something...","width":100,"widthUnit":"%","buttonText":"show me the good stuff","align":"center","style":{"border":{"radius":"0px","width":"0px","style":"none"},"typography":{"textTransform":"lowercase"}}} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->