.wp-block-file {
	// Undo Gutenberg hover defaults
	a.wp-block-file__button:active,
	a.wp-block-file__button:focus,
	a.wp-block-file__button:hover,
	a.wp-block-file__button:visited {
		color: var(--button--color-text-hover);
		opacity: inherit;
	}

	a:after {
		content: '';
		display: block;
	}

	.wp-block-file__button {
		// Extend button style
		@include button-style;

		display: inline-block;
		margin: calc( 0.5 * var(--global--spacing-unit) ) 0 0 0;
		padding: calc(0.5 * var(--button--padding-vertical)) calc(0.5 * var(--button--padding-horizontal));
	}
}
