.wp-block-file {
	align-items: start;
	display: flex;
	justify-content: space-between;

	// Undo Gutenberg hover defaults
	a.wp-block-file__button:active,
	a.wp-block-file__button:focus,
	a.wp-block-file__button:hover,
	a.wp-block-file__button:visited {
		color: var(--button--color-text-hover);
		opacity: inherit;
	}

	.wp-block-file__button {
		// Extend button style
		@extend %button-style;
		display: inline-block;
		padding: calc(0.5 * var(--button--padding-vertical)) calc(0.5 * var(--button--padding-horizontal));
	}
}
