/**
 * Quote
 */
$config-quote: (
	// Font
	"font": (
		"family": (
			"fallback": #{map-deep-get($config-heading, "font", "family", "fallback")},
			"css-var": #{map-deep-get($config-heading, "font", "family", "css-var")},
		),
	),
);
