.wp-block-quote {
	border-left-color: #{map-deep-get($config-global, "color", "primary", "default")};
	margin: #{map-deep-get($config-global, "spacing", "vertical")} 0;
	padding-left: #{map-deep-get($config-global, "spacing", "horizontal")};

	p {
		@include font-family( map-deep-get($config-quote, "font", "family") );
		font-size: (strip-unit(map-deep-get($config-heading, "font", "size", "h4")) + 0em);
		letter-spacing: #{map-deep-get($config-heading, "font", "letter-spacing", "h4")};
		line-height: #{map-deep-get($config-global, "font", "line-height", "h4")};
	}

	&.is-large,
	&.is-style-large {
		border: none;
		padding: 0;

		p {
			@include font-family( map-deep-get($config-quote, "font", "family") );
			font-size: (strip-unit(map-deep-get($config-heading, "font", "size", "h3")) + 0em);
			letter-spacing: #{map-deep-get($config-heading, "font", "letter-spacing", "h3")};
			line-height: #{map-deep-get($config-heading, "font", "line-height", "h3")};
		}
	}

	.has-background:not(.has-background-background-color) &,
	[class*="background-color"]:not(.has-background-background-color) &,
	[style*="background-color"]:not(.has-background-background-color) &,
	.wp-block-cover[style*="background-image"] & {
			border-color: currentColor;
	}

	.wp-block-quote__citation {
		color: #{map-deep-get($config-global, "color", "foreground", "light")};
		font-size: (strip-unit(map-deep-get($config-global, "font", "size", "sm")) + 0em);
		letter-spacing: #{map-deep-get($config-global, "font", "letter-spacing", "sm")};

		.has-background:not(.has-background-background-color) &,
		[class*="background-color"]:not(.has-background-background-color) &,
		[style*="background-color"]:not(.has-background-background-color) &,
		.wp-block-cover[style*="background-image"] & {
			color: currentColor;
		}
	}
}
