/**
 * Heading
 */
$config-heading: (
	// Fonts & Typography
	"font": (
		// Family
		"family": map-deep-get($config-global, "font", "family", "primary"),
		// Size
		"size": (
			"h6": map-deep-get($config-global, "font", "size", "md"),
			"h5": map-deep-get($config-global, "font", "size", "lg"),
			"h4": map-deep-get($config-global, "font", "size", "xl"),
			"h3": map-deep-get($config-global, "font", "size", "xxl"),
			"h2": map-deep-get($config-global, "font", "size", "xxxl"),
			"h1": map-deep-get($config-global, "font", "size", "xxxxl"),
		),
		// Letter spacing
		"line-height": (
			"h6": map-deep-get($config-global, "font", "line-height", "heading"),
			"h5": map-deep-get($config-global, "font", "line-height", "heading"),
			"h4": map-deep-get($config-global, "font", "line-height", "heading"),
			"h3": map-deep-get($config-global, "font", "line-height", "heading"),
			"h2": map-deep-get($config-global, "font", "line-height", "heading"),
			"h1": map-deep-get($config-global, "font", "line-height", "heading"),
		),
		// Letter spacing
		"letter-spacing": (
			"h6": map-deep-get($config-global, "font", "letter-spacing", "sm"),
			"h5": map-deep-get($config-global, "font", "letter-spacing", "md"),
			"h4": map-deep-get($config-global, "font", "letter-spacing", "lg"),
			"h3": map-deep-get($config-global, "font", "letter-spacing", "xl"),
			"h2": map-deep-get($config-global, "font", "letter-spacing", "xxl"),
			"h1": map-deep-get($config-global, "font", "letter-spacing", "xxxl"),
		),
		// Font Weight
		"weight": bold,
	),
);
