.is-style-highlighted-group {
    background-color: var(--wp--preset--color--orange);
    color: var(--wp--preset--color--light-beige-3);
    padding: 80px;
    font-weight: 400;
}

.is-style-highlighted-group .wp-block-group__inner-container *:first-child {
    margin-top: 0;
}

.is-style-highlighted-group .wp-block-group__inner-container *:last-child {
    margin-bottom: 0;
}
 

.is-style-highlighted-group h1,
.is-style-highlighted-group h2,
.is-style-highlighted-group h3,
.is-style-highlighted-group h4,
.is-style-highlighted-group h5,
.is-style-highlighted-group h6
{
    font-family: var(--wp--custom--font-family--primary);
    font-weight: 600;
}