<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:query {"queryId":8,"query":{"perPage":"6","pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"only","inherit":false,"taxQuery":null,"parents":[]},"tagName":"main","enhancedPagination":true,"align":"wide","layout":{"type":"constrained"}} -->
<main class="wp-block-query alignwide"><!-- wp:post-template {"align":"wide","layout":{"type":"grid","columnCount":2}} -->
<!-- wp:group {"style":{"spacing":{"margin":{"bottom":"5vh"},"padding":{"top":"0rem","bottom":"0rem","left":"0rem","right":"0rem"},"blockGap":"0.75rem"}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="margin-bottom:5vh;padding-top:0rem;padding-right:0rem;padding-bottom:0rem;padding-left:0rem"><!-- wp:group {"style":{"spacing":{"blockGap":"0.75rem"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
<div class="wp-block-group"><!-- wp:group {"layout":{"type":"flex","justifyContent":"space-between"}} -->
<div class="wp-block-group"><!-- wp:post-title {"isLink":true} /--></div>
<!-- /wp:group -->

<!-- wp:post-excerpt {"showMoreOnNewLine":false,"excerptLength":32} /--></div>
<!-- /wp:group -->

<!-- wp:post-featured-image {"isLink":true,"aspectRatio":"4/3","width":"","height":"","style":{"border":{"radius":"2px"},"spacing":{"margin":{"top":"1.5rem"}}}} /-->

<!-- wp:group {"layout":{"type":"flex","justifyContent":"space-between"}} -->
<div class="wp-block-group"><!-- wp:post-terms {"term":"category","prefix":"— "} /-->

<!-- wp:post-date {"format":"M j, Y","isLink":true} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
<!-- /wp:post-template -->

<!-- wp:query-no-results {"align":"wide"} -->
<!-- wp:paragraph -->
<p>Sorry, but nothing matched your search terms.<br>Please try again with some different keywords.</p>
<!-- /wp:paragraph -->
<!-- /wp:query-no-results --></main>
<!-- /wp:query -->

<!-- wp:columns {"align":"wide","style":{"spacing":{"margin":{"top":"0rem","bottom":"0rem"},"blockGap":{"left":"2.5vw"}}}} -->
<div class="wp-block-columns alignwide" style="margin-top:0rem;margin-bottom:0rem"><!-- wp:column {"width":"","layout":{"type":"default"}} -->
<div class="wp-block-column"></div>
<!-- /wp:column -->

<!-- wp:column {"layout":{"type":"default"}} -->
<div class="wp-block-column"><!-- wp:paragraph {"style":{"typography":{"lineHeight":"0.9","fontSize":"6.4rem","textTransform":"uppercase"}},"fontFamily":"ibarra-real-nova"} -->
<p class="has-ibarra-real-nova-font-family" style="font-size:6.4rem;line-height:0.9;text-transform:uppercase"><a href="https://dossier.mystagingwebsite.com/blog/" data-type="link" data-id="https://dossier.mystagingwebsite.com/blog/">Read Blog ⇀</a></p>
<!-- /wp:paragraph --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->