/*--------------------------------------------------------------
## Sidebars
--------------------------------------------------------------*/

.no-sidebar .content-area {

	float: none;
	margin-left: auto;
	margin-right: auto;
}
