/**
 * Customizer CSS
 *
 * Adjusts the theme's message about the site branding display to appear like a notice.
 */

#sub-accordion-section-menu_locations .customize-section-description,
#sub-accordion-section-sidebar-widgets-sidebar-1 .customize-section-description {
	background: #FFF;
	border: 1px solid #ccd0d4;
	border-left: 4px solid #00a0d2;
	box-shadow: 0 1px 1px rgba( 0, 0, 0, .04 );
	margin: 15px 0 6px 0;
	padding: 9px 14px;
	overflow: hidden;
	width: auto;
}

#sub-accordion-panel-nav_menus .customize-info .customize-panel-description {
	background: #FFF;
	border-top: 1px solid #ccd0d4;
	border-left: 4px solid #00a0d2;
	display: block;
	padding: 9px 14px;
	overflow: hidden;
	width: auto;
}
