<!-- wp:group {"style":{"position":{"type":"sticky","top":"0px"},"spacing":{"padding":{"right":"5vw","left":"5vw"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-right:5vw;padding-left:5vw"><!-- wp:group {"style":{"spacing":{"padding":{"top":"2vh","right":"0vh","bottom":"2vh","left":"0vh"}},"color":{"background":"#121314ed"},"position":{"type":"sticky","top":"0px"},"border":{"left":{"width":"0px","style":"none"},"right":{"width":"0px","style":"none"},"top":{"width":"0px","style":"none"},"bottom":{"color":"var:preset|color|tertiary","width":"1px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group has-background" style="border-top-style:none;border-top-width:0px;border-right-style:none;border-right-width:0px;border-bottom-color:var(--wp--preset--color--tertiary);border-bottom-width:1px;border-left-style:none;border-left-width:0px;background-color:#121314ed;padding-top:2vh;padding-right:0vh;padding-bottom:2vh;padding-left:0vh"><!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group"><!-- wp:group {"style":{"spacing":{"blockGap":"6px"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p>←</p>
<!-- /wp:paragraph -->

<!-- wp:site-title /--></div>
<!-- /wp:group -->

<!-- wp:post-title {"style":{"typography":{"fontSize":"1.4rem"}}} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"5vw","left":"5vw"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-right:5vw;padding-left:5vw"><!-- wp:group {"style":{"spacing":{"blockGap":"1rem","padding":{"bottom":"2vh","top":"2vh"}},"border":{"bottom":{"style":"none","width":"0px"},"top":{"width":"0px","style":"none"},"right":[],"left":[]}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="border-top-style:none;border-top-width:0px;border-bottom-style:none;border-bottom-width:0px;padding-top:2vh;padding-bottom:2vh"><!-- wp:post-featured-image /-->

<!-- wp:post-content {"style":{"typography":{"fontSize":"1.6rem"}}} /-->

<!-- wp:spacer {"height":"2vh"} -->
<div style="height:2vh" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->