/*--------------------------------------------------------------
# Comments
--------------------------------------------------------------*/
#comments #respond {
	font-family: inherit;
	font-weight: inherit;
	margin: 0;
	padding: 0;
}
#comments #respond h3 {
	margin: 0 auto 30px;
}
#comments #respond form {
	background: transparent;
}
#comment-form-comment {
	margin-bottom: 30px;
}
#comments #respond #comment-form-comment,
#comments #comment-form-share-text-padder,
#comments #respond .comment-form-fields div.comment-form-input {
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 0;
	box-shadow: none !important;
	transition-duration: 350ms;
}
#comments #respond .comment-form-fields div.comment-form-input {
	margin-bottom: 15px;
}
#comments .comment #respond #comment-form-comment,
#comments .comment #comment-form-share-text-padder,
#comments .comment #respond .comment-form-fields div.comment-form-input {
	background: #fff;
}
#comments #respond #comment-form-subscribe {
	line-height: 1.5 !important;
	margin-bottom: 30px;
	margin-top: 0;
}
#comments #respond .comment-form-fields p.comment-form-posting-as,
#comments #respond .comment-form-fields p.comment-form-log-out,
#comments #respond #comment-form-identity #comment-form-nascar p,
#comments #respond #comment-form-load-service p,
#comments #respond #comment-form-comment textarea,
#comments #comment-form-share-text-padder textarea,
#comments #respond .comment-form-fields label,
#comments #respond .comment-form-fields label span.required,
#comments #respond .comment-form-fields label span.nopublish,
#comments #respond .comment-form-fields div.comment-form-input input {
	color: #222;
	text-shadow: none;
}
#comments #respond .comment-form-fields p.comment-form-posting-as,
#comments #respond .comment-form-fields p.comment-form-log-out {
	padding-top: 0;
}
#comments #respond #comment-form-comment.active,
#comments #respond .comment-form-fields div.comment-form-input.active {
	box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.075) !important;
}
#comments #respond form *,
#comments #respond #comment-form-comment textarea,
#comments #comment-form-share-text-padder textarea,
#comments #respond p.comment-subscription-form label {
	font-size: inherit !important;
	line-height: inherit !important;
}
#comments #respond #comment-form-load-service {
	height: auto;
}
#comments #respond #comment-form-load-service p {
	background: transparent;
	padding-top: 0;
}
#comments #respond .comment-form-service {
	background: transparent;
	border-bottom: 0;
	padding: 0 0 15px;
}
#comments #respond .comment-form-service a {
	color: #d11415;
	text-decoration: none;
}
#comments #respond .comment-form-service a:active,
#comments #respond .comment-form-service a:focus,
#comments #respond .comment-form-service a:hover {
	color: #222;
}
#comments #respond .comment-form-padder {
	padding: 0;
}
#comments #respond .form-submit {
	font-size: inherit !important;
	line-height: 1.5 !important;
	padding: 0 0 30px;
}
#comments .comment #respond .form-submit {
	padding-bottom: 24px;
}
#comments #respond p.form-submit input#comment-submit {
	background: #d11415 !important;
	border: 2px solid #d11415 !important;
	border-radius: 0 !important;
	color: #fff !important;
	font-family: Lato, sans-serif;
	font-size: inherit !important;
	font-weight: bold !important;
	line-height: 1.875 !important;
	padding: 5.5px 13px !important;
	text-shadow: none !important;
}
#comments #respond .form-submit input#comment-submit:active,
#comments #respond .form-submit input#comment-submit:focus,
#comments #respond .form-submit input#comment-submit:hover {
	background: #fff !important;
	color: #d11415 !important;
}
#comments #respond .comment-form-fields div.comment-form-field {
	margin: 2px 0 5px 0;
}
#comments #respond #comment-form-identity {
	border-top: 0;
	margin-top: -5px;
}
#comments #respond #comment-form-identity #comment-form-nascar {
	background: transparent;
}
#comments #respond #comment-form-identity #comment-form-nascar p {
	margin: 0;
	padding: 0;
}
#comments #respond #comment-form-identity #comment-form-nascar ul {
	margin: 0 0 0 15px;
}
#comments #respond #comment-form-identity #comment-form-nascar ul li {
	padding: 3px;
}
.rtl #comments #respond #comment-form-identity #comment-form-nascar ul {
	margin-left: 0;
	margin-right: auto;
}
#comments #respond.js .comment-form-fields label {
	top: 6px;
}
#comments #respond .comment-form-fields {
	margin-left: 39px;
}
.rtl #comments #respond .comment-form-fields {
	margin-left: auto;
	margin-right: 39px;
}
#comments #respond .comment-form-avatar img {
	border: 0;
	border-radius: 50%;
	padding: 0;
	width: 24px;
}

/*--------------------------------------------------------------
# Reblogger
--------------------------------------------------------------*/
.hentry .wpcom-reblog-snapshot .reblogger-note {
	border-bottom-color: #eee;
	margin-bottom: 30px;
	overflow: inherit;
	padding-bottom: 0;
}
.hentry .wpcom-reblog-snapshot p.reblogger-headline {
	line-height: inherit;
	margin-bottom: 30px;
}
.reblog-from img,
.reblogger-headline img {
	border-radius: 50%;
	height: 30px;
	width: 30px;
}
body .hentry .wpcom-reblog-snapshot .reblogger-note-content blockquote {
	margin: 0 auto 30px;
	font-style: italic;
}

/*--------------------------------------------------------------
# Stats & Robots
--------------------------------------------------------------*/
img#wpstats {
	position: absolute;
	top: -999em;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
/* About.me */
.aboutme_widget #am_thumbnail {
	margin-bottom: 30px;
}
.aboutme_widget #am_thumbnail a,
.aboutme_widget #am_thumbnail img {
	display: block;
}
.aboutme_widget #am_thumbnail img {
	border: 0;
	max-width: 100%;
}
.aboutme_widget #am_name {
	font-size: 25px;
	line-height: 1.2;
	margin-bottom: 30px;
}
.aboutme_widget #am_name a {
	font-size: inherit !important;
}
.aboutme_widget #am_headline {
	font-size: 20px;
	line-height: 1.5;
	margin-bottom: 0;
}
.aboutme_widget #am_bio {
	margin-bottom: 30px;
}
.aboutme_widget #am_bio p {
	margin-bottom: 0;
}
.aboutme_widget #am_services {
	padding-bottom: 26px;
}
.aboutme_widget #am_services a.am_service_icon {
	display: inline-block;
	line-height: 0;
	margin-bottom: 4px;
}
.aboutme_widget #am_services a.am_service_icon img {
	margin-bottom: 0;
}

/* Akismet */
.widget_akismet_widget .a-stats {
	display: inline-block;
	font-family: Lato, sans-serif;
	font-size: 14px;
	line-height: 1.07143;
	margin-bottom: 30px;
	text-transform: uppercase;
}
.widget_akismet_widget .a-stats a,
.widget_akismet_widget .a-stats .count {
	font-size: inherit;
	font-weight: bold;
	line-height: inherit;
}
.widget_akismet_widget .a-stats a {
	background: #d11415;
	border: 2px solid #d11415;
	border-radius: 0;
	color: #fff;
	padding: 5.5px 13px;
}
.widget_akismet_widget .a-stats a:active,
.widget_akismet_widget .a-stats a:focus,
.widget_akismet_widget .a-stats a:hover {
	background: #fff;
	color: #d11415;
}
.widget_akismet_widget .a-stats .count {
	color: inherit;
	padding: 0;
}

/* Authors */
.widget_authors ul ul {
	margin-left: 0;
}
.rtl .widget_authors ul ul {
	margin-right: 0;
}
.widget_authors img {
	border-radius: 50%;
	margin-right: 7.5px;
	vertical-align: middle;
}
.rtl .widget_authors img {
	margin-right: 0;
	margin-left: 7.5px;
}
.widget_authors > ul > li > a {
	color: #222;
	font-family: "PT Serif", serif;
}
.widget_authors > ul > li > a:active,
.widget_authors > ul > li > a:focus,
.widget_authors > ul > li > a:hover {
	color: #d11415;
}

/* Flickr */
.widget_flickr #flickr_badge_uber_wrapper,
.widget_flickr #flickr_badge_wrapper {
	background: transparent;
	border: 0;
}
.widget_flickr #flickr_badge_wrapper {
	margin: 0;
}
.widget_flickr #flickr_badge_uber_wrapper {
	margin: 0 0 25px;
}
.widget_flickr br {
	display: none;
}
.widget_flickr br:last-of-type {
	clear: both;
	display: inline;
}
.widget_flickr td {
	border: 0;
	padding: 0;
	text-align: left;
}
.rtl .widget_flickr td {
	text-align: right;
}
.widget_flickr a,
.widget_flickr img {
	display: block;
}
.widget_flickr a {
	border-bottom: 0;
	float: left;
	height: 60px;
	margin-bottom: 5px;
	margin-right: 5px;
	overflow: hidden;
}
.rtl .widget_flickr a {
	float: right;
	margin-left: 5px;
	margin-right: 0;
}
.widget_flickr .flickr-size-small a {
	height: 90px;
}
.widget_flickr a img {
	height: 100%;
}
.widget_flickr #flickr_badge_uber_wrapper td a:last-child {
	background: #d11415 !important;
	border: 2px solid #d11415;
	clear: both;
	color: #fff;
	display: inline-block;
	height: auto;
	float: none;
	font-family: Lato, sans-serif;
	font-weight: bold;
	padding: 5.5px 13px;
	margin-right: 0;
	text-transform: uppercase;
	width: auto;
}
.widget_flickr #flickr_badge_uber_wrapper td a:last-child:active,
.widget_flickr #flickr_badge_uber_wrapper td a:last-child:focus,
.widget_flickr #flickr_badge_uber_wrapper td a:last-child:hover {
	background: #fff !important;
	color: #d11415;
}

/* Follow Blog */
.widget_blog_subscription > div {
	background: transparent !important;
	border: 0 !important;
	color: inherit !important;
	margin: 0 0 30px !important;
	padding: 0 !important;
}
.widget_blog_subscription input[type="text"] {
	padding: 7.5px !important;
	width: 100% !important;
}

/* Gravatar */
.widget_gravatar img {
	vertical-align: middle;
}

/* Grid */
.widgets-grid-layout,
.widgets-multi-column-grid {
	margin-bottom: 26px;
}
.widgets-grid-layout a,
.widgets-multi-column-grid a {
	border-bottom: 0;
	line-height: 0;
}

/* I Voted */
.widget_i_voted img {
	margin-bottom: 30px;
}

/* Instagram */
.widget_wpcom_instagram_widget a,
.widget_wpcom_instagram_widget img {
	display: block;
}
.widget_wpcom_instagram_widget a {
	border-bottom: 0;
}
.widget_wpcom_instagram_widget > div {
	margin-bottom: 30px;
}
.widget_wpcom_instagram_widget .wpcom-instagram-columns-1 img,
.widget_wpcom_instagram_widget .wpcom-instagram-columns-2 img,
.widget_wpcom_instagram_widget .wpcom-instagram-columns-3 img {
	margin: 0;
}

/* Internet Defense League */
.widget_internet_defense_league_widget a,
.widget_internet_defense_league_widget img {
	display: block;
}
.widget_internet_defense_league_widget a {
	border-bottom: 0;
}

/* Lists */
.widget_authors ul,
.widget_jp_blogs_i_follow ol,
.widget_blog-stats ul,
.widget_top-clicks ul,
.widget_top-posts ul,
.widget.top_rated ul,
.widget_upcoming_events_widget ul {
	border-bottom: 1px solid #eee;
	list-style: none;
	margin-left: 0;
}
.rtl .widget_authors ul,
.rtl .widget_jp_blogs_i_follow ol,
.rtl .widget_blog-stats ul,
.rtl .widget_top-clicks ul,
.rtl .widget_top-posts ul,
.rtl .widget.top_rated ul,
.rtl .widget_upcoming_events_widget ul {
	margin-right: 0;
}
.widget_authors li,
.widget_jp_blogs_i_follow li,
.widgets-list-layout li,
.widget_top-clicks li,
.widget_top-posts li,
.widget.top_rated li,
.widget_upcoming_events_widget li {
	border-top: 1px solid #eee;
	padding-bottom: 7.5px;
	padding-top: 7.5px;
}
.widget_authors ul ul {
	border-bottom: 0;
	margin-bottom: -7.5px;
	margin-top: 7.5px;
	padding-left: 30px;
}
.rtl .widget_authors ul ul {
	padding-left: 0;
	padding-right: 30px;
}

/* List Layout */
.widget .widgets-list-layout {
	margin-bottom: 30px;
}
.widget .widgets-list-layout li {
	margin-bottom: 0;
}
.widget .widgets-list-layout span {
	display: block;
	opacity: 1;
}

/* Milestone */
.milestone-widget .milestone-content {
	line-height: inherit;
	margin: 0 0 30px;
}
.milestone-widget .milestone-header {
	background: #d11415;
	font-family: Lato, sans-serif;
	line-height: inherit;
	padding: 15px;
}
.milestone-widget .milestone-header .event {
	font-size: inherit;
	line-height: inherit;
}

/* Recent Comments */
.widget_recent_comments table {
	background: transparent;
	border: 0;
	border-top: 1px solid #eee;
	margin-bottom: 30px;
}
.widget_recent_comments tr,
.widget_recent_comments td {
	border: 0;
	border-bottom: 1px solid #eee;
}
.widget_recent_comments td.recentcommentsavatarend,
.widget_recent_comments td.recentcommentsavatartop,
.widget_recent_comments td.recentcommentstextend {
	padding: 7.5px 0;
	vertical-align: middle;
}
.widget_recent_comments td.recentcommentstextend {
	padding-left: 15px;
}
.rtl .widget_recent_comments td.recentcommentstextend {
	padding-left: 0;
	padding-right: 15px;
}
.widget_recent_comments td.recentcommentsavatarend a {
	border-bottom: 0;
}
.widget_recent_comments td.recentcommentstexttop {
	padding: 15px 0 15px 15px;
}
.rtl .widget_recent_comments td.recentcommentstexttop {
	padding: 15px 15px 15px 0;
}
.widget_recent_comments img {
	border-radius: 50%;
	vertical-align: middle;
}

/* Recent Images */
.widget_recent_images .recent_images {
	margin-bottom: 25px;
}
.widget_recent_images .recent_images a,
.widget_recent_images .recent_images img {
	display: inline-block;
	line-height: 0;
}
.widget_recent_images .recent_images a {
	border-bottom: 0;
}

/* Tag Cloud */
.wp_widget_tag_cloud > div {
	padding-bottom: 30px;
}
.wp_widget_tag_cloud a {
	font-size: inherit !important;
	line-height: 1.5;
	text-decoration: none;
}
.wp_widget_tag_cloud a:before {
	color: #222;
	content: "\0023";
	margin-right: 0.125em;
}

/* Top Rated */
.widget.top_rated .pd_top_rated_holder_posts {
	margin-bottom: 30px;
}
.widget.top_rated .pd_top_rated_holder_posts > p {
	border: 1px solid #ddd;
	font-family: Lato, sans-serif;
	margin-bottom: -1px;
	padding: 15px;
	text-align: center;
}
.widget.top_rated ul {
	border: 1px solid #ddd;
	border-top: 0;
	margin-bottom: 0;
	padding: 15px;
}
.widget.top_rated li:first-child {
	border-top: 0;
	padding-top: 0;
}
.widget.top_rated li:last-child {
	padding-bottom: 0;
}

/* Upcoming Events */
.widget_upcoming_events_widget .upcoming-events li {
	margin-bottom: 0;
}

/*--------------------------------------------------------------
# Follow
--------------------------------------------------------------*/
#bitsubscribe input[type=text],
#bitsubscribe input[type=email] {
	color: #000;
}

/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## x >= 450px
--------------------------------------------------------------*/
@media screen and (min-width: 450px) {
	/* Comments */
	#comments #respond .comment-form-fields label,
	#respond.js .comment-form-fields label {
		padding-bottom: 10px !important;
	}
}

/*--------------------------------------------------------------
## x >= 600px
--------------------------------------------------------------*/
@media screen and (min-width: 600px) {
	/* Comments */
	#comments #respond {
		margin-bottom: 30px;
	}
}
