<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"inherit":true}} -->
<main class="wp-block-group">
	
	<!-- wp:heading {"textAlign":"center","level":1,"fontSize":"medium"} -->
	<h1 class="has-text-align-center has-medium-font-size" id="oops-that-page-can-t-be-found">Oops! That page can&rsquo;t be found.</h1>
	<!-- /wp:heading -->

	<!-- wp:paragraph -->
	<p>It looks like nothing was found at this location. Maybe try a search?</p>
	<!-- /wp:paragraph -->

	<!-- wp:search {"label":""} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer-container"} /-->
