.wp-block-separator.is-style-thick-separator:not(.is-style-wide):not(.is-style-dots) {
	opacity: 1;
	height: 3px;
	border-bottom-width: 3px;
	max-width: 100%;
	color: var(--wp--custom--color--secondary);
}

.is-style-filter-effect,
.is-style-filter-effect figure{
	background-color: var(--wp--custom--color--primary);
}

.is-style-filter-effect img {
	mix-blend-mode: luminosity;
}
