<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"0","right":"var:style|root|padding-right","bottom":"var:preset|spacing|60","left":"var:style|root|padding-left"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="padding-top:0;padding-right:var(--wp--style--root--padding-right);padding-bottom:var(--wp--preset--spacing--60);padding-left:var(--wp--style--root--padding-left)">

<!-- wp:query-title {"type":"archive","showPrefix":false} /-->

</div>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"loudness/posts-list"} /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
