<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"layout":{"inherit":"true"}} -->
<div class="wp-block-group"
	style="padding-bottom:var(--wp--style--root--padding-left);">

	<!-- wp:group {"align":"full"} -->
	<div class="wp-block-group alignfull">

	<!-- wp:heading -->
	<h2 class="alignfull">Search</h2>
	<!-- /wp:heading -->

	</div>
	<!-- /wp:group -->

	<!-- wp:search {"showLabel":false,"align":"wide"} /-->

</div>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"loudness/posts-list"} /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->