<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","lock":{"move":false,"remove":true},"layout":{"type":"constrained"}} -->
<main class="wp-block-group">

	<!-- wp:post-featured-image {"align":"full","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|70"}}}} /-->

	<!-- wp:post-title {"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|70"}}}} /-->

	<!-- wp:post-content {"layout":{"type":"constrained"},"lock":{"move":false,"remove":true}} /-->
</main>
<!-- /wp:group -->

<!-- wp:spacer {"height":"4rem"} -->
<div style="height:4rem" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group">
<!-- wp:pattern {"slug":"loudness/comments"} /-->
</div><!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->



