/* WordPress.com Widgets */

/* Flickr */
#flickr_badge_wrapper {
	background: transparent !important;
	border: 0 !important;
}
#flickr_badge_uber_wrapper {
	margin: 0 auto;
}
#flickr_badge_uber_wrapper td {
	border: 0 !important;
}
#flickr_badge_uber_wrapper a:hover,
#flickr_badge_uber_wrapper a:link,
#flickr_badge_uber_wrapper a:active,
#flickr_badge_uber_wrapper a:visited {
	color: #777 !important;
}
.widget_recent_comments td {
	border: 0;
	padding: 5px 5px 10px 5px;
	vertical-align: top;
}
.widget_authors ul,
.widget_author_grid ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.widget_authors img {
	float: none;
	vertical-align: middle;
}
.widget_authors li:before,
.widget_authors li:after {
	content: "";
	display: table;
}
.widget_authors li:after {
	clear: both;
}
.widget_authors a {
	text-decoration: none;
}

#wpstats {
	display: none;
}

h3.sd-title {
	font-size: 1em;
}

.rating-msg {
	font-size: 18px;
	font-size: 1rem;
	vertical-align: top;
}

.widget_wpcom_social_media_icons_widget li a:before {
	font-size: 32px;
	margin-right: 0.21875em;
}

/* Goodreads */

.widget_goodreads h2[class*="gr_custom_header"]{
	font-size: 1.6em;
	margin-bottom: .8em;
	text-align: center;
}

.widget_goodreads [class*="gr_custom_each_container"] {
	clear: both;
	margin-bottom: 1.6em;
}

.widget_goodreads [class*="gr_custom_each_container"]:before,
.widget_goodreads [class*="gr_custom_each_container"]:after {
	content: "";
	display: table;
}

.widget_goodreads [class*="gr_custom_each_container"]:after {
	clear: both;
}

.widget_goodreads [class*="gr_custom_each_container"]:last-of-type {
	margin-bottom: 0;
}

.widget_goodreads [class*="gr_custom_book_container"] {
	float: left;
	margin-right: .8em;
}

.widget_goodreads [class*="gr_custom_book_container"] img {
	border: 1px solid;
}


.cdm-icon--header-image {
	margin-top: 220px;
}
