.wp-block-newspack-blocks-homepage-articles,
.wp-block-a8c-blog-posts {

	&.wpnbha article {
		margin: 0 auto;
		padding: var(--global--spacing-vertical) 0;
	}

	article {

		.entry-wrapper {
			margin: 0;
			
			p {
				margin-top: 0;
				margin-bottom: 0;
			}
		}

		.entry-title {
			margin-bottom: calc( 0.48 * var(--global--spacing-vertical));
			a {
				font-size: var(--global--font-size-lg);
				color: var(--entry-header--color-link);
				font-weight: var(--heading--font-weight);

				&:hover,
				&:focus {
					color: var(--entry-header--color-hover);
				}

				&:active {
					color: var(--entry-header--color-link);
				}
			}
		}

		.more-link {
			margin-top: 0;
		}
	}
}
