ul.wp-block-categories,
.wp-block-categories ul{
	list-style-type: none;
	margin-top: 0;
	padding: 0;
}

.wp-block-categories {
	.cat-item {
		margin: calc( 0.3 * var(--global--spacing-vertical) ) 0;
	}

	a {
		color: var(--entry-header--color);
		font-size: var(--global--font-size-lg);

		&:hover {
			border-color: transparent;
			color: var(--global--color-primary);
		}
	}
}
