ul.wp-block-categories,
.wp-block-categories ul{
	list-style-type: none;
	margin-top: 0;
	padding: 0;
}

.wp-block-categories {
    ul {
        list-style-type: none;
        padding: 0;
    }

	.cat-item {
		padding: 5px 0;
	}

	a {
		color: var(--entry-header--color);
		font-size: var(--latest-posts--title-font-size);
		font-weight: var(--heading--font-weight);

		&:hover {
			border-color: transparent;
            color: var(--global--color-primary);
		}
	}
}
