.wp-block-latest-posts {
	> li {

		&:not(.is-grid) {
			margin: calc( 0.3 * var(--global--spacing-vertical) ) 0;
		}

		> a {
			color: var(--global--color-foreground-low-contrast);
			font-size: var(--global--font-size-lg);
			font-weight: 500;

			&:hover {
				border-color: transparent;
				color: var(--global--color-primary);
			}
		}
	}
}
