.jp-relatedposts-i2,
.wp-block-jetpack-related-posts {
	.jp-related-posts-i2__post {
		margin: 0 var(--global--spacing-horizontal) 0 0;
	}

	.jp-related-posts-i2__row {
		margin: auto;
	}

	.jp-related-posts-i2__post-link {
		font-weight: var(--global--font-weight);
		font-size: var(--global--font-size-lg);
		line-height: var(--global--line-height-body);
		width: fit-content;
		a {
			color: var(--global--color-foreground);
		}
	}

	.jp-related-posts-i2__post-date,
	.jp-related-posts-i2__post-context {
		font-family: var(--global--font-primary);
		font-size: var(--global--font-size-xs);
		text-transform: uppercase;
		color: var(--global--color-foreground-low-contrast);
	}
}

/* The built in Jetpack related posts has different markup */

#jp-relatedposts {
	.jp-relatedposts-items {
		p {
			font-size: var(--global--font-size-xs);
		}

		.jp-relatedposts-post {
			.jp-relatedposts-post-date,
			.jp-relatedposts-post-context {
				opacity: 1;
				line-height: var(--global--line-height-body);
				color: var(--global--color-foreground-low-contrast);
			}
	
			.jp-relatedposts-post-title {
				font-size: var(--global--font-size-lg);
				line-height: var(--heading--line-height-h2);
				margin-bottom: calc(0.3 * var(--global--spacing-vertical));
				a {
					color: var(--global--color-foreground);
					&:hover {
						text-decoration: none;
					}
				}
			}
			&:hover {
				.jp-relatedposts-post-title a{
					text-decoration: none;
				}
			}
		}
	}

	h3.jp-relatedposts-headline {
		font-size: var(--global--font-size-base);
		margin-bottom: var(--global--spacing-vertical);

		em {
			font-weight: var(--global--font-weight);
			&:before {
				content: none;
			}
		}
	}
}