.wp-block-jetpack-related-posts {
	.jp-related-posts-i2__post {
		margin: 0 var(--global--spacing-horizontal) 0 0;
	}

	.jp-related-posts-i2__row {
		margin: auto;
	}

	.jp-related-posts-i2__post-link {
		font-weight: 500;
		font-size: var(--wp--present--font-size--medium, --global--font-size-md);
		line-height: var(--global--line-height-body);
		width: fit-content;
	}

	.jp-related-posts-i2__post-date,
	.jp-related-posts-i2__post-context {
		font-family: var(--global--font-primary);
		font-size: var(--global--font-size-xs);
		text-transform: uppercase;
	}
}