/* Inner Container */

.wp-block-cover.is-style-hover-reveal:not(.has-parallax) {
	background-size: contain;
	background-repeat: no-repeat;
}

.wp-block-cover.is-style-hover-reveal a:hover,
.wp-block-cover.is-style-hover-reveal a:active {
	color: currentColor;
	text-decoration: underline;
}

.wp-block-cover.is-style-hover-reveal .wp-block-cover__inner-container {
	opacity: 0;
	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
}

.wp-block-cover.is-style-hover-reveal.dalston-in-viewport .wp-block-cover__inner-container,
.wp-block-cover.is-style-hover-reveal:hover .wp-block-cover__inner-container {
	opacity: 1;
}

/* Dim */

.wp-block-cover.is-style-hover-reveal .wp-block-cover__background.has-background-dim {
	opacity: 0;
	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
}

.wp-block-cover.is-style-hover-reveal.dalston-in-viewport .wp-block-cover__background.has-background-dim.has-background-dim-0,
.wp-block-cover.is-style-hover-reveal:hover .wp-block-cover__background.has-background-dim.has-background-dim-0 {
	opacity: 0;
}

.wp-block-cover.is-style-hover-reveal.dalston-in-viewport .wp-block-cover__background.has-background-dim.has-background-dim-10 {
	opacity: .1;
}

.wp-block-cover.is-style-hover-reveal.dalston-in-viewport .wp-block-cover__background.has-background-dim.has-background-dim-20,
.wp-block-cover.is-style-hover-reveal:hover .wp-block-cover__background.has-background-dim.has-background-dim-20 {
	opacity: .2;
}

.wp-block-cover.is-style-hover-reveal.dalston-in-viewport .wp-block-cover__background.has-background-dim.has-background-dim-30,
.wp-block-cover.is-style-hover-reveal:hover .wp-block-cover__background.has-background-dim.has-background-dim-30 {
	opacity: .3;
}

.wp-block-cover.is-style-hover-reveal.dalston-in-viewport .wp-block-cover__background.has-background-dim.has-background-dim-40,
.wp-block-cover.is-style-hover-reveal:hover .wp-block-cover__background.has-background-dim.has-background-dim-40 {
	opacity: .4;
}

.wp-block-cover.is-style-hover-reveal.dalston-in-viewport .wp-block-cover__background.has-background-dim,
.wp-block-cover.is-style-hover-reveal.dalston-in-viewport .wp-block-cover__background.has-background-dim.has-background-dim-50,
.wp-block-cover.is-style-hover-reveal:hover .wp-block-cover__background.has-background-dim,
.wp-block-cover.is-style-hover-reveal:hover .wp-block-cover__background.has-background-dim.has-background-dim-50 {
	opacity: .5;
}

.wp-block-cover.is-style-hover-reveal.dalston-in-viewport .wp-block-cover__background.has-background-dim.has-background-dim-60,
.wp-block-cover.is-style-hover-reveal:hover .wp-block-cover__background.has-background-dim.has-background-dim-60 {
	opacity: .6;
}

.wp-block-cover.is-style-hover-reveal.dalston-in-viewport .wp-block-cover__background.has-background-dim.has-background-dim-70,
.wp-block-cover.is-style-hover-reveal:hover .wp-block-cover__background.has-background-dim.has-background-dim-70 {
	opacity: .7;
}

.wp-block-cover.is-style-hover-reveal.dalston-in-viewport .wp-block-cover__background.has-background-dim.has-background-dim-80,
.wp-block-cover.is-style-hover-reveal:hover .wp-block-cover__background.has-background-dim.has-background-dim-80 {
	opacity: .8;
}

.wp-block-cover.is-style-hover-reveal.dalston-in-viewport .wp-block-cover__background.has-background-dim.has-background-dim-90,
.wp-block-cover.is-style-hover-reveal:hover .wp-block-cover__background.has-background-dim.has-background-dim-90 {
	opacity: .9;
}

.wp-block-cover.is-style-hover-reveal.dalston-in-viewport .wp-block-cover__background.has-background-dim.has-background-dim-100,
.wp-block-cover.is-style-hover-reveal:hover .wp-block-cover__background.has-background-dim.has-background-dim-100 {
	opacity: 1;
}
