<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"lock":{"move":false,"remove":true},"style":{"spacing":{"padding":{"bottom":"8vh","top":"8vh","right":"4vw","left":"4vw"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:8vh;padding-right:4vw;padding-bottom:8vh;padding-left:4vw"><!-- wp:post-featured-image {"align":"wide"} /-->

<!-- wp:post-title {"style":{"spacing":{"padding":{"top":"4vh"}}},"fontSize":"x-large"} /-->

<!-- wp:post-content {"lock":{"move":false,"remove":false},"align":"wide","layout":{"type":"constrained"}} /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->