/**
 * Entry Content
 */

.entry-content,
.entry-summary {

}

.entry-content {

	p {
		word-wrap: break-word;
	}

	.more-link {
		display: block;
		color: inherit;
		margin-top: #{map-deep-get($config-global, "spacing", "unit")};

		@include media(mobile) {
			margin-top: #{map-deep-get($config-global, "spacing", "vertical")};
		}

		&:after {
			content: "\02192" #{"/*rtl:\"\02190\"*/"};
			display: inline-block;
			margin-left: 0.5em;
		}

		&:hover {
			text-decoration: none;
		}
	}

	a {

	}

	// Overwrite iframe embeds that have inline styles.
	> iframe,
	> iframe[style],
	> fb\:post {
		display: block !important;
		margin-left: auto !important;
		margin-right: auto !important;
		overflow: scroll;
	}

	// Page links
	.page-links a {

	}

	// Classic editor audio embeds.
	.wp-audio-shortcode {
		@extend %responsive-aligndefault;
	}

	// If the homepage header and page title are both configured to be hidden.
	.home.page.hide-homepage-header.hide-homepage-title & {
		margin-top: 0;
		padding-top: 0;

		// First children should usually have top margin.
		> *:first-child {
			margin-top: map-deep-get($config-global, "spacing", "vertical");
		}

		// Move some full-width blocks up to the top of the screen.
		> .wp-block-image.alignfull:first-child,
		> .wp-block-cover.alignfull:first-child,
		> .wp-block-media-text.alignfull:first-child,
		> .wp-block-group.has-background.alignfull:first-child {
			margin-top: #{-1 * map-deep-get($config-global, "spacing", "vertical")};
		}
	}
}

.entry-attachment {
	text-align: center;
}
