.wp-block-button {
	&.wp-block-button__link,
	.wp-block-button__link {
		&:not(.has-background):not(.has-text-color) {
			&:hover,
			&:focus,
			&.has-focus {
				border: 2px solid var(--wp--custom--color--primary);
				padding: 0.667em 1.333em;
			}
		}
	}
}

.wp-block-button.is-style-outline {
	&.wp-block-button__link,
	.wp-block-button__link {
		&:not(.has-background):not(.has-text-color) {
			&:hover,
			&:focus,
			&.has-focus {
				border: none;
				color: var(--wp--style--color--background);
				background: var(--wp--custom--color--primary);
				padding: calc(0.667em + 2px) calc(1.333em + 2px);
			}
		}
	}
}
