.wp-block-button {
 	&.wp-block-button__link,
 	.wp-block-button__link {
		&:not(.has-background):not(.has-text-color) {
			&:hover,
			&:focus,
			&.has-focus {
				border-style: var(--wp--custom--button--border--style);
				border-color: currentColor;
				border-width: var(--wp--custom--button--border--width);
				padding-top: var(--wp--custom--button--spacing--padding--top);
				padding-bottom: var(--wp--custom--button--spacing--padding--bottom);
				padding-left: var(--wp--custom--button--spacing--padding--left);
				padding-right: var(--wp--custom--button--spacing--padding--right);
			}
		}
	}
}

//NOTE: Double-classed to raise specificity above parent theme's outline hover styles
//as an alternative to !important.  Only needed for the editor.
.wp-block-button.wp-block-button.is-style-outline {
 	&.wp-block-button__link,
 	.wp-block-button__link {
		&:not(.has-background):not(.has-text-color) {
			&:hover,
			&:focus,
			&.has-focus {
				color: var(--wp--custom--button--color--background);
				background-color: var(--wp--custom--button--color--text);
			}
		}
	}
}
