.wp-block-calendar {
	table {
		caption {
			color: var(--wp--preset--color--primary);
		}
		th {
			background-color: var(--wp--preset--color--secondary);
			border-color: var(--wp--preset--color--secondary);
		}
		td {
			color: var(--wp--preset--color--primary);
			border-color: var(--wp--preset--color--secondary);
		}
	}
}