.is-style-quadrat-cover-diamond{
	&:after {
		background-image: url(rotated.svg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		content: "";
		mix-blend-mode: soft-light;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 0 !important; //this avoids weird interactions on the editor
	}
}