.wp-block-navigation {
	.wp-block-navigation-link a:hover {
		background: transparent;
	}
	.wp-block-pages-list__item .wp-block-pages-list__item__link,
	.wp-block-navigation-link__content {
		&:hover {
			text-decoration: underline;
		}
	}
	&:not(.has-background) { 
		.wp-block-navigation__container { 
			.wp-block-navigation-link__container {
				background-color: var(--wp--preset--color--background);
				border-color: var(--wp--preset--color--foreground);
			}
		}
	}

	.wp-block-navigation__mobile-menu-open-button {
		color: var(--wp--preset--color--primary);
	}

	&.is-responsive .wp-block-navigation__responsive-container.is-menu-open {
		background-color: var(--wp--preset--color--secondary);
		&.has-modal-open {
			.wp-block-navigation-link {
				font-size: 20px;
				line-height: 50px;
				margin: 0;
				align-items: flex-end;
				&.has-child {
					.wp-block-navigation-link__content {
						margin-right: 0;
					}
					.wp-block-navigation-link__container{
						margin-right: -19px;
						padding: 0 19px 0 0;
						border-right: 1px solid var(--wp--preset--color--foreground);
						.wp-block-navigation-link__content {
							padding: 0;
							font-size: 15px;
							line-height: 40px;
						}
					}
				}
			}
			.wp-block-navigation__container{
				padding-top: 50px;
				align-items: flex-end;
			}
		}
	}
}
