.wp-block-post-comments {
	.reply a {
		font-size: 1em;
		line-height: 1.2;
	}

	form {
		display: grid;
		column-gap: 1em;
		grid-template-columns: 50% 50%;
		grid-template-rows: auto;
		grid-template-areas:
			"notes notes"
			"author author"
			"email url"
			"comment comment"
			"cookies-consent cookies-consent"
			"form-submit form-submit";

		input:not([type=submit]):not([type=checkbox]),
		textarea {
			border: none;
			background: var(--wp--custom--color--secondary);
			font-size: 1em;
			width: 100%;
		}

		p {
			margin-top: 0;
		}

		.comment-notes {
			grid-area: notes;
		}

		.comment-form-author {
			grid-area: author;
		}

		.comment-form-email {
			grid-area: email;
		}

		.comment-form-url {
			grid-area: url;
		}

		.comment-form-comment {
			grid-area: comment;
		}

		.comment-form-cookies-consent {
			grid-area: cookies-consent;

			input[type="checkbox"] {
				@include hide-accesibly;
				& + label {
					margin-left: 0;
					padding-left: 2em;
					position: relative;
				}
				& + ::before,
				& + ::after {
					box-sizing: border-box;
				}
				& + ::before {
					content: "";
					position: absolute;
					top: 0.2em;
					left: 0;
					width: 16px;
					height: 16px;
					border: 1px solid var(--wp--custom--color--foreground);
				}
				&:checked + ::after { 
					content: "";
					width: 12px;
					height: 12px;
					position: absolute;
					margin-top: 0.2em;
					top: 2px; 
					left: 2px;
					background-color: var(--wp--custom--color--foreground);
				}
			}

		}

		.form-submit {
			grid-area: form-submit;
		}
	}
}
