@import "../../../blockbase/sass/blocks/button-mixins";

.wp-block-post-comments {
	.reply {
		margin-bottom: 30px;

		a {
			--wp--custom--button--typography--font-size: var(--wp--preset--font-size--normal);
			@include button-border-styles;
			--wp--custom--button--color--text: var(--wp--custom--button--hover--color--text);
			--wp--custom--button--color--background: var(--wp--custom--button--hover--color--background);
			--wp--custom--button--border--color: var(--wp--custom--button--hover--color--text);

			& ,
			&:hover,
			&:focus,
			&:active {
				line-height: 1;
			}
			&:not(.has-background):not(.has-text-color) {
				&:hover,
				&:focus,
				&.has-focus {
					--wp--custom--button--typography--font-size: var(--wp--preset--font-size--normal);
					--wp--custom--button--color--text: var(--wp--custom--button--hover--color--background);
					--wp--custom--button--color--background: var(--wp--custom--button--hover--color--text);
				}
			}
		}
	}

	form {
		grid-template-areas:
			"notes notes"
			"author author"
			"email url"
			"comment comment"
			"cookies-consent cookies-consent"
			"form-submit form-submit";

		input:not([type=submit]):not([type=checkbox]),
		textarea {
			border: none;
			background: var(--wp--custom--color--tertiary);
			font-size: var(--wp--preset--font-size--normal);
			width: 100%;
		}
	}

	.commentmetadata {
		margin-bottom: 20px;
	}

	.commentlist {
		margin-bottom: 60px;
	}

	// Target certain links within post comments to use the underline treatment.
	.comment-body > p > a,
	.comment-edit-link {
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}
