// @import '../../../blank-canvas-blocks/sass/blocks/button';

.wp-block-post-comments {
	.reply a, .reply a:hover {
		--wp--custom--button--typography--font-size: 1em;
		--wp--custom--button--typography--line-height: 1.2;
	}

	form {
		display: grid;
		column-gap: 1em;
		grid-template-rows: auto;
		grid-template-areas:
			"notes notes"
			"author author"
			"email url"
			"comment comment"
			"cookies-consent cookies-consent"
			"form-submit form-submit";

		input:not([type=submit]):not([type=checkbox]),
		textarea {
			border: none;
			background: var(--wp--custom--color--secondary);
			font-size: 1em;
			width: 100%;
		}

		p {
			margin-top: 0;
		}

		.comment-notes {
			grid-area: notes;
		}

		.comment-form-author {
			grid-area: author;
		}

		.comment-form-email {
			grid-area: email;
		}

		.comment-form-url {
			grid-area: url;
		}

		.comment-form-comment {
			grid-area: comment;
		}

		.comment-form-cookies-consent {
			grid-area: cookies-consent;

			input[type="checkbox"] {
				@include hide-accesibly;
				& + label {
					margin-left: 0;
					padding-left: 2em;
					position: relative;
				}
				& + ::before,
				& + ::after {
					box-sizing: border-box;
				}
				& + ::before {
					content: "";
					position: absolute;
					top: 0.2em;
					left: 0;
					width: 16px;
					height: 16px;
					border: 1px solid var(--wp--custom--color--foreground);
				}
				&:checked + ::after { 
					content: "\2715";
					width: 12px;
					height: 12px;
					position: absolute;
					top: 4px; 
					left: 3px;
					font-size: 14px;
				}
			}

		}

		.form-submit {
			grid-area: form-submit;
		}
	}

	// Target certain links within post comments to use the underline treatment.
	.comment-body > p > a,
	.comment-edit-link {
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}
