.wp-block-query-pagination {
	border-top: 1px solid var(--wp--preset--color--primary);

	.wp-block-query-pagination-previous {
		&::before{
			content:"←";
			margin-right: 0.5em;
		}
	}
	.wp-block-query-pagination-next {
		&::after{
			content:"→";
			margin-left: 0.5em;
		}
	}

	.wp-block-query-pagination-previous::before,
	.wp-block-query-pagination-next::after {
		display: inline-block;
	}

	.page-numbers {
		padding: 0 0.1em;
	}
}
