<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
	<!-- wp:columns {"align":"wide","style":{"spacing":{"blockGap":{"top":"1.88rem","left":"11%"}}}} -->
	<div class="wp-block-columns alignwide">
		<!-- wp:column {"width":"64.41%","layout":{"type":"constrained"}} -->
		<div class="wp-block-column" style="flex-basis:64.41%">
			<!-- wp:search {"showLabel":false,"placeholder":"Search here...","buttonText":"Search"} /-->

			<!-- wp:spacer {"height":"3rem"} -->
			<div style="height:3rem" aria-hidden="true" class="wp-block-spacer"></div>
			<!-- /wp:spacer -->

			<!-- wp:pattern {"slug":"bitacora/post-list"} /-->
		</div>
		<!-- /wp:column -->

		<!-- wp:column {"width":"35.59%","layout":{"type":"constrained"}} -->
		<div class="wp-block-column" style="flex-basis:35.59%">
			<!-- wp:template-part {"slug":"sidebar"} /-->
		</div>
		<!-- /wp:column -->
	</div>
	<!-- /wp:columns -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
