<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
	<!-- wp:columns {"align":"wide","style":{"spacing":{"blockGap":{"top":"1.88rem","left":"11%"}}}} -->
	<div class="wp-block-columns alignwide">
		<!-- wp:column {"width":"64.41%","layout":{"type":"constrained"}} -->
		<div class="wp-block-column" style="flex-basis:64.41%">
			<!-- wp:post-date /-->

			<!-- wp:post-title {"style":{"spacing":{"margin":{"top":"0.5rem"}}}} /-->

			<!-- wp:post-featured-image /-->

			<!-- wp:post-content {"layout":{"type":"constrained"}} /-->

			<!-- wp:group {"layout":{"type":"flex"}} -->
			<div class="wp-block-group">
				<!-- wp:post-terms {"term":"category"} /-->

				<!-- wp:post-terms {"term":"post_tag"} /-->
			</div>
			<!-- /wp:group -->

			<!-- wp:group {"layout":{"type":"constrained"}} -->
			<div class="wp-block-group">
				<!-- wp:separator {"className":"is-style-wide"} -->
				<hr class="wp-block-separator has-alpha-channel-opacity is-style-wide"/>
				<!-- /wp:separator -->

				<!-- wp:post-author {"showBio":false,"byline":"Posted by:"} /-->

				<!-- wp:post-author-biography /-->

				<!-- wp:separator {"className":"is-style-wide"} -->
				<hr class="wp-block-separator has-alpha-channel-opacity is-style-wide"/>
				<!-- /wp:separator -->
			</div>
			<!-- /wp:group -->

			<!-- wp:spacer {"height":"3rem"} -->
			<div style="height:3rem" aria-hidden="true" class="wp-block-spacer"></div>
			<!-- /wp:spacer -->

			<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
			<div class="wp-block-group">
				<!-- wp:post-navigation-link {"type":"previous","label":"Previous Post","arrow":"chevron"} /-->

				<!-- wp:post-navigation-link {"textAlign":"right","label":"Next Post","arrow":"chevron"} /-->
			</div>
			<!-- /wp:group -->

			<!-- wp:spacer {"height":"3rem"} -->
			<div style="height:3rem" aria-hidden="true" class="wp-block-spacer"></div>
			<!-- /wp:spacer -->

			<!-- wp:template-part {"slug":"comments"} /-->
		</div>
		<!-- /wp:column -->

		<!-- wp:column {"width":"35.59%","layout":{"type":"constrained"}} -->
		<div class="wp-block-column" style="flex-basis:35.59%">
			<!-- wp:template-part {"slug":"sidebar"} /-->
		</div>
		<!-- /wp:column -->
	</div>
	<!-- /wp:columns -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
