/**
 * These styles should be loaded by the Block Editor only
 */

/**
 * Abstracts
 * - Mixins, variables and functions
 */
@import "../../varia/sass/abstracts/imports";

/**
 * Child Theme Deep
 */
@import "config-child-theme-deep";

/**
 * Base
 * - Reset the browser
 */
@import "../../varia/sass/base/editor";

// Reset the font-family override on html to make editor fonts match front-end
html {
  font-family: #{map-deep-get($config-global, "font", "family", "primary")}; // For browsers without CSS custom properties support.
  font-family: var( --font-base, #{map-deep-get($config-global, "font", "family", "primary")} );
}

// Set the correct font family/size for the title
.editor-post-title .editor-post-title__block .editor-post-title__input {
  font-family: #{map-deep-get($config-global, "font", "family", "primary")}; // For browsers without CSS custom properties support.
  font-family: var( --font-headings, #{map-deep-get($config-global, "font", "family", "primary")} );
  font-size: #{map-deep-get($config-global, "font", "size", "xxxl")};
  text-align: center;
}

/**
 * Elements
 * - Styles for basic HTML elemants
 */
@import "../../varia/sass/elements/editor";

/**
 * Blocks
 * - These styles replace key Gutenberg Block styles for fonts, colors, and
 *   spacing with CSS-variables overrides
 */
@import "../../varia/sass/blocks/editor";
