/* = Styles for WordPress.com
----------------------------------------------- */
/* Authors Widget */
.widget_authors ul,
.widget_author_grid ul {
	list-style-type: none;
	padding-left: 0 !important;
}

.widget_authors ul ul {
	list-style-type: circle;
}

.widget_authors img {
	margin-right: 12px;
	width: 24px;
	vertical-align: middle;
}
