<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:query {"queryId":8,"query":{"perPage":"12","pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"display layout":{"type":"flex","columns":3},"align":"full","className":".add-remove-space"} -->
<div class="wp-block-query alignfull .add-remove-space"><!-- wp:post-template -->
<!-- wp:post-featured-image {"isLink":true,"width":"","height":"30vw","style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"margin":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}},"border":{"radius":"2px","width":"1px"}},"borderColor":"tertiary"} /-->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->