<!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"},"padding":{"right":"1rem","left":"1rem"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="margin-top:0px;margin-bottom:0px;padding-right:1rem;padding-left:1rem"><!-- wp:template-part {"slug":"header","tagName":"header","align":"full"} /-->

<!-- wp:group {"align":"wide","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide" style="margin-top:0px;margin-bottom:0px"><!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"6rem","bottom":"6rem"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group alignwide" style="padding-top:6rem;padding-bottom:6rem"><!-- wp:heading {"textAlign":"left","level":1,"align":"wide","style":{"spacing":{"blockGap":"3rem"},"typography":{"fontSize":"4rem"}}} -->
<h1 class="wp-block-heading alignwide has-text-align-left" id="oops-that-page-can-t-be-found" style="font-size:4rem">Sorry, that page can’t be found.</h1>
<!-- /wp:heading -->

<!-- wp:paragraph {"style":{"typography":{"fontSize":"4rem","fontStyle":"normal","fontWeight":"700","lineHeight":"1.1"}},"fontFamily":"albert-sans"} -->
<p class="has-albert-sans-font-family" style="font-size:4rem;font-style:normal;font-weight:700;line-height:1.1">It looks like nothing was found at this location. Maybe try a search?</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"wide","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"constrained","justifyContent":"left"}} -->
<div class="wp-block-group alignwide" style="margin-top:0px;margin-bottom:0px"><!-- wp:search {"showLabel":false,"placeholder":"What are you looking for?","buttonText":"SEARCH","buttonPosition":"button-inside","style":{"border":{"width":"0px","style":"none","radius":"1px"}}} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->