/*
Theme Name: Geologist
Theme URI: https://github.com/Automattic/themes/tree/trunk/geologist
Author: Automattic
Author URI: https://automattic.com/
Description: Geologist is a streamlined theme for modern bloggers. It consists of a simple single column of posts, paired with a sophisticated color palette and beautiful sans-serif typography.
Requires at least: 5.7
Tested up to: 5.8
Requires PHP: 5.7
Version: 1.0.26
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Template: blockbase
Text Domain: geologist
Tags: one-column, custom-colors, custom-menu, custom-logo, editor-style, featured-images, full-site-editing, block-patterns, rtl-language-support, theme-options, threaded-comments, translation-ready, wide-blocks, auto-loading-homepage, blog-homepage

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/
