/*
Theme Name: Appleton
Theme URI: https://github.com/automattic/themes/tree/trunk/appleton
Author: Automattic
Author URI: https://automattic.com
Description: Appleton is a theme for creative professionals, such as photographers, designers and artists.
Requires at least: 5.8
Tested up to: 5.9
Requires PHP: 5.7
Version: 0.0.1
License: GNU General Public License v2 or later
License URI: https://raw.githubusercontent.com/Automattic/themes/trunk/LICENSE
Template: blockbase
Text Domain: appleton
Tags: one-column, custom-colors, custom-menu, custom-logo, editor-style, featured-images, full-site-editing, rtl-language-support, theme-options, threaded-comments, translation-ready, wide-blocks
*/