/**
 * Button
 */

// NOTE: These remain for the styling of buttons that are NOT blocks and is used elsewhere.  This can be removed when those no longer exist.
@mixin button-main-styles {
 	font-weight: var(--wp--custom--button--typography--font-weight);
	font-family: var(--wp--custom--button--typography--font-family);
	font-size: var(--wp--custom--button--typography--font-size);
	line-height: var(--wp--custom--button--typography--line-height);
	text-decoration: none; // Needed because link styles inside .entry-content add a text decoration
	color: var(--wp--custom--button--color--text);
	background-color: var(--wp--custom--button--color--background);
	padding-top: var(--wp--custom--button--spacing--padding--top);
	padding-bottom: var(--wp--custom--button--spacing--padding--bottom);
	padding-left: var(--wp--custom--button--spacing--padding--left);
	padding-right: var(--wp--custom--button--spacing--padding--right);
	border-color: var(--wp--custom--button--border--color);
	border-width: var(--wp--custom--button--border--width);
	border-radius: var(--wp--custom--button--border--radius);
	border-style: var(--wp--custom--button--border--style);
	svg {
		fill: var(--wp--custom--button--color--text);
	}
}

// NOTE: These remain for the hover styling of blocks.  This can be removed when the button block has configurable hover states.
@mixin button-hover-styles {
	&:not(.has-background):not(.has-text-color) {
		&:hover,
		&:focus,
		&.has-focus {
 			font-weight: var(--wp--custom--button--hover--typography--font-weight, var(--wp--custom--button--typography--font-weight));
			font-family: var(--wp--custom--button--hover--typography--font-family, var(--wp--custom--button--typography--font-family));
			font-size: var(--wp--custom--button--hover--typography--font-size, var(--wp--custom--button--typography--font-size));
			line-height: var(--wp--custom--button--hover--typography--line-height, var(--wp--custom--button--typography--line-height));
			color: var(--wp--custom--button--hover--color--text, var(--wp--custom--button--color--text));
			background-color: var(--wp--custom--button--hover--color--background, var(--wp--custom--button--color--background));
			padding-top: var(--wp--custom--button--hover--spacing--padding--top, var(--wp--custom--button--spacing--padding--top));
			padding-bottom: var(--wp--custom--button--hover--spacing--padding--bottom, var(--wp--custom--button--spacing--padding--bottom));
			padding-left: var(--wp--custom--button--hover--spacing--padding--left, var(--wp--custom--button--spacing--padding--left));
			padding-right: var(--wp--custom--button--hover--spacing--padding--right, var(--wp--custom--button--spacing--padding--right));
			border-color: var(--wp--custom--button--hover--border--color, var(--wp--custom--button--border--color));
			border-width: var(--wp--custom--button--hover--border--width, var(--wp--custom--button--border--width));
			border-radius: var(--wp--custom--button--hover--border--radius, var(--wp--custom--button--border--radius));
			border-style: var(--wp--custom--button--hover--border--style, var(--wp--custom--button--border--style));
			svg {
				fill: var(--wp--custom--button--hover--color--text, var(--wp--custom--button--color--text));
			}
		}
	}
}

/**
 * Block Options
 */
.wp-block-button {
	&.wp-block-button__link,
	.wp-block-button__link {
		@include button-hover-styles;
		text-decoration: none; // Needed because link styles inside .entry-content add a text decoration
	}
}

// TODO: I'm not sure what the end goal should be here, but since we are unable to use
// a button block OUTSIDE of the context of the button collection block (grrrrrrrrr)
// then there are undesired margins to be dealt with somehow.
.wp-block-buttons {
	.wp-block-button:last-child {
		margin-bottom: 0;
	}
}
