// TODO: This shouldn't be necessary when either of these land: https://github.com/WordPress/gutenberg/pull/27582 || https://github.com/WordPress/gutenberg/issues/29778
.wp-block-code {
	border-radius: var(--wp--custom--code--border--radius);
	border-width: var(--wp--custom--code--border--width);
	border-style: var(--wp--custom--code--border--style);
	border-color: var(--wp--custom--code--border--color);
	color: var(--wp--custom--code--color--text);
	background-color: var(--wp--custom--code--color--background);
}