@import 'button';

// TODO: Remove when https://github.com/WordPress/gutenberg/issues/27760 is fixed
.wp-block-file .wp-block-file__button {
	@include button-main-styles;
	@include button-hover-styles;
	border-radius: var(--wp--custom--button--border--radius);
	display: inline-block;
}
