.wp-block-gallery {

	margin: var(--wp--custom--gallery--margin);

	.blocks-gallery-image,
	.blocks-gallery-item {

		figcaption {
			margin: var(--wp--custom--gallery--caption--margin);
			// Text color is always white to account for default gradient background
			color: var(--wp--custom--gallery--caption--color);
			font-size: var(--wp--custom--gallery--caption--font-size);
		}
	}

	&.alignfull {
		.blocks-gallery-grid {
			width: 100%;
		}
	}
}
