.wp-block-image {
	/* 
	From what I can tell the below are styles regularly used by themes
	to fix the image block.  I believe these should go into the block's
	default styles.  It's difficult to say how this will land, however 
	based on discussion found in (many) related issues here: 
	https://github.com/WordPress/gutenberg/issues/28923
	*/
	text-align: center;
}