.wp-block-image {
	/* 
	From what I can tell the below are styles regularly used by themes
	to fix the image block.  I believe these should go into the block's
	default styles.  It's difficult to say how this will land, however 
	based on discussion found in (many) related issues here: 
	https://github.com/WordPress/gutenberg/issues/28923

	Further gutenberg APPEARS to be defaulting the margin to the same as 
	the below, however (for reason's that aren't clear to me now) this
	isn't coming through.
	*/
	text-align: center;
	margin: 0 0 1em 0;
}