p {

	// inherits general font style set at <body>
	&.has-background {
		padding: var(--wp--custom--margin--vertical) var(--wp--custom--margin--horizontal);
	}

	// Override `color: inherit` from Core styles.
	&.has-text-color a {
		color: var( --wp--style--color--link, var(--wp--custom--color--primary) );
	}
}
