@import 'button';

.wp-block-post-comments {
	.comment {
		font-size: var(--wp--custom--form--typography--font-size);
	}

	label, .comment-meta {
		font-size: var(--wp--custom--form--label--typography--font-size);
	}

	input[type="submit"], .reply a {
		border: none;
		cursor: pointer;
		
		@include button-main-styles;
		@include button-hover-styles;
	}
}