<!-- wp:group {"style":{"position":{"type":""},"spacing":{"padding":{"top":"0vh","right":"0vh","bottom":"0vh","left":"0vh"},"margin":{"top":"0vh","bottom":"0vh"},"blockGap":"0vh"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="margin-top:0vh;margin-bottom:0vh;padding-top:0vh;padding-right:0vh;padding-bottom:0vh;padding-left:0vh"><!-- wp:query {"queryId":0,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true,"taxQuery":null,"parents":[]},"tagName":"main","align":"full","layout":{"type":"default"}} -->
<main class="wp-block-query alignfull"><!-- wp:post-template {"align":"full","style":{"spacing":{"blockGap":"0vh"}}} -->
<!-- wp:cover {"useFeaturedImage":true,"hasParallax":true,"dimRatio":70,"overlayColor":"contrast","isUserOverlayColor":true,"minHeight":100,"minHeightUnit":"vh","align":"full","style":{"spacing":{"padding":{"top":"0vh","right":"1rem","bottom":"5vh","left":"1rem"},"margin":{"top":"0vh","bottom":"0vh"},"blockGap":"0vh"},"color":[],"border":{"width":"0px","style":"none","radius":"0px"}},"layout":{"type":"default"}} -->
<div class="wp-block-cover alignfull has-parallax" style="border-style:none;border-width:0px;border-radius:0px;margin-top:0vh;margin-bottom:0vh;padding-top:0vh;padding-right:1rem;padding-bottom:5vh;padding-left:1rem;min-height:100vh"><span aria-hidden="true" class="wp-block-cover__background has-contrast-background-color has-background-dim-70 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:cover {"useFeaturedImage":true,"hasParallax":true,"dimRatio":50,"overlayColor":"contrast","isUserOverlayColor":true,"minHeight":50,"minHeightUnit":"vh","contentPosition":"bottom center","style":{"color":[],"spacing":{"padding":{"bottom":"2rem"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-cover has-parallax has-custom-content-position is-position-bottom-center" style="padding-bottom:2rem;min-height:50vh"><span aria-hidden="true" class="wp-block-cover__background has-contrast-background-color has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:group {"layout":{"type":"flex","orientation":"vertical","verticalAlignment":"space-between","justifyContent":"stretch"}} -->
<div class="wp-block-group"><!-- wp:post-title {"level":1,"isLink":true,"style":{"typography":{"lineHeight":"1"}}} /-->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column -->
<div class="wp-block-column"></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:post-excerpt {"textAlign":"left","moreText":"Read more","showMoreOnNewLine":false,"excerptLength":45,"style":{"layout":{"selfStretch":"fit","flexSize":null}}} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover --></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover -->
<!-- /wp:post-template --></main>
<!-- /wp:query --></div>
<!-- /wp:group -->