/*
 * Alignments, loaded in the front-end only.
 */

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

.wp-site-blocks,
.wp-block-template-part.alignfull {
	padding: 0 var(--wp--custom--margin--horizontal);
}

.wp-site-blocks > *:not(.wp-block-post-content),
.wp-site-blocks .wp-block-post-content > * {
	max-width: var(--wp--custom--width--default);
	margin-left: auto;
	margin-right: auto;
}

.wp-site-blocks .alignwide {
	width: var(--wp--custom--width--wide);
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.wp-site-blocks .alignfull {
	transform: translateX(calc(0px - var(--wp--custom--margin--horizontal)));
	width: calc(100% + (2 * var(--wp--custom--margin--horizontal)));
	max-width: calc(100% + (2 * var(--wp--custom--margin--horizontal)));
	margin-left: 0;
	margin-right: 0;
	box-sizing: content-box;
}

.wp-site-blocks .wp-block-template-part.alignfull {
	width: 100%;
	max-width: 100%;
}

.wp-site-blocks .wp-block-columns.alignfull {
	width: 100%;
	max-width: 100%;
}

.aligncenter {
	text-align: center;
}

.wp-site-blocks .alignleft {
	float: left;
	margin-right: 2em;
	max-width: 360px;
}

.wp-site-blocks .alignright {
	float: right;
	margin-left: 2em;
	max-width: 360px;
}

@media screen and (min-width: 1290px) {

	.wp-site-blocks,
	.wp-block-template-part.alignfull {
		padding: 0;
	}

	.wp-site-blocks .alignfull {
		transform: translateX(0px);
		width: 100% + var(--wp--custom--margin--horizontal);
		max-width: calc(100% + var(--wp--custom--margin--horizontal));
	}
}