table,
.wp-block-table {
	width: 100%;
	min-width: 240px;
	border-collapse: collapse;

	th {
		font-family: var(--heading--font-family);
	}

	td,
	th {
		padding: calc( 0.5 * var(--global--spacing-unit) );
		border: 1px solid;
	}
}
