<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|60"}}}} -->
<main class="wp-block-group" style="margin-bottom:var(--wp--preset--spacing--60); margin-top:var(--wp--preset--spacing--40)">
	<!-- wp:pattern {"slug":"craftfully/featured-posts"} /-->
	<!-- wp:pattern {"slug":"craftfully/newsletter-subscription"} /-->
	<!-- wp:pattern {"slug":"craftfully/posts-list"} /-->
	
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->