@mixin global-variables() {

	/* Colors */
	--wp--preset--color--primary: #404040;
	--wp--preset--color--primary-hover: #f25f70;
	--wp--preset--color--secondary: #f25f70;
	--wp--preset--color--secondary-hover: #4f4f4f;
	--wp--preset--color--foreground: #444444;
	--wp--preset--color--foreground-low-contrast: #767676;
	--wp--preset--color--foreground-high-contrast: #111111;
	--wp--preset--color--background: #FFFFFF;
	--wp--preset--color--background-low-contrast: #FFFFFF;
	--wp--preset--color--background-high-contrast: #DDDDDD;
	--wp--preset--color--border: #DDDDDD;
	--wp--preset--color--border-low-contrast: #FAFAFA;
	--wp--preset--color--border-high-contrast: #AAAAAA;
	--wp--preset--color--text-selection: #ffdce0;
	--wp--preset--color--alert-success: #8bc34a;
	--wp--preset--color--alert-info: #03a9f4;
	--wp--preset--color--alert-warning: #ffc107;
	--wp--preset--color--alert-error: #f25f70;
	--wp--preset--color--black: black;
	--wp--preset--color--white: white;

}