@mixin global-variables() {

	/* Colors */
	--wp--preset--color--primary: #404040;
	--wp--preset--color--primary-hover: #f25f70;
	--wp--preset--color--secondary: #f25f70;
	--wp--preset--color--secondary-hover: #4f4f4f;
	--wp--preset--color--foreground: #444;
	--wp--preset--color--foreground-low-contrast: #767676;
	--wp--preset--color--foreground-high-contrast: #111;
	--wp--preset--color--background: #fff;
	--wp--preset--color--background-low-contrast: #ddd;
	--wp--preset--color--background-high-contrast: #fafafa;
	--wp--preset--color--tertiary: #ddd;

	--wp--preset--color--border: #ddd;
	--wp--preset--color--border-low-contrast: #aaa;
	--wp--preset--color--border-high-contrast: #fafafa;
	--wp--preset--color--text-selection: #ffdce0;
	--wp--preset--color--alert-success: #8bc34a;
	--wp--preset--color--alert-info: #03a9f4;
	--wp--preset--color--alert-warning: #ffc107;
	--wp--preset--color--alert-error: #f25f70;
	--wp--preset--color--black: black;
	--wp--preset--color--white: white;

}
