<!-- wp:template-part {"slug":"header-home","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group alignfull" style="margin-top:0px;margin-bottom:0px">
	<!-- wp:pattern {"slug":"kentwood/front-page-content"} /-->
</main>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="margin-top:0px;margin-bottom:0px">
	<!-- wp:pattern {"slug":"kentwood/footer"} /-->
</div>
<!-- /wp:group -->
