<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group alignfull" style="margin-top:0px;margin-bottom:0px">
	<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"}}},"layout":{"type":"default"}} -->
	<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--70);padding-bottom:var(--wp--preset--spacing--70)">
		<!-- wp:group {"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
		<div class="wp-block-group" style="margin-bottom:var(--wp--preset--spacing--60)">
			<!-- wp:post-date {"textAlign":"center"} /-->

			<!-- wp:post-title {"textAlign":"center","style":{"spacing":{"margin":{"top":"var:preset|spacing|30"}}}} /-->

			<!-- wp:group {"style":{"spacing":{"margin":{"top":"var:preset|spacing|40"},"blockGap":"0.5rem"}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
			<div class="wp-block-group" style="margin-top:var(--wp--preset--spacing--40)">
				<!-- wp:avatar {"size":40} /-->

				<!-- wp:post-author-name {"isLink":true} /-->
			</div>
			<!-- /wp:group -->

			<!-- wp:post-featured-image {"style":{"spacing":{"margin":{"top":"var:preset|spacing|60"}}}} /-->
		</div>
		<!-- /wp:group -->

		<!-- wp:group {"layout":{"type":"default"}} -->
		<div class="wp-block-group">
			<!-- wp:post-content {"lock":{"move":false,"remove":false},"layout":{"type":"constrained","justifyContent":"center"}} /-->
		</div>
		<!-- /wp:group -->

		<!-- wp:group {"layout":{"type":"constrained"}} -->
		<div class="wp-block-group">
			<!-- wp:separator -->
			<hr class="wp-block-separator has-alpha-channel-opacity"/>
			<!-- /wp:separator -->

			<!-- wp:pattern {"slug":"kentwood/post-terms"} /-->

			<!-- wp:group {"align":"wide","style":{"spacing":{"margin":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"},"blockGap":"var:preset|spacing|30"}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
			<div class="wp-block-group alignwide" style="margin-top:var(--wp--preset--spacing--70);margin-bottom:var(--wp--preset--spacing--70)">
				<!-- wp:group {"style":{"layout":{"selfStretch":"fixed","flexSize":"43%"}},"layout":{"type":"constrained"}} -->
				<div class="wp-block-group">
					<!-- wp:post-navigation-link {"textAlign":"right","type":"previous","showTitle":true,"linkLabel":true,"arrow":"arrow"} /-->
				</div>
				<!-- /wp:group -->

				<!-- wp:group {"align":"wide","style":{"layout":{"selfStretch":"fixed","flexSize":"110px"}},"layout":{"type":"constrained"}} -->
				<div class="wp-block-group alignwide">
					<!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"var:preset|spacing|50"}},"layout":{"type":"flex","justifyContent":"center","flexWrap":"wrap"}} -->
					<div class="wp-block-group alignwide">
						<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|30"},"layout":{"selfStretch":"fit","flexSize":null}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
						<div class="wp-block-group">
							<!-- wp:site-logo {"width":40,"shouldSyncIcon":true,"style":{"color":{"duotone":["rgb(255, 255, 255)","rgb(203, 203, 203)"]}}} /-->
						</div>
						<!-- /wp:group -->
					</div>
					<!-- /wp:group -->
				</div>
				<!-- /wp:group -->

				<!-- wp:group {"style":{"layout":{"selfStretch":"fixed","flexSize":"43%"}},"layout":{"type":"constrained"}} -->
				<div class="wp-block-group">
					<!-- wp:post-navigation-link {"textAlign":"left","showTitle":true,"linkLabel":true,"arrow":"arrow"} /-->
				</div>
				<!-- /wp:group -->
			</div>
			<!-- /wp:group -->
		</div>
		<!-- /wp:group -->

		<!-- wp:template-part {"slug":"comments"} /-->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="margin-top:0px;margin-bottom:0px">
	<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
</div>
<!-- /wp:group -->
