/* = Styles for WordPress.com
----------------------------------------------- */

/* About Page */
.page .grofile {
	padding: 1.3334em !important;
}

/* Milestone Widget */
.milestone-content {
	max-width: 100% !important;
}

.widget .milestone-countdown,
.widget .milestone-message {
	color: #404040;
}
.widget .milestone-countdown {
	border: 1px solid #7f8c8d;
}
.milestone-message {
	font-weight: bold;
}

/* Good Reads */
.widget_goodreads div[class^="gr_custom_each_container"] {
	border-top: 1px solid rgba(0, 0, 0, 0.15);
	padding: 0.785em 0 0.857em;
}
div[class^="gr_custom_book_container"] {
	float: left;
	margin-right: 1em;
}

/* Author Grid Widget */
.widget_author_grid {
	overflow: hidden;
}
.widget_author_grid ul {
	margin: 0;
	list-style-type: none;
}
.widget_author_grid ul li {
	border-top: none;
	float: left;
	margin: 0 3px 3px 0;
}

/* Authors Widget */
.widget_authors ul {
	list-style-type: none;
	margin: 0;
}
.widget_authors img {
	width: 60px;
}

/* Recent Comments */
.recentcommentsavatar {
	border-bottom: 0;
	margin-bottom: 0;
}
.recentcommentsavatartop {
	border-bottom: 0;
	padding: 0;
}
.recentcommentstexttop,
.recentcommentstextend {
	vertical-align: middle;
}

/* Contact Info */
.widget_contact_info #contact-map {
	margin-bottom: 1em;
}

/* Authors */
.widget_authors img {
	margin-right: 12px;
	vertical-align: middle;
}
.widget_authors li > ul {
	margin-left: 0;
}

/* Flickr */
.widget_flickr #flickr_badge_uber_wrapper,
.widget_flickr #flickr_badge_wrapper {
	background: transparent;
	border: 0;
	margin: 0;
}
.widget_flickr #flickr_badge_wrapper {
	margin: 0;
}
.widget_flickr br {
	display: none;
}
.widget_flickr td {
	border: 0;
	padding: 0;
}
.widget_flickr a,
.widget_flickr img {
	display: block;
}
.widget_flickr a {
	border-bottom: 0;
	float: left;
	height: 72px;
	margin: 0 4px 4px 0;
	overflow: hidden;
}
.widget_flickr a img {
	height: 100%;
}
.widget_flickr #flickr_badge_uber_wrapper td a:last-child {
	color: #e1122a;
	clear: both;
	display: block;
	float: none;
	height: auto;
	padding: 24px 0 0;
}
.widget_flickr #flickr_badge_uber_wrapper td a:last-child:after {
	content: "\2192" /*rtl:"\2190"*/;
	margin-left: 6px;
}

/* Social Media widget */
.widget_wpcom_social_media_icons_widget ul > li {
	border-top: 0;
}
.widget_wpcom_social_media_icons_widget li {
	margin-right: 0.75em !important;
}
.widget_wpcom_social_media_icons_widget a {
	font-size: 24px;
	font-size: 2.4rem;
}

/* Ratings */
.pd-rating {
	line-height: 1;
	margin-bottom: 1em;
}
div.sharedaddy h3.sd-title,
div#jp-relatedposts h3.jp-relatedposts-headline {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-size: 1.4rem;
	letter-spacing: 0;
}

.sd-title,
.jp-relatedposts-post-title {
	letter-spacing: 0;
}

.rating-msg {
	color: #7c736b !important;
	font-size: 14px !important;
}

/* Jetpack subscription form */
.comment-subscription-form {
	margin: 0;
}
.comment-subscription-form label,
.post-subscription-form label {
	font-size: 12px;
	font-size: 1.2rem;
	font-weight: 400;
	vertical-align: text-bottom;
}

/* Follow Blog widget */
.widget_blog_subscription input[type="text"] {
	padding: 0.7em !important;
}

/* Related posts */
.jp-relatedposts-post-a {
	border: none !important;
}

div#jp-relatedposts div.jp-relatedposts-items-visual h4.jp-relatedposts-post-title,
div#jp-relatedposts div.jp-relatedposts-items p {
	font-size: 16px;
	font-size: 1.6rem;
}

/* Stats */
#wpstats {
	display: none;
}
