<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"var:preset|spacing|50","margin":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|60"},"padding":{"right":"1.6rem","left":"1.6rem"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:var(--wp--preset--spacing--80);margin-bottom:var(--wp--preset--spacing--60);padding-right:1.6rem;padding-left:1.6rem"><!-- wp:heading {"textAlign":"left","level":1,"align":"full","fontSize":"x-large"} -->
<h1 class="wp-block-heading alignfull has-text-align-left has-x-large-font-size" id="oops-that-page-can-t-be-found">Oops! That page can’t be found.</h1>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>It looks like nothing was found at this location. Maybe try a search?</p>
<!-- /wp:paragraph -->

<!-- wp:search {"label":"","showLabel":false,"placeholder":"Search...","buttonText":"Search","style":{"typography":{"fontSize":"1.4rem"}}} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->