a {
	box-shadow: 0 1px 0 0 currentColor;
	color: #404040;
	text-decoration: none;
	transition: 0.2s;
}

/* Quote */
.wp-block-quote:not(.is-large):not(.is-style-large) {
	border: 0;
}

/* Pullquote */
.wp-block-pullquote {
	border: 0;
}

.wp-block-pullquote .wp-block-pullquote__citation {
	font-size: inherit;
	font-style: italic;
	text-transform: none;
}
