<!-- wp:group {"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch","verticalAlignment":"space-between","flexWrap":"wrap"}} -->
<div class="wp-block-group"><!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","lock":{"move":false,"remove":false},"style":{"spacing":{"padding":{"right":"6vw","left":"6vw"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-right:6vw;padding-left:6vw"><!-- wp:post-title {"textAlign":"left"} /-->

<!-- wp:template-part {"slug":"post-meta","area":"uncategorized"} /-->

<!-- wp:post-featured-image {"style":{"spacing":{"margin":{"top":"3vh","bottom":"3vh"}}}} /-->

<!-- wp:post-content {"lock":{"move":false,"remove":false},"layout":{"type":"default"}} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /--></div>
<!-- /wp:group -->