/*--------------------------------------------------------------
# Comments
--------------------------------------------------------------*/
#comments #respond {
	font-family: inherit;
	font-weight: inherit;
	margin: 0;
	padding: 0 1.5em 1.5em;
}

#comments .comment #respond {
	padding-left: 0;
	padding-right: 0;
}

#comments .comments-wrapper + #respond {
	border-top: 1px solid #f3f3f3;
	padding-top: 1.5em;
}

#comments #respond h3 {
	font-size: 32px;
	font-size: 2rem;
	line-height: 1.125;
	margin: 0 auto 1.5rem;
	padding: 0;
}

#comments #respond h3 small {
	float: none;
}

#comments #respond form {
	background: transparent;
}

#comments #respond #comment-form-comment,
#comments #comment-form-share-text-padder,
#comments #respond .comment-form-fields div.comment-form-input {
	background: currentcolor !important;
	border: 2px solid;
	border-radius: 0;
	box-shadow: none !important;
	color: #f3f3f3;
	transition-duration: 0ms;
}

#comments #respond #comment-form-comment {
	padding: 0.375em !important;
}

#comments #respond #comment-form-comment.active,
#comments #respond .comment-form-fields div.comment-form-input.active {
	background: transparent !important;
	border-color: #3e69dc;
	box-shadow: none !important;
}

#comments #respond .comment-form-fields div.comment-form-input {
	margin-bottom: 0.75em;
}

#comments #respond .comment-form-field:last-of-type div.comment-form-input {
	margin-bottom: 0;
}

#comments #respond #comment-form-subscribe {
	float: none;
	line-height: 1.5 !important;
	margin-bottom: 1.5em;
	margin-top: 0;
	padding: 0;
}

#comments #respond .comment-form-fields label,
#comments #respond .comment-form-fields label span.required,
#comments #respond .comment-form-fields label span.nopublish,
#comments #respond .comment-form-fields p.comment-form-posting-as,
#comments #respond .comment-form-fields p.comment-form-log-out,
#comments #respond #comment-form-identity #comment-form-nascar p,
#comments #respond #comment-form-load-service p,
#comments #respond #comment-form-comment textarea,
#comments #comment-form-share-text-padder textarea,
#comments #respond .comment-form-fields div.comment-form-input input {
	color: #73757D;
	text-shadow: none;
}

#comments #respond .comment-form-fields p.comment-form-posting-as,
#comments #respond .comment-form-fields p.comment-form-log-out {
	padding-top: 0;
}

#comments #respond form *,
#comments #respond #comment-form-comment textarea,
#comments #comment-form-share-text-padder textarea,
#comments #respond p.comment-subscription-form label {
	color: #73757D;
	font-family: inherit;
}

#comments #respond form *:not(.form-submit),
#comments #respond #comment-form-comment textarea,
#comments #comment-form-share-text-padder textarea,
#comments #respond p.comment-subscription-form label {
	font-size: inherit !important;
	line-height: inherit !important;
}

#comments #respond #comment-form-load-service {
	height: auto;
}

#comments #respond #comment-form-load-service p {
	background: transparent;
	margin: 0.75em 0 0;
	padding-top: 0;
}

#comments #respond .comment-form-service {
	background: transparent;
	border-bottom: 0;
	padding: 0 0 1.5em;
}

#comments #respond .comment-form-service a {
	box-shadow: 0 1px 0 0;
	color: inherit;
	text-decoration: none;
}

#comments #respond .comment-form-service a:focus,
#comments #respond .comment-form-service a:hover {
	box-shadow: none;
	color: #3e69dc;
}

#comments #respond .comment-form-fields div.comment-form-field,
#comments #respond .comment-form-posting-as-cancel {
	margin: 0;
}

#comments #respond .comment-form-padder {
	padding: 1.5em 0 0;
}

#comments #respond .form-submit {
	clear: both !important;
	color: #3e69dc;
	float: none;
	font-size: 13px;
	font-size: 0.8125rem;
	font-weight: bold;
	line-height: 1.3847 !important;
	margin-bottom: 0;
	padding: 0;
}

#comments #respond p.form-submit input#comment-submit {
	background: transparent !important;
	border: 0 !important;
	border-radius: 5em !important;
	box-shadow: inset 0 0 0 2px;
	color: inherit !important;
	font-family: inherit;
	font-size: inherit !important;
	font-weight: inherit !important;
	line-height: inherit !important;
	padding: 0.5625rem 1.5em !important;
	text-shadow: none !important;
}

#comments #respond .form-submit input#comment-submit:focus,
#comments #respond .form-submit input#comment-submit:hover {
	opacity: 0.75;
}

#comments #respond #comment-form-identity {
	background: transparent;
	border-top: 0;
}

#comments #respond #comment-form-identity #comment-form-nascar {
	background: transparent;
	margin-top: 1.5em;
}

#comments #respond #comment-form-identity #comment-form-nascar a,
#comments #respond .comment-form-avatar a {
	box-shadow: none;
}

#comments #respond #comment-form-identity #comment-form-nascar p {
	margin: 0;
	padding: 0;
}

#comments #respond #comment-form-identity #comment-form-nascar ul {
	margin: 0 0 0 0.75em;
}

#comments #respond #comment-form-identity #comment-form-nascar ul li {
	padding: 0;
}

.rtl #comments #respond #comment-form-identity #comment-form-nascar ul {
	margin-left: 0;
	margin-right: auto;
}

#comments #respond.js .comment-form-fields label {
	line-height: inherit;
	padding: 0 !important;
	letter-spacing: 0;
	top: 0;
}

#comments #respond .comment-form-fields {
	margin-left: 2em;
}

.rtl #comments #respond .comment-form-fields {
	margin-left: auto;
	margin-right: 2em;
}

#comments #respond .comment-form-avatar img {
	border: 0;
	border-radius: 50%;
	padding: 0;
	width: 1.5em;
}

/*--------------------------------------------------------------
# Reblogger
--------------------------------------------------------------*/
.hentry .wpcom-reblog-snapshot .reblog-post {
	box-shadow: none;
	padding: 0;
}

.hentry .wpcom-reblog-snapshot .reblogger-note {
	border-bottom: 1px solid #f3f3f3;
	margin-bottom: 1.5em;
}

.hentry .wpcom-reblog-snapshot p.reblogger-headline {
	line-height: inherit;
	margin-bottom: 1.5em;
}

.hentry .wpcom-reblog-snapshot .reblogged-content {
	margin-bottom: 1.5em;
}

.hentry .wpcom-reblog-snapshot .reblog-source {
	font-size: inherit;
	line-height: inherit;
	margin-bottom: 1.5em;
}

.reblog-from img,
.reblogger-headline img {
	border-radius: 50%;
	height: 1.5em;
	width: 1.5em;
}

body .hentry .wpcom-reblog-snapshot .reblogger-note-content blockquote {
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
# Stats & Robots
--------------------------------------------------------------*/
img#wpstats {
	position: absolute;
	top: -999em;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
/* About.me */
.aboutme_widget #am_thumbnail {
	margin-bottom: 1.5em;
}

.aboutme_widget #am_thumbnail a,
.aboutme_widget #am_thumbnail img {
	display: block;
}

.aboutme_widget #am_thumbnail img {
	border: 0;
	max-width: 100%;
}

.aboutme_widget #am_name {
	font-size: 25px;
	font-size: 1.5625rem;
	line-height: 1.2;
	margin-bottom: 1.5rem;
}

.aboutme_widget #am_name a {
	font-size: inherit !important;
}

.aboutme_widget #am_headline {
	font-size: 20px;
	font-size: 1.25rem;
	line-height: 1.5;
	margin-bottom: 0;
}

.aboutme_widget #am_bio {
	margin-bottom: 1.5em;
}

.aboutme_widget #am_bio p {
	margin-bottom: 0;
}

.aboutme_widget #am_services {
	margin-bottom: 1.25em;
}

.aboutme_widget #am_services a.am_service_icon {
	display: inline-block;
	line-height: 0;
	margin-bottom: 0.25em;
}

.aboutme_widget #am_services a.am_service_icon img {
	margin-bottom: 0;
}

/* Author Grid */
.widget_author_grid a,
.widget_author_grid img {
	vertical-align: middle;
}

.widget_author_grid ul {
	list-style: none;
	margin: 0 0 1.5em;
}

.widget.widget_author_grid ul li {
	margin: 0 !important;
	max-width: 50%;
	padding: 0 !important;
}

/* Authors */
.widget_authors strong {
	box-shadow: 0 1px 0 0;
	font-weight: inherit;
}

/* Blog Stats */
.widget_blog-stats ul {
	list-style: none;
	margin-left: 0;
	margin-right: 0;
}

/* Category Cloud */
.widget_tag_cloud > div {
	padding-bottom: 1.25em;
	display: flex;
	flex-wrap: wrap;
}

.widget_tag_cloud > div a {
	background: #f3f3f3;
	box-shadow: none !important;
	display: block;
	font-size: inherit !important;
	margin: 0 !important;
	margin-bottom: 0.25em !important;
	margin-right: 0.25em !important;
	padding: 0.25em 0.5em !important;
}

.widget-footer-top-area .widget_tag_cloud > div a {
	background: rgba(255, 255, 255, 0.25);
}

/* Flickr */
.widget_flickr #flickr_badge_uber_wrapper,
.widget_flickr #flickr_badge_wrapper {
	background: transparent;
	border: 0;
}

.widget_flickr #flickr_badge_wrapper {
	margin: 0;
}

.widget_flickr br {
	display: none;
}

.widget_flickr br:last-of-type {
	clear: both;
	display: inline;
}

.widget_flickr td {
	border: 0;
	padding: 0;
	text-align: left;
}

.rtl .widget_flickr td {
	text-align: right;
}

.widget_flickr a,
.widget_flickr img {
	display: block;
}

.widget_flickr a {
	float: left;
	height: 4rem;
	overflow: hidden;
}

.rtl .widget_flickr a {
	float: right;
}

.widget_flickr .flickr-size-small a {
	height: 6rem;
}

.widget_flickr a img {
	height: 100%;
}

.widget_flickr #flickr_badge_uber_wrapper td a:last-child {
	background: transparent !important;
	box-shadow: 0 1px 0 0;
	clear: both;
	color: #2c313f;
	display: inline-block;
	float: none;
	height: auto;
	margin-top: 1.5em;
	width: auto;
}

.widget-footer-top-area .widget_flickr #flickr_badge_uber_wrapper td a:last-child {
	color: rgba(255, 255, 255, 0.75);
}

.widget_flickr #flickr_badge_uber_wrapper td a:last-child:focus,
.widget_flickr #flickr_badge_uber_wrapper td a:last-child:hover {
	color: #3e69dc;
}

.widget-footer-top-area .widget_flickr #flickr_badge_uber_wrapper td a:last-child:focus,
.widget-footer-top-area .widget_flickr #flickr_badge_uber_wrapper td a:last-child:hover {
	color: #fff;
}

/* Follow Blog */
.widget_blog_subscription form,
.widget_blog_subscription .success {
	border: 1px solid #f3f3f3;
	margin-bottom: 1.5em;
	padding: 1.5em 1.5em 0;
}

.widget-footer-top-area .widget_blog_subscription form,
.widget-footer-top-area .widget_blog_subscription .success {
	border-color: rgba(255, 255, 255, 0.25);
}

.widget_blog_subscription input[type="text"] {
	width: 100% !important;
	padding: 0.375em !important;
}

.widget_blog_subscription > div {
	margin: 0 0 1.5em !important;
	padding: 1.5em !important;
}

/* Gravatar */
.widget_gravatar img {
	border-radius: 50%;
	vertical-align: middle;
}

/* Grid */
.widgets-grid-layout,
.widgets-multi-column-grid {
	margin-bottom: 1.5em;
}

.widget-grid-view-image a {
	margin: 0 !important;
}

.widgets-grid-layout img,
.widgets-multi-column-grid img {
	vertical-align: middle;
}

.widgets-multi-column-grid ul {
	margin-bottom: 1.5em;
}

.widgets-multi-column-grid ul li {
	margin: 0 !important;
	max-width: 20%;
	padding: 0 !important;
}

/* I Voted */
.widget_i_voted img {
	margin-bottom: 1.5em;
}

/* Instagram */
.widget_wpcom_instagram_widget a,
.widget_wpcom_instagram_widget img {
	display: block;
}

.widget_wpcom_instagram_widget a {
	border-bottom: 0;
}

.widget_wpcom_instagram_widget > div {
	margin-bottom: 1.5em;
}

.widget_wpcom_instagram_widget .wpcom-instagram-columns-1 img,
.widget_wpcom_instagram_widget .wpcom-instagram-columns-2 img,
.widget_wpcom_instagram_widget .wpcom-instagram-columns-3 img {
	margin: 0;
}

/* Lists */
.widget_authors ul,
.widget_jp_blogs_i_follow ol,
.widget_top-clicks ul,
.widget_top-posts ul,
.widget_upcoming_events_widget ul {
	border-bottom: 1px solid #f3f3f3;
	list-style: none;
	margin-left: 0;
}

.rtl .widget_authors ul,
.rtl .widget_jp_blogs_i_follow ol,
.rtl .widget_top-clicks ul,
.rtl .widget_top-posts ul,
.rtl .widget_upcoming_events_widget ul {
	margin-right: 0;
}

.widget-footer-top-area .widget_authors ul,
.widget-footer-top-area .widget_jp_blogs_i_follow ol,
.widget-footer-top-area .widget_top-clicks ul,
.widget-footer-top-area .widget_top-posts ul,
.widget-footer-top-area .widget_upcoming_events_widget ul {
	border-bottom-color: rgba(255, 255, 255, 0.25);
}

.widget_authors li,
.widget_jp_blogs_i_follow li,
.widget_top-clicks li,
.widget_top-posts li,
.widget_upcoming_events_widget li {
	border-top: 1px solid #f3f3f3;
	padding: 0.4365em 0;
}

.widget-footer-top-area .widget_authors li,
.widget-footer-top-area .widget_jp_blogs_i_follow li,
.widget-footer-top-area .widget_top-clicks li,
.widget-footer-top-area .widget_top-posts li,
.widget-footer-top-area .widget_upcoming_events_widget li {
	border-top-color: rgba(255, 255, 255, 0.25);
}

.widget_authors ul ul {
	border-bottom: 0;
	margin-bottom: -0.4365em;
	margin-top: 0.4365em;
	padding-left: 1.5em;
}

.rtl .widget_authors ul ul {
	padding-left: 0;
	padding-right: 1.5em;
}

/* List Layout */
.widget .widgets-list-layout {
	margin-bottom: 1.5em;
}

.widget .widgets-list-layout li {
	margin-bottom: 0;
}

.widget .widgets-list-layout span {
	display: block;
	opacity: 1;
}

/* Milestone */
.widget.milestone-widget {
	margin-bottom: 0;
}

.milestone-widget .milestone-content {
	line-height: inherit;
	margin: 0 0 1.5em;
}

.milestone-widget .milestone-header {
	background: #3e69dc;
	color: #fff;
	line-height: inherit;
	padding: 0.75em;
}

.widget-footer-top-area .milestone-widget .milestone-header {
	background: #fff;
	color: #3e69dc;
}

.milestone-widget .milestone-header .event {
	font-size: inherit;
	line-height: inherit;
}

.milestone-widget .milestone-countdown,
.milestone-widget .milestone-message {
	background: transparent;
	border-color: #f3f3f3;
	color: inherit;
}

.widget-footer-top-area .milestone-widget .milestone-countdown,
.widget-footer-top-area .milestone-widget .milestone-message {
	border-color: #fff;
}

/* My Community */
.widget_jetpack_my_community img {
	max-height: 100% !important;
	max-width: 100% !important;
}

/* Recent Comments */
.widget_recent_comments table {
	background: transparent;
	border: 0;
	margin: 0;
}

.widget_recent_comments tr,
.widget_recent_comments td {
	border: 0;
}

.widget_recent_comments tr:nth-of-type(even) {
	background: transparent;
}

.widget_recent_comments td.recentcommentsavatarend,
.widget_recent_comments td.recentcommentsavatartop,
.widget_recent_comments td.recentcommentstextend {
	padding: 0 0 1.5em;
	vertical-align: middle;
}

.widget_recent_comments td.recentcommentstextend {
	padding-left: 0.4365em;
}

.rtl .widget_recent_comments td.recentcommentstextend {
	padding-left: 0;
	padding-right: 0.4365em;
}

.widget_recent_comments td.recentcommentstexttop {
	padding: 0 0 1.5em;
	padding-left: 0.5em;
}

.rtl .widget_recent_comments td.recentcommentstexttop {
	padding-left: 0;
	padding-right: 0.5em;
}

.widget_recent_comments img {
	border-radius: 50%;
	vertical-align: middle;
}

/* Recent Images */
.widget_recent_images .recent_images {
	margin-bottom: 1.25em;
}

.widget_recent_images .recent_images:before,
.widget_recent_images .recent_images:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.widget_recent_images .recent_images:after {
	clear: both;
}

.widget_recent_images .recent_images a,
.widget_recent_images .recent_images img {
	display: inline-block;
	line-height: 0;
}

.widget_recent_images .recent_images a {
	float: left;
}

.rtl .widget_recent_images .recent_images a {
	float: right;
}

.widget_recent_images .recent_images img {
	margin: 0 0.25em 0.25em 0;
}

.rtl .widget_recent_images .recent_images img {
	margin: 0 0 0.25em 0.25em;
}

/* Tag Cloud */
.wp_widget_tag_cloud > div {
	padding-bottom: 1.25em;
	display: flex;
	flex-wrap: wrap;
}

.wp_widget_tag_cloud > div a {
	background: #f3f3f3;
	box-shadow: none !important;
	display: block;
	margin-bottom: 0.25em;
	margin-right: 0.25em;
	padding: 0.25em 0.5em;
}

.rtl .wp_widget_tag_cloud > div a {
	margin-left: 0.25em;
	margin-right: 0;
}

.widget-footer-top-area .wp_widget_tag_cloud > div a {
	background: rgba(255, 255, 255, 0.25);
}

/* Top Rated */
.widget.top_rated .pd_top_rated_holder_posts {
	margin-bottom: 1.5em;
}

.widget.top_rated .pd_top_rated_holder_posts > p {
	border: 1px solid #f3f3f3;
	margin-bottom: -1px;
	padding: 0.75em;
	text-align: center;
}

.widget-footer-top-area .widget.top_rated .pd_top_rated_holder_posts > p {
	border-color: rgba(255, 255, 255, 0.75);
}

.widget.top_rated small {
	font-size: inherit;
}

.widget.top_rated ul {
	border: 1px solid #f3f3f3;
	border-top: 0;
	list-style: none;
	margin: 0;
	padding: 0.75em 0.75em 0;
}

.widget-footer-top-area .widget.top_rated ul {
	border-color: rgba(255, 255, 255, 0.75);
}

.widget.top_rated li:first-child {
	border-top: 0;
	padding-top: 0;
}

.widget.top_rated li:last-child {
	padding-bottom: 0;
}

.widget.top_rated #top_posts li {
	margin-bottom: 0.75em;
}

/* Upcoming Events */
.widget_upcoming_events_widget .upcoming-events li {
	margin-bottom: 0;
}

.widget_upcoming_events_widget .event-summary:empty {
	display: none;
}

/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## x >= 450px
--------------------------------------------------------------*/
@media screen and (min-width: 450px) {

	/* Comments */
	#comments #respond.js .comment-form-fields label {
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}

}

/*--------------------------------------------------------------
## x >= 600px
--------------------------------------------------------------*/
@media screen and (min-width: 600px) {

	/* Comments */
	#comments #respond {
		padding: 0 3em 3em;
	}

	#comments .comment #respond {
		padding-bottom: 1.5em;
	}

	#comments .comments-wrapper + #respond {
		padding-top: 3em;
	}

}

/*--------------------------------------------------------------
## x >= 768px
--------------------------------------------------------------*/
@media screen and (min-width: 768px) {

	/* Comments */
	#comments #respond h3 {
		font-size: 40px;
		font-size: 2.5rem;
		line-height: 1.125;
		margin-bottom: 1.875rem;
	}

	#comments #respond .form-submit {
		font-size: 16px;
		font-size: 1rem;
		line-height: 1.40625 !important;
	}

	#comments #respond p.form-submit input#comment-submit {
		padding-bottom: 0.703125em !important;
		padding-top: 0.703125em !important;
	}

	/* Widgets */
	.widget-small .widgets-grid-layout,
	.widget-small .widgets-list-layout,
	.widget-small .widgets-multi-column-grid,
	.widget-small .widgets-multi-column-grid ul,
	.widget-small.aboutme_widget #am_bio,
	.widget-small.aboutme_widget #am_thumbnail,
	.widget-small.milestone-widget .milestone-content,
	.widget-small.top_rated .pd_top_rated_holder_posts,
	.widget-small.widget_author_grid ul,
	.widget-small.widget_blog_subscription form,
	.widget-small.widget_blog_subscription .success,
	.widget-small.widget_i_voted img,
	.widget-small.widget_wpcom_instagram_widget > div {
		margin-bottom: 1.40625em;
	}

	.widget-small.aboutme_widget #am_services,
	.widget-small.widget_recent_images .recent_images {
		margin-bottom: 1.15625em;
	}

	.widget-small.top_rated #top_posts li {
		margin-bottom: 0.703125em;
	}

	.widget-small.widget_flickr #flickr_badge_uber_wrapper td a:last-child {
		margin-top: 1.40625em;
	}

	.aboutme_widget #am_name {
		font-size: 32px;
		font-size: 2rem;
		line-height: 1.1719;
		margin-bottom: 1.875rem;
	}

	.widget-small.aboutme_widget #am_name {
		font-size: 25px;
		font-size: 1.5625rem;
		line-height: 1.125;
		margin-bottom: 1.40625rem;
	}

	.aboutme_widget #am_headline {
		font-size: 25px;
		font-size: 1.5625rem;
		line-height: 1.2;
	}

	.widget-small.aboutme_widget #am_headline {
		font-size: 20px;
		font-size: 1.25rem;
		line-height: 1.125;
	}

	.widget-small.widget_tag_cloud > div {
		padding-bottom: 1.15625em;
	}

	.widget-small.widget_blog_subscription form,
	.widget-small.widget_blog_subscription .success {
		padding: 1.40625em 1.40625em 0;
	}

	.widget-small.widget_blog_subscription input[type="text"] {
		padding: 0.703125em !important;
	}

	.widget-small.widget_blog_subscription > div {
		margin: 0 0 1.40625em !important;
		padding: 1.40625em !important;
	}

	.widget-small.widget_authors li,
	.widget-small.widget_jp_blogs_i_follow li,
	.widget-small.widget_top-clicks li,
	.widget-small.widget_top-posts li,
	.widget-small.widget_upcoming_events_widget li {
		padding-bottom: 0.703125em;
		padding-top: 0.703125em;
	}

	.widget-small .widget_authors ul ul {
		margin-bottom: -0.703125em;
		margin-top: 0.703125em;
		padding-left: 1.40625em;
	}

	.rtl .widget-small .widget_authors ul ul {
		padding-left: 0;
		padding-right: 1.40625em;
	}

	.widget-small.milestone-widget .milestone-header,
	.widget-small.top_rated .pd_top_rated_holder_posts > p {
		padding: 0.703125em;
	}

	.widget-small.widget_recent_comments td.recentcommentsavatarend,
	.widget-small.widget_recent_comments td.recentcommentsavatartop,
	.widget-small.widget_recent_comments td.recentcommentstextend,
	.widget-small.widget_recent_comments td.recentcommentstexttop {
		padding-bottom: 1.40625em;
	}

	.widget-small.wp_widget_tag_cloud > div {
		padding-bottom: 1.15625em;
	}

	.widget-small.top_rated ul {
		padding: 0.703125em 0.703125em 0;
	}

}

/*--------------------------------------------------------------
## x >= 896px
--------------------------------------------------------------*/
@media screen and (min-width: 896px) {

	/* Comments */
	#comments #respond {
		padding-left: 0;
		padding-right: 0;
	}

}
