footer > .wp-block-group {
	align-items: center;
	justify-content: space-between; // Needed until we have a way to set this via block attributes
	padding: var(--wp--custom--gap--horizontal);
	p {
		margin-bottom: 0;
	}
}