.wp-block-code {
	color: #{map-deep-get($config-global, "color", "foreground", "default")};
	font-size: var(--font-size-sm);
	padding: #{map-deep-get($config-global, "spacing", "unit")};
	border-color: #{map-deep-get($config-global, "color", "border", "default")};

	pre {
		color: #{map-deep-get($config-global, "color", "foreground", "default")};
	}
}
