<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->

<!-- wp:group {"layout":{"type":"constrained","contentSize":"1200px"}} -->
<div class="wp-block-group"><!-- wp:query {"queryId":0,"query":{"perPage":"6","pages":0,"offset":"0","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false},"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-query"><!-- wp:group {"align":"wide","style":{"border":{"bottom":{"width":"5px"}},"spacing":{"padding":{"bottom":"var:preset|spacing|30"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide" style="border-bottom-width:5px;padding-bottom:var(--wp--preset--spacing--30)"><!-- wp:post-template {"align":"wide","layout":{"type":"default"}} -->
<!-- wp:group {"style":{"border":{"top":{"width":"2px"},"right":[],"bottom":[],"left":[]}},"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group" style="border-top-width:2px"><!-- wp:columns {"align":"wide","style":{"spacing":{"padding":{"top":"var:preset|spacing|30","bottom":"0"},"blockGap":{"top":"0"}}}} -->
<div class="wp-block-columns alignwide" style="padding-top:var(--wp--preset--spacing--30);padding-bottom:0"><!-- wp:column {"verticalAlignment":"stretch","width":"75%"} -->
<div class="wp-block-column is-vertically-aligned-stretch" style="flex-basis:75%"><!-- wp:post-title {"level":1,"isLink":true,"align":"wide"} /--></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"stretch","width":"0%"} -->
<div class="wp-block-column is-vertically-aligned-stretch" style="flex-basis:0%"></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"stretch","width":"25%"} -->
<div class="wp-block-column is-vertically-aligned-stretch" style="flex-basis:25%"><!-- wp:group {"style":{"spacing":{"blockGap":"0","padding":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40"}},"dimensions":{"minHeight":"100%"}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between","orientation":"vertical","verticalAlignment":"top"}} -->
<div class="wp-block-group" style="min-height:100%;padding-top:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--40)"><!-- wp:post-date {"format":"F j · y"} /-->

<!-- wp:post-terms {"term":"category"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:group -->

<!-- wp:query-pagination {"align":"wide","layout":{"type":"flex","justifyContent":"left","flexWrap":"wrap"}} -->
<!-- wp:query-pagination-previous {"label":"Prev"} /-->

<!-- wp:query-pagination-numbers /-->

<!-- wp:query-pagination-next {"label":"Next"} /-->
<!-- /wp:query-pagination --></main>
<!-- /wp:query --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"header","tagName":"header"} /-->