.sticky {

}

.sticky-post {
	color: #{map-deep-get($config-global, "color", "background")};
	background-color: #{map-deep-get($config-global, "color", "primary", "default")};
	font-family: #{map-deep-get($config-global, "font", "family", "primary")};
	font-weight: bold;
	font-size: #{map-deep-get($config-global, "font", "size", "sm")};
	line-height: 1;
	padding: calc(0.5 * #{map-deep-get($config-global, "spacing", "unit")}) calc(0.66 * #{map-deep-get($config-global, "spacing", "unit")} );
}

.updated:not(.published) {

}

.entry {

}
