@charset "UTF-8";
/*!
Modern Business Editor Styles
*/
/** === Includes === */
/*
* IBM Plex Sans (Google Font)
*/
/* If we add the border using a regular CSS border, it won't look good on non-retina devices,
 * since its edges can look jagged due to lack of antialiasing. In this case, we are several
 * layers of box-shadow to add the border visually, which will render the border smoother. */
/* Fallback for non-latin fonts */
/* Calculates maximum width for post content */
/* Nested sub-menu padding: 10 levels deep */
.author-description .author-link,
.comment-metadata,
.comment-reply-link,
.comments-title,
.comment-author .fn,
.discussion-meta-info,
.entry-meta,
.entry-footer,
.main-navigation,
.no-comments,
.not-found .page-title,
.error-404 .page-title,
.post-navigation .post-title,
.page-links,
.page-description,
.pagination .nav-links,
.sticky-post,
.site-title,
.site-title:focus,
.site-info,
#cancel-comment-reply-link,
img:after,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.main-navigation,
.page-description,
.author-description .author-link,
.not-found .page-title,
.error-404 .page-title,
.post-navigation .post-title,
.pagination .nav-links,
.comments-title,
.comment-author .fn,
.no-comments,
.site-title,
.site-title:focus,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-title {
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.site-branding,
.main-navigation ul.main-menu > li,
.social-navigation,
.author-description .author-bio,
.nav-links {
  line-height: 1.25;
}

.has-huge-font-size {
  font-size: 2.25em;
}

.has-large-font-size,
h1 {
  font-size: 1.6875em;
}

h2 {
  font-size: 1.125em;
}

.site-title,
.site-title:focus,
.site-description,
.nav-links,
.page-title,
.page-description,
.comment-author .fn,
.no-comments,
.has-regular-font-size,
h2.author-title,
p.author-bio,
h3 {
  font-size: 22px;
}

.has-small-font-size,
.comments-title,
h4 {
  font-size: 0.8888888889em;
}

.pagination .nav-links,
.comment-content,
h5 {
  font-size: 0.7111111111em;
}

.entry-meta,
.entry-footer,
.discussion-meta-info,
.site-info,
.comment-reply-link,
.comment-metadata,
.comment-notes,
.sticky-post,
#cancel-comment-reply-link,
img:after,
h6 {
  font-size: 0.5925925926em;
}

.page-description,
.page-links a {
  font-weight: bold;
}

.post-navigation .post-title,
.entry-title,
.not-found .page-title,
.error-404 .page-title,
.comments-title,
blockquote {
  hyphens: auto;
  word-break: break-word;
}

/* Do not hyphenate entry title on tablet view and bigger. */
@media only screen and (min-width: 768px) {
  .entry-title {
    hyphens: none;
  }
}

/** === Helper Functions === */
/**
 Given a string, $alignment, returns the nested FSE block selectors
 required for Full Site Editing to look correct. If $alignment is given,
 we use it to target wp-blocks with a matching data-align attribute.
 If no alignment is given, we target the base wp-block class. In both
 of these scenarios, we target top level blocks, and any top level blocks
 inside one of the FSE template blocks.
 */
/** === Editor Frame === */
body {
  font-weight: 300;
  background: #fff;
}
body .wp-block[data-align=full] {
  width: 100%;
}
@media only screen and (min-width: 600px) {
  body .wp-block[data-align=full], body .wp-block.post-content__block .wp-block[data-align=full] {
    width: calc(100% + 90px);
    max-width: calc(100% + 90px);
  }
}
@media only screen and (min-width: 768px) {
  body .editor-writing-flow {
    max-width: 80%;
    margin: 0 10%;
  }
  body .wp-block[data-align=wide], body .wp-block.post-content__block .wp-block[data-align=wide] {
    width: 100%;
  }
  body .wp-block[data-align=full], body .wp-block.post-content__block .wp-block[data-align=full] {
    position: relative;
    left: calc(-12.5% - 14px);
    width: calc(125% + 116px);
    max-width: calc(125% + 115px);
  }
  body .wp-block[data-align=right], body .wp-block.post-content__block .wp-block[data-align=right] {
    max-width: 125%;
  }
}

/** === Content Width === */
.wp-block, .wp-block.post-content__block .wp-block {
  width: calc(100vw - 2 * 1rem);
  max-width: 100%;
}
@media only screen and (min-width: 768px) {
  .wp-block, .wp-block.post-content__block .wp-block {
    width: 66.6666666667vw;
  }
}
@media only screen and (min-width: 1168px) {
  .wp-block, .wp-block.post-content__block .wp-block {
    width: 50vw;
  }
}
.wp-block .wp-block, .wp-block.post-content__block .wp-block .wp-block {
  width: 100%;
}

/** === Base Typography === */
body {
  font-size: 22px;
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  line-height: 1.8;
  color: #181818;
}

p {
  font-size: 22px;
  font-weight: 300;
}
p.has-small-font-size {
  font-size: 0.8888888889em;
}
p.has-normal-font-size {
  font-size: 1.125em;
}
p.has-large-font-size {
  font-size: 1.6875em;
}
p.has-huge-font-size {
  font-size: 2.25em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}
.editor-inner-blocks h1,
.editor-inner-blocks h2,
.editor-inner-blocks h3,
.editor-inner-blocks h4,
.editor-inner-blocks h5,
.editor-inner-blocks h6 {
  margin-top: 1.375rem;
  margin-bottom: 1.375rem;
  text-align: inherit;
}

h1 {
  font-size: 1.6875em;
}

h2 {
  font-size: 1.125em;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 0.8888888889em;
}

h5 {
  font-size: 0.7111111111em;
}

h6 {
  font-size: 0.5925925926em;
}

a {
  transition: color 110ms ease-in-out;
  color: #c43d80;
}
a:hover, a:active {
  color: rgb(157.9604743083, 48.0395256917, 102.5928853755);
  outline: 0;
  text-decoration: none;
}
a:focus {
  outline: 0;
  text-decoration: underline;
}

.wp-block-freeform.block-library-rich-text__tinymce a {
  color: #c43d80;
}

.has-primary-background-color,
.has-secondary-background-color,
.has-dark-gray-background-color,
.has-light-gray-background-color {
  color: #fff;
}
.has-primary-background-color p,
.has-primary-background-color h1,
.has-primary-background-color h2,
.has-primary-background-color h3,
.has-primary-background-color h4,
.has-primary-background-color h5,
.has-primary-background-color h6,
.has-primary-background-color a,
.has-secondary-background-color p,
.has-secondary-background-color h1,
.has-secondary-background-color h2,
.has-secondary-background-color h3,
.has-secondary-background-color h4,
.has-secondary-background-color h5,
.has-secondary-background-color h6,
.has-secondary-background-color a,
.has-dark-gray-background-color p,
.has-dark-gray-background-color h1,
.has-dark-gray-background-color h2,
.has-dark-gray-background-color h3,
.has-dark-gray-background-color h4,
.has-dark-gray-background-color h5,
.has-dark-gray-background-color h6,
.has-dark-gray-background-color a,
.has-light-gray-background-color p,
.has-light-gray-background-color h1,
.has-light-gray-background-color h2,
.has-light-gray-background-color h3,
.has-light-gray-background-color h4,
.has-light-gray-background-color h5,
.has-light-gray-background-color h6,
.has-light-gray-background-color a {
  color: #fff;
}

.has-white-background-color {
  color: #181818;
}
.has-white-background-color p,
.has-white-background-color h1,
.has-white-background-color h2,
.has-white-background-color h3,
.has-white-background-color h4,
.has-white-background-color h5,
.has-white-background-color h6,
.has-white-background-color a {
  color: #181818;
}

figcaption,
.gallery-caption {
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 0.7111111111em;
  line-height: 1.6;
  color: #686868;
}

/** === Post Title === */
.editor-post-title__block {
  margin-bottom: 0;
  font-size: 22px;
}
.editor-post-title__block:before {
  width: 2.8125em;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1em;
  position: relative;
  top: 0.5em;
}
.editor-post-title__block .editor-post-title__input {
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 1.6875em;
}
@media only screen and (min-width: 768px) {
  .editor-post-title__block .editor-post-title__input {
    font-size: 2.8125em;
  }
}

/** === Default Appender === */
.editor-default-block-appender .editor-default-block-appender__content {
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 22px;
}

/** === Heading === */
.wp-block-heading strong {
  font-weight: 700;
}

/** === Paragraph === */
.wp-block-paragraph.has-drop-cap:not(:focus)::first-letter {
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 3.375em;
  line-height: 1;
  font-weight: 700;
  margin: 0 0.25em 0 0;
}

/** === Table === */
.wp-block-table {
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

/** === Cover === */
.wp-block-cover-image,
.wp-block-cover {
  position: relative;
  min-height: 420px;
  padding: 1rem;
}
@media only screen and (min-width: 768px) {
  .wp-block-cover-image,
  .wp-block-cover {
    min-height: 640px;
    padding: 1rem 10%;
  }
}
.wp-block-cover-image + .wp-block-cover:not(.alignleft):not(.alignrights), .wp-block-cover-image + .wp-block-cover-image:not(.alignleft):not(.alignrights),
.wp-block-cover + .wp-block-cover:not(.alignleft):not(.alignrights),
.wp-block-cover + .wp-block-cover-image:not(.alignleft):not(.alignrights) {
  margin-top: 32px;
}
.wp-block-cover-image .wp-block-cover__inner-container,
.wp-block-cover .wp-block-cover__inner-container {
  color: #fff;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  text-shadow: 0 0 12px #000;
}
.wp-block-cover-image .wp-block-cover__inner-container strong,
.wp-block-cover .wp-block-cover__inner-container strong {
  font-weight: 700;
}
.wp-block-cover-image .wp-block-cover__inner-container a,
.wp-block-cover .wp-block-cover__inner-container a {
  color: inherit;
}
@media only screen and (min-width: 768px) {
  .wp-block-cover-image .wp-block-cover__inner-container,
  .wp-block-cover .wp-block-cover__inner-container {
    max-width: 100%;
  }
}
.wp-block-cover-image h1,
.wp-block-cover-image h2,
.wp-block-cover-image h3,
.wp-block-cover-image h4,
.wp-block-cover-image h5,
.wp-block-cover-image h6,
.wp-block-cover h1,
.wp-block-cover h2,
.wp-block-cover h3,
.wp-block-cover h4,
.wp-block-cover h5,
.wp-block-cover h6 {
  font-weight: 300;
  text-align: inherit;
}
.wp-block-cover-image h1.has-text-align-left,
.wp-block-cover-image h2.has-text-align-left,
.wp-block-cover-image h3.has-text-align-left,
.wp-block-cover-image h4.has-text-align-left,
.wp-block-cover-image h5.has-text-align-left,
.wp-block-cover-image h6.has-text-align-left,
.wp-block-cover h1.has-text-align-left,
.wp-block-cover h2.has-text-align-left,
.wp-block-cover h3.has-text-align-left,
.wp-block-cover h4.has-text-align-left,
.wp-block-cover h5.has-text-align-left,
.wp-block-cover h6.has-text-align-left {
  text-align: left;
}
.wp-block-cover-image h1.has-text-align-center,
.wp-block-cover-image h2.has-text-align-center,
.wp-block-cover-image h3.has-text-align-center,
.wp-block-cover-image h4.has-text-align-center,
.wp-block-cover-image h5.has-text-align-center,
.wp-block-cover-image h6.has-text-align-center,
.wp-block-cover h1.has-text-align-center,
.wp-block-cover h2.has-text-align-center,
.wp-block-cover h3.has-text-align-center,
.wp-block-cover h4.has-text-align-center,
.wp-block-cover h5.has-text-align-center,
.wp-block-cover h6.has-text-align-center {
  text-align: center;
}
.wp-block-cover-image h1.has-text-align-right,
.wp-block-cover-image h2.has-text-align-right,
.wp-block-cover-image h3.has-text-align-right,
.wp-block-cover-image h4.has-text-align-right,
.wp-block-cover-image h5.has-text-align-right,
.wp-block-cover-image h6.has-text-align-right,
.wp-block-cover h1.has-text-align-right,
.wp-block-cover h2.has-text-align-right,
.wp-block-cover h3.has-text-align-right,
.wp-block-cover h4.has-text-align-right,
.wp-block-cover h5.has-text-align-right,
.wp-block-cover h6.has-text-align-right {
  text-align: right;
}
.wp-block-cover-image h1,
.wp-block-cover h1 {
  font-size: 2.25em;
}
@media only screen and (min-width: 768px) {
  .wp-block-cover-image h1,
  .wp-block-cover h1 {
    font-size: 3.375em;
  }
}
.wp-block-cover-image .wp-block-cover-image-text,
.wp-block-cover-image .wp-block-cover-text,
.wp-block-cover-image h2,
.wp-block-cover .wp-block-cover-image-text,
.wp-block-cover .wp-block-cover-text,
.wp-block-cover h2 {
  font-size: 1.6875em;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding: 0;
}
@media only screen and (min-width: 768px) {
  .wp-block-cover-image .wp-block-cover-image-text,
  .wp-block-cover-image .wp-block-cover-text,
  .wp-block-cover-image h2,
  .wp-block-cover .wp-block-cover-image-text,
  .wp-block-cover .wp-block-cover-text,
  .wp-block-cover h2 {
    font-size: 2.8125em;
  }
}
.wp-block-cover-image h3,
.wp-block-cover h3 {
  font-size: 1.125em;
}
@media only screen and (min-width: 768px) {
  .wp-block-cover-image h3,
  .wp-block-cover h3 {
    font-size: 2.25em;
  }
}
.wp-block-cover-image h4,
.wp-block-cover h4 {
  font-size: 22px;
}
@media only screen and (min-width: 768px) {
  .wp-block-cover-image h4,
  .wp-block-cover h4 {
    font-size: 1.6875em;
  }
}
.wp-block-cover-image h5,
.wp-block-cover h5 {
  font-size: 0.8888888889em;
}
@media only screen and (min-width: 768px) {
  .wp-block-cover-image h5,
  .wp-block-cover h5 {
    font-size: 1.125em;
  }
}
.wp-block-cover-image h6,
.wp-block-cover h6 {
  font-size: 0.7111111111em;
}
@media only screen and (min-width: 768px) {
  .wp-block-cover-image h6,
  .wp-block-cover h6 {
    font-size: 22px;
  }
}

.wp-block[data-type="core/cover"][data-align=left] .wp-block-cover__inner-container,
.wp-block[data-type="core/cover"][data-align=right] .wp-block-cover__inner-container {
  width: 16.6666666667vw;
}
.wp-block[data-type="core/cover"][data-align=left] .wp-block-cover,
.wp-block[data-type="core/cover"][data-align=right] .wp-block-cover {
  width: 100%;
  max-width: 100%;
  padding: calc(1.375 * 1rem);
}
.wp-block[data-type="core/cover"][data-align=left] .wp-block-cover .wp-block-cover__inner-container,
.wp-block[data-type="core/cover"][data-align=right] .wp-block-cover .wp-block-cover__inner-container {
  padding-left: 0;
  padding-right: 0;
}
@media only screen and (min-width: 768px) {
  .wp-block[data-type="core/cover"][data-align=left] .wp-block-cover,
  .wp-block[data-type="core/cover"][data-align=right] .wp-block-cover {
    padding: calc(2.75 * 1rem) calc(2.75 * 1rem) calc(3.125 * 1rem);
  }
}

/* Media Text */
@media only screen and (min-width: 768px) {
  .wp-block[data-type="core/media-text"] {
    max-width: calc(50vw - 28px);
    margin-left: auto;
    margin-right: auto;
  }
  .wp-block[data-type="core/media-text"][data-align=wide] {
    max-width: 100%;
  }
}
.wp-block[data-type="core/media-text"]:nth-child(odd) .wp-block-media-text {
  background-color: #181818;
  color: #fff;
}
.wp-block[data-type="core/media-text"]:nth-child(even) .wp-block-media-text {
  background-color: #f2f2f2;
}
@media only screen and (min-width: 768px) {
  .wp-block[data-type="core/media-text"] .editor-inner-blocks {
    padding-left: 0;
  }
  .wp-block[data-type="core/media-text"] .has-media-on-the-right .editor-inner-blocks {
    padding-left: 60px;
    padding-right: 0;
  }
  .wp-block[data-type="core/media-text"][data-align=full] {
    margin-left: 0;
    max-width: 125%;
  }
  .wp-block[data-type="core/media-text"][data-align=full] .has-media-on-the-right {
    margin-left: 0;
    margin-right: 0;
  }
}

.wp-block-media-text {
  margin: 0;
}
.wp-block-media-text a,
.wp-block-media-text a:hover {
  color: inherit;
}
.wp-block-media-text .components-resizable-box__handle {
  z-index: 3;
}
.wp-block-media-text .components-resizable-box__handle-right {
  right: 18px;
}
.wp-block-media-text .components-resizable-box__handle-left {
  left: 18px;
}
@media only screen and (min-width: 768px) {
  .wp-block-media-text {
    padding: 60px 0;
  }
  .wp-block-media-text .block-library-media-text__media-container {
    margin-left: -60px;
    margin-right: 60px;
    max-width: 100%;
  }
  .wp-block-media-text .editor-inner-blocks {
    padding: 0 60px;
  }
  .wp-block-media-text.has-media-on-the-right .block-library-media-text__media-container {
    margin-right: -60px;
    margin-left: 60px;
  }
  .wp-block-media-text.has-media-on-the-right .editor-inner-blocks {
    padding-right: 0;
  }
}

[data-type="core/media-text"] + [data-type="core/media-text"] {
  margin-top: -32px;
}

/** === Gallery === */
.wp-block-gallery .blocks-gallery-image figcaption,
.wp-block-gallery .blocks-gallery-item figcaption,
.wp-block-gallery .gallery-item .gallery-caption {
  font-size: 0.7111111111em;
  line-height: 1.6;
}

/** === Button === */
.wp-block-button .wp-block-button__link {
  line-height: 1.8;
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 0.8888888889em;
  font-weight: 700;
}
.wp-block-button:not(.is-style-outline) .wp-block-button__link {
  background: #c43d80;
}
.wp-block-button:not(.is-style-squared) .wp-block-button__link {
  border-radius: 5px;
}
.wp-block-button.is-style-outline, .wp-block-button.is-style-outline:hover, .wp-block-button.is-style-outline:focus, .wp-block-button.is-style-outline:active {
  background: transparent;
  color: #c43d80;
}
.wp-block-button.is-style-outline .wp-block-button__link, .wp-block-button.is-style-outline:hover .wp-block-button__link, .wp-block-button.is-style-outline:focus .wp-block-button__link, .wp-block-button.is-style-outline:active .wp-block-button__link {
  background: transparent;
}
.wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color), .wp-block-button.is-style-outline:hover .wp-block-button__link:not(.has-text-color), .wp-block-button.is-style-outline:focus .wp-block-button__link:not(.has-text-color), .wp-block-button.is-style-outline:active .wp-block-button__link:not(.has-text-color) {
  color: #c43d80;
}

/** === Blockquote === */
.wp-block-quote:not(.is-large):not(.is-style-large) {
  border-color: #c43d80;
  border-width: 2px;
}
.wp-block-quote.is-large, .wp-block-quote.is-style-large {
  margin-top: 2.8125em;
  margin-bottom: 2.8125em;
}
.wp-block-quote.is-large p, .wp-block-quote.is-style-large p {
  font-size: 1.6875em;
  line-height: 1.3;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}
.wp-block-quote cite,
.wp-block-quote footer,
.wp-block-quote .wp-block-quote__citation {
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 0.7111111111em;
  line-height: 1.6;
  color: #686868;
}

/** === Pullquote === */
.wp-block-pullquote {
  border-color: transparent;
  border-width: 2px;
  color: #000;
}
.wp-block-pullquote blockquote {
  margin-top: calc(3 * 1rem);
  margin-bottom: calc(3.33 * 1rem);
  hyphens: auto;
  word-break: break-word;
}
.wp-block-pullquote:not(.is-style-solid-color) .wp-block-pullquote__citation {
  color: #686868;
}
.wp-block-pullquote.is-style-solid-color blockquote {
  width: calc(100% - 2 * 1rem);
  max-width: calc(100% - 2 * 1rem);
}
.wp-block-pullquote.is-style-solid-color blockquote a, .wp-block-pullquote.is-style-solid-color blockquote.has-text-color p, .wp-block-pullquote.is-style-solid-color blockquote.has-text-color a {
  color: inherit;
}
.wp-block-pullquote.is-style-solid-color blockquote:not(.has-text-color) {
  color: #fff;
}
@media only screen and (min-width: 768px) {
  .wp-block-pullquote.is-style-solid-color blockquote {
    max-width: 80%;
  }
}
.wp-block-pullquote.is-style-solid-color:not(.has-background-color) {
  background-color: #c43d80;
}

.wp-block[data-type="core/pullquote"] blockquote > .block-library-pullquote__content .editor-rich-text__tinymce[data-is-empty=true]::before,
.wp-block[data-type="core/pullquote"] blockquote > .editor-rich-text p,
.wp-block[data-type="core/pullquote"] p,
.wp-block[data-type="core/pullquote"][data-align=left] blockquote > .block-library-pullquote__content .editor-rich-text__tinymce[data-is-empty=true]::before,
.wp-block[data-type="core/pullquote"][data-align=left] blockquote > .editor-rich-text p,
.wp-block[data-type="core/pullquote"][data-align=left] p,
.wp-block[data-type="core/pullquote"][data-align=right] blockquote > .block-library-pullquote__content .editor-rich-text__tinymce[data-is-empty=true]::before,
.wp-block[data-type="core/pullquote"][data-align=right] blockquote > .editor-rich-text p,
.wp-block[data-type="core/pullquote"][data-align=right] p {
  font-size: 1.6875em;
  font-style: italic;
  line-height: 1.3;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}
@media only screen and (min-width: 768px) {
  .wp-block[data-type="core/pullquote"] blockquote > .block-library-pullquote__content .editor-rich-text__tinymce[data-is-empty=true]::before,
  .wp-block[data-type="core/pullquote"] blockquote > .editor-rich-text p,
  .wp-block[data-type="core/pullquote"] p,
  .wp-block[data-type="core/pullquote"][data-align=left] blockquote > .block-library-pullquote__content .editor-rich-text__tinymce[data-is-empty=true]::before,
  .wp-block[data-type="core/pullquote"][data-align=left] blockquote > .editor-rich-text p,
  .wp-block[data-type="core/pullquote"][data-align=left] p,
  .wp-block[data-type="core/pullquote"][data-align=right] blockquote > .block-library-pullquote__content .editor-rich-text__tinymce[data-is-empty=true]::before,
  .wp-block[data-type="core/pullquote"][data-align=right] blockquote > .editor-rich-text p,
  .wp-block[data-type="core/pullquote"][data-align=right] p {
    font-size: 2.25em;
  }
}
.wp-block[data-type="core/pullquote"] .wp-block-pullquote__citation,
.wp-block[data-type="core/pullquote"][data-align=left] .wp-block-pullquote__citation,
.wp-block[data-type="core/pullquote"][data-align=right] .wp-block-pullquote__citation {
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 0.7111111111em;
  line-height: 1.6;
  text-transform: none;
}
.wp-block[data-type="core/pullquote"] em,
.wp-block[data-type="core/pullquote"][data-align=left] em,
.wp-block[data-type="core/pullquote"][data-align=right] em {
  font-style: normal;
}

.wp-block[data-type="core/pullquote"][data-align=left] .editor-block-list__block-edit,
.wp-block[data-type="core/pullquote"][data-align=right] .editor-block-list__block-edit {
  width: 33.3333333333vw;
  max-width: 50%;
}
.wp-block[data-type="core/pullquote"][data-align=left] .editor-block-list__block-edit .wp-block-pullquote:not(.is-style-solid-color),
.wp-block[data-type="core/pullquote"][data-align=right] .editor-block-list__block-edit .wp-block-pullquote:not(.is-style-solid-color) {
  padding: 0;
}
.wp-block[data-type="core/pullquote"][data-align=left] .editor-block-list__block-edit .wp-block-pullquote.is-style-solid-color,
.wp-block[data-type="core/pullquote"][data-align=right] .editor-block-list__block-edit .wp-block-pullquote.is-style-solid-color {
  padding: 1em;
}
.wp-block[data-type="core/pullquote"][data-align=left] blockquote > .block-library-pullquote__content .editor-rich-text__tinymce[data-is-empty=true]::before,
.wp-block[data-type="core/pullquote"][data-align=left] blockquote > .editor-rich-text p,
.wp-block[data-type="core/pullquote"][data-align=left] p,
.wp-block[data-type="core/pullquote"][data-align=left] .wp-block-pullquote__citation,
.wp-block[data-type="core/pullquote"][data-align=right] blockquote > .block-library-pullquote__content .editor-rich-text__tinymce[data-is-empty=true]::before,
.wp-block[data-type="core/pullquote"][data-align=right] blockquote > .editor-rich-text p,
.wp-block[data-type="core/pullquote"][data-align=right] p,
.wp-block[data-type="core/pullquote"][data-align=right] .wp-block-pullquote__citation {
  text-align: left;
}

@media only screen and (min-width: 768px) {
  .wp-block[data-type="core/pullquote"][data-align=full] .wp-block-pullquote blockquote {
    max-width: calc(80% - 128px);
  }
}

/** === File === */
.wp-block-file {
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
.wp-block-file .wp-block-file__textlink {
  text-decoration: underline;
  color: #c43d80;
}
.wp-block-file .wp-block-file__textlink:hover {
  color: rgb(157.9604743083, 48.0395256917, 102.5928853755);
  text-decoration: none;
}
.wp-block-file .wp-block-file__button {
  display: table;
  line-height: 1.8;
  font-size: 0.8888888889em;
  font-weight: 700;
  background-color: #c43d80;
  border-radius: 5px;
}
.wp-block-file .wp-block-file__button-richtext-wrapper {
  display: block;
  margin-top: calc(0.75 * 1rem);
  margin-left: 0;
}

/** === Verse === */
.wp-block-verse,
.wp-block-verse pre {
  padding: 0;
}

/** === Code === */
.wp-block-code {
  border-radius: 0;
}

/** === Table === */
.wp-block-table td, .wp-block-table th {
  border-color: #686868;
}

/** === Separator === */
.wp-block-separator {
  background-color: #686868;
  border: 0;
  height: 1px;
  max-width: 5em;
  text-align: left;
}
.wp-block-separator.is-style-wide {
  max-width: 100%;
}
.wp-block-separator.is-style-dots {
  max-width: 100%;
  background-color: inherit;
  border: inherit;
  height: inherit;
  text-align: center;
}
.wp-block-separator.is-style-dots:before {
  color: #686868;
  font-size: 1.6875em;
}

/* Remove duplicate rule-line when a separator
 * is followed by an H1, or H2 */
.wp-block[data-type="core/separator"] + .wp-block[data-type="core/heading"] h1:before,
.wp-block[data-type="core/separator"] + .wp-block[data-type="core/heading"] h2:before {
  display: none;
}

/** === Latest Posts, Archives, Categories === */
ul.wp-block-archives,
.wp-block-categories,
.wp-block-latest-posts {
  padding: 0;
  list-style-type: none;
}
ul.wp-block-archives ul,
.wp-block-categories ul,
.wp-block-latest-posts ul {
  padding: 0;
  list-style-type: none;
}
ul.wp-block-archives li,
.wp-block-categories li,
.wp-block-latest-posts li {
  color: #686868;
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: calc(22px * 1.125);
  font-weight: 700;
  line-height: 1.2;
  padding-bottom: 0.75rem;
}
ul.wp-block-archives li.menu-item-has-children, ul.wp-block-archives li:last-child,
.wp-block-categories li.menu-item-has-children,
.wp-block-categories li:last-child,
.wp-block-latest-posts li.menu-item-has-children,
.wp-block-latest-posts li:last-child {
  padding-bottom: 0;
}
ul.wp-block-archives li a,
.wp-block-categories li a,
.wp-block-latest-posts li a {
  text-decoration: none;
}
ul.wp-block-archives li ul,
.wp-block-categories li ul,
.wp-block-latest-posts li ul {
  padding-left: 1rem;
}

.wp-block-categories ul {
  padding-top: 0.75rem;
}
.wp-block-categories ul ul {
  counter-reset: submenu;
}
.wp-block-categories ul ul > li > a::before {
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: normal;
  content: "– " counters(submenu, "– ", none);
  counter-increment: submenu;
}
.wp-block-categories li ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: -0.75rem;
}

/** === Latest Posts grid view === */
.wp-block-latest-posts.is-grid li {
  border-top: 2px solid #ccc;
  padding-top: 1rem;
  margin-bottom: 2rem;
}
.wp-block-latest-posts.is-grid li a:after {
  content: "";
}
.wp-block-latest-posts.is-grid li:last-child {
  margin-bottom: auto;
}
.wp-block-latest-posts.is-grid li:last-child a:after {
  content: "";
}

/** === Latest Comments === */
.wp-block-latest-comments .wp-block-latest-comments__comment-meta {
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
}
.wp-block-latest-comments .wp-block-latest-comments__comment-meta .wp-block-latest-comments__comment-date {
  font-weight: 300;
}
.wp-block-latest-comments .wp-block-latest-comments__comment,
.wp-block-latest-comments .wp-block-latest-comments__comment-date,
.wp-block-latest-comments .wp-block-latest-comments__comment-excerpt p {
  font-size: inherit;
}
.wp-block-latest-comments .wp-block-latest-comments__comment-date {
  font-size: 0.7111111111em;
}

/** === Classic Editor === */
/* Properly center-align captions in the classic-editor block */
.wp-caption dd {
  color: #686868;
  font-size: 0.7111111111em;
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0.5rem;
  text-align: left;
  text-align: center;
  margin-inline-start: 0px;
}

.wp-block-freeform {
  /* Add style for galleries in classic-editor block */
}
.wp-block-freeform blockquote {
  border-left: 2px solid #c43d80;
}
.wp-block-freeform blockquote cite {
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 0.7111111111em;
  font-style: normal;
  line-height: 1.6;
  color: #686868;
}

/* Make sure our non-latin font overrides don't overwrite the iconfont used in the classic editor toolbar */
.wp-block[data-type="core/freeform"] .mce-btn i {
  font-family: dashicons !important;
}

/** === Mailchimp Block - Temp Fix === */
.wp-block-jetpack-mailchimp p {
  font-size: 0.7111111111em;
}

/** === Business Hours Block - Temp Fix === */
.wp-block-jetpack-business-hours dt,
.wp-block-jetpack-business-hours dd {
  float: left;
}
.wp-block-jetpack-business-hours dt {
  clear: both;
  font-weight: bold;
  margin-right: 0.5rem;
}
.wp-block-jetpack-business-hours dd {
  margin: 0;
}

/*# sourceMappingURL=style-editor.css.map */