.wp-block-a8c-blog-posts {
	article {
		margin-bottom: 96px;
	}

	.post-thumbnail img {
		width: auto;
	}

	.entry-title {
		font-size: #{map-deep-get($config-heading, "font", "size", "h2")};
		letter-spacing: #{map-deep-get($config-heading, "font", "letter-spacing", "h2")};
		line-height: #{map-deep-get($config-heading, "font", "line-height", "h2")};

		a {
			color: #{map-deep-get($config-global, "color", "primary", "default")};
			text-decoration: underline;

			&:hover {
				color: #{map-deep-get($config-global, "color", "primary", "hover")};
			}
		}
	}

	.entry-meta,
	.entry-footer,
	.cat-links {
		color: #{map-deep-get($config-global, "color", "foreground", "light")};
		font-size: #{map-deep-get($config-global, "font", "size", "sm")};
	}
}