.wp-block-a8c-blog-posts {
	&.image-aligntop {
		.post-thumbnail {
			margin-bottom: #{0.5 * map-deep-get($config-global, "spacing", "vertical")};
		}
	}

	&.image-alignleft {
		.post-thumbnail {
			margin-right: #{map-deep-get($config-global, "spacing", "vertical")};
		}
	}

	&.image-alignright {
		.post-thumbnail {
			margin-left: #{map-deep-get($config-global, "spacing", "vertical")};
		}
	}

	&.image-alignbehind .post-has-image {
		 .entry-wrapper {
			padding: #{map-deep-get($config-global, "spacing", "vertical")};
		}

		.cat-links {
			color: #fff;
		}

		a:hover {
			color: currentColor;
		}
	}

	.article-section-title {
		font-size: (strip-unit(map-deep-get($config-global, "font", "size", "base")) + 0em);
		margin-top: 0;
		margin-bottom: #{0.5 * map-deep-get($config-global, "spacing", "vertical")};
	}

	article {
		margin-bottom: #{2 * map-deep-get($config-global, "spacing", "vertical")};

		@include media(mobile) {
			margin-bottom: #{3 * map-deep-get($config-global, "spacing", "vertical")};
		}
	}

	.post-thumbnail {
		img {
			vertical-align: middle;
			width: auto;
		}
	}

	.entry-wrapper > * {
		/* Vertical margins logic between post details */
		margin-top: #{map-deep-get($config-global, "spacing", "unit")};
		margin-bottom: #{map-deep-get($config-global, "spacing", "unit")};

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.entry-title {
		a {
			color: #{map-deep-get($config-global, "color", "primary", "default")};

			.has-background:not(.has-background-background-color) &,
			[class*="background-color"]:not(.has-background-background-color) &,
			[style*="background-color"] & {
				color: currentColor;
			}


			&:hover {
				color: #{map-deep-get($config-global, "color", "primary", "hover")};
				text-decoration: underline;
			}

			.has-background:not(.has-background-background-color) &,
			[class*="background-color"]:not(.has-background-background-color) &,
			[style*="background-color"] & {
				color: currentColor;
			}
		}
	}

	.more-link {
		display: block;
		color: inherit;
		margin-top: #{map-deep-get($config-global, "spacing", "unit")};

		&:after {
			content: "\02192";
			display: inline-block;
			margin-left: 0.5em;
		}

		&:hover,
		&:active {
			color: #{map-deep-get($config-global, "color", "primary", "hover")};
			text-decoration: none;

			.has-background:not(.has-background-background-color) &,
			[class*="background-color"]:not(.has-background-background-color) &,
			[style*="background-color"] & {
				color: currentColor;
			}
		}
	}

	.entry-meta,
	.cat-links {
		color: #{map-deep-get($config-global, "color", "foreground", "light")};
		font-size: (strip-unit(map-deep-get($config-global, "font", "size", "sm")) + 0em);

		.has-background:not(.has-background-background-color) &,
		[class*="background-color"]:not(.has-background-background-color) &,
		[style*="background-color"] & {
			color: currentColor;
		}

		.byline:not(:last-child) {
			margin-right: #{map-deep-get($config-global, "spacing", "unit")};
		}

		.published + .updated {
			display: none;
		}

		a {
			color: currentColor;
			text-decoration: underline;

			&:hover,
			&:active {
				color: #{map-deep-get($config-global, "color", "primary", "hover")};
				text-decoration: none;

				.has-background:not(.has-background-background-color) &,
				[class*="background-color"]:not(.has-background-background-color) &,
				[style*="background-color"] & {
					color: currentColor;
				}
			}
		}
	}
}

@import "../../base/extends";
.wp-block-a8c-blog-posts + .button {
	// Extend button style
	@extend %button-style;
	display: inline-block;
	font-size: (strip-unit(map-deep-get($config-global, "font", "size", "md")) + 0em);

	&:hover {
		cursor: default;
	}

	.has-background:not(.has-background-background-color) &,
	[class*="background-color"]:not(.has-background-background-color) &,
	[style*="background-color"] & {
		background-color: transparent;
		border: 2px solid currentColor;
		color: currentColor;
	}
}
