<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"},"padding":{"top":"7vw","bottom":"7vw"}}},"layout":{"inherit":true,"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:0px;margin-bottom:0px;padding-top:7vw;padding-bottom:7vw">

	<!-- wp:pattern {"slug":"masu/404"} /-->
	<!-- wp:search {"showLabel":false,"placeholder":"Search...","buttonText":"Search","buttonUseIcon":true} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer-container"} /-->
