<!-- wp:group {"style":{"spacing":{"blockGap":"","margin":{"top":"0vh","bottom":"0vh"},"padding":{"top":"0vh","right":"0vh","bottom":"0vh","left":"0vh"}},"position":{"type":"sticky","top":"0px"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="margin-top:0vh;margin-bottom:0vh;padding-top:0vh;padding-right:0vh;padding-bottom:0vh;padding-left:0vh"><!-- wp:template-part {"slug":"header-pages","area":"uncategorized","align":"full"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"var:preset|spacing|70"}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group"><!-- wp:columns {"verticalAlignment":"bottom","isStackedOnMobile":false} -->
<div class="wp-block-columns are-vertically-aligned-bottom is-not-stacked-on-mobile"><!-- wp:column {"verticalAlignment":"bottom","width":"50px"} -->
<div class="wp-block-column is-vertically-aligned-bottom" style="flex-basis:50px"><!-- wp:site-logo {"width":48,"shouldSyncIcon":false,"className":"is-style-rounded"} /--></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"bottom"} -->
<div class="wp-block-column is-vertically-aligned-bottom"><!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"var:preset|spacing|30","right":"var:preset|spacing|30","bottom":"var:preset|spacing|30","left":"var:preset|spacing|30"},"blockGap":"0rem"},"border":{"radius":"10px","width":"1px"}},"backgroundColor":"primary","borderColor":"primary","layout":{"type":"flex","flexWrap":"nowrap","orientation":"vertical"}} -->
<div class="wp-block-group alignwide has-border-color has-primary-border-color has-primary-background-color has-background" style="border-width:1px;border-radius:10px;padding-top:var(--wp--preset--spacing--30);padding-right:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)"><!-- wp:post-title {"level":1} /-->

<!-- wp:post-content /--></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:columns {"verticalAlignment":"bottom","isStackedOnMobile":false} -->
<div class="wp-block-columns are-vertically-aligned-bottom is-not-stacked-on-mobile"><!-- wp:column {"verticalAlignment":"bottom","width":"50px"} -->
<div class="wp-block-column is-vertically-aligned-bottom" style="flex-basis:50px"></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"bottom"} -->
<div class="wp-block-column is-vertically-aligned-bottom"><!-- wp:comments -->
<div class="wp-block-comments"><!-- wp:comments-title {"level":1} /-->

<!-- wp:comment-template {"style":{"spacing":{"margin":{"top":"1.5rem","bottom":"5vh"}}}} -->
<!-- wp:columns {"verticalAlignment":"bottom","isStackedOnMobile":false,"align":"wide","style":{"spacing":{"padding":{"top":"0rem","right":"0rem","bottom":"0rem","left":"0rem"}}}} -->
<div class="wp-block-columns alignwide are-vertically-aligned-bottom is-not-stacked-on-mobile" style="padding-top:0rem;padding-right:0rem;padding-bottom:0rem;padding-left:0rem"><!-- wp:column {"verticalAlignment":"bottom"} -->
<div class="wp-block-column is-vertically-aligned-bottom"><!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"0","margin":{"top":"0rem","bottom":"0rem"},"padding":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30","left":"var:preset|spacing|30","right":"var:preset|spacing|30"}},"border":{"radius":"10px","width":"1px"}},"backgroundColor":"primary","borderColor":"primary","layout":{"type":"flex","flexWrap":"nowrap","orientation":"vertical","justifyContent":"stretch"}} -->
<div class="wp-block-group alignwide has-border-color has-primary-border-color has-primary-background-color has-background" style="border-width:1px;border-radius:10px;margin-top:0rem;margin-bottom:0rem;padding-top:var(--wp--preset--spacing--30);padding-right:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)"><!-- wp:comment-author-name {"className":"no-underline"} /-->

<!-- wp:comment-content {"style":{"spacing":{"padding":{"left":"0px","right":"0px","top":"0px","bottom":"0px"}}}} /-->

<!-- wp:comment-reply-link /--></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"bottom","width":"50px"} -->
<div class="wp-block-column is-vertically-aligned-bottom" style="flex-basis:50px"><!-- wp:avatar {"size":48,"style":{"border":{"radius":"56px"},"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"margin":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}}} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->
<!-- /wp:comment-template -->

<!-- wp:post-comments-form {"fontSize":"medium"} /--></div>
<!-- /wp:comments --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></main>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:template-part {"slug":"footer","area":"footer"} /--></div>
<!-- /wp:group -->