<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"var:preset|spacing|50","margin":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:var(--wp--preset--spacing--80);margin-bottom:var(--wp--preset--spacing--60)">
<!-- wp:pattern {"slug":"fictionary/404"} /-->

<!-- wp:search {"label":"","showLabel":false,"buttonText":"","buttonUseIcon":true,"style":{"typography":{"fontSize":"0.9rem"},"border":{"width":"0px","style":"none","radius":"0px"}},"fontFamily":"inter"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
