@mixin header-variables() {
	--branding--color-text: var(--global--color-foreground);
	--branding--color-link: var(--global--color-primary);
	--branding--color-link-hover: var(--global--color-primary-hover);
	--branding--title--font-family: var(--global--font-primary);
	--branding--title--font-size: calc( 1.25 * var(--heading--font-size-h1) ); // This is a one-off calculation.
	--branding--title--font-size-mobile: var(--heading--font-size-h1);
	--branding--title--font-weight: 700;
	--branding--description--font-family: var(--global--font-secondary);
	--branding--description--font-size: var(--global--font-size-sm);
	--branding--description--font-family: var(--global--font-secondary);

	--branding--logo--max-width: 120px;
	--branding--logo--max-height: 120px;
	--branding--logo--max-width-mobile: 96px;
	--branding--logo--max-height-mobile: 96px;

	--primary-nav--font-family: var(--global--font-secondary);
	--primary-nav--font-family-mobile: var(--global--font-primary);
	--primary-nav--font-size: var(--global--font-size-sm);
	--primary-nav--font-size-mobile: var(--global--font-size-xxl);
	--primary-nav--font-size-sub-menu-mobile: var(--global--font-size-lg);
	--primary-nav--font-style: normal;
	--primary-nav--font-style-sub-menu-mobile: italic;
	--primary-nav--font-weight: normal;
	--primary-nav--line-height: var(--global--line-height-body);
	--primary-nav--color-border: var(--global--color-secondary);
	--primary-nav--color-link: var(--global--color-primary);
	--primary-nav--color-link-hover: var(--global--color-primary-hover);
	--primary-nav--color-text: var(--global--color-foreground);
	--primary-nav--padding: calc(0.66 * var(--global--spacing-unit) );
	--primary-nav--justify-content: center;

	--social-nav--color-link: var(--global--color-foreground);
	--social-nav--color-link-hover: var(--global--color-primary-hover);
	--social-nav--padding: calc( 0.5 * var(--primary-nav--padding) );

	--wpcom-marketing-bar--height: 45px;
	--wpadmin-bar--height: 46px;
}
