<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0rem","bottom":"0rem"},"blockGap":"0px","padding":{"top":"0rem","bottom":"0rem"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="margin-top:0rem;margin-bottom:0rem;padding-top:0rem;padding-bottom:0rem"><!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"8rem","bottom":"8rem"}}},"layout":{"type":"constrained","justifyContent":"left"}} -->
<div class="wp-block-group alignwide" style="padding-top:8rem;padding-bottom:8rem"><!-- wp:group {"align":"wide","style":{"spacing":{"margin":{"bottom":"4rem"},"blockGap":"1.5rem"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
<div class="wp-block-group alignwide" style="margin-bottom:4rem"><!-- wp:heading {"textAlign":"left","level":1,"align":"wide","style":{"typography":{"fontSize":"5rem","textTransform":"uppercase","lineHeight":"1.1"}},"className":"has-text-align-center"} -->
<h1 class="wp-block-heading alignwide has-text-align-left has-text-align-center" style="font-size:5rem;line-height:1.1;text-transform:uppercase">This page<br>was not found.</h1>
<!-- /wp:heading -->

<!-- wp:paragraph {"fontSize":"medium"} -->
<p class="has-medium-font-size">Please try a new search.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:search {"showLabel":false,"placeholder":"Search...","width":null,"widthUnit":"%","buttonPosition":"button-inside","buttonUseIcon":true,"style":{"border":{"width":"0px","style":"none"}}} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->