@import "../../varia/sass/full-site-editing/editor";

@import 'site-navigation';

.fse-template-part {
	.has-normal-font-size {
		font-size: map-deep-get($config-global, "font", "size", "md");
	}

	.site-description {
		@include font-family( map-deep-get($config-header, "branding", "description", "font", "family") );
	}
	
	.main-navigation {
		text-transform: uppercase;

		@extend #site-navigation;

		.has-background > .main-menu.footer-menu {
			padding: 0;
		}
		.has-text-color ul.main-menu > li:after {
			color: inherit;
		}
	}

	.wp-block-cover,
	.wp-block-cover-image {
		.site-title {
			font-weight: #{map-deep-get($config-heading, "font", "weight")};
		}

		.has-background {
			text-shadow: none;
		}
	}
}

.post-content__block {
	margin-top: -36px;
}
