@mixin global-variables() {

	/* Colors */
	--wp--preset--color--primary: #0C80A1;
	--wp--preset--color--primary-hover: darken(#0C80A1, 10%);
	--wp--preset--color--secondary: #D4401C;
	--wp--preset--color--secondary-hover: darken(#D4401C, 10%);
	--wp--preset--color--foreground: #444444;
	--wp--preset--color--foreground-low-contrast: #767676;
	--wp--preset--color--foreground-high-contrast: #222222;
	--wp--preset--color--background: #ffffff;
	--wp--preset--color--background-low-contrast: #EAEAEA;
	--wp--preset--color--background-high-contrast: #FAFAFA;
	--wp--preset--color--border: #EAEAEA;
	--wp--preset--color--border-low-contrast: #DADADA;
	--wp--preset--color--border-high-contrast: #FAFAFA;
	--wp--preset--color--text-selection: lighten(#0C80A1, 55%);
	--wp--preset--color--alert-success:yellowgreen;
	--wp--preset--color--alert-info: skyblue;
	--wp--preset--color--alert-warning: gold;
	--wp--preset--color--alert-error: salmon;
	--wp--preset--color--black: black;
	--wp--preset--color--white: white;

}
