/**
 * These styles should be loaded by the Block Editor only
 */

/**
 * Abstracts
 * - Mixins, variables and functions
 */
@import "../../varia/sass/abstracts/imports";

/**
 * Child Theme Name
 */
@import "config-child-theme-deep";

/**
 * Base
 * - Reset the browser
 */
@import "../../varia/sass/base/editor";

/**
 * Elements
 * - Styles for basic HTML elemants
 */
@import "../../varia/sass/elements/editor";

/**
 * Blocks
 * - These styles replace key Gutenberg Block styles for fonts, colors, and
 *   spacing with CSS-variables overrides
 */
@import "../../varia/sass/blocks/editor";

/**
 * Vendors
 * - Styles for 3rd party plugins and WP extensions
 */
@import "../../varia/sass/vendors/editor";

.wp-block-a8c-blog-posts {
	.entry-title a {
		&:active,
		&:focus,
		&:hover {
			text-decoration: none;
		}
	}

	.cat-links a,
	.more-link,
	.entry-meta a {
		text-decoration: none;

		&:active,
		&:focus,
		&:hover {
			text-decoration: underline;
		}
	}

	&.image-alignbehind article {
		.entry-title a {
			&:active,
			&:focus,
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.has-background:not(.has-background-background-color),
[class*="background-color"]:not(.has-background-background-color),
[style*="background-color"] {
	.wp-block-a8c-blog-posts {
		.entry-title a{
			&:active,
			&:focus,
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.wp-block-a8c-blog-posts + .button {
	font-size: (strip-unit(map-deep-get($config-global, "font", "size", "sm")) + 0em);
}

/**
 * Extras
 */
.editor-post-title__input {
	text-align: center;
}

/**
 * Full Site Editing
 * - Full Site Editing overrides
 */
 @import "full-site-editing-editor";
