/*
Theme Name: Montagna
Theme URI: https://wordpress.com/theme/montagna/
Author: Automattic
Author URI: https://automattic.com/
Description: A WordPress theme for travel-related websites and blogs designed to showcase stunning destinations around the world.
Requires at least: 5.8
Tested up to: 5.9
Requires PHP: 5.7
Version: 1.0.2
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Template: 
Text Domain: montagna
Tags: one-column, wide-blocks, custom-colors, custom-logo, custom-menu, editor-style, featured-images, full-site-editing, rtl-language-support, theme-options, threaded-comments, translation-ready
*/