@import '../structure/responsive-logic';
@import 'base';
@import 'extends';

body {
	--wp--typography--line-height: var(--global--line-height-body);
	color: var(--global--color-foreground);
	background-color: var(--global--color-background);
	font-family: var(--global--font-secondary);
	font-size: var(--global--font-size-root);
	font-weight: normal;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

// Set font size of title block the same as body.
.editor-post-title__block {
	font-size: var(--global--font-size-root);
}
