@import '../structure/responsive-logic';

body {
	--wp--typography--line-height: var(--global--line-height-body);
	color: var(--global--color-foreground);
	background-color: var(--global--color-background);
	font-family: var(--global--font-secondary);
	font-size: var(--global--font-size-root);
	font-weight: normal;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

// Set font size of title block the same as body.
.editor-post-title__block {
	font-size: var(--global--font-size-root);
}

// Links styles
.wp-block a {
	border-bottom: 1px solid var(--global--color-secondary);
	color: var( --wp--style--color--link, var(--global--color-primary) );
	text-decoration: none;

	&:hover,
	&:focus {
		color: var(--global--color-primary-hover);
	}

	&:active {
		color: var( --wp--style--color--link, var(--global--color-primary) );
	}

	// If a custom link color has been assigned,
	// switch the color of the bottom border too. 
	.has-link-color & {
		border-bottom: 1px solid var(--wp--style--color--link);
	}
}
// Enforce the custom link color even if a custom background color has been set.
// The extra specificity here is required to override the background color styles.
.has-background:not(.has-background-background-color) {
	// Target both current level and nested block.
	.has-link-color a,
	&.has-link-color a {
		color: var( --wp--style--color--link, var(--global--color-primary) );
	}
}

button,
a {
	cursor: pointer;
}
