<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"layout":{"inherit":false}} -->
<div class="wp-block-group">

<!-- wp:spacer {"height":"clamp(1rem, calc(1rem + ((1vw - 0.48rem) * 5.7692)), 2rem)"} -->
<div style="height:clamp(1rem, calc(1rem + ((1vw - 0.48rem) * 5.7692)), 2rem)" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:pattern {"slug":"disco/search"} /-->

<!-- wp:spacer {"height":"clamp(1.5rem, calc(1.5rem + ((1vw - 0.48rem) * 5.7692)), 3rem)"} -->
<div style="height:clamp(1.5rem, calc(1.5rem + ((1vw - 0.48rem) * 5.7692)), 3rem)" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div>

<!-- /wp:group -->

<!-- wp:pattern {"slug":"disco/posts-list"} /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->