@mixin global-variables() {

	/* Colors */
	--wp--preset--color--primary: blue;
	--wp--preset--color--primary-hover: indigo;
	--wp--preset--color--secondary: red;
	--wp--preset--color--secondary-hover: darkred;
	--wp--preset--color--foreground: #444444;
	--wp--preset--color--foreground-low-contrast: #767676;
	--wp--preset--color--foreground-high-contrast: #111111;
	--wp--preset--color--background: white;
	--wp--preset--color--background-low-contrast: #FAFAFA;
	--wp--preset--color--background-high-contrast: #DDDDDD;
	--wp--preset--color--border: #DDDDDD;
	--wp--preset--color--border-low-contrast: #FAFAFA;
	--wp--preset--color--border-high-contrast: #AAAAAA;
	--wp--preset--color--text-selection: lightblue;
	--wp--preset--color--alert-success: yellowgreen;
	--wp--preset--color--alert-info: skyblue;
	--wp--preset--color--alert-warning: gold;
	--wp--preset--color--alert-error: salmon;
	--wp--preset--color--black: black;
	--wp--preset--color--white: white;

}
