/*
Theme Name: Varia CHILD THEME TEST
Theme URI: https://github.com/Automattic/themes/varia
Author: Automattic
Author URI: https://automattic.com/
Description: A design system for WordPress sites built with Gutenberg.
Requires at least: WordPress 4.9.6
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Template: varia
Text Domain: varia-child-theme
Tags: one-column, flexible-header, accessibility-ready, custom-colors, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, rtl-language-support, sticky-post, threaded-comments, translation-ready, auto-loading-homepage, full-site-editing, jetpack-global-styles

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Varia is based on Underscores https://underscores.me/, (C) 2012-2019 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

/**
 * Abstracts
 * - Mixins, variables and functions
 */
@import "../abstracts/imports";

/**
 * Child Theme Deep
 */
@import "config-child-theme-deep";

/**
 * Base
 * - Reset the browser
 */
@import "../base/imports";

/**
 * Layout
 * - Structral and responsive styles
 */
@import "../layout/imports";

/**
 * Elements
 * - Styles for basic HTML elemants
 */
@import "../elements/imports";

/**
 * Blocks
 * - These styles replace key Gutenberg Block styles for fonts, colors, and
 *   spacing with CSS-variables overrides
 * - In the future the Block styles may get compiled to individual .css
 *   files and conditionally loaded
 */
@import "../blocks/imports";

/**
 * Components
 * - Similar to Blocks but exist outside of the "current" editor context
 */
@import "../components/imports";

/**
 * Site Pages
 * - Page specific styles
 */
@import "../pages/imports";

/**
 * Responsive Logic
 * - Loading this last to respect cascaing rules
 */
@import "../abstracts/responsive-logic";

/**
 * Vendors
 * - Styles for 3rd party plugins and WP extensions
 */
@import "../vendors/imports";

/**
 * Child Theme Extra Styles
 */
@import "extra-child-theme";
