/**
 * WooCommerce Styles
 * - These styles should only be loaded when WooCommerce is active
 */

/**
 * Abstracts
 * - Functions and config
 */
@import "../abstracts/functions";
@import "../abstracts/config-global";

/**
 * Child Theme Name Config
 */
@import "config-child-theme-deep";

/**
 * WooCommerce Config
 */
@import "config-child-theme-woocommerce";

/**
 * Varia Mixins
 */
@import "../abstracts/mixins";

/**
 * Varia Responsive Logic
 */
@import "../abstracts/responsive-logic";

/**
 * Varia Extends
 */
@import "../base/extends";

/**
 * WooCommerce Styles
 */
@import "../vendors/woocommerce/style";
