<!-- wp:template-part {"slug":"header","tagName":"header","align":"full"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|70"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-bottom:var(--wp--preset--spacing--70)"><!-- wp:columns {"verticalAlignment":"top","align":"wide","style":{"spacing":{"margin":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}}} -->
<div class="wp-block-columns alignwide are-vertically-aligned-top" style="margin-top:var(--wp--preset--spacing--60);margin-bottom:var(--wp--preset--spacing--60)"><!-- wp:column {"verticalAlignment":"top","width":"66.6%","style":{"spacing":{"padding":{"bottom":"0"}}}} -->
<div class="wp-block-column is-vertically-aligned-top" style="padding-bottom:0;flex-basis:66.6%"><!-- wp:heading {"level":1,"style":{"typography":{"textTransform":"uppercase"}}} -->
<h1 class="wp-block-heading" id="oops-that-page-can-t-be-found" style="text-transform:uppercase">Oops! That page can’t be found.</h1>
<!-- /wp:heading --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"33.3%","style":{"spacing":{"padding":{"bottom":"0","top":"10px"}}}} -->
<div class="wp-block-column" style="padding-top:10px;padding-bottom:0;flex-basis:33.3%"><!-- wp:paragraph -->
<p>It looks like nothing was found at this location. Maybe try a search?</p>
<!-- /wp:paragraph -->

<!-- wp:search {"label":"Search","showLabel":false,"placeholder":"Search...","buttonText":"Search","buttonPosition":"button-inside","buttonUseIcon":true} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></main>
<!-- /wp:group -->

<!-- wp:group {"align":"full","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull" style="margin-top:0px;margin-bottom:0px"><!-- wp:template-part {"slug":"footer-simple","area":"footer","align":"full"} /--></div>
<!-- /wp:group -->