/*
Theme Name: Videomaker
Theme URI: https://wordpress.com/theme/videomaker
Author: Automattic
Author URI: https://automattic.com/
Description: Videomaker is a free, minimalistic WordPress theme ideal for film directors and video creators.
Requires at least: 5.8
Tested up to: 5.8
Requires PHP: 5.7
Version: 1.0.25
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Template: blockbase
Text Domain: videomaker
Tags: one-column, block-styles, custom-colors, custom-menu, custom-logo, editor-style, featured-images, full-site-editing, block-patterns, rtl-language-support, theme-options, threaded-comments, translation-ready, wide-blocks, auto-loading-homepage

*/
