/*
Theme Name: Bitácora
Theme URI: https://wordpress.com/theme/bitacora
Author: Automattic
Author URI: https://automattic.com/
Description: Bitácora is a simple old-school blog theme.
Requires at least: 6.0
Tested up to: 6.1.1
Requires PHP: 5.7
Version: 1.0.8
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Template: 
Text Domain: bitacora
Tags: two-columns, right-sidebar, custom-colors, custom-menu, custom-logo, editor-style, featured-images, full-site-editing, rtl-language-support, theme-options, threaded-comments, translation-ready, blog, style-variations
*/

/*
 * Control the hover stylings of outline block style.
 * Unnecessary once block styles are configurable via theme.json
 * https://github.com/WordPress/gutenberg/issues/42794
 */
.wp-block-button.is-style-outline
	> .wp-block-button__link:not(.has-background):hover {
	background-color: var(--wp--preset--color--secondary);
	color: var(--wp--preset--color--background);
	border-color: var(--wp--preset--color--secondary);
}

/*
 * Link styles
 * https://github.com/WordPress/gutenberg/issues/42319
 */
a {
	text-decoration-thickness: 0.5px !important;
	text-underline-offset: 0.05em;
}

/* Overrides the Gutenberg styles for the outline button */
.wp-block-button.is-style-outline > .wp-block-button__link {
	padding: calc(10px - 1px) calc(15px - 1px);
	border: 1px solid var(--wp--preset--color--foreground);
}

/* Reset the Gutenberg style for the author byline */
.wp-block-post-author__byline {
	font-size: 1em;
}

/* There is no option for border-radius yet, and reset the vertical alignment */
.wp-block-post-author__avatar img {
	border-radius: 999px;
	vertical-align: middle;
}

.wp-block-avatar img {
	vertical-align: middle;
}

/*
 * Needed until https://github.com/WordPress/gutenberg/issues/34196 or something like it.
 */
.wp-block-tag-cloud.is-style-outline a {
	border-radius: 999px;
	padding: 0 1rem;
}

.wp-block-tag-cloud.is-style-outline a:hover {
	color: var(--wp--preset--color--background);
	background-color: var(--wp--preset--color--primary);
}

/*
 * Remove the default margin bottom from term description and post excerpt.
 */
.wp-block-term-description p:first-child {
	margin-top: 0;
}

.wp-block-term-description p:last-child {
	margin-bottom: 0;
}

.wp-block-search__input,
.wp-block-jetpack-subscriptions.wp-block-jetpack-subscriptions__supports-newline
	form
	input[type="email"] {
	border-color: var(--wp--preset--color--tertiary);
}

/*
 * Needed to style Jetpack Form
 */
.wp-block-jetpack-contact-form
	input:not([type="submit"]):not([type="checkbox"]),
.wp-block-jetpack-mailchimp input:not([type="submit"]):not([type="checkbox"]),
.wp-block-jetpack-revue input:not([type="submit"]):not([type="checkbox"]),
.wp-block-jetpack-contact-form select,
.wp-block-jetpack-contact-form textarea {
	background-color: #fff;
	border: 1px solid var(--wp--preset--color--tertiary);
	font-size: 1em;
	padding: 0.75rem;
}

.wp-block-jetpack-contact-form .wp-block-jetpack-button button,
.wp-block-jetpack-mailchimp .wp-block-jetpack-button button,
.wp-block-jetpack-revue .wp-block-jetpack-button button {
	border-width: 0;
	font-size: var(--wp--preset--font-size--x-small);
	font-weight: 700;
	letter-spacing: 0.02em;
	line-height: inherit;
	padding: 10px 15px;
}

.wp-block-jetpack-subscriptions.wp-block-jetpack-subscriptions__supports-newline
	.wp-block-jetpack-subscriptions__form
	.wp-block-jetpack-subscriptions__button,
.wp-block-jetpack-subscriptions.wp-block-jetpack-subscriptions__supports-newline
	.wp-block-jetpack-subscriptions__form
	.wp-block-jetpack-subscriptions__textfield
	.components-text-control__input,
.wp-block-jetpack-subscriptions.wp-block-jetpack-subscriptions__supports-newline
	.wp-block-jetpack-subscriptions__form
	button,
.wp-block-jetpack-subscriptions.wp-block-jetpack-subscriptions__supports-newline
	.wp-block-jetpack-subscriptions__form
	input[type="email"],
.wp-block-jetpack-subscriptions.wp-block-jetpack-subscriptions__supports-newline
	form
	.wp-block-jetpack-subscriptions__button,
.wp-block-jetpack-subscriptions.wp-block-jetpack-subscriptions__supports-newline
	form
	.wp-block-jetpack-subscriptions__textfield
	.components-text-control__input,
.wp-block-jetpack-subscriptions.wp-block-jetpack-subscriptions__supports-newline
	form
	button,
.wp-block-jetpack-subscriptions.wp-block-jetpack-subscriptions__supports-newline
	form
	input[type="email"] {
	line-height: inherit;
}
