<!-- wp:template-part {"slug":"header","tagName":"header","align":"full"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0vh","bottom":"0vh"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:0vh;margin-bottom:0vh"><!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"8vh","bottom":"8vh"},"blockGap":"4vh"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide" style="padding-top:8vh;padding-bottom:8vh"><!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"2vh"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
<div class="wp-block-group alignwide"><!-- wp:post-title {"level":1,"align":"wide"} /-->

<!-- wp:post-content {"lock":{"move":false,"remove":false},"align":"wide","layout":{"type":"default"}} /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"post-meta","align":"wide"} /--></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->