input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="submit"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
input[type="checkbox"],
textarea {
	&:focus {
		outline: 1px dotted currentColor;
	}
	font-size: var(--wp--preset--font-size--normal);
	&::placeholder {
		color: var(--wp--custom--form--color--text);
		opacity: 0.66;
	}
}