.alignfull p {
	padding-left: var(--wp--custom--margin--horizontal);
	padding-right: var(--wp--custom--margin--horizontal);
}

@media (max-width: 1168px ) { // 1128 = the content width + 40 = the horizontal margin * 2
	.alignwide p {
		padding-left: var(--wp--custom--margin--horizontal);
		padding-right: var(--wp--custom--margin--horizontal);
	}
}

@media (max-width: 704px ) { // 664 = the content width + 40 = the horizontal margin * 2
	[class^="wp-container-"] p {
		padding-left: var(--wp--custom--margin--horizontal);
		padding-right: var(--wp--custom--margin--horizontal);
	}
}
