/*
Theme Name: Curator
Theme URI: https://wordpress.com/theme/curator
Author: Automattic
Author URI: https://automattic.com/
Description: 
Requires at least: 5.8
Tested up to: 5.9
Requires PHP: 5.7
Version: 0.0.3
License: GNU General Public License v2 or later
License URI: https://raw.githubusercontent.com/Automattic/themes/trunk/LICENSE
Template: 
Text Domain: curator
Tags: one-column, custom-colors, custom-menu, custom-logo, editor-style, featured-images, full-site-editing, rtl-language-support, theme-options, threaded-comments, translation-ready, wide-blocks
*//*
 * Font smoothing
 */

 body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

/*
 * Button hover styles.
 * Necessary until the following issue is resolved in Gutenberg:
 * https://github.com/WordPress/gutenberg/issues/27075
 */

.wp-block-button:not(.is-style-outline) .wp-block-button__link {
	padding: 0;
}
.wp-block-button__link:hover {
	text-decoration: underline;
	color: var(--wp--preset--color--foreground);
}
.wp-block-button__link.wp-block-button__link:active {
	color: var(--wp--preset--color--background);
	background-color: var(--wp--preset--color--primary);
}
.wp-block-button:not(.is-style-outline) .wp-block-button__link:focus {
	color: var(--wp--preset--color--foreground);
	border-bottom: 1px dashed var(--wp--preset--color--foreground);
}
.wp-block-button:is(.is-style-outline) .wp-block-button__link:focus {
	outline: 1px dashed var(--wp--preset--color--foreground);
}

.wp-block-search__button.wp-block-search__button,
.wp-block-file .wp-block-file__button.wp-block-file__button {
	background-color: var(--wp--preset--color--primary);
	color: var(--wp--preset--color--background);
	font-family: var(--wp--preset--font-family--heading-font);
	font-size: var(--wp--custom--button--typography--font-size);
	font-weight: 900;
}

:is(
	.wp-block-search__button,
	.wp-block-file .wp-block-file__button
):is(
	:hover,
	:focus
) {
	background-color: var(--wp--preset--color--foreground);
}

:is(
	.wp-block-search__button,
	.wp-block-file .wp-block-file__button
):is(
	:focus
) {
	outline: 1px dashed var(--wp--preset--color--foreground);
}

/*
 * Search and File Block button styles.
 * Necessary until the following issues are resolved in Gutenberg:
 * https://github.com/WordPress/gutenberg/issues/36444
 * https://github.com/WordPress/gutenberg/issues/27760
 */

.wp-block-search__button,
.wp-block-file .wp-block-file__button {
	background-color: var(--wp--preset--color--foreground);
	border-radius: 0;
	border: none;
	color: var(--wp--preset--color--background);
	font-size: var(--wp--preset--typography--font-size--normal);
	padding: calc(0.667em + 2px) calc(1.333em + 2px);
}

/*
 * Link Styles
 */

a:not(
	.wp-block-search__button,
	.wp-block-button__link
) {
	padding: .4rem 0;
	text-underline-offset: .1rem;
}

a:not(
	.wp-block-search__button,
	.wp-block-button__link
):hover {
	text-decoration: none;
}

a:not(
	.wp-block-search__button,
	.wp-block-button__link
):focus {
	text-decoration-style: dotted;
}

a:not(
	.wp-block-search__button,
	.wp-block-button__link
):active {
	text-decoration: none;
	background-color: var(--wp--preset--color--tertiary);
}

/*
 * Navigation Link Styles
 */

:is(
	.wp-block-pages-list__item .wp-block-pages-list__item__link,
	.wp-block-navigation-link__content
):hover {
	text-decoration: underline;
}

:is(
	.wp-block-pages-list__item .wp-block-pages-list__item__link,
	.wp-block-navigation-link__content
):focus {
	text-decoration-line: underline;
	text-decoration-style: dotted;
}

:is(
	.wp-block-pages-list__item .wp-block-pages-list__item__link,
	.wp-block-navigation-link__content
):active {
	background-color: var(--wp--preset--color--tertiary);
}


/*
 * Alignment styles, borrowed from Twenty Twenty-Two.
 * These rules are temporary, and should not be relied on or
 * modified too heavily by themes or plugins that build on
 * Twenty Twenty-Two. These are meant to be a precursor to
 * a global solution provided by the Block Editor.
 *
 * Relevant issues:
 * https://github.com/WordPress/gutenberg/issues/35607
 * https://github.com/WordPress/gutenberg/issues/35884
 */

.wp-site-blocks,
body > .is-root-container,
.edit-post-visual-editor__post-title-wrapper,
.wp-block-group.alignfull,
.wp-block-group.has-background,
.wp-block-columns.alignfull.has-background,
.wp-block-cover.alignfull,
.is-root-container .wp-block[data-align='full'] > .wp-block-group,
.is-root-container .wp-block[data-align='full'] > .wp-block-columns.has-background,
.is-root-container .wp-block[data-align='full'] > .wp-block-cover {
	padding-left: var(--wp--custom--spacing--outer);
	padding-right: var(--wp--custom--spacing--outer);
}

.wp-site-blocks .alignfull,
.wp-site-blocks > .wp-block-group.has-background,
.wp-site-blocks > .wp-block-cover,
.wp-site-blocks > .wp-block-template-part > .wp-block-group.has-background,
.wp-site-blocks > .wp-block-template-part > .wp-block-cover,
body > .is-root-container > .wp-block-cover,
body > .is-root-container > .wp-block-template-part > .wp-block-group.has-background,
body > .is-root-container > .wp-block-template-part > .wp-block-cover,
.is-root-container .wp-block[data-align='full'] {
	margin-left: calc(-1 * var(--wp--custom--spacing--outer)) !important;
	margin-right: calc(-1 * var(--wp--custom--spacing--outer)) !important;
	max-width: unset;
	width: unset;
}

/* Blocks inside columns don't have negative margins. */
.wp-site-blocks .wp-block-columns .wp-block-column .alignfull,
.is-root-container .wp-block-columns .wp-block-column .wp-block[data-align="full"],
/* We also want to avoid stacking negative margins. */
.wp-site-blocks .alignfull:not(.wp-block-group) .alignfull,
.is-root-container .wp-block[data-align="full"] > *:not(.wp-block-group) .wp-block[data-align="full"] {
	margin-left: auto !important;
	margin-right: auto !important;
	width: inherit;
}

/*
 * Responsive menu container padding.
 * This ensures the responsive container inherits the same
 * spacing defined above. This behavior may be built into
 * the Block Editor in the future.
 */

.wp-block-navigation__responsive-container.is-menu-open {
	padding-top: var(--wp--custom--gap--horizontal);
	padding-bottom: var(--wp--custom--gap--vertical);
	padding-right: var(--wp--custom--gap--horizontal);
	padding-left: var(--wp--custom--gap--horizontal);
}