<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group">
	<!-- wp:columns {"align":"wide"} -->
	<div class="wp-block-columns alignwide">
		<!-- wp:column {"width":"25%"} -->
		<div class="wp-block-column" style="flex-basis:25%">
			<!-- wp:group {"style":{"position":{"type":"sticky","top":"0px"},"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50"}}},"layout":{"type":"default"}} -->
			<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--50)">
				<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
			</div>
			<!-- /wp:group -->
		</div>
		<!-- /wp:column -->

		<!-- wp:column {"width":"75%"} -->
		<div class="wp-block-column" style="flex-basis:75%">
			<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50"}}},"layout":{"type":"default"}} -->
			<main class="wp-block-group" style="padding-top:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--50)">
				<!-- wp:columns -->
				<div class="wp-block-columns">
					<!-- wp:column {"width":"34.0137%"} -->
					<div class="wp-block-column" style="flex-basis:34.0137%">
						<!-- wp:post-title {"level":1} /-->

						<!-- wp:post-content {"lock":{"move":false,"remove":false},"layout":{"type":"default"}} /-->

						<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|30"}},"layout":{"type":"flex"}} -->
						<div class="wp-block-group">
							<!-- wp:post-author {"showAvatar":false} /-->

							<!-- wp:post-date {"isLink":true} /-->

							<!-- wp:post-terms {"term":"category"} /-->

							<!-- wp:post-terms {"term":"post_tag"} /-->
						</div>
						<!-- /wp:group -->
					</div>
					<!-- /wp:column -->
					<!-- wp:column {"width":"65.9863%"} -->
					<div class="wp-block-column" style="flex-basis:65.9863%">
						<!-- wp:post-featured-image {"align":"full"} /-->
					</div>
					<!-- /wp:column -->
				</div>
				<!-- /wp:columns -->

				<!-- wp:spacer {"height":"3rem"} -->
				<div style="height:3rem" aria-hidden="true" class="wp-block-spacer"></div>
				<!-- /wp:spacer -->

				<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
				<div class="wp-block-group">
					<!-- wp:post-navigation-link {"type":"previous","label":"Previous Post","arrow":"chevron"} /-->

					<!-- wp:post-navigation-link {"textAlign":"right","label":"Next Post","arrow":"chevron"} /-->
				</div>
				<!-- /wp:group -->

				<!-- wp:columns -->
				<div class="wp-block-columns">
					<!-- wp:column {"width":"34.0137%"} -->
					<div class="wp-block-column" style="flex-basis:34.0137%">
						<!-- wp:group {"layout":{"type":"default"}} -->
						<div class="wp-block-group">
							<!-- wp:pattern {"slug":"pomme/hidden-comments"} /-->
						</div>
						<!-- /wp:group -->
					</div>
					<!-- /wp:column -->
					<!-- wp:column {"width":"65.9863%"} -->
					<div class="wp-block-column" style="flex-basis:65.9863%"></div>
					<!-- /wp:column -->
				</div>
				<!-- /wp:columns -->
			</main>
			<!-- /wp:group -->
		</div>
		<!-- /wp:column -->
	</div>
	<!-- /wp:columns -->

	<!-- wp:template-part {"slug":"footer","tagName":"footer","align":"wide"} /-->
</div>
<!-- /wp:group -->
