.post-tags-container {
	.taxonomy-post_tag.wp-block-post-terms {
		display: flex;
		flex-wrap: wrap;
		gap: var(--wp--custom--gap--baseline, 1em);

		a {
			background: var(--wp--custom--color--tertiary);
			border-radius: 100px;
			font-weight: 600;
			padding: 10px 20px;
		}

		.wp-block-post-terms__separator {
			display: none;
		}
	}
}
