.wp-block-post-navigation-link {
	flex-grow: 1;

	&:not(:empty){
		border-top: 1px solid var(--wp--custom--color--primary);
	}

	a {
		display: inline-block;
		margin-top: 10px;
	}
}

.post-navigation-link-next {
	text-align: right;
}
