.wp-block-post-navigation-link {
	flex-grow: 1;

	a {
		border-top: 1px solid var(--wp--custom--color--primary);
		display: block;
		padding-top: 10px;
	}
}

.post-navigation-link-previous {
	a:before {
		content: "← ";
	}
}

.post-navigation-link-next {
	text-align: right;

	a:after {
		content: " →";
	}
}
