// Provide reasonable default colors when a background color is chosen 
// that doesn't work with the default foreground color


//TODO: FIGURE THIS OUT

.has-pink-background-color,
.has-white-background-color {
	color: var(--wp--preset--color--blue);
}