.site-header {
	> .wp-block-group {
		display: flex;
		justify-content: space-between;
		overflow: inherit;
		.wp-block-site-logo {
			margin-bottom: var(--wp--custom--margin--vertical);
		}
		
		.wp-block-site-title {
			margin-top: 0;
		}
	}

	.wp-block-site-title a {
		text-decoration: none;
	}
} 
