.post-meta {
	align-items: center;
	justify-content: center;

	.wp-block-post-date::before {
		background: none;
	}

	> *,
	.wp-block-post-date {
		margin: 0 8px;
	}

	.wp-block-post-terms {
		margin-left: 0;
		&::before {
			content: "·";
			margin-right: 8px;
		}
	}
}
