@import "../../blank-canvas-blocks/sass/base/breakpoints"; // Get the mobile-only media query and make it available to this theme's styles
@import "blocks/cover";
@import "blocks/list";
@import "blocks/media-text";
@import "blocks/post-navigation-link";
@import "blocks/table";
@import "block-patterns/headlines";
@import "header";

.wp-block-post-featured-image {
	margin-top: 0;
}

.subscription-column {
	text-align: right;
}
