@import "../../blank-canvas-blocks/sass/base/breakpoints"; // Get the mobile-only media query and make it available to this theme's styles
@import "../../blank-canvas-blocks/sass/base/mixins";
@import "block-patterns/headlines";
@import "block-patterns/join";
@import "blocks/buttons";
@import "blocks/calendar";
@import "blocks/cover";
@import "blocks/list";
@import "blocks/media-text";
@import "blocks/navigation";
@import "blocks/post-comments";
@import "blocks/post-navigation-link";
@import "blocks/quote";
@import "blocks/search";
@import "blocks/table";
@import "blocks/pullquote";
@import "elements/links";
@import "header";
@import "meta";

.wp-block-post-featured-image {
	margin-top: 0;
}
