@import "../../blank-canvas-blocks/sass/base/breakpoints"; // Get the mobile-only media query and make it available to this theme's styles
@import "blocks/cover";
@import "blocks/list";
@import "blocks/media-text";
@import "blocks/table";
@import "block-patterns/headlines";
@import "header";
@import "utility";

.wp-block-post-navigation-link {
	border-top: 1px solid;
	display: flex;
	padding-top: 1em;
}
.post-navigation-link-next {
	flex-direction: row-reverse;
}

.next-prev-links {
	.wp-block-column,
	.wp-block-column:not(:only-child) {
		flex-basis: 40% !important; // This is needed to override the collapsing columns in Gutenberg

		&:not(:first-child) {
			margin-left: 20%;
		}
	}
}

.wp-block-post-featured-image {
	margin-top: 0;
}
