@import "../../blockbase/sass/base/breakpoints"; // Get the mobile-only media query and make it available to this theme's styles
@import "../../blockbase/sass/base/mixins";
@import "block-patterns/headlines";
@import "block-patterns/join";
@import "blocks/buttons";
@import "blocks/calendar";
@import "blocks/cover";
@import "blocks/list";
@import "blocks/media-text";
@import "blocks/navigation";
@import "blocks/post-comments";
@import "blocks/post-navigation-link";
@import "blocks/query";
@import "blocks/query-pagination";
@import "blocks/quote";
@import "blocks/search";
@import "blocks/table";
@import "blocks/pullquote";
@import "colors";
@import "elements/links";
@import "elements/forms";
@import "templates/footer";
@import "templates/header";
@import "templates/index";
@import "templates/meta";
@import "templates/post-header";
@import "templates/query";

.wp-block-post-featured-image {
	margin-top: 0;
}

.page-content {
	padding-left: var(--wp--custom--post-content--padding--left);
	padding-right: var(--wp--custom--post-content--padding--right);
}
