/*
Theme Name: Meraki
Theme URI: https://wordpress.com/theme/meraki
Author: Automattic
Author URI: https://automattic.com/
Description: Meraki is a blogging theme that supports full-site editing.
Requires at least: 5.8
Tested up to: 5.9
Requires PHP: 5.7
Version: 0.0.1
License: GNU General Public License v2 or later
License URI: https://raw.githubusercontent.com/Automattic/themes/trunk/LICENSE
Template: blockbase
Text Domain: meraki
Tags: one-column, custom-colors, custom-menu, custom-logo, editor-style, featured-images, full-site-editing, rtl-language-support, theme-options, threaded-comments, translation-ready, wide-blocks
*/