<!-- wp:group {"backgroundColor":"light-orange"} -->
<div class="wp-block-group has-light-orange-background-color has-background">
    <!-- wp:template-part {"slug":"header","tagName":"header"} /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"inherit":true},"tagName":"main","style":{"spacing":{"margin":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}}} -->
<main class="wp-block-group" style="margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px">
    <!-- wp:pattern {"slug":"rainfall/hidden-404"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
