<!-- wp:group {"backgroundColor":"orange"} -->
<div class="wp-block-group has-orange-background-color has-background">
	<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
</div>
<!-- /wp:group -->
<!-- wp:pattern {"slug":"rainfall/home"} /-->
<!-- wp:group {"layout":{"type":"default"},"style":{"spacing":{"margin":{"top":"0px"}},"elements":{"link":{"color":{"text":"var:preset|color|white"}}}},"backgroundColor":"black"} -->
<div class="wp-block-group has-black-background-color has-background has-link-color" style="margin-top: 0px;">
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
</div>
<!-- /wp:group -->
