<!-- wp:group {"style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}}},"backgroundColor":"black","textColor":"white"} -->
<div class="wp-block-group has-white-color has-black-background-color has-text-color has-background has-link-color"><!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|50","left":"var:preset|spacing|50"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="padding-right:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--50)"><!-- wp:group {"align":"wide"} -->
<div class="wp-block-group alignwide"><!-- wp:query-title {"type":"search","fontSize":"xx-large"} /-->

<!-- wp:search {"label":"Search","showLabel":false,"buttonText":"Search","backgroundColor":"white","textColor":"black","borderColor":"white"} /--></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"var:preset|spacing|100"} -->
<div style="height:var(--wp--preset--spacing--100)" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"query"} /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->