<!-- wp:group {"style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}}},"backgroundColor":"black","textColor":"white"} -->
<div class="wp-block-group has-white-color has-black-background-color has-text-color has-background has-link-color">
    <!-- wp:template-part {"slug":"header","tagName":"header"} /-->

    <!-- wp:group {"layout":{"type":"constrained"}} -->
    <div class="wp-block-group">
        <!-- wp:group {"align":"wide"} -->
        <div class="wp-block-group alignwide">
            <!-- wp:search {"label":"Search","showLabel":false,"buttonText":"Search","backgroundColor":"white","textColor":"black","border":{"width":"1px"},"borderColor":"white"} /-->
        </div>
        <!-- /wp:group -->

        <!-- wp:spacer {"height":"var(--wp--preset--spacing--20)"} -->
        <div style="height:var(--wp--preset--spacing--20)" aria-hidden="true" class="wp-block-spacer"></div>
        <!-- /wp:spacer -->
    </div>
    <!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"query"} /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
