/**
 * WP.com stylesheet for Varia
 */

 /**
 * Hide page title on the homepage
 */
.home.page.hide-homepage-title .entry-header {
	display: none;
}

/**
 * Fix Direct Manipulation icons in the Customizer
 */
.cdm-icon svg {
	fill: #fff;
}

/**
* Fix 'reply' comment textarea vertical spacing
*/

.comment-list #respond #commentform {
	clear: both;
}

.comment-reply-title #cancel-comment-reply-link {
	font-size: 15.65px;
	margin-bottom: 1em;
}

/**
 * Hide Footer Credit comma
 */
.hide-footer-credit .comma {
	display: none;
}
