.wp-block-file {

	.wp-block-file__button {
		background-color: #{map-deep-get($config-button, "color", "background")};
		color: #{map-deep-get($config-button, "color", "text")};
		font-size: #{map-deep-get($config-global, "font", "size", "sm")};
		margin-left: #{map-deep-get($config-global, "spacing", "horizontal")};
		margin-right: #{map-deep-get($config-global, "spacing", "horizontal")};

		&:before,
		&:after {
			display: inherit;
		}
	}

	a.wp-block-file__button:active,
	a.wp-block-file__button:focus,
	a.wp-block-file__button:hover,
	a.wp-block-file__button:visited {
		color: #{map-deep-get($config-button, "color", "text-hover")};
		opacity: .85;
	}
}
