/**
 * WP.com stylesheet for Seedlet
 */

 /**
 * Hide page title on the homepage
 */
.home.page.hide-homepage-title .entry-header {
	display: none;
}

.home.page.hide-homepage-title .entry-content {
	margin-top: 0;
}

/**
 * Fix Direct Manipulation icons in the Customizer
 */
.cdm-icon svg {
	fill: #fff;
}

/**
 * Hide Footer Credit comma
 */
.hide-footer-credit .comma {
	display: none;
}
