/**
 * File customize-preview-wpcom.js.
 *
 * Instantly live-update customizer settings in the preview for improved user experience,
 * targeting the updates needed to hide the page title on the homepage on WordPress.com.
 */

#customize-control-color_darkmode_notice,
#customize-control-color_a11y_warning {
	background: #FFF;
	border: 1px solid #ccd0d4;
	border-left: 4px solid #00a0d2;
	box-shadow: 0 1px 1px rgba( 0, 0, 0, .04 );
	margin: 0 0 12px 0;
	padding: 9px 14px;
	overflow: hidden;
	width: auto;
}

#customize-control-color_darkmode_notice .customize-control-title,
#customize-control-color_a11y_warning .customize-control-title {
	display: none;
}
