/**
 * These styles should be loaded by the Block Editor only
 */

/**
 * Abstracts
 * - Mixins, variables and functions
 */
@import "../../varia/sass/abstracts/imports";

/**
 * Child Theme Name
 */
@import "config-child-theme-deep";

/**
 * Base
 * - Reset the browser
 */
@import "../../varia/sass/base/editor";

/**
 * Elements
 * - Styles for basic HTML elemants
 */
@import "../../varia/sass/elements/editor";

/**
 * Blocks
 * - These styles replace key Gutenberg Block styles for fonts, colors, and
 *   spacing with CSS-variables overrides
 */
@import "../../varia/sass/blocks/editor";

/**
 * Vendors
 * - Styles for 3rd party plugins and WP extensions
 */
@import "../../varia/sass/vendors/editor";

.wp-block-cover,
.wp-block-cover-image,
.has-background {
	.wp-block-separator {
		border-color: currentColor;
	}
}

.wp-block-latest-posts {
	> li {
		> a {
			color: map-deep-get($config-global, "color", "foreground", "default");
			display: inline-block;
			text-decoration: none;

			&:hover,
			&:focus,
			&:active {
				color: map-deep-get($config-global, "color", "primary", "default");

				.has-background:not(.has-background-background-color) & {
					color: currentColor;
					text-decoration: underline;
				}
			}
		}
	}
	.wp-block-latest-posts__post-excerpt,
	.wp-block-latest-posts__post-full-content {
		margin-top: map-deep-get($config-global, "spacing", "unit");
	}
}

.wp-block-a8c-blog-posts {
	.entry-title a {
		color: inherit;

		&:hover,
		&:focus,
		&:active {
			color: map-deep-get($config-global, "color", "primary", "default");
		}
	}
}

.wp-block-a8c-blog-posts + .button {
	font-size: (strip-unit(map-deep-get($config-global, "font", "size", "base")) + 0em);
}
