<!-- wp:template-part {"slug":"header","area":"header","align":"full"} /-->

<!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"5rem","bottom":"5rem"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide" style="padding-top:5rem;padding-bottom:5rem"><!-- wp:columns {"align":"wide","style":{"spacing":{"blockGap":{"left":"3rem"}}}} -->
<div class="wp-block-columns alignwide"><!-- wp:column {"width":"66.66%"} -->
<div class="wp-block-column" style="flex-basis:66.66%"><!-- wp:group {"tagName":"main","lock":{"move":false,"remove":false},"style":{"spacing":{"blockGap":"3rem"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
<main class="wp-block-group"><!-- wp:post-title /-->

<!-- wp:post-content {"lock":{"move":false,"remove":false},"layout":{"type":"constrained"}} /--></main>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"33.33%"} -->
<div class="wp-block-column" style="flex-basis:33.33%"><!-- wp:group {"style":{"spacing":{"blockGap":"3rem","margin":{"bottom":"6rem"},"padding":{"right":"1.5rem"}}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
<div class="wp-block-group" style="margin-bottom:6rem;padding-right:1.5rem"><!-- wp:heading {"style":{"typography":{"lineHeight":"1"}}} -->
<h2 class="wp-block-heading" style="line-height:1">The podcast</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>Explore WordPress with Josepha Haden, the project’s executive director, and guests. Learn about where WordPress is going, how we’ll get there, and how you can get involved.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"style":{"typography":{"fontSize":"0.8rem","textTransform":"uppercase","letterSpacing":"0.05rem"}}} -->
<p style="font-size:0.8rem;letter-spacing:0.05rem;text-transform:uppercase"><a href="https://castcore.mystagingwebsite.com/about/" data-type="page" data-id="2">About the podcast</a></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->