// Base
// - Reset the browser
@import "base/style";

// Elements
// - Styles for basic HTML elemants
@import "elements/style";

// Blocks
// - These styles replace key Gutenberg Block styles for fonts, colors, and
//   spacing with CSS-variables overrides
@import "blocks/heading";
@import "blocks/button";
@import "blocks/gallery";
@import "blocks/image";
@import "blocks/list";
@import "blocks/paragraph";
@import "blocks/navigation";
@import "blocks/quote";
@import "blocks/group";
@import "blocks/separator";
@import "blocks/video";
