/* Utilities */

img#wpstats {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	padding: 0 !important;
	border: 0 !important;
	height: 0 !important;
	width: 0 !important;
	overflow: hidden;
}
