/* Override Seedlet variables with values from experimental-theme.json. */
body {
	/* Font Size */
	--global--font-size-xs: var(--wp--preset--font-size--tiny);
	--global--font-size-sm: var(--wp--preset--font-size--small);
	--global--font-size-md: var(--wp--preset--font-size--medium);
	--global--font-size-lg: var(--wp--preset--font-size--large);
	--global--font-size-xl: var(--wp--preset--font-size--extra-large);
	--global--font-size-xxl: var(--wp--preset--font-size--huge);
	--global--font-size-xxxl: var(--wp--preset--font-size--gigantic);

	/* Colors */
	--global--color-background: var(--wp--preset--color--background);
	--global--color-foreground: var(--wp--preset--color--foreground);
	--global--color-primary: var(--wp--preset--color--primary);
	--global--color-secondary: var(--wp--preset--color--secondary);
	--global--color-tertiary: var(--wp--preset--color--tertiary);
}

.site-content .wp-block[data-align="full"] > [data-block], .site-content .wp-block.alignfull > [data-block] {
    margin-top: 0;
    margin-bottom: 0;
}
