<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"var:preset|spacing|50","margin":{"top":"4rem","bottom":"8rem"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:4rem;margin-bottom:8rem"><!-- wp:group {"style":{"spacing":{"padding":{"right":"20%","top":"0rem","bottom":"4rem","left":"0rem"},"blockGap":"1rem"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:0rem;padding-right:20%;padding-bottom:4rem;padding-left:0rem">

<!-- wp:pattern {"slug":"nested/404"}-->

</div>
<!-- /wp:group -->

<!-- wp:search {"label":"","showLabel":false,"buttonPosition":"button-inside","buttonUseIcon":true} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->