<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"var:preset|spacing|50","margin":{"top":"4rem","bottom":"8rem"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:4rem;margin-bottom:8rem"><!-- wp:group {"style":{"spacing":{"padding":{"right":"20%","top":"0rem","bottom":"4rem","left":"0rem"},"blockGap":"1rem"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:0rem;padding-right:20%;padding-bottom:4rem;padding-left:0rem"><!-- wp:heading {"textAlign":"left","level":1,"anchor":"oops-that-page-can-t-be-found"} -->
<h1 class="wp-block-heading has-text-align-left" id="oops-that-page-can-t-be-found">Oops! That page can’t be found.</h1>
<!-- /wp:heading -->

<!-- wp:paragraph {"style":{"typography":{"fontSize":"1.5rem"}}} -->
<p style="font-size:1.5rem">It looks like nothing was found at this location. Maybe try a search?</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:search {"label":"","showLabel":false,"buttonPosition":"button-inside","buttonUseIcon":true} /--></main>
<!-- /wp:group -->

<!-- wp:group {"style":{"dimensions":{"minHeight":""},"elements":{"link":{"color":{"text":"var:preset|color|contrast"}}},"spacing":{"padding":{"top":"15vh","bottom":"15vh"}}},"backgroundColor":"base","textColor":"contrast","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-contrast-color has-base-background-color has-text-color has-background has-link-color" style="padding-top:15vh;padding-bottom:15vh"><!-- wp:group {"style":{"dimensions":{"minHeight":"100%"}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group" style="min-height:100%"><!-- wp:site-title {"style":{"typography":{"letterSpacing":"0px","fontStyle":"normal","fontWeight":"600","textTransform":"uppercase","lineHeight":"1","fontSize":"1.5rem"}}} /-->

<!-- wp:paragraph {"align":"right","style":{"typography":{"letterSpacing":"0px","fontStyle":"normal","fontWeight":"400","textTransform":"uppercase","lineHeight":"1","fontSize":"1.5rem"}}} -->
<p class="has-text-align-right" style="font-size:1.5rem;font-style:normal;font-weight:400;letter-spacing:0px;line-height:1;text-transform:uppercase">Designed with <a rel="nofollow" href="https://wordpress.org">WordPress</a></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->