.wp-block-quote.is-style-side-quote { /* Needs .wp-block-quote class to override editor styles */
	border: 0;
	box-shadow: inset 0px 3px 0px 0px var(--wp--custom--color--primary);
	margin: calc( var(--wp--custom--margin--vertical) * 1.5) 0;
	padding: calc( var(--wp--custom--margin--baseline) * 1.35) 0 0 0;

	cite {
		font-size: var(--wp--preset--font-size--normal);
		font-style: normal;
		font-weight: 600;
	}

	p, div.block-editor-rich-text__editable {
		font-size: var(--wp--preset--font-size--medium);
		line-height: 1.4em;
		margin-bottom: calc( var(--wp--custom--margin--baseline) * 0.68);
	}
}