.wp-block-quote.is-style-testimonial-quote { /* Needs .wp-block-quote class to override editor styles */
	border: 0;
	display: flex;
	flex-direction: row-reverse;
	gap: calc( var(--wp--custom--gap--horizontal) * 1.6);
	margin: calc( var(--wp--custom--gap--vertical) * 1.78) 0;
	padding-left: 0;

	@include break-small-only() {
		flex-direction: column;
		gap: calc( var(--wp--custom--gap--vertical) * 0.75);
	}

	cite {
		box-shadow: inset 0px 3px 0px 0px var(--wp--custom--color--primary);
		display: inline-block;
		flex: 1 0 0;
		font-size: var(--wp--preset--font-size--normal);
		font-style: normal;
		font-weight: 500;
		margin-top: 1.5ex;
		padding-top: calc( var(--wp--custom--gap--baseline) * 1.35);
		text-align: right;

		@include break-small-only() {
			text-align: left;
		}
	}

	p, div.block-editor-rich-text__editable {
		flex: 0 0 75%;
		font-size: calc( var(--wp--preset--font-size--huge) * 1.34);
		font-weight: bold;
		line-height: 115%;
		margin-bottom: 0;
	}
}