<!-- wp:columns {"style":{"spacing":{"blockGap":{"top":"0px","left":"0px"}}}} -->
<div class="wp-block-columns">
	<!-- wp:column -->
	<div class="wp-block-column">
		<!-- wp:group {"style":{"position":{"type":"sticky","top":"0px"}},"layout":{"type":"default"}} -->
		<div class="wp-block-group">
			<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
		</div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:column -->

	<!-- wp:pattern {"slug":"dark-academia/hidden-single"} /-->
</div>
<!-- /wp:columns -->
