.wp-block-image {
    &.is-style-duotone {
        position: relative;
        > img {
            filter: grayscale(100%);
        }
        &::before,
        &::after {
            content: " ";
            left: 0;
            mix-blend-mode: multiply;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
        }
        &::before {
            background-color: #f2f2f2;
        }
        &::after {
            background-color: var(--global--color-background);
        }
    }
}