div.post-meta {
	gap: 0;

	a {
		text-decoration: none;
	}

	> * {
		&:not(:first-child):before {
			color: var(--wp--custom--color--foreground);
			content: "/";
			margin-left: var(--wp--custom--gap--baseline);
			margin-right: var(--wp--custom--gap--baseline);
		}
	}
}
