// Needed until this is merged: https://github.com/WordPress/gutenberg/issues/35040
.is-vertical.items-justified-right ul.wp-block-navigation__container {
	align-items: flex-end;
}

// See https://github.com/WordPress/gutenberg/issues/34648
.wp-block-navigation.is-responsive {
	.has-child .wp-block-navigation__submenu-container {
		background-color: var(--wp--custom--color--background);
		border: var(--wp--custom--form--border--width) var(--wp--custom--form--border--style) var(--wp--preset--color--primary);
	}
}
