// Needed until this is merged: https://github.com/WordPress/gutenberg/issues/35040
.is-vertical.items-justified-right ul.wp-block-navigation__container {
	align-items: flex-end;
}

.wp-block-navigation.is-style-blockbase-navigation-improved-responsive {
	&.is-responsive .is-menu-open {
		.wp-block-navigation__container {
			align-items: center !important;
			row-gap: 1rem !important;
		}
		.wp-block-navigation-item {
			align-items: center !important;
			row-gap: 0.8rem;

			&.current-menu-item > a {
				text-decoration: underline;
			}
			&.has-child:not(.current-menu-item) {
				.wp-block-navigation__submenu-container {
					display: none;
				}
			}
		}
		.wp-block-navigation__responsive-container-content {
			justify-content: space-between;
		}
		ul.wp-block-social-links {
			justify-content: center;
			padding-bottom: calc( var(--wp--custom--gap--vertical) * 2 );
		}
	}
}