.wp-block-search {
    display: flex;
    max-width: var(--responsive--aligndefault-width);
    .wp-block-search__label {
        font-weight: normal;
    }
    .wp-block-search__input {
        border: var(--form--border-width) solid var(--form--border-color);
        border-radius: var(--form--border-radius);
        color: var(--form--color-text);
        line-height: var(--global--line-height-body);
        max-width: inherit;
        margin-right: calc( .66 * var(--global--spacing-horizontal) );
        padding: var(--form--spacing-unit);

        &:focus {
            color: var(--form--color-text);
            border-color: var(--form--border-color);
        }
    }
}