// Default link styles
a {
	cursor: pointer;
	text-underline-offset: 0.15em;
	text-decoration: none;

	&:hover,
	&:focus {
		text-decoration-line: underline;
	}
}

//Links that appear in the main content area
.block-editor-block-list__layout a, // Needed for the post area
.wp-block-post-content a {
	text-decoration-line: underline;

	&:hover,
	&:focus {
		text-decoration: none;
	}
}
