// Default link styles
a {
	cursor: pointer;
	text-underline-offset: 2px;
	text-decoration: none;

	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

// Links that appear in the main content area
.entry-content a {
	text-decoration: underline;
	transition: border-color 0.1s ease-out;

	&:hover,
	&:focus {
		text-decoration: none;
	}
}
