// All Links styles

a:not(.wp-block-button__link) {
	cursor: pointer;
	color: var( --wp--style--color--link, var(--wp--custom--color--foreground) );
	text-decoration: none;
	border-bottom: 1px solid transparent;

	&:hover,
	&:focus {
		border-bottom-color: currentColor;
	}
}

// Links that are in the content
.entry-content a:not(.wp-block-button__link) {
	border-bottom: 1px solid currentColor;
	text-decoration: none;
	transition: border-color 0.1s ease-out;

	&:hover,
	&:focus {
		border-bottom-color: transparent;
	}

	&:active {
		color: var( --wp--style--color--link, var(--wp--custom--color--primary) );
	}

}
