<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"style":{"spacing":{"blockGap":"0px","padding":{"top":"0px","bottom":"0px"},"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"constrained","contentSize":"1200px"}} -->
<div class="wp-block-group" style="margin-top:0px;margin-bottom:0px;padding-top:0px;padding-bottom:0px">
    <!-- wp:query {"query":{"perPage":"6","pages":0,"offset":"0","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"tagName":"main","displayLayout":{"type":"list"},"layout":{"type":"default"}} -->
    <main class="wp-block-query">
        <!-- wp:post-template {"align":"wide"} -->

        <!-- wp:group {"style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"blockGap":"0px","margin":{"top":"0px","bottom":"0px"}},"border":{"top":{"width":"2px"}}},"layout":{"inherit":true,"type":"constrained"}} -->
        <div class="wp-block-group" style="border-top-width:2px;margin-top:0px;margin-bottom:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px">
            <!-- wp:spacer {"height":"1rem","className":"mb-0 mt-0","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}}} -->
            <div style="margin-top:0px;margin-bottom:0px;height:1rem" aria-hidden="true" class="wp-block-spacer mb-0 mt-0"></div>
            <!-- /wp:spacer -->

            <!-- wp:columns {"align":"wide","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"},"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"blockGap":{"top":"30px","left":"30px"}}}} -->
            <div class="wp-block-columns alignwide" style="margin-top:0px;margin-bottom:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px">
                <!-- wp:column {"width":"75%","style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"blockGap":"0px"}}} -->
                <div class="wp-block-column" style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;flex-basis:75%">
                    <!-- wp:post-title {"isLink":true,"align":"wide","style":{"spacing":{"margin":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}},"typography":{"letterSpacing":"-3px","fontSize":"4.8rem"}}} /-->
                </div>
                <!-- /wp:column -->

                <!-- wp:column {"verticalAlignment":"center","width":"25%","style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"blockGap":"0px"}}} -->
                <div class="wp-block-column is-vertically-aligned-center" style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;flex-basis:25%">
                    <!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"},"blockGap":"5px"}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between","orientation":"vertical"},"fontSize":"small"} -->
                    <div class="wp-block-group has-small-font-size" style="margin-top:0px;margin-bottom:0px">
                        <!-- wp:post-date {"format":"F j · y"} /-->
                        <!-- wp:post-terms {"term":"category"} /-->
                    </div>
                    <!-- /wp:group -->
                </div>
                <!-- /wp:column -->
            </div>
            <!-- /wp:columns -->
        </div>
        <!-- /wp:group -->
        <!-- /wp:post-template -->

        <!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"blockGap":"0px","margin":{"top":"25px","bottom":"0px"}},"border":{"top":{"width":"5px"}}},"layout":{"inherit":true,"type":"constrained","justifyContent":"left"}} -->
        <div class="wp-block-group alignwide" style="border-top-width:5px;margin-top:25px;margin-bottom:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px">
            <!-- wp:spacer {"height":"1.6rem","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}}} -->
            <div style="margin-top:0px;margin-bottom:0px;height:1.6rem" aria-hidden="true" class="wp-block-spacer"></div>
            <!-- /wp:spacer -->

            <!-- wp:query-pagination {"align":"wide","style":{"typography":{"fontSize":"4.8rem","letterSpacing":"-3px","fontStyle":"normal","fontWeight":"600"}},"layout":{"type":"flex","justifyContent":"left","flexWrap":"wrap"}} -->
                <!-- wp:query-pagination-previous /-->
                <!-- wp:query-pagination-numbers /-->
                <!-- wp:query-pagination-next /-->
            <!-- /wp:query-pagination -->
        </div>
        <!-- /wp:group -->
    </main>
    <!-- /wp:query -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->