<!-- wp:template-part {"slug":"header-pages","tagName":"header"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:group {"tagName":"main","lock":{"move":false,"remove":false},"align":"wide","style":{"spacing":{"blockGap":"var:preset|spacing|50"}}} -->
<main class="wp-block-group alignwide"><!-- wp:post-title {"level":1} /-->

<!-- wp:post-content {"lock":{"move":false,"remove":false},"layout":{"type":"default"}} /--></main>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->