<!-- wp:template-part {"slug":"header","tagName":"header","align":"full"} /-->

<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"},"blockGap":"0px"}},"layout":{"type":"default"}} -->
<main class="wp-block-group alignfull" style="margin-top:0px;margin-bottom:0px">
	<!-- wp:pattern {"slug":"cakely/banner-masthead"} /-->

	<!-- wp:pattern {"slug":"cakely/cta-content-image-on-right"} /-->

	<!-- wp:pattern {"slug":"cakely/gallery-collection"} /-->

	<!-- wp:pattern {"slug":"cakely/text-testimonials"} /-->

	<!-- wp:pattern {"slug":"cakely/posts-recent-posts"} /-->

	<!-- wp:pattern {"slug":"cakely/gallery-instagram-gallery"} /-->
</main>
<!-- /wp:group -->

<!-- wp:group {"align":"full","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull" style="margin-top:0px;margin-bottom:0px">
	<!-- wp:template-part {"slug":"footer","tagName":"footer","align":"full"} /-->
</div>
<!-- /wp:group -->
