// Comment navigation
.comment-navigation {
	a {
		font-family: #{map-deep-get($config-global, "font", "family", "primary")};
		font-size: #{map-deep-get($config-global, "font", "size", "md")};
		font-weight: 600;
	}
}
