<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:separator {"style":{"spacing":{"margin":{"bottom":"calc(-1 * clamp(1rem, calc(1rem + ((1vw - 0.48rem) * 5.7692)), 2rem))","top":"calc(-1 * clamp(1rem, calc(1rem + ((1vw - 0.48rem) * 5.7692)), 2rem))"}}},"className":"alignfull"} -->
<hr class="wp-block-separator has-alpha-channel-opacity alignfull" style="margin-top:calc(-1 * clamp(1rem, calc(1rem + ((1vw - 0.48rem) * 5.7692)), 2rem));margin-bottom:calc(-1 * clamp(1rem, calc(1rem + ((1vw - 0.48rem) * 5.7692)), 2rem))"/>
<!-- /wp:separator -->

<!-- wp:pattern {"slug":"club/posts-list"} /-->
	
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
	