.post-meta {
	// TODO - needed until https://github.com/WordPress/gutenberg/issues/24473
	display: flex;

	.wp-block-post-author,
	.wp-block-post-date,
	.wp-block-post-tags,
	.wp-block-post-hierarchical-terms {
		display: flex;
		margin-right: calc(2 * var(--wp--custom--margin--baseline) );
	}

	.wp-block-post-author:before,
	.wp-block-post-date:before,
	.wp-block-post-tags:before,
	.wp-block-post-hierarchical-terms:before {
		align-self: center;
		content: '';
		display: inline-block;
		margin-right: calc(0.5 * var(--wp--custom--margin--baseline) );
		height: 16px;
		width: 16px;
		background-color: currentColor;
	}

	.wp-block-post-author:before {
		-webkit-mask-image: url(svg/post-author.svg);
		mask-image: url(svg/post-author.svg);
	}

	.wp-block-post-date:before {
		-webkit-mask-image: url(svg/post-date.svg);
		mask-image: url(svg/post-date.svg);
	}

	.wp-block-post-hierarchical-terms:before  {
		-webkit-mask-image: url(svg/post-category.svg);
		mask-image: url(svg/post-category.svg);
	}

	.wp-block-post-tags:before {
		-webkit-mask-image: url(svg/post-tag.svg);
		mask-image: url(svg/post-tag.svg);
	}
}
