// Updates the Mobile Navigation to be next to the site title.
.mobile-nav-side .has-menu .site-logo,
.mobile-nav-side .has-menu .site-title,
.mobile-nav-side .has-menu .site-description {
  @include media(mobile-only) {
    margin-right: $mobile-nav-side-right-margin;
  }
}

.mobile-nav-side .main-navigation {
  @include media(mobile-only) {
    #toggle-menu {
      position: absolute;
      top: 2 * $baseline-unit;
      right: 2 * $baseline-unit;
    }

    .menu-main-menu-container {
      background: #{map-deep-get($config-global, "color", "background", "light") };
      margin:0 (-2 * $baseline-unit );
      padding: 0 (2 * $baseline-unit) $baseline-unit;
      .sub-menu {
        padding-left: 2 * $baseline-unit;  /** todo: variable */
      }
      a {
        padding: $baseline-unit 0;
        line-height: 1;
      }
    }
  }
}
