/*
Theme Name: Ron
Theme URI: https://wordpress.com/theme/ron
Author: Automattic
Author URI: https://automattic.com
Description: Ron is a minimalist blogging theme designed with a focus on delivering an exceptional reading experience. Its unique offset post layout and sticky post navigation make it stand out. By intentionally omitting a header, it includes only a footer, Ron allows readers to dive straight into the content without distractions.
Requires at least: 5.8
Tested up to: 5.9
Requires PHP: 5.7
Version: 1.0.4
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Template: 
Text Domain: ron
Tags: blog, news, one-column, wide-blocks, block-patterns, custom-colors, custom-menu, editor-style, featured-images, full-site-editing, rtl-language-support, template-editing, theme-options, translation-ready
*//*
 * Control the hover stylings of outline block style.
 * Unnecessary once block styles are configurable via theme.json
 * https://github.com/WordPress/gutenberg/issues/42794
 */
.wp-block-button.is-style-outline>.wp-block-button__link:not(.has-background):hover {
	background-color: var(--wp--preset--color--secondary);
	color: var(--wp--preset--color--background);
	border-color: var(--wp--preset--color--secondary);
}

/*
 * Link styles
 * https://github.com/WordPress/gutenberg/issues/42319
 */
a {
	text-decoration-thickness: .0625em !important;
	text-underline-offset: .15em;
}