/**
 * Button
 */
button,
.button,
input[type="submit"],
.wp-block-button__link,
.wp-block-file__button {
	// Extend button style
	@extend %button-style;
}

/**
 * Block Options
 */
.wp-block-button {

	// Outline Style
	&.is-style-outline.wp-block-button__link,
	&.is-style-outline .wp-block-button__link {

		color: inherit;
		border: #{map-deep-get($config-button, "border-width")} solid currentcolor;
		padding: #{map-deep-get($config-button, "padding", "vertical") - map-deep-get($config-button, "border-width")} #{map-deep-get($config-button, "padding", "horizontal")};

		&:not(.has-background-color) {
			background: transparent;
		}

		&:not(.has-text-color) {
			color: #{map-deep-get($config-button, "color", "background")};
		}

		&:active {
			color: #{map-deep-get($config-button, "color", "background")};
		}

		&:hover,
		&:focus,
		&.has-focus {
			color: #{map-deep-get($config-button, "color", "background-hover")};
		}
	}

	// Squared Style
	&.is-style-squared,
	&.is-style-squared .wp-block-button__link {
		border-radius: 0;
	}

	// Set alignleft as default floating behavior
	.entry-content > &:not(.alignleft):not(.alignright) {
		@extend %responsive-alignleft;
	}

	// Set aligndefault as center floating behavior
	.entry-content > &.aligncenter {
		@extend %responsive-aligndefault;
	}
}
