/**
 * Button
 */
button,
.button,
input[type="submit"],
.wp-block-button__link,
.wp-block-file__button {
	// Extend button style
	@extend %button-style;
}

/**
 * Block Options
 */
.wp-block-button {

	// Outline Style
	&.is-style-outline {

		.wp-block-button__link {
			color: #{map-deep-get($config-button, "color", "background")};
			background: transparent;
			border: #{map-deep-get($config-button, "border-width")} solid currentcolor;
			padding: #{map-deep-get($config-button, "padding", "vertical") - map-deep-get($config-button, "border-width")} #{map-deep-get($config-button, "padding", "horizontal")};


			&:hover,
			&:focus,
			&.has-focus {
				color: #{map-deep-get($config-button, "color", "background-hover")};
			}
		}
	}

	// Squared Style
	&.is-style-squared .wp-block-button__link {
		border-radius: 0;
	}
}
