@mixin global-variables() {

	/* Colors */
	--wp--preset--color--primary: #19744c;
	--wp--preset--color--primary-hover: #0c673f;
	--wp--preset--color--secondary: #bc2213;
	--wp--preset--color--secondary-hover: #af1506;
	--wp--preset--color--foreground: #303030;
	--wp--preset--color--foreground-low-contrast: #505050;
	--wp--preset--color--foreground-high-contrast: #101010;
	--wp--preset--color--background: #ffffff;
	--wp--preset--color--background-low-contrast: #f0f0f0;
	--wp--preset--color--background-high-contrast: #d0d0d0;
	--wp--preset--color--border: #d0d0d0;
	--wp--preset--color--border-low-contrast: #f0f0f0;
	--wp--preset--color--border-high-contrast: #b0b0b0;
	--wp--preset--color--text-selection: #b2ffe5;
	--wp--preset--color--alert-success: #19744c;
	--wp--preset--color--alert-info: #3e8bff;
	--wp--preset--color--alert-warning: #e8a600;
	--wp--preset--color--alert-error: #d20000;
	--wp--preset--color--black: black;
	--wp--preset--color--white: white;
}
