/**
 * WooCommerce Styles
 * - These styles should only be loaded when WooCommerce is active
 */

/**
 * Abstracts
 * - Functions and config
 */
@import "../../varia/sass/abstracts/functions";
@import "../../varia/sass/abstracts/config-global";

/**
 * Child Theme Name Config
 */
@import "config-child-theme-deep";

/**
 * WooCommerce Config
 */
@import "config-child-theme-woocommerce";

/**
 * Varia Mixins
 */
@import "../../varia/sass/abstracts/mixins";

/**
 * Varia Responsive Logic
 */
@import "../../varia/sass/abstracts/responsive-logic";

/**
 * Varia Extends
 */
@import "../../varia/sass/base/extends";

/**
 * WooCommerce Styles
 */
@import "../../varia/sass/vendors/woocommerce/style";

@include media(mobile-only) {

	body[class*="woocommerce"] #page {
		#masthead {
			position: relative;

			.site-branding {
				margin-bottom: #{map-deep-get($config-global, "spacing", "unit")};
			}
		}

		#site-navigation {

			#toggle-menu,
			#toggle-cart {
				float: left;
			}

			#toggle-cart {
				margin-left: #{map-deep-get($config-global, "spacing", "unit")};
			}

			& > div {
				left: #{map-deep-get($config-global, "spacing", "unit")};
				right: #{map-deep-get($config-global, "spacing", "unit")};
				top: calc(100% - #{map-deep-get($config-global, "spacing", "unit")};
				width: calc(100vw - #{2 * map-deep-get($config-global, "spacing", "unit")});
			}

			.woocommerce-cart-widget {
				padding: #{0.5 * map-deep-get($config-global, "spacing", "unit")};
			}
		}
	}
}

@include media(mobile) {

	body[class*="woocommerce"] #page {

		.main-navigation {

			text-align: right;

			ul {
				text-align: left;
				justify-content: flex-end;
			}

			& > div:not(:last-of-type) {
				margin-right: 0;
			}

			& > div:last-of-type {
				margin-left: (2 * map-deep-get($config-global, "spacing", "horizontal"));
			}
		}
	}
}