.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper {
  padding: var(--wp--custom--form--padding);
  border: var(--wp--custom--form--border--width) var(--wp--custom--form--border--style) var(--wp--custom--form--border--color);
  border-radius: var(--wp--custom--form--border--radius);
}

.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__input {
  padding: 0;
}

.wp-block-search .wp-block-search__input {
  padding: var(--wp--custom--form--padding);
  border: var(--wp--custom--form--border--width) var(--wp--custom--form--border--style) var(--wp--custom--form--border--color);
}

.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__button,
.wp-block-search .wp-block-search__button {
  border-width: 0;
  padding-top: calc( var(--wp--custom--button--spacing--padding--top) + var(--wp--custom--button--border--width));
  padding-bottom: calc( var(--wp--custom--button--spacing--padding--bottom) + var(--wp--custom--button--border--width));
  padding-left: calc( var(--wp--custom--button--spacing--padding--left) + var(--wp--custom--button--border--width));
  padding-right: calc( var(--wp--custom--button--spacing--padding--right) + var(--wp--custom--button--border--width));
  font-weight: var(--wp--custom--button--typography--font-weight);
  font-family: var(--wp--custom--button--typography--font-family);
  font-size: var(--wp--custom--button--typography--font-size);
  line-height: var(--wp--custom--button--typography--line-height);
  text-decoration: none;
  opacity: 1;
  color: var(--wp--custom--button--color--text);
  background-color: var(--wp--custom--button--color--background);
  border-color: currentColor;
  border-radius: var(--wp--custom--button--border--radius);
}

.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__button svg,
.wp-block-search .wp-block-search__button svg {
  fill: var(--wp--custom--button--color--text);
}

.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__button:not(.has-background):not(.has-text-color):hover, .wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__button:not(.has-background):not(.has-text-color):focus, .wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__button:not(.has-background):not(.has-text-color).has-focus,
.wp-block-search .wp-block-search__button:not(.has-background):not(.has-text-color):hover,
.wp-block-search .wp-block-search__button:not(.has-background):not(.has-text-color):focus,
.wp-block-search .wp-block-search__button:not(.has-background):not(.has-text-color).has-focus {
  --wp--custom--button--color--text: var(--wp--custom--button--hover--color--text);
  --wp--custom--button--color--background: var(--wp--custom--button--hover--color--background);
  --wp--custom--button--border--color: var(--wp--custom--button--hover--border--color);
  opacity: 1;
  color: var(--wp--custom--button--color--text);
  background-color: var(--wp--custom--button--color--background);
  border-color: currentColor;
  border-color: var(--wp--custom--button--border--color);
}

.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__button:not(.has-background):not(.has-text-color):hover svg, .wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__button:not(.has-background):not(.has-text-color):focus svg, .wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__button:not(.has-background):not(.has-text-color).has-focus svg,
.wp-block-search .wp-block-search__button:not(.has-background):not(.has-text-color):hover svg,
.wp-block-search .wp-block-search__button:not(.has-background):not(.has-text-color):focus svg,
.wp-block-search .wp-block-search__button:not(.has-background):not(.has-text-color).has-focus svg {
  fill: var(--wp--custom--button--color--text);
}

.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__button.has-icon,
.wp-block-search .wp-block-search__button.has-icon {
  line-height: 0;
}
