<!-- wp:template-part {"slug":"header","area":"header","align":"full"} /-->

<!-- wp:group {"tagName":"main","align":"wide","style":{"spacing":{"padding":{"top":"5vh","bottom":"5vh"},"margin":{"top":"0vh","bottom":"0vh"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group alignwide" style="margin-top:0vh;margin-bottom:0vh;padding-top:5vh;padding-bottom:5vh"><!-- wp:group {"align":"wide","style":{"spacing":{"margin":{"bottom":"1.5rem"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group alignwide" style="margin-bottom:1.5rem"><!-- wp:query-title {"type":"archive"} /--></div>
<!-- /wp:group -->

<!-- wp:query {"queryId":9,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"metadata":{"categories":["posts"],"patternName":"core/query-medium-posts","name":"Image at left"},"align":"wide","layout":{"type":"default"}} -->
<div class="wp-block-query alignwide"><!-- wp:post-template {"align":"wide","layout":{"type":"default"}} -->
<!-- wp:columns {"isStackedOnMobile":false,"align":"wide","style":{"border":{"bottom":{"width":"2px"}},"spacing":{"blockGap":{"top":"0rem","left":"1.75rem"},"margin":{"bottom":"1.5rem"}}}} -->
<div class="wp-block-columns alignwide is-not-stacked-on-mobile" style="border-bottom-width:2px;margin-bottom:1.5rem"><!-- wp:column {"width":"25%"} -->
<div class="wp-block-column" style="flex-basis:25%"><!-- wp:post-featured-image {"isLink":true,"aspectRatio":"4/3","width":"","style":{"color":[]}} /--></div>
<!-- /wp:column -->

<!-- wp:column {"width":"75%"} -->
<div class="wp-block-column" style="flex-basis:75%"><!-- wp:columns {"align":"wide","style":{"spacing":{"blockGap":{"top":"0rem","left":"0rem"}}}} -->
<div class="wp-block-columns alignwide"><!-- wp:column {"width":"50%"} -->
<div class="wp-block-column" style="flex-basis:50%"><!-- wp:post-title {"isLink":true,"className":"no-underline","style":{"typography":{"textTransform":"none","fontStyle":"normal","fontWeight":"500"}}} /--></div>
<!-- /wp:column -->

<!-- wp:column {"width":"50%"} -->
<div class="wp-block-column" style="flex-basis:50%"><!-- wp:post-excerpt {"style":{"spacing":{"margin":{"bottom":"0.5rem"}}}} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->
<!-- /wp:post-template -->

<!-- wp:query-pagination {"align":"wide"} -->
<!-- wp:query-pagination-previous {"label":"Prev"} /-->

<!-- wp:query-pagination-numbers /-->

<!-- wp:query-pagination-next {"label":"Next"} /-->
<!-- /wp:query-pagination --></div>
<!-- /wp:query --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->