<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"bottom":"5vh","top":"5vh","right":"1.5rem","left":"1.5rem"},"margin":{"top":"0vh","bottom":"0vh"},"blockGap":"5vh"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull" style="margin-top:0vh;margin-bottom:0vh;padding-top:5vh;padding-right:1.5rem;padding-bottom:5vh;padding-left:1.5rem"><!-- wp:post-content {"lock":{"move":false,"remove":false},"align":"wide","layout":{"type":"default"}} /--></div>
<!-- /wp:group -->

<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"bottom":"5vh","top":"0vh","right":"1.5rem","left":"1.5rem"},"margin":{"top":"0vh","bottom":"0vh"},"blockGap":"5vh"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull" style="margin-top:0vh;margin-bottom:0vh;padding-top:0vh;padding-right:1.5rem;padding-bottom:5vh;padding-left:1.5rem"><!-- wp:post-featured-image {"aspectRatio":"16/9","align":"wide"} /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","align":"full"} /-->