<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="margin-top:var(--wp--preset--spacing--70);margin-bottom:var(--wp--preset--spacing--70)">
	<!-- wp:search {"showLabel":false,"buttonText":"Search"} /-->

	<!-- wp:query-title {"type":"search"} /-->
</div>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"kiosko/post-list"} /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
