@import "../components/header/header";
@import "../components/footer/footer";

.template-block {
	.site-header,
	.site-footer {
		padding: #{map-deep-get($config-global, "spacing", "unit")};

		@include media(mobile) {
			padding: #{map-deep-get($config-global, "spacing", "vertical")} 0;
		}
	}
}

.a8c-template-editor {
	.wp-block:not(.is-selected) [data-block] {
		margin-bottom: 14px;
	}
	.wp-block:not(:first-child):not(.is-selected) [data-block] {
		margin-top: 14px;
	}
}

.site-header {
	.site-title {
		font-size: 21.6px;
		font-weight: 700;
		text-decoration: underline;

		&:focus {
			color: #{map-deep-get($config-header, "branding", "color", "link")};
		}
	}

	.site-description {
		font-size: 15px;
	}

	.main-navigation a {
		font-size: 21.6px;
	}
}

.site-footer {
	@include media(tablet) {
		display: block;
	}

	.main-navigation {
		@extend .footer-navigation;

		display: block;

		.hide-visually,
		#toggle-menu {
			display: none;
		}

		@include media(mobile-only) {
			.menu-primary-container {
				display: block;
			}
			li {
				width: auto;

				.sub-menu {
					display: none;
				}
			}
		}
	}
}
