.fse-enabled {
	.site-footer {
		display: block;

		.main-navigation {
			@extend .footer-navigation;

			display: block;

			.hide-visually,
			#toggle-menu {
				display: none;
			}

			@include media(mobile-only) {
				> div {
					display: block;
				}
				li {
					width: auto;

					.sub-menu {
						display: none;
					}
				}
			}
		}
	}
}
