<!-- wp:group {"style":{"spacing":{"padding":{"top":"0vw","right":"4vw","bottom":"0vw","left":"4vw"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="padding-top:0vw;padding-right:4vw;padding-bottom:0vw;padding-left:4vw"><!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"var:preset|spacing|50","margin":{"top":"0","bottom":"0"},"padding":{"top":"8vw","right":"8vw","bottom":"8vw","left":"8vw"}},"border":{"radius":"4em"}},"backgroundColor":"secondary","layout":{"type":"default"}} -->
<main class="wp-block-group has-secondary-background-color has-background" style="border-radius:4em;margin-top:0;margin-bottom:0;padding-top:8vw;padding-right:8vw;padding-bottom:8vw;padding-left:8vw"><!-- wp:spacer {"height":"12vh"} -->
<div style="height:12vh" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:heading {"textAlign":"left","level":1,"fontSize":"x-large","anchor":"oops-that-page-can-t-be-found"} -->
<h1 class="wp-block-heading has-text-align-left has-x-large-font-size" id="oops-that-page-can-t-be-found">It looks like nothing was found at this location.</h1>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>Maybe try a search?</p>
<!-- /wp:paragraph -->

<!-- wp:search {"label":"","showLabel":false,"placeholder":"Search for journal entries...","style":{"border":{"radius":"4em"}}} /-->

<!-- wp:spacer {"height":"4vh"} -->
<div style="height:4vh" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"4vh","bottom":"4vh"}}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between","verticalAlignment":"bottom"}} -->
<div class="wp-block-group" style="padding-top:4vh;padding-bottom:4vh"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|30"}},"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group"><!-- wp:site-title /-->

<!-- wp:site-tagline /--></div>
<!-- /wp:group -->

<!-- wp:paragraph {"style":{"typography":{"fontSize":"12px"}}} -->
<p style="font-size:12px">Designed with <a rel="nofollow" href="https://wordpress.org">WordPress</a></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></main>
<!-- /wp:group --></div>
<!-- /wp:group -->