<!-- wp:group {"style":{"spacing":{"padding":{"right":"3vw","left":"3vw"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="padding-right:3vw;padding-left:3vw"><!-- wp:group {"style":{"spacing":{"padding":{"top":"6vh","right":"3vw","bottom":"6vh","left":"3vw"}},"border":{"radius":"4em"}},"backgroundColor":"secondary","layout":{"type":"default"}} -->
<div class="wp-block-group has-secondary-background-color has-background" style="border-radius:4em;padding-top:6vh;padding-right:3vw;padding-bottom:6vh;padding-left:3vw"><!-- wp:query-title {"type":"archive"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"3vw","left":"3vw"},"blockGap":"0"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-right:3vw;padding-left:3vw"><!-- wp:query {"queryId":8,"query":{"perPage":6,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"displayLayout":{"type":"flex","columns":3},"align":"full"} -->
<div class="wp-block-query alignfull"><!-- wp:post-template -->
<!-- wp:group {"style":{"border":{"radius":"4em"}},"backgroundColor":"secondary","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-secondary-background-color has-background" style="border-radius:4em"><!-- wp:cover {"dimRatio":0,"overlayColor":"secondary","minHeight":100,"minHeightUnit":"%","contentPosition":"bottom left","style":{"border":{"radius":"4em"},"spacing":{"padding":{"right":"5vw","left":"5vw","bottom":"8vh","top":"8vh"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-cover has-custom-content-position is-position-bottom-left" style="border-radius:4em;padding-top:8vh;padding-right:5vw;padding-bottom:8vh;padding-left:5vw;min-height:100%"><span aria-hidden="true" class="wp-block-cover__background has-secondary-background-color has-background-dim-0 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:post-title {"isLink":true,"style":{"spacing":{"padding":{"top":"0","bottom":"0"}},"typography":{"fontSize":"1.9em"}}} /--></div></div>
<!-- /wp:cover --></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"entry"} /-->