<!-- wp:group {"tagName":"main","lock":{"move":false,"remove":false},"style":{"spacing":{"padding":{"right":"3vw","left":"3vw"}}}} -->
<main class="wp-block-group" style="padding-right:3vw;padding-left:3vw"><!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"width":"33.33%","style":{"spacing":{"padding":{"top":"0","right":"0","bottom":"0","left":"0"}}}} -->
<div class="wp-block-column" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0;flex-basis:33.33%"><!-- wp:post-featured-image {"aspectRatio":"auto","align":"full","style":{"spacing":{"padding":{"top":"0","right":"0","bottom":"0","left":"0"}},"color":{"duotone":"unset"}}} /--></div>
<!-- /wp:column -->

<!-- wp:column {"width":"66.66%"} -->
<div class="wp-block-column" style="flex-basis:66.66%"><!-- wp:group {"style":{"border":{"radius":"4em"},"spacing":{"padding":{"top":"8vh","right":"8vw","bottom":"8vh","left":"8vw"},"blockGap":"0"}},"backgroundColor":"secondary","layout":{"type":"default"}} -->
<div class="wp-block-group has-secondary-background-color has-background" style="border-radius:4em;padding-top:8vh;padding-right:8vw;padding-bottom:8vh;padding-left:8vw"><!-- wp:spacer {"height":"30px"} -->
<div style="height:30px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|30"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
<div class="wp-block-group"><!-- wp:post-title {"style":{"typography":{"fontSize":"36px"}}} /-->

<!-- wp:post-date {"isLink":true,"fontSize":"small"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"border":{"radius":"4em"},"spacing":{"padding":{"top":"8vh","right":"8vw","bottom":"8vh","left":"8vw"}}},"backgroundColor":"secondary","layout":{"type":"default"}} -->
<div class="wp-block-group has-secondary-background-color has-background" style="border-radius:4em;padding-top:8vh;padding-right:8vw;padding-bottom:8vh;padding-left:8vw"><!-- wp:post-content {"lock":{"move":false,"remove":false},"layout":{"type":"default"}} /--></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"border":{"radius":"4em"},"spacing":{"padding":{"top":"8vh","right":"8vw","bottom":"8vh","left":"8vw"}}},"backgroundColor":"secondary","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group has-secondary-background-color has-background" style="border-radius:4em;padding-top:8vh;padding-right:8vw;padding-bottom:8vh;padding-left:8vw"><!-- wp:post-navigation-link {"type":"previous","label":"Previous","showTitle":true,"arrow":"arrow","style":{"layout":{"selfStretch":"fill"}}} /-->

<!-- wp:post-navigation-link {"textAlign":"right","label":"Next","showTitle":true,"arrow":"arrow","style":{"layout":{"selfStretch":"fill"}}} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"entry","tagName":"footer"} /-->