.wp-block-heading h1, h1, .h1,
.wp-block-heading h2, h2, .h2,
.wp-block-heading h3, h3, .h3,
.wp-block-heading h4, h4, .h4,
.wp-block-heading h5, h5, .h5,
.wp-block-heading h6, h6, .h6 {
	@include font-family( map-deep-get($config-heading, "font", "family") );
	font-weight: #{map-deep-get($config-heading, "font", "weight")};
	clear: both;
}

.wp-block-heading h1, h1, .h1 {
	font-size: (strip-unit(map-deep-get($config-heading, "font", "size", "h1")) + 0em);
	letter-spacing: #{map-deep-get($config-heading, "font", "letter-spacing", "h1")};
	line-height: #{map-deep-get($config-heading, "font", "line-height", "h1")};
}

.wp-block-heading h2, h2, .h2 {
	font-size: (strip-unit(map-deep-get($config-heading, "font", "size", "h2")) + 0em);
	letter-spacing: #{map-deep-get($config-heading, "font", "letter-spacing", "h2")};
	line-height: #{map-deep-get($config-heading, "font", "line-height", "h2")};
}

.wp-block-heading h3, h3, .h3 {
	font-size: (strip-unit(map-deep-get($config-heading, "font", "size", "h3")) + 0em);
	letter-spacing: #{map-deep-get($config-heading, "font", "letter-spacing", "h3")};
	line-height: #{map-deep-get($config-heading, "font", "line-height", "h3")};
}

.wp-block-heading h4, h4, .h4 {
	font-size: (strip-unit(map-deep-get($config-heading, "font", "size", "h4")) + 0em);
	letter-spacing: #{map-deep-get($config-heading, "font", "letter-spacing", "h4")};
	line-height: #{map-deep-get($config-heading, "font", "line-height", "h4")};
}

.wp-block-heading h5, h5, .h5 {
	font-size: (strip-unit(map-deep-get($config-heading, "font", "size", "h5")) + 0em);
	letter-spacing: #{map-deep-get($config-heading, "font", "letter-spacing", "h5")};
	line-height: #{map-deep-get($config-heading, "font", "line-height", "h5")};
}

.wp-block-heading h6, h6, .h6 {
	font-size: (strip-unit(map-deep-get($config-heading, "font", "size", "h6")) + 0em);
	letter-spacing: #{map-deep-get($config-heading, "font", "letter-spacing", "h6")};
	line-height: #{map-deep-get($config-heading, "font", "line-height", "h6")};
}
