h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	@include font-family( map-deep-get($config-heading, "font", "family") );
	font-weight: #{map-deep-get($config-heading, "font", "weight")};
	clear: both;
}

h1, .h1 {
	font-size: #{map-deep-get($config-heading, "font", "size", "h1")};
	letter-spacing: #{map-deep-get($config-heading, "font", "letter-spacing", "h1")};
	line-height: #{map-deep-get($config-heading, "font", "line-height", "h1")};
}

h2, .h2 {
	font-size: #{map-deep-get($config-heading, "font", "size", "h2")};
	letter-spacing: #{map-deep-get($config-heading, "font", "letter-spacing", "h2")};
	line-height: #{map-deep-get($config-heading, "font", "line-height", "h2")};
}

h3, .h3 {
	font-size: #{map-deep-get($config-heading, "font", "size", "h3")};
	letter-spacing: #{map-deep-get($config-heading, "font", "letter-spacing", "h3")};
	line-height: #{map-deep-get($config-heading, "font", "line-height", "h3")};
}

h4, .h4 {
	font-size: #{map-deep-get($config-heading, "font", "size", "h4")};
	letter-spacing: #{map-deep-get($config-heading, "font", "letter-spacing", "h4")};
	line-height: #{map-deep-get($config-heading, "font", "line-height", "h4")};
}

h5, .h5 {
	font-size: #{map-deep-get($config-heading, "font", "size", "h5")};
	letter-spacing: #{map-deep-get($config-heading, "font", "letter-spacing", "h5")};
	line-height: #{map-deep-get($config-heading, "font", "line-height", "h5")};
}

h6, .h6 {
	font-size: #{map-deep-get($config-heading, "font", "size", "h6")};
	letter-spacing: #{map-deep-get($config-heading, "font", "letter-spacing", "h6")};
	line-height: #{map-deep-get($config-heading, "font", "line-height", "h6")};
}
