header.wp-block-template-part > .wp-block-group {
	align-items: flex-end; // Needed until theme.json layout lets me specify
	justify-content: space-between; // Apply a cluster (flex?) layout
	flex-wrap: wrap-reverse;
	> * { 
		flex-grow: 1;
		> * { // Apply a stack layout (page 69 of the every-layout.dev PDF) 
			margin-top: 20px;
			margin-bottom: 20px;
		}
	}

	.wp-block-social-links.is-style-logos-only {
		margin-right: calc( -1 * ( 8px + 0.25em ) );
		> .wp-social-link {
			padding: 0; // Needed to override Gutenberg default padding on this block style variation
		}
	}

	.wp-block-site-tagline {
		font-weight: 500;
	}
}

@include break-small-only(){
	.nav-links {
		display: flex;
		justify-content: space-between;
		width: 100%;
		border-bottom: 2px solid var(--wp--custom--color--primary);
		.wp-block-navigation__responsive-container-open { 
			display: flex;
			align-items: center;

			&::after {
				font-family: var(--wp--custom--body--typography--font-family);
				font-weight: 900;
				letter-spacing: 1px;
				margin-left: 8px;
				text-transform: uppercase;
			}
		}
	}
}
