.wp-site-blocks .site-header-ollie {
<<<<<<< HEAD
=======
	align-items: flex-start;

	.site-brand {
		align-items: flex-start;
		gap: var(--wp--custom--gap--horizontal);
	}

	.wp-block-navigation__responsive-container-content {
		flex-direction: column !important;
		align-items: flex-end;
	}

	@include break-small-only(){
		border-bottom: var(--wp--custom--form--border--width) var(--wp--custom--form--border--style) var(--wp--custom--color--primary);
	}
}


/*.wp-site-blocks .site-header-ollie {

	max-width: var(--wp--custom--layout--wide-size); // Layouts can be flex OR flow/default (inherit), not both. So we need to mimick the wide width alignment supplied by Gutenberg here.
	margin: 0 auto;
	width: 100%;
	margin-top: calc( 0.5 * var(--wp--custom--gap--vertical) );
	gap: 0;
	justify-content: space-between; // Apply a cluster (flex?) layout
>>>>>>> e1962e76c... Skatepark: simplify nav
	align-items: flex-start;

	@include break-small-only(){
		border-bottom: var(--wp--custom--form--border--width) var(--wp--custom--form--border--style) var(--wp--custom--color--primary);
	}

	.site-brand {
		align-items: flex-start;
		gap: var(--wp--custom--gap--horizontal);
	}

	.site-details {
		gap: 20px;
	}

	.wp-block-navigation__responsive-container-content {
		flex-direction: column !important;
		align-items: flex-end;
	}

	.wp-block-navigation.is-responsive .is-menu-open .wp-block-navigation__responsive-container-content {
		justify-content: flex-end;
	}
}
*/
