header {
	justify-content: space-between; // Apply a cluster (flex?) layout
	flex-wrap: wrap-reverse;
	> * { 
		flex-grow: 1;
		> * { // Apply a stack layout (page 69 of the every-layout.dev PDF) 
			margin-top: 20px;
			margin-bottom: 20px;
		}
	}
}

@include break-small-only(){
	.nav-links {
		display: flex;
		justify-content: space-between;
		width: 100%;
		border-bottom: 2px solid var(--wp--custom--color--primary);
		.wp-block-navigation__responsive-container-open { 
			display: flex;
			align-items: center;

			&::after {
				content: "Menu";
				font-family: var(--wp--custom--body--typography--font-family);
				font-weight: 900;
				letter-spacing: 1px;
				margin-left: 8px;
				text-transform: uppercase;
			}
		}
	}
}
