<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"13vh","bottom":"13vh"}}},"layout":{"inherit":true,"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:13vh;padding-bottom:13vh"><!-- wp:heading {"textAlign":"center","level":1,"style":{"typography":{"fontSize":"5.875rem"}}} -->
<h1 class="wp-block-heading has-text-align-center" id="oops-that-page-can-t-be-found" style="font-size:5.875rem">Uh-oh.</h1>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">This page could not be found. Try searching posts using the field below.</p>
<!-- /wp:paragraph -->

<!-- wp:search {"label":"","showLabel":false,"placeholder":"\u0022food\u0022","buttonUseIcon":true} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->