<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"4rem","bottom":"0rem"}}}} -->
<div class="wp-block-group" style="padding-top:4rem;padding-bottom:0rem"><!-- wp:post-title {"textAlign":"center","level":1} /--></div>
<!-- /wp:group -->

<!-- wp:group {"align":"wide","layout":{"wideSize":"980px"}} -->
<div class="wp-block-group alignwide"><!-- wp:post-featured-image {"style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}}} /--></div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","lock":{"move":false,"remove":true},"style":{"spacing":{"padding":{"top":"2rem","bottom":"2rem"}}}} -->
<main class="wp-block-group" style="padding-top:2rem;padding-bottom:2rem"><!-- wp:post-content {"lock":{"move":false,"remove":true},"layout":{"inherit":true}} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->