.alignleft {
	display: inline;
	float: left;
	margin: 0.4em 1.6em 0.4em 0;
}

.alignright {
	display: inline;
	float: right;
	margin: 0.4em 0 0.4em 1.6em;
}

.aligncenter {
	clear: both;
	@include center-block;
}
