input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-input;
	border: 3px solid $color__border-input;
	border-radius: 3px;
	margin-bottom: 1.6em;
	transition: 0.3s;

	&:focus {
		color: $color__text-screen;
		border-color: $color__text-input-focus;
		outline: none;
	}
}

select {
	border: 1px solid $color__border-input;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"] {
	padding: .5em;
}

textarea {
	padding-left: .4em;
	width: 100%;
}

/* Jetpack Comment Form */

.affinity-front-page .contact-form {
	margin: 0 auto;
}

.contact-form {

	& > div {
		position: relative;
	}

	label.text,
	label.email,
	label.name,
	label.url,
	label.textarea {
		display: inline-block;
		margin-bottom: 0;
		position: absolute;
		left: .8em;
		top: .5em;
	}

	input[type="text"],
	input[type="email"],
	input[type="url"],
	input[type="name"],
	textarea {
		margin-left: auto;
		margin-right: auto;
		padding-left: 28%;
		width: 100% !important;
		max-width: 100% !important;
	}

	textarea {
		padding-left: .8em;
		padding-top: 40px;
	}

}

.post-password-form input[type="submit"] {
	top: -2px;
}