ul, ol {
	margin: 0 0 1.6em 3.2em;
	padding-left: 0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.6em;
	padding-left: 0;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.6em 1.6em;
}