table {
	margin: 0 0 1.6em;
	width: 100%;
}

td,
th {
	padding: 0.4em 0.2em;
	border-bottom: 1px solid $color__border-button;
}

th {
	font-weight: bold;
	border-bottom-width: 3px;
	text-align: left;
}

caption {
	font-style: italic;
	font-weight: bold;
}