body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(1);
	line-height: $font__line-height-body;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: $font__main;
	font-style: italic;
	font-weight: normal;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}

h1 {
	@include font-size(2.125);
}

h2 {
	@include font-size(1.825);
}

h3 {
	@include font-size(1.625);
}

h4 {
	@include font-size(1.125);
	margin-top: 0.4em;
	margin-bottom: 0.4em;
}

h5 {
	@include font-size(1);
	margin-top: 0.8em;
	margin-bottom: 0.8em;
}

h6 {
	@include font-size(.875);
	margin-top: 0.8em;
	margin-bottom: 0.8em;
}

p {
	margin-top: 0;
	margin-bottom: 1.6em;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	color: $color__link;
	@include font-size(1.125);
	font-style: italic;
	margin: 0;
	border-top: 3px solid $color__border-button;
	padding-top: .8em;
	border-bottom: 1px solid $color__border-button;
	margin-bottom: .8em;
	padding-bottom: .8em;

	&.aligncenter {
		text-align: center;
	}
	p:last-of-type {
		margin-bottom: 0;
	}

	blockquote {
		border-top: 0;
		border-bottom: 0;
		padding-left: .8em;
		padding-bottom: 0;
	}

	cite {
		display: block;
		text-align: right;
		font-style: normal;
		@include font-size(1);
	}
}

address {
	margin: 0 0 1.6em;
}

pre {
	background: $color__background-pre;
	font-family: $font__pre;
	@include font-size(0.825);
	line-height: $font__line-height-pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: $font__code;
	@include font-size(0.825);
}

abbr, acronym {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}

mark, ins {
	background: $color__background-ins;
	text-decoration: none;
}

big {
	font-size: 125%;
}

blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}