/**
 * Calendar
 */
 .wp-block-calendar table th {
	background-color: var(--global--color-foreground);
	color: var(--global--color-background);
}
.wp-block-calendar table tbody, .wp-block-calendar table caption  {
	color: var(--global--color-foreground);
}
