/**
 * Vintage Style Pack
 *
 */

/**
 * Colours
 */
body,
.infinite-loader,
#infinite-handle span {
	background-color: #eae8dc;
}

a,
a:visited {
	color: #2b6e9d;
}

button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.wp-block-button .wp-block-button__link,
.wp-block-button a:not([style]) {
	border-radius: 0;
	border: 3px double #c7c4b4;
}

button:hover,
button:focus,
.button:hover,
.button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus,
.wp-block-button .wp-block-button__link:hover,
.wp-block-button .wp-block-button__link:focus,
#infinite-handle span:hover,
.bypostauthor .by-post-author {
	background-color: #2b6e9d;
}

.hero-area {
	background-color: #888;
}

.dropdown-toggle {
	border: 0;
}

blockquote:before,
blockquote:after {
	background-color: #c5c3bf;
}

.jetpack-social-navigation a:hover,
.jetpack-social-navigation a:focus,
.entry-title a:hover,
.entry-meta a:hover,
.entry-footer a:hover,
.post-navigation a:hover,
.site-info a:hover,
.site-title a:hover {
	color: #2b6e9d;
}

.contact-info-area {
	border-color: #c7c4b4;
	position: relative;
}

.site-header .contact-info-area {
	border-bottom: 2px solid #c7c4b4;
}

.contact-info-area,
.contact-info-area a {
	color: #222;
}

.contact-info-area a:focus,
.contact-info-area a:hover {
	color: #2b6e9d;
}

.contact-info-area .icon {
	fill: #2b6e9d;
}

.site-header .contact-info-area:before {
	border-top: 1px solid #c7c4b4;
	bottom: -5px;
	content: "";
	left: 0;
	position: absolute;
	width: 100%;
}

.site-title a {
	color: #342707;
}

.hero-area .button {
	border-color: rgba(0,0,0,0.5);
}

.hero-area .button {
	background-color: #fff;
}

.hero-area .button:focus,
.hero-area .button:hover {
	background-color: rgba(255,255,255,0.8);
	opacity: 1.0;
}

#infinite-handle span:hover {
	color: #fff;
}

.site-title a,
.main-navigation a {
	color: #222;
}

@media all and (min-width: 768px) {
	.main-navigation li:hover > a,
	.main-navigation li.focus > a,
	.main-navigation li.current-menu-item > a {
		background-color: #2b6e9d;
	}
}


@media all and (max-width: 768px) {
	.main-navigation.toggled .menu {
		background-color: #eae8dc;
	}

	.main-navigation.toggled li a:hover,
	.main-navigation.toggled li a:focus,
	.main-navigation.toggled li a:active {
		background-color: #2b6e9d;
	}

	.main-navigation.toggled ul {
		border-top-color: #c7c4b4;
	}

	.main-navigation > div {
		border-radius: 0;
	}

	.main-navigation ul > li:first-child > a {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}

	.main-navigation ul > li:last-child > a {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
}

.entry-title a {
	color: #fff;
}

@media all and (min-width: 768px) {
	.single-post article,
	.page article {
		border: 4px double #c7c4b4;
		background-color: rgba(255,255,255,0.3);
	}
}

.blog .entry-title a:hover,
.archive .entry-title a:hover,
.search .entry-title a:hover {
	color: rgba(255,255,255,0.6);
}

.blog .entry-meta:before,
.blog .entry-meta:after,
.archive .entry-meta:before,
.archive .entry-meta:after,
.search .entry-meta:before,
.search .entry-meta:after {
	color: rgba(255,255,255,0.5);
}

.comments-area,
.respond {
	background-color: #dbd8cb;
}

.post-nav-wrapper,
.site-footer,
.widget-area,
.entry-author,
.entry-links,
.page-header,
.comments-area {
	border-top-color: #c7c4b4;
}

.single.no-featured-image .site-header,
.page.no-featured-image .site-header,
.error-404 .page-header,
.no-results .page-header,
.search-no-results .page-header {
	border-bottom-color: #c7c4b4;
}

.cat-links .icon,
.tags-links .icon,
.edit-link .icon {
	fill: #aba899;
}

.respond {
	border-top-color: #c7c4b4;
}

.comments-title {
	border-bottom-color: #c7c4b4;
}

.comment-wrapper,
.pingback,
.trackback {
	background: transparent;
}

.search-form .search-field {
	background-color: #e5e4e1;
}

/**
 * Fonts
 */

/* Body Text */

body,
button,
input,
select,
textarea,
.post-navigation a,
.site-description,
.header-search .s,
.entry-meta,
.site-footer,
.main-navigation a,
.entry-footer,
.posts-navigation,
.post-navigation a span,
.comment-actions,
.comment-navigation,
#wp-calendar tfoot a,
form,
input,
button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.wp-block-button .wp-block-button__link,
#infinite-handle span {
	font-family: 'Libre Baskerville', 'Helvetica Neue', Helvetica, arial, sans-serif;
}

.post-navigation a span,
.comment-actions a {
	text-transform: none;
	font-weight: 400;
}

.author-title {
	font-size: 20px;
	font-size: 2rem;
}

.entry-footer {
	font-size: 14px;
	font-size: 1.4rem;
}

.widget {
	font-size: 16px;
	font-size: 1.6rem;
}

.entry-meta,
.entry-meta a {
	font-style: italic;
	font-weight: 400;
}

.entry-content {
	font-size: 18px;
	font-size: 1.8rem;
}

.comment-content {
	font-size: 16px;
	font-size: 1.6rem;
}

/* Headers */

h1,
h2,
h3,
h4,
h5,
h6,
.archive .page-title,
.comment-header,
.site-title,
.entry-title {
	font-family: 'Libre Baskerville', Georgia, 'Times New Roman', serif;
	font-weight: 400;
}

.widget-title {
	font-family: 'Libre Baskerville', Georgia, 'Times New Roman', serif;
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: 700;
	text-transform: none;
}

.comments-title,
.comment-reply-title {
	font-weight: 400;
}

/* De-uppercasing */
.main-navigation a,
.entry-meta,
.entry-meta a,
.archive .page-title,
.search .page-title,
.error404 .page-title,
.comment-navigation a,
.posts-navigation a,
.comments-title,
.comment-reply-title,
.site-info {
	text-transform: none;
	letter-spacing: 0;
}

/* Font Weights */

.entry-meta a,
.site-info {
	font-weight: 400;
}


/**
 * More layout-y changes
 */


/* Header */

@media screen and (min-width: 768px) {
	.site-header {
		padding-bottom: 16px;
	}
}

/* Main Navigation */

.menu-toggle .icon {
	margin-top: -2px;
}

.main-navigation ul ul > li:first-child > a,
.main-navigation ul ul > li:last-child > a {
	border-radius: 0;
}

@media (min-width: 768px) {
	.main-navigation li:hover > a,
	.main-navigation li.focus > a,
	.main-navigation li.current-menu-item > a {
		border-radius: 0;
	}
}

/* Hero/CTA Area */

.hero-area-wrapper {
	text-align: center;
}

.hero-area-title {
	padding-top: 2em;
	position: relative;
}

.hero-area-title:before {
	border-top: 3px solid rgba(255,255,255,0.8);
	border-bottom: 1px solid rgba(255,255,255,0.6);
	content: "";
	height: 7px;
	left: 5%;
	position: absolute;
	width: 90%;
	top: 0;
}

.hero-area-title:after {

}

@media all and (min-width: 768px) {
	.hero-area-title:before {
		left: 50%;
		margin-left: -250px;
		width: 500px;
	}
}

.hero-area.has-post-thumbnail {
	-webkit-filter: sepia(0.3);
	filter: sepia(0.3);
}

.hero-area-title,
.hero-area-content,
.hero-area-button {
	-webkit-filter: none;
	filter: none;
}

.hero-area-button .button {
	position: relative;
}

.hero-area-button .button:before,
.hero-area-button .button:after {
	border-top: 1px solid rgba(255,255,255,0.6);
	content: "";
	display: block;
	position: absolute;
	width: 3em;
	top: 25px;
}

.hero-area-button .button:before {
	right: 100%;
	right: calc(100% + 20px);
}

.hero-area-button .button:after {
	left: 100%;
	left: calc(100% + 20px);;
}

/* Blog Posts page */

.entry-thumbnail {
	-webkit-filter: sepia(0.3);
	filter: sepia(0.3);
}

.archive .entry-thumbnail + .entry-header,
.blog .entry-thumbnail + .entry-header,
.search .entry-thumbnail + .entry-header {
	border-bottom: 1px solid rgba(255,255,255,0.5);
}

@media all and (min-width: 600px) {
	.archive .entry-thumbnail + .entry-header,
	.blog .entry-thumbnail + .entry-header,
	.search .entry-thumbnail + .entry-header {
		border: 1px solid #fff;
		bottom: auto;
		left: 20%;
		margin-top: -130px;
		right: 20%;
		top: 50%;
		width: auto;
	}
}

@media all and (min-width: 768px) {
	.archive .entry-thumbnail + .entry-header,
	.blog .entry-thumbnail + .entry-header,
	.search .entry-thumbnail + .entry-header {
		left: 25%;
		right: 25%;
	}

	.archive .entry-thumbnail + .entry-header:before,
	.blog .entry-thumbnail + .entry-header:before,
	.search .entry-thumbnail + .entry-header:before {
		bottom: 4px;
		left: 4px;
		right: 4px;
		border: 1px solid rgba(255,255,255,0.5);
		content: "";
		position: absolute;
		top: 4px;

	}
}

.archive .entry-thumbnail + .entry-header .entry-meta,
.archive .entry-thumbnail + .entry-header .entry-title,
.blog .entry-thumbnail + .entry-header .entry-meta,
.blog .entry-thumbnail + .entry-header .entry-title,
.search .entry-thumbnail + .entry-header .entry-meta,
.search .entry-thumbnail + .entry-header .entry-title {
	position: relative;
	z-index: 2;
}

/* Single Posts & Pages */

.single-post article,
.page article {
	margin-bottom: 0;
	padding-bottom: 30px;
}

.page .entry-footer {
	padding-bottom: 70px;
}

.single-post .entry-header,
.page-template-default .entry-header {
	padding-top: 30px;
}

.page .hentry {
	padding-bottom: 70px;
}

@media (min-width: 768px) {
	.single-post article,
	.page article {
		margin-left: auto;
		margin-right: auto;
		max-width: 900px;
		padding-left: 15px;
		padding-right: 15px;
		width: auto;
	}
}

@media (min-width: 600px) {
	.single-post article,
	.page article {
		margin-bottom: 20px;
		margin-top: 20px;
		padding-top: 50px;
	}

	.single-post .entry-header,
	.page-template-default .entry-header {
		padding: 20px 0 40px;
	}

	.single-post .entry-footer,
	.page .entry-footer {
		margin-top: 0;
		padding-top: 40px;
	}
}

@media (min-width: 768px) {
	.single-post article,
	.page article {
		margin-bottom: 70px;
		margin-top: 70px;
		padding-bottom: 70px;
		padding-left: 70px;
		padding-right: 70px;
		padding-top: 70px;
	}

	.entry-title,
	.page-content,
	.entry-content,
	.entry-summary,
	.entry-footer,
	.post-navigation,
	.comments-wrapper,
	.respond-wrapper {
		max-width: 100%;
	}

	.single-post .entry-header,
	.page-template-default .entry-header {
		padding: 20px 0 40px;
	}

	.single-post .entry-footer,
	.page .entry-footer {
		margin-top: 0;
		padding-top: 40px;
	}
}

.entry-meta:before,
.entry-meta:after {
	content: "\007E";
	margin: 0 0.2em;
}

.byline:before,
.comments-link:before {
	content: "\2022";
}

.entry-author,
.entry-links {
	padding-top: 40px;
}

/* Comments */

.comment-wrapper,
.pingback,
.trackback {
	border-radius: 0;
}

.comment-wrapper:after {
	display: none;
}

@media all and (min-width: 600px) {
	.comment-wrapper {
		padding-top: 20px;
		padding-left: 0;
		padding-right: 0;
	}
}

@media all and (max-width: 600px) {
	.bypostauthor .by-post-author {
		top: 42px;
	}
}

/* Widgets */

.widget-area {
	border-top-style: double;
	border-top-width: 4px;
}

/* Woocommerce */

.woocommerce-tabs ul.tabs li.active a {
	color: #222;
}

.site-header-cart .widget_shopping_cart_content .woocommerce-mini-cart__buttons a,
.site-header-cart:hover>li>a,
.site-header-cart.focus>li>a,
.site-header-cart>li:hover>a,
.site-header-cart>li.focus>a {
	background: #2b6e9d;
	border-radius: 0;
}

@media all and (max-width: 768px) {

	.site-header-cart .cart-contents {
		border-radius: 0;
		border: 3px double #c7c4b4;
	}

	.main-navigation > div {
		background: #eae8dc;
	}
}

.star-rating span:before,
p.stars:hover a:before {
	color: #2b6e9d;
}

.woocommerce-tabs ul.tabs,
.woocommerce-tabs ul.tabs li,
.single-product div.product .commentlist .comment,
.single-product div.product .cart,
.single-product div.product .product_meta,
.upsells.products, .related.products,
table.shop_table_responsive,
.woocommerce-cart-form tbody,
table.shop_table_responsive thead th,
table.shop_table_responsive tbody tr,
.woocommerce-checkout .shop_table thead,
.woocommerce-checkout .shop_table tbody,
.woocommerce-checkout .shop_table tfoot,
.woocommerce.widget_products .product_list_widget li,
.woocommerce.widget_recent_reviews .product_list_widget li,
.widget-area .woocommerce.widget_shopping_cart .product_list_widget li,
.woocommerce.widget_top_rated_products .product_list_widget li,
.woocommerce.widget_recently_viewed_products .product_list_widget li,
.woocommerce.widget_products .product_list_widget li:last-child,
.woocommerce.widget_recent_reviews .product_list_widget li:last-child,
.widget-area .woocommerce.widget_shopping_cart .product_list_widget li:last-child,
.woocommerce.widget_top_rated_products .product_list_widget li:last-child,
.woocommerce.widget_recently_viewed_products .product_list_widget li:last-child,
.woocommerce.widget_products .product_list_widget li:nth-last-child(2),
.woocommerce.widget_recent_reviews .product_list_widget li:nth-last-child(2),
.widget-area .woocommerce.widget_shopping_cart .product_list_widget li:nth-last-child(2),
.woocommerce.widget_top_rated_products .product_list_widget li:nth-last-child(2),
.woocommerce.widget_recently_viewed_products .product_list_widget li:nth-last-child(2) {
	border-color: #c7c4b4;
}

.woocommerce.widget_shopping_cart .woocommerce-mini-cart__buttons a {
	display: inline-block;
}

.woocommerce-tabs ul.tabs li.active {
	border-bottom-color: #eae8dc;
}

.woocommerce.widget_product_search .woocommerce-product-search .search-field {
	background-color: #e5e4e1;
}

.woocommerce-tabs ul.tabs li.active:hover a,
.woocommerce-tabs ul.tabs li.active a {
	background-color: #eae8dc;
}

.woocommerce-MyAccount-navigation li:hover > a,
.woocommerce-MyAccount-navigation li.focus > a,
.woocommerce-tabs ul.tabs li:hover a {
	background-color: #222;
}

.site-header-cart .cart-contents,
.site-header-cart .widget_shopping_cart_content .mini_cart_item .quantity,
.single-product div.product .commentlist .comment-text .meta,
.single-product div.product .commentlist .comment-text .description,
.single-product div.product .product_meta,
.single-product div.product .comment-reply-title,
.single-product div.product .entry-summary .price,
.woocommerce-breadcrumb,
.woocommerce-result-count,
.woocommerce-ordering,
.woocommerce-ordering select,
.woocommerce-MyAccount-content address,
.woocommerce-MyAccount-navigation a,
.woocommerce-tabs ul.tabs li a,
.woocommerce.widget .amount,
.woocommerce.widget .reviewer,
.woocommerce.widget .total,
.woocommerce.widget .quantity,
.woocommerce-tabs ul.tabs li a,
.onsale {
	font-family: "Libre Baskerville", "Helvetica Neue", Helvetica, arial, sans-serif;
}

.single-product div.product .woocommerce-Reviews-title,
ul.products li.product .woocommerce-loop-product__title,
.woocommerce-tabs .panel h2:first-of-type,
.woocommerce-tabs ul.tabs li a,
.upsells.products>h2:first-of-type,
.related.products>h2:first-of-type,
.onsale {
	text-transform: none;
}
