.wp-site-blocks {
	position: relative; // This is needed so that the polygon is stretched across the whole site.
}

.wp-site-blocks .site-header {
	overflow: inherit;
	padding-top: var(--wp--custom--gap--vertical);

	@include break-small-only(){
		padding-top: 0;
	}

	// The blockGap is used HORIZONTALLY when the viewport is LARGE (in which case the value defined in theme.json is appropriate)
	// It needs to be a different value then when the viewport is SMALL and the gap is used VERTICALLY
	@include break-small-only() {
		gap: 2px;
	}
	.wp-block-site-logo {
		margin-right: var(--wp--custom--gap--horizontal);

		@include break-small-only(){
			flex-basis: 100%;
			margin: 45px 0;
			text-align: center;
		}

		a > img {
			height: 64px;
			width: auto;
		}
	}

	.wp-block-site-title {
		margin: 0;
	}

	.wp-block-navigation {
		margin-left: auto;
		padding-right: 0;
	}

	.wp-block-site-tagline {
		margin: 0;
		@include break-small-only() {
			padding-left: 0 !important;
			flex-basis: 100%;
			order: 10;
		}
	}

	&:before {
		content: "";
		background-color: var(--wp--custom--color--tertiary);
		position: absolute;
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;
		z-index: -1;
		@include break-small-only() {
			clip-path: polygon(0 0, 100vw 0, 100vw 50vw, 52vw 83vw, 0 20vw);
		}
		@include break-small() {
			clip-path: polygon(0 0, 100vw 0, 100vw 37vw, 52vw 70vw, 0 5vw);
		}
		@include break-large() {
			clip-path: polygon(13vw 0, 100vw 0, 100vw 16vw, 50vw 51vw);
		}
	}
}
