.wp-block-group.post-meta {
	align-items: center;
	justify-content: center;
	gap: 0;
	@include break-small-only() {
		padding-top: 0 !important;
		margin-bottom: -20px;
	}

	.wp-block-post-date::before {
		display: none;
	}

	> *,
	.wp-block-post-date {
		&::before {
			content: "";
		}
	}

	.wp-block-post-terms,
	.taxonomy-category {
		&::before {
			align-self: auto;
			background-color: transparent;
			color: var(--wp--custom--color--foreground);
			content: "·";
			margin-right: 0;
			mask-image: none;
		}

		// Needed while https://github.com/WordPress/gutenberg/issues/31710 is sorted.
		color: transparent;
		a {
			color: var(--wp--custom--color--foreground);
			&:not(:last-child):after {
				// to be removed after https://github.com/WordPress/gutenberg/pull/32812 lands
				content: ",";
			}
		}
	}
}
