
/**
 *	These Variables are provided as the DEFAULT CSS variables that will be constructed based on theme.json custom value.
 *  They are provided here so that child themes are not required to provide ALL of the "custom" values provided by the parent theme.
 *  This can be eliminated when child themes are able to extend parent theme.json files. 
 */
:root {
--wp--custom--color--primary: var(--wp--preset--color--black);
--wp--custom--color--secondary: var(--wp--preset--color--blue);
--wp--custom--color--tertiary: var(--wp--preset--color--almost-white);
--wp--custom--color--foreground: var(--wp--preset--color--almost-black);
--wp--custom--color--background: var(--wp--preset--color--white);
--wp--custom--color--selection: var(--wp--preset--color--almost-white);
--wp--custom--margin--horizontal: 20px;
--wp--custom--margin--vertical: 20px;
--wp--custom--button--typography--font-weight: normal;
--wp--custom--button--typography--font-family: var(--wp--preset--font-family--base);
--wp--custom--button--typography--font-size: var(--wp--preset--font-size--small);
--wp--custom--button--typography--line-height: 2;
--wp--custom--button--border--radius: 4px;
--wp--custom--button--color--text: var(--wp--custom--color--background);
--wp--custom--button--color--background: var(--wp--custom--color--secondary);
--wp--custom--button--color--hover-text: var(--wp--custom--color--secondary);
--wp--custom--button--color--hover-background: var(--wp--custom--color--primary);
--wp--custom--form--padding: calc( 0.5 * var(--wp--custom--margin--horizontal) );
--wp--custom--form--border--radius: 0;
--wp--custom--form--border--color: #EFEFEF;
--wp--custom--form--border--width: 2px;
--wp--custom--form--border--style: solid;
--wp--custom--form--color--text: var(--wp--custom--color--foreground);
--wp--custom--form--color--background: transparent;
--wp--custom--form--color--box-shadow: none;
--wp--custom--paragraph--dropcap--margin: .1em .1em 0 0;
--wp--custom--paragraph--dropcap--typography--font-family: var(--wp--preset--font-family--base);
--wp--custom--paragraph--dropcap--typography--font-size: 110px;
--wp--custom--paragraph--dropcap--typography--font-weight: 400;
--wp--custom--gallery--caption--font-size: var(--wp--preset--font-size--small);
--wp--custom--quote--citation--typography--font-size: var(--wp--preset--font-size--small);
--wp--custom--quote--citation--typography--font-style: italic;
--wp--custom--separator--color: #ccc;
--wp--custom--separator--thickness: 2px;
--wp--custom--separator--width: 150px;
--wp--custom--video--caption--margin: var(--wp--custom--margin--vertical) auto;
--wp--custom--video--caption--text-align: center;
--wp--custom--heading--typography--font-weight: 400;
--wp--custom--heading--typography--line-height: 1.125;
--wp--custom--list--font-family: var(--wp--custom--font-family--base);
--wp--custom--list--padding--left: calc( 2 * var(--wp--custom--margin--horizontal) );
--wp--custom--navigation--mobile--menu--open-label: ☰;
--wp--custom--navigation--mobile--menu--close-label: ╳;
--wp--custom--navigation--mobile--menu--color--text: var(--wp--custom--color--foreground);
--wp--custom--navigation--mobile--menu--typography--font-weight: 500;
--wp--custom--navigation--mobile--menu--typography--font-size: 24px;
--wp--custom--navigation--mobile--menu--typography--font-family: var(--wp--custom--font-family--base);
--wp--custom--navigation--mobile--padding: 10px;
--wp--custom--navigation--mobile--vertical-alignment: center;
--wp--custom--navigation--mobile--horizontal-alignment: center;
--wp--custom--navigation--mobile--typography--font-weight: 200;
--wp--custom--navigation--mobile--typography--font-size: 20px;
--wp--custom--navigation--mobile--typography--font-family: var(--wp--custom--font-family--base);
--wp--custom--navigation--padding: 10px;
--wp--custom--navigation--color--text: var(--wp--custom--color--foreground);
--wp--custom--navigation--color--background: var(--wp--custom--color--background);
--wp--custom--navigation--color--hover-text: var(--wp--custom--color--secondary);
--wp--custom--navigation--color--hover-background: var(--wp--custom--color--background);
--wp--custom--navigation--submenu--padding: 8px;
--wp--custom--navigation--submenu--shadow: 1px 1px 3px 0px rgba(0,0,0,.2);
--wp--custom--navigation--submenu--border--radius: 0;
--wp--custom--navigation--submenu--border--color: 0;
--wp--custom--navigation--submenu--border--width: 1px;
--wp--custom--navigation--submenu--border--style: none;
--wp--custom--navigation--submenu--color--text: var(--wp--custom--color--foreground);
--wp--custom--navigation--submenu--color--background: var(--wp--custom--color--background);
--wp--custom--navigation--submenu--color--hover-text: var(--wp--custom--color--secondary);
--wp--custom--navigation--submenu--color--hover-background: var(--wp--custom--color--background);
}