/**
 * Base
 * - Reset the browser
 */
body {
	margin: 0;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

p {
	margin: 0;
}

img {
	height: auto;
	max-width: 100%;
}

/**
 * Required Variables
 */
.screen-reader-text {
	/* Text meant only for screen readers. */
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
	/* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: var(--wp--custom--color--background);
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: var(--wp--custom--color--background);
	display: block;
	font-size: var(--preset--font-size--normal);
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*
 * Alignments
 */
body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

.entry-content > *:not(:last-child):not(.wp-block-spacer),
*[class*="__inner-container"] > *:not(:last-child):not(.wp-block-spacer),
*[class*="__content"] > *:not(:last-child):not(.wp-block-spacer) {
	margin-bottom: var(--wp--custom--margin--vertical);
}

.wp-site-blocks {
	padding: 0 var(--wp--custom--margin--horizontal);
}

.wp-block {
	max-width: var(--wp--custom--width--default);
}

.wp-block[data-align=wide] {
	max-width: var(--wp--custom--width--wide);
}

.wp-block[data-align=full] {
	max-width: none;
}

.wp-block-group .wp-block-group,
.wp-site-blocks > *:not(.wp-block-post-content):not(.wp-block-template-part),
.wp-site-blocks .wp-block-post-content > * {
	max-width: var(--wp--custom--width--default);
	margin-left: auto;
	margin-right: auto;
}

.wp-site-blocks .alignwide {
	width: var(--wp--custom--width--wide);
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.wp-site-blocks .alignfull {
	transform: translateX(calc(0px - var(--wp--custom--margin--horizontal)));
	width: calc(100% + (2 * var(--wp--custom--margin--horizontal)));
	max-width: calc(100% + (2 * var(--wp--custom--margin--horizontal)));
	margin-left: 0;
	margin-right: 0;
	box-sizing: content-box;
}

.wp-site-blocks *[class*="__inner-container"] .alignfull {
	box-sizing: border-box;
	transform: unset;
	width: 100%;
}

.aligncenter {
	text-align: center;
}

@media only screen and (min-width: 482px) {
	.block-editor-block-list__layout .alignleft,
	.block-editor-block-list__layout .alignright,
	.wp-site-blocks .alignleft,
	.wp-site-blocks .alignright {
		max-width: calc(var(--wp--custom--width--default) / 2);
	}
	.wp-site-blocks .alignleft {
		/*rtl:ignore*/
		float: left;
	}
	.wp-site-blocks .alignright {
		/*rtl:ignore*/
		float: right;
	}
	.block-editor-block-list__layout > .alignleft,
	.block-editor-block-list__layout > .alignright,
	.wp-site-blocks .wp-block-post-content > .alignleft,
	.wp-site-blocks .wp-block-post-content > .alignright {
		--content-width: min( 100% - var(--wp--custom--margin--horizontal) * 2, var(--wp--custom--width--default) );
		--alignment-margin: calc( ( 100% - var(--content-width ) ) / 2 );
	}
	.block-editor-block-list__layout > .alignleft,
	.wp-site-blocks .wp-block-post-content > .alignleft {
		/*rtl:ignore*/
		margin-left: var(--alignment-margin);
		/*rtl:ignore*/
		margin-right: var(--wp--custom--margin--horizontal);
	}
	.block-editor-block-list__layout > .alignright,
	.wp-site-blocks .wp-block-post-content > .alignright {
		/*rtl:ignore*/
		margin-left: var(--wp--custom--margin--horizontal);
		/*rtl:ignore*/
		margin-right: var(--alignment-margin);
	}
}

::selection {
	background-color: var(--wp--custom--color--selection);
}

::-moz-selection {
	background-color: var(--wp--custom--color--selection);
}

*[class*="-background-color"]:not(.has-text-color) {
	color: var(--wp--custom--color--background);
}

*[class*="-background-color"]:not(.has-text-color) a {
	color: var(--wp--custom--color--background);
}

/**
 * Elements
 * - Styles for basic HTML elemants
 */
a:not(.wp-block-button__link) {
	cursor: pointer;
	color: var(--wp--style--color--link, var(--wp--custom--color--foreground));
	text-decoration: none;
	border-bottom: 1px solid transparent;
}

a:not(.wp-block-button__link):hover, a:not(.wp-block-button__link):focus {
	border-bottom-color: currentColor;
}

.entry-content a:not(.wp-block-button__link) {
	border-bottom: 1px solid currentColor;
	text-decoration: none;
	transition: border-color 0.1s ease-out;
}

.entry-content a:not(.wp-block-button__link):hover, .entry-content a:not(.wp-block-button__link):focus {
	border-bottom-color: transparent;
}

.entry-content a:not(.wp-block-button__link):active {
	color: var(--wp--style--color--link, var(--wp--custom--color--primary));
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	border: var(--wp--custom--form--border--width) var(--wp--custom--form--border--style) var(--wp--custom--form--border--color);
	border-radius: var(--wp--custom--form--border-radius);
	color: var(--wp--custom--form--color--text);
	padding: var(--wp--custom--form--padding);
	background: var(--wp--custom--form--color--background);
	box-shadow: var(--wp--custom--form--color--box-shadow);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: var(--wp--custom--form--color--text);
	border-color: var(--custom--form--color--border);
}

select {
	color: var(--wp--custom--colors--foreground);
	border: var(--wp--custom--form--border--width) solid var(--wp--custom--form--border--color);
	font-family: inherit;
	font-size: 100%;
}

textarea {
	width: 100%;
}

input[type=checkbox] + label {
	display: inline;
	margin-left: 0.5em;
	line-height: 1em;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: var(--wp--custom--heading--typography--font-family);
	font-weight: var(--wp--custom--heading--typography--font-weight);
}

/**
 * Button
 */
/**
 * Block Options
 */
.wp-block-button.wp-block-button__link,
.wp-block-button .wp-block-button__link {
	font-weight: var(--wp--custom--button--font-weight);
	font-family: var(--wp--custom--button--font-family);
	font-size: var(--wp--custom--button--font-size);
	line-height: var(--wp--custom--button--line-height);
	border-radius: var(--wp--custom--button--border-radius);
}

.wp-block-button.wp-block-button__link:hover, .wp-block-button.wp-block-button__link:focus, .wp-block-button.wp-block-button__link.has-focus,
.wp-block-button .wp-block-button__link:hover,
.wp-block-button .wp-block-button__link:focus,
.wp-block-button .wp-block-button__link.has-focus {
	color: var(--wp--custom--button--color--hover-text);
	background-color: var(--wp--custom--button--color--hover-background);
	border-color: var(--wp--custom--button--color--hover-background);
}

.wp-block-gallery .blocks-gallery-image figcaption,
.wp-block-gallery .blocks-gallery-item figcaption {
	font-size: var(--wp--custom--gallery--caption--font-size);
}

.wp-block-image {
	/* 
	From what I can tell the below are styles regularly used by themes
	to fix the image block.  I believe these should go into the block's
	default styles.  It's difficult to say how this will land, however 
	based on discussion found in (many) related issues here: 
	https://github.com/WordPress/gutenberg/issues/28923
	*/
	text-align: center;
}

/*
	Further gutenberg APPEARS to be defaulting the margin to the same as 
	the below, however (for reason's that aren't clear to me now) this
	isn't coming through.
*/
.wp-block-column .wp-block-image {
	margin: 0 0 1em 0;
}

ul,
ol {
	font-family: var(--wp--custom--list--font-family);
	padding-left: var(--wp--custom--list--padding--left);
}

p.has-background {
	padding: var(--wp--custom--margin--vertical) var(--wp--custom--margin--horizontal);
}

p.has-text-color a {
	color: var(--wp--style--color--link, var(--wp--custom--color--primary));
}

p.has-drop-cap:not(:focus):first-letter {
	font-size: var(--wp--custom--paragraph--dropcap--typography--font-size);
	font-family: var(--wp--custom--paragraph--dropcap--typography--font-family);
	font-weight: var(--wp--custom--paragraph--dropcap--typography--font-weight);
	margin: var(--wp--custom--paragraph--dropcap--margin);
}

.wp-block-navigation a {
	border-bottom: none;
}

.wp-block-navigation .wp-block-navigation-link {
	padding: 0;
}

.wp-block-navigation .wp-block-navigation-link .wp-block-navigation-link__content {
	padding: var(--wp--custom--navigation--padding);
}

.wp-block-navigation .wp-block-navigation-link__submenu-icon {
	padding: 0;
}

.wp-block-navigation .wp-block-navigation__container .wp-block-navigation-link {
	color: var(--wp--custom--navigation--color--text);
	background-color: var(--wp--custom--navigation--color--background);
}

.wp-block-navigation .wp-block-navigation__container .wp-block-navigation-link :hover {
	color: var(--wp--custom--navigation--color--hover-text);
	background-color: var(--wp--custom--navigation--color--hover-background);
}

.wp-block-navigation .wp-block-navigation__container .has-child .wp-block-navigation-link__container {
	padding: 0;
	border-radius: var(--wp--custom--navigation--submenu--border--radius);
	border-style: var(--wp--custom--navigation--submenu--border--style);
	border-width: var(--wp--custom--navigation--submenu--border--width);
	border-color: var(--wp--custom--navigation--submenu--border--color);
	color: var(--wp--custom--navigation--submenu--color--text);
	background-color: var(--wp--custom--navigation--submenu--color--background);
}

.wp-block-navigation .wp-block-navigation__container .has-child .wp-block-navigation-link__container :hover {
	color: var(--wp--custom--navigation--submenu--color--hover-text);
	background-color: var(--wp--custom--navigation--submenu--color--hover-background);
}

.wp-block-navigation .wp-block-navigation__container .has-child .wp-block-navigation-link__container .wp-block-navigation-link__content {
	padding: var(--wp--custom--navigation--submenu--padding);
}

.wp-block-quote {
	border-left: var(--wp--custom--quote--border--width) solid var(--wp--custom--quote--border--color);
	padding-left: var(--wp--custom--padding--horizontal);
}

.wp-block-quote cite, .wp-block-quote .wp-block-quote__citation {
	font-size: var(--wp--custom--quote--citation--typography--font-size);
	font-style: var(--wp--custom--quote--citation--typography--font-style);
}

.wp-block-group.has-background {
	padding: unset;
}

.wp-block-group.has-background .wp-block-group__inner-container {
	padding: var(--wp--custom--margin--vertical) var(--wp--custom--margin--horizontal);
}

.wp-block-separator:not(.is-style-dots) {
	border-bottom: var(--wp--custom--separator--thickness) solid var(--wp--custom--separator--color);
}

.wp-block-separator:not(.is-style-dots):not(.is-style-wide) {
	max-width: var(--wp--custom--separator--width);
}

.wp-block-video figcaption {
	margin: var(--wp--custom--video--caption--margin);
	text-align: var(--wp--custom--video--caption--text-align);
}

/*# sourceMappingURL=ponyfill.css.map */