.wp-block-post-content > .alignfull {
	margin-left: calc(-1 * var(--wp--custom--margin--horizontal));
	margin-right: calc(-1 * var(--wp--custom--margin--horizontal));
}

@include break-mobile {
	// limit size of any element that is aligned left/right 
	.wp-block[data-align="left"], // This is for the editor
	.wp-block[data-align="right"], // This is for the editor
	.wp-site-blocks .alignleft,
	.wp-site-blocks .alignright {
		max-width: var(--wp--custom--alignment--aligned-max-width);
	}
}

// When content is aligned left/right (particularly inside of a container) it is floated left/right
// and needs something to ensure that the content follows the block rather than nestling up beside the floated element.  
// The issue should be resolved upstream: https://github.com/WordPress/gutenberg/issues/10299
.wp-block-group:after { 
	clear: both;
	content: ".";
	display: block;
	position: unset;
	visibility: hidden;
}