
// Remove the margin in all browsers.
body {
  margin: 0;
}

// Smooth out the fonts
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// Needed until https://github.com/WordPress/gutenberg/pull/27518/ is merged.
img {
	height: auto;
	max-width: 100%;
}

hr {
	margin-top: var(--wp--custom--margin--vertical);
	margin-bottom: var(--wp--custom--margin--vertical);
}

* {
	box-sizing: border-box;
}