/**
 * Base
 * - Reset the browser
 */

@import "normalize";

@import "accessibility";

@import "alignment";
@import "text-selection";

//Colors

// Gutenberg applies a white color to things that are inside of elements that have a background color.
// White might not be what we're interested in so we'll use the background color instead
*[class*="-background-color"]:not(.has-text-color) {
	color: var(--wp--custom--color--background);
	a {
		color: var(--wp--custom--color--background);
	}
}
