.wp-block-navigation__responsive-container {
	&.has-modal-open {
		.wp-block-navigation-link {
			//NOTE: For reasons I cannot explain... if I set this to use the --wp--preset--font-family--headings
			//these values (which are what are set) are not respected in the modal.
			font-family: var(--wp--preset--font-family--headings);
			font-size: 32px;
			font-weight: 400;
			line-height: 60px;
			&.has-child {
				.wp-block-navigation-link{
					font-style: italic;
					font-size: 24px;
					line-height: 30px;
				}
			}
		}
	}
}

/* NOTE: This can be removed when the rendering of the Navigation block, rendered with a Classic data source (by way of __unstableLocation), 
is passed all of the block attributes on the block definition in the template. */
.wp-block-navigation__container {
	justify-content: center;
}