.wp-block-site-title {

	a {
		text-decoration: underline;
		text-decoration-thickness: 2px;
		text-decoration-color: var(--wp--custom--color--secondary);
		text-underline-offset: 0.13em;
		transition: background-size 0.1s ease-out;

		&:hover,
		&:focus {
			text-decoration: none;
			color: var(--wp--custom--color--secondary);
			background-size: 8px 0px;
		}

	}

}
