
.wp-block-site-title {

	a {
		background-image: linear-gradient(to right, var(--wp--custom--color--secondary) 100%, transparent 100%);
		background-position: 0 1.22em;
		background-repeat: repeat-x;
		background-size: 8px 1.5px;
		border-bottom: none;
		color: currentColor;
		text-shadow:
			1px 0px var(--wp--custom--color--background),
			-1px 0px var(--wp--custom--color--background),
			-2px 0px var(--wp--custom--color--background),
			2px 0px var(--wp--custom--color--background),
			-3px 0px var(--wp--custom--color--background),
			3px 0px var(--wp--custom--color--background),
			-4px 0px var(--wp--custom--color--background),
			4px 0px var(--wp--custom--color--background),
			-5px 0px var(--wp--custom--color--background),
			5px 0px var(--wp--custom--color--background);
		transition: background-size 0.1s ease-out;

		&:link,
		&:visited,
		&:active {
			color: currentColor;
		}

		&:hover,
		&:focus {
			text-decoration: none;
			color: var(--wp--custom--color--secondary);
			background-size: 8px 0px;
		}

	}

}