@mixin global-variables() {

	/* Colors */
	--wp--preset--color--primary: #c04239;
	--wp--preset--color--primary-hover: #252E36;
	--wp--preset--color--secondary: #ffffff;
	--wp--preset--color--secondary-hover: rgba(#FFF, 0.5);
	--wp--preset--color--foreground: #252E36;
	--wp--preset--color--foreground-low-contrast: #666666;
	--wp--preset--color--foreground-high-contrast: #474747;
	--wp--preset--color--background: #E8E4DD;
	--wp--preset--color--background-low-contrast: #CFCDC7;
	--wp--preset--color--background-high-contrast: #B9B6B2;
	--wp--preset--color--border: #B9B6B2;
	--wp--preset--color--border-low-contrast: #CFCDC7;
	--wp--preset--color--border-high-contrast: #8B8985;
	--wp--preset--color--text-selection: #F1D6D0;
	--wp--preset--color--alert-success: #5bc039;
	--wp--preset--color--alert-info: #2d78b9;
	--wp--preset--color--alert-warning: #ff9900;
	--wp--preset--color--alert-error: #C04239;
	--wp--preset--color--black: black;
	--wp--preset--color--white: white;

} 