@include break-mobile {
	// limit size of any element that is aligned left/right
	.wp-block[data-align="left"], // This is for the editor
	.wp-block[data-align="right"], // This is for the editor
	.wp-site-blocks .alignleft,
	.wp-site-blocks .alignright {
		max-width: var(--wp--custom--alignment--aligned-max-width);
	}
}

// This was added for the 'site-logo' block which centers with an 'align:center' attribute
// instead of 'textAlign' center which sets an .aligncenter class instead of a has-text-align-center
// class which would do this for us.  I'm not sure why but this centers things appropriately.
// Display and margin properties added to support image alignment from the classic editor.
.aligncenter {
	text-align: center;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

// Mimick the Gutenberg-generated rules of the layout container on the 404 template
.container-404 {
	max-width: var(--wp--custom--layout--content-size);
	margin-left: auto !important;
	margin-right: auto !important;
}