/**
 * This file pushes the footer to the bottom of the page.
 * The 32px is for the admin bar, if it exsits.
 */

html {
	height: calc( 100% - 32px );
}

body {
	height: calc( 100% + 32px );

	&.admin-bar {
		height: calc( 100% );
	}
}

.wp-site-blocks {
	display: grid;
	height: 100%;
	grid-template-rows: auto 1fr;
}
