// This is needed until something like https://github.com/WordPress/gutenberg/issues/24473 exists
.site-header {
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
	display: flex;
	overflow: inherit;
	padding-bottom: var(--wp--custom--padding--vertical);

	.wp-block-site-title a {
		text-decoration: none;
	}
}
