
// Remove the margin in all browsers.
body {
  margin: 0 !important;
  padding: 0 !important;
}

// Smooth out the fonts
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// Needed until https://github.com/WordPress/gutenberg/pull/27518/ is merged.
img {
	height: auto;
	max-width: 100%;
}

* {
	box-sizing: border-box;
}