// Needed until https://github.com/WordPress/gutenberg/issues/35267 is resolved.
p.wp-block.wp-block-paragraph, // This selector has been made extra specific to override the block gap being set in the editor.
p {
	margin-top: 1em;
	margin-bottom: 1em;
}

.wp-block-column, .wp-block-group {
	:first-child {
		margin-top: 0;
	}
}
