// Text selection background color

::selection {
	background-color: var(--wp--custom--color--tertiary);
}
::-moz-selection {
	background-color: var(--wp--custom--color--tertiary);
}

p {
	margin-top: var(--wp--custom--gap--vertical);
	margin-bottom: var(--wp--custom--gap--vertical);
}

.wp-block-column, .wp-block-group {
	:first-child {
		margin-top: 0;
	}
}
