//Utility classes for Block styles/Patterns:

//Apply to Image block when we don't want margin bottom before caption
.image-no-margin {
	margin: 0;
	& * { //the first sibling is a div on the editor, and an image or a link on the frontend
		vertical-align: bottom;
	}
}

//Removes padding on Column block when it has a background color
.has-background-no-padding.wp-block-columns.has-background {
	padding: 0;
}
