.subscription-column {
	text-align: right;

	// TODO: Remove when https://github.com/Automattic/jetpack/issues/17590 is fixed.
	.wp-block-button__link {
		&:hover{
			color: var(--wp--custom--color--foreground);
			background: var(--wp--custom--color--background);
			border-color: var(--wp--custom--color--foreground);
		}
	}
}
