.subscription-column {
	text-align: right;

	.wp-block-button__link {
		&:hover{
			color: var(--wp--custom--color--foreground);
			background: var(--wp--custom--color--background);
			border-color: var(--wp--custom--color--foreground);
		}
	}
}
