<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"align":"full","style":{"spacing":{"blockGap":"0rem","margin":{"top":"1.5rem","bottom":"1.5rem"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group alignfull" style="margin-top:1.5rem;margin-bottom:1.5rem"><!-- wp:query {"queryId":0,"query":{"perPage":100,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true,"taxQuery":null,"parents":[]},"tagName":"main","align":"full","layout":{"type":"default"}} -->
<main class="wp-block-query alignfull"><!-- wp:post-template {"align":"full","style":{"spacing":{"blockGap":"0rem"}},"layout":{"type":"default"}} -->
<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|40","bottom":"2rem","left":"2rem","right":"2rem"}},"dimensions":{"minHeight":"7.5vh"},"border":{"bottom":{"color":"var:preset|color|secondary","width":"1px"},"top":[],"right":[],"left":[]}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull" style="border-bottom-color:var(--wp--preset--color--secondary);border-bottom-width:1px;min-height:7.5vh;padding-top:var(--wp--preset--spacing--40);padding-right:2rem;padding-bottom:2rem;padding-left:2rem"><!-- wp:columns {"verticalAlignment":"bottom","align":"wide"} -->
<div class="wp-block-columns alignwide are-vertically-aligned-bottom"><!-- wp:column {"verticalAlignment":"bottom","width":""} -->
<div class="wp-block-column is-vertically-aligned-bottom"><!-- wp:post-title {"level":1,"isLink":true,"align":"wide","style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}}}} /--></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"bottom","width":"25%"} -->
<div class="wp-block-column is-vertically-aligned-bottom" style="flex-basis:25%"><!-- wp:group {"style":{"spacing":{"blockGap":"0.5rem","padding":{"top":"0rem"},"margin":{"top":"0rem","bottom":"0rem"}}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group" style="margin-top:0rem;margin-bottom:0rem;padding-top:0rem"><!-- wp:post-date {"textAlign":"left","format":"Mj.Y","isLink":true} /-->

<!-- wp:post-terms {"term":"category","textAlign":"right","separator":"."} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->
<!-- /wp:post-template --></main>
<!-- /wp:query --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->