<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"align":"full","style":{"spacing":{"blockGap":"0rem","margin":{"top":"1.5rem","bottom":"1.5rem"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group alignfull" style="margin-top:1.5rem;margin-bottom:1.5rem"><!-- wp:group {"style":{"spacing":{"padding":{"bottom":"3.03rem"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-bottom:3.03rem"><!-- wp:group {"align":"wide","layout":{"type":"default"}} -->
<div class="wp-block-group alignwide"><!-- wp:search {"showLabel":false,"placeholder":"Search","width":75,"widthUnit":"%","buttonPosition":"button-inside","buttonUseIcon":true} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:query {"queryId":0,"query":{"perPage":100,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true,"taxQuery":null,"parents":[]},"tagName":"main","align":"full","layout":{"type":"default"}} -->
<main class="wp-block-query alignfull"><!-- wp:post-template {"align":"full","style":{"spacing":{"blockGap":"0rem"}},"layout":{"type":"default"}} -->
<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|40","bottom":"2.5rem","right":"3.5rem","left":"3.5rem"}},"dimensions":{"minHeight":""},"color":{"gradient":"linear-gradient(180deg,rgb(253,252,252) 99%,rgba(20,20,31,0.75) 100%)"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull has-background" style="background:linear-gradient(180deg,rgb(253,252,252) 99%,rgba(20,20,31,0.75) 100%);padding-top:var(--wp--preset--spacing--40);padding-right:3.5rem;padding-bottom:2.5rem;padding-left:3.5rem"><!-- wp:columns {"verticalAlignment":"top","align":"wide"} -->
<div class="wp-block-columns alignwide are-vertically-aligned-top"><!-- wp:column {"verticalAlignment":"top","width":""} -->
<div class="wp-block-column is-vertically-aligned-top"><!-- wp:post-title {"level":1,"isLink":true,"align":"wide","style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}}}} /--></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"top","width":"25%"} -->
<div class="wp-block-column is-vertically-aligned-top" style="flex-basis:25%"><!-- wp:group {"style":{"spacing":{"blockGap":"1rem","padding":{"top":"0.3rem"},"margin":{"top":"0rem","bottom":"0rem"}}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"left"}} -->
<div class="wp-block-group" style="margin-top:0rem;margin-bottom:0rem;padding-top:0.3rem"><!-- wp:post-date {"textAlign":"left","format":"Mj.Y","isLink":true} /-->

<!-- wp:group {"style":{"spacing":{"blockGap":"0.25rem"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"style":{"typography":{"fontSize":"0.8rem","fontStyle":"normal","fontWeight":"700","lineHeight":"1.4","letterSpacing":"0.03rem"}},"fontFamily":"d-din"} -->
<p class="has-d-din-font-family" style="font-size:0.8rem;font-style:normal;font-weight:700;letter-spacing:0.03rem;line-height:1.4">✴</p>
<!-- /wp:paragraph -->

<!-- wp:post-terms {"term":"category","textAlign":"right","separator":" . "} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->
<!-- /wp:post-template --></main>
<!-- /wp:query --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->