.wp-block-pullquote {
	padding: calc( 3 * #{map-deep-get($config-global, "spacing", "unit")} ) 0;
	margin-left: 0;
	margin-right: 0;
	text-align: center;
	// Theme?
	border-top-color: #{map-deep-get($config-pullquote, "color", "border")};
	border-top-width: #{map-deep-get($config-pullquote, "border", "width")};
	border-bottom-color: #{map-deep-get($config-pullquote, "color", "border")};
	border-bottom-width: #{map-deep-get($config-pullquote, "border", "width")};
	color: #{map-deep-get($config-global, "color", "foreground", "default")};

	blockquote {
		padding-left: 0;
	}

	p {
		@include font-family( map-deep-get($config-pullquote, "font", "family") );
		font-size: (strip-unit(map-deep-get($config-heading, "font", "size", "h4")) + 0em);
		letter-spacing: #{map-deep-get($config-heading, "font", "letter-spacing", "h4")};
		line-height: #{map-deep-get($config-heading, "font", "line-height", "h4")};
	}

	a {
		color: currentColor;
	}

	.wp-block-pullquote__citation,
	cite,
	footer {
		color: #{map-deep-get($config-global, "color", "foreground", "light")};
		font-size: (strip-unit(map-deep-get($config-global, "font", "size", "sm")) + 0em);
		letter-spacing: #{map-deep-get($config-global, "font", "letter-spacing", "sm")};
	}

	/**
	 * Block Options
	 */
	&:not(.is-style-solid-color) {
		background: none;
	}

	&.is-style-solid-color {

		background-color: #{map-deep-get($config-pullquote, "color", "background")};
		color: #{map-deep-get($config-global, "color", "background", "default")};

		&:not(.alignleft):not(.alignright) blockquote {
			// max-width: calc( var(--global--width-content) - (2 * calc( var(--global--width-content) / 12 )) );
		}

		&.alignleft blockquote,
		&.alignright blockquote {
			padding-left: #{map-deep-get($config-global, "spacing", "unit")};
			padding-right: #{map-deep-get($config-global, "spacing", "unit")};
			max-width: inherit;
		}

		blockquote {
			padding-left: 0;
		}

		.wp-block-pullquote__citation,
		cite,
		footer {
			color: currentColor;
		}
	}

	&.alignwide > p,
	&.alignfull > p,
	&.alignwide blockquote,
	&.alignfull blockquote {
		margin-left: auto;
		margin-right: auto;
	}
}
