.wp-block-pullquote {
	padding: calc( 3 * #{map-deep-get($config-global, "spacing", "unit")} ) 0;
	margin-left: 0;
	margin-right: 0;
	text-align: center;
	// Theme?
	border-top-color: #{map-deep-get($config-pullquote, "color", "border")};
	border-top-width: #{map-deep-get($config-pullquote, "border", "width")};
	border-bottom-color: #{map-deep-get($config-pullquote, "color", "border")};
	border-bottom-width: #{map-deep-get($config-pullquote, "border", "width")};
	color: #{map-deep-get($config-global, "color", "foreground", "default")};

	p {
		@include font-family( map-deep-get($config-pullquote, "font", "family") );
		font-size: #{map-deep-get($config-heading, "font", "size", "h4")};
		letter-spacing: #{map-deep-get($config-heading, "font", "letter-spacing", "h4")};
		line-height: #{map-deep-get($config-heading, "font", "line-height", "h4")};
	}

	a {
		color: currentColor;
	}

	.wp-block-pullquote__citation,
	cite,
	footer {
		color: #{map-deep-get($config-global, "color", "foreground", "light")};
		font-size: #{map-deep-get($config-global, "font", "size", "sm")};
		letter-spacing: #{map-deep-get($config-global, "font", "letter-spacing", "sm")};
		display: block;
	}

	/**
	 * Block Options
	 */
	&:not(.is-style-solid-color) {
		background: none;

		blockquote {
			padding-left: 0;
		}
	}

	&.is-style-default {
		&.alignleft,
		&.aligncenter,
		&.alignright {
			blockquote > * {
				text-align: center;
			}
		}
	}

	&.is-style-solid-color {

		background-color: #{map-deep-get($config-pullquote, "color", "background")};
		color: #{map-deep-get($config-global, "color", "background", "default")};

		&:not(.alignleft):not(.alignright) blockquote {
			@extend %responsive-aligndefault;
		}

		blockquote {
			padding-left: #{map-deep-get($config-global, "spacing", "unit")};
			padding-right: #{map-deep-get($config-global, "spacing", "unit")};
			max-width: inherit;
		}

		.wp-block-pullquote__citation,
		cite,
		footer {
			color: currentColor;
		}
	}

	&.alignwide > p,
	&.alignfull > p,
	&.alignwide blockquote,
	&.alignfull blockquote {
		margin-left: auto;
		margin-right: auto;
		@extend %responsive-aligndefault;
	}
}
