<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"align":"full","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull"><!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"1px"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide"><!-- wp:query {"queryId":0,"query":{"perPage":"1","pages":0,"offset":"0","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[]},"tagName":"main","align":"full","layout":{"type":"constrained"}} -->
<main class="wp-block-query alignfull"><!-- wp:post-template {"align":"full","style":{"spacing":{"blockGap":"0rem"}},"layout":{"type":"default"}} -->
<!-- wp:group {"align":"full","style":{"dimensions":{"minHeight":""}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull"><!-- wp:columns {"align":"wide","style":{"border":{"right":{"color":"var:preset|color|custom-84-ff90","width":"5px"}},"color":{"text":"#84ff90"},"elements":{"link":{"color":{"text":"#84ff90"}}},"spacing":{"blockGap":{"top":"0.5rem","left":"0.5%"}}}} -->
<div class="wp-block-columns alignwide has-text-color has-link-color" style="border-right-color:var(--wp--preset--color--custom-84-ff-90);border-right-width:5px;color:#84ff90"><!-- wp:column {"verticalAlignment":"stretch","width":"220px"} -->
<div class="wp-block-column is-vertically-aligned-stretch" style="flex-basis:220px"><!-- wp:post-featured-image {"isLink":true,"aspectRatio":"16/9","width":"200px","height":"","style":{"layout":{"selfStretch":"fit","flexSize":null},"color":{"duotone":["#14141f","#84ff90"]}}} /--></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"stretch","width":""} -->
<div class="wp-block-column is-vertically-aligned-stretch"><!-- wp:group {"style":{"spacing":{"padding":{"right":"1.5rem"}}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
<div class="wp-block-group" style="padding-right:1.5rem"><!-- wp:post-title {"isLink":true} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"stretch","width":"25%"} -->
<div class="wp-block-column is-vertically-aligned-stretch" style="flex-basis:25%"><!-- wp:group {"style":{"spacing":{"blockGap":"0.2rem","margin":{"bottom":"2rem"},"padding":{"right":"1.5rem"}}},"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group" style="margin-bottom:2rem;padding-right:1.5rem"><!-- wp:post-terms {"term":"category","textAlign":"left","separator":" . "} /-->

<!-- wp:post-date {"textAlign":"left","format":"Mj.Y","isLink":true} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->
<!-- /wp:post-template --></main>
<!-- /wp:query -->

<!-- wp:query {"queryId":0,"query":{"perPage":"1","pages":0,"offset":"1","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[]},"tagName":"main","align":"full","layout":{"type":"constrained"}} -->
<main class="wp-block-query alignfull"><!-- wp:post-template {"align":"full","style":{"spacing":{"blockGap":"0rem"}},"layout":{"type":"default"}} -->
<!-- wp:group {"align":"full","style":{"dimensions":{"minHeight":""}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull"><!-- wp:columns {"align":"wide","style":{"border":{"right":{"color":"var:preset|color|custom-7-ef056","width":"5px"}},"elements":{"link":{"color":{"text":"var:preset|color|custom-7-ef056"}}},"spacing":{"blockGap":{"top":"0.5rem","left":"0.5rem"}}},"textColor":"custom-7-ef056"} -->
<div class="wp-block-columns alignwide has-custom-7-ef-056-color has-text-color has-link-color" style="border-right-color:var(--wp--preset--color--custom-7-ef-056);border-right-width:5px"><!-- wp:column {"verticalAlignment":"stretch","width":"220px"} -->
<div class="wp-block-column is-vertically-aligned-stretch" style="flex-basis:220px"><!-- wp:post-featured-image {"isLink":true,"aspectRatio":"16/9","width":"200px","height":"","style":{"layout":{"selfStretch":"fit","flexSize":null},"color":{"duotone":["#14141f","#7ef056"]}}} /--></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"stretch","width":""} -->
<div class="wp-block-column is-vertically-aligned-stretch"><!-- wp:group {"style":{"spacing":{"padding":{"right":"1.5rem"}}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
<div class="wp-block-group" style="padding-right:1.5rem"><!-- wp:post-title {"isLink":true} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"stretch","width":"25%"} -->
<div class="wp-block-column is-vertically-aligned-stretch" style="flex-basis:25%"><!-- wp:group {"style":{"spacing":{"blockGap":"0.2rem","margin":{"bottom":"2rem"},"padding":{"right":"1.5rem"}}},"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group" style="margin-bottom:2rem;padding-right:1.5rem"><!-- wp:post-terms {"term":"category","textAlign":"left","separator":" . "} /-->

<!-- wp:post-date {"textAlign":"left","format":"Mj.Y","isLink":true} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->
<!-- /wp:post-template --></main>
<!-- /wp:query -->

<!-- wp:query {"queryId":0,"query":{"perPage":"1","pages":0,"offset":"2","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[]},"tagName":"main","align":"full","layout":{"type":"constrained"}} -->
<main class="wp-block-query alignfull"><!-- wp:post-template {"align":"full","style":{"spacing":{"blockGap":"0rem"}},"layout":{"type":"default"}} -->
<!-- wp:group {"align":"full","style":{"dimensions":{"minHeight":""}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull"><!-- wp:columns {"align":"wide","style":{"border":{"right":{"color":"var:preset|color|custom-f9-de2-f","width":"5px"},"top":[],"bottom":[],"left":[]},"elements":{"link":{"color":{"text":"var:preset|color|custom-f9-de2-f"}}},"spacing":{"blockGap":{"top":"0.5rem","left":"0.5rem"}}},"textColor":"custom-f9-de2-f"} -->
<div class="wp-block-columns alignwide has-custom-f-9-de-2-f-color has-text-color has-link-color" style="border-right-color:var(--wp--preset--color--custom-f-9-de-2-f);border-right-width:5px"><!-- wp:column {"verticalAlignment":"stretch","width":"220px"} -->
<div class="wp-block-column is-vertically-aligned-stretch" style="flex-basis:220px"><!-- wp:post-featured-image {"isLink":true,"aspectRatio":"16/9","width":"200px","height":"","style":{"layout":{"selfStretch":"fit","flexSize":null},"color":{"duotone":["#14141f","#f9de2f"]}}} /--></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"stretch","width":""} -->
<div class="wp-block-column is-vertically-aligned-stretch"><!-- wp:group {"style":{"spacing":{"padding":{"right":"1.5rem"}}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
<div class="wp-block-group" style="padding-right:1.5rem"><!-- wp:post-title {"isLink":true} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"stretch","width":"25%"} -->
<div class="wp-block-column is-vertically-aligned-stretch" style="flex-basis:25%"><!-- wp:group {"style":{"spacing":{"blockGap":"0.2rem","margin":{"bottom":"2rem"},"padding":{"right":"1.5rem"}}},"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group" style="margin-bottom:2rem;padding-right:1.5rem"><!-- wp:post-terms {"term":"category","textAlign":"left","separator":" . "} /-->

<!-- wp:post-date {"textAlign":"left","format":"Mj.Y","isLink":true} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->
<!-- /wp:post-template --></main>
<!-- /wp:query -->

<!-- wp:query {"queryId":0,"query":{"perPage":"1","pages":0,"offset":"3","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[]},"tagName":"main","align":"full","layout":{"type":"constrained"}} -->
<main class="wp-block-query alignfull"><!-- wp:post-template {"align":"full","style":{"spacing":{"blockGap":"0rem"}},"layout":{"type":"default"}} -->
<!-- wp:group {"align":"full","style":{"dimensions":{"minHeight":""}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull"><!-- wp:columns {"align":"wide","style":{"border":{"right":{"color":"var:preset|color|custom-f9-bc2-f","width":"5px"}},"elements":{"link":{"color":{"text":"var:preset|color|custom-f9-bc2-f"}}},"spacing":{"blockGap":{"top":"0.5rem","left":"0.5rem"}}},"textColor":"custom-f9-bc2-f"} -->
<div class="wp-block-columns alignwide has-custom-f-9-bc-2-f-color has-text-color has-link-color" style="border-right-color:var(--wp--preset--color--custom-f-9-bc-2-f);border-right-width:5px"><!-- wp:column {"verticalAlignment":"stretch","width":"220px"} -->
<div class="wp-block-column is-vertically-aligned-stretch" style="flex-basis:220px"><!-- wp:post-featured-image {"isLink":true,"aspectRatio":"16/9","width":"200px","height":"","style":{"layout":{"selfStretch":"fit","flexSize":null},"color":{"duotone":["#14141f","#f9bc2f"]}}} /--></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"stretch","width":""} -->
<div class="wp-block-column is-vertically-aligned-stretch"><!-- wp:group {"style":{"spacing":{"padding":{"right":"1.5rem"}}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
<div class="wp-block-group" style="padding-right:1.5rem"><!-- wp:post-title {"isLink":true} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"stretch","width":"25%"} -->
<div class="wp-block-column is-vertically-aligned-stretch" style="flex-basis:25%"><!-- wp:group {"style":{"spacing":{"blockGap":"0.2rem","margin":{"bottom":"2rem"},"padding":{"right":"1.5rem"}}},"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group" style="margin-bottom:2rem;padding-right:1.5rem"><!-- wp:post-terms {"term":"category","textAlign":"left","separator":" . "} /-->

<!-- wp:post-date {"textAlign":"left","format":"Mj.Y","isLink":true} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->
<!-- /wp:post-template --></main>
<!-- /wp:query -->

<!-- wp:query {"queryId":0,"query":{"perPage":"1","pages":0,"offset":"4","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[]},"tagName":"main","align":"full","layout":{"type":"constrained"}} -->
<main class="wp-block-query alignfull"><!-- wp:post-template {"align":"full","style":{"spacing":{"blockGap":"0rem"}},"layout":{"type":"default"}} -->
<!-- wp:group {"align":"full","style":{"dimensions":{"minHeight":""}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull"><!-- wp:columns {"align":"wide","style":{"border":{"right":{"color":"var:preset|color|custom-ff8928","width":"5px"}},"elements":{"link":{"color":{"text":"var:preset|color|custom-ff8928"}}},"spacing":{"blockGap":{"top":"0.5rem","left":"0.5rem"}}},"textColor":"custom-ff8928"} -->
<div class="wp-block-columns alignwide has-custom-ff-8928-color has-text-color has-link-color" style="border-right-color:var(--wp--preset--color--custom-ff-8928);border-right-width:5px"><!-- wp:column {"verticalAlignment":"stretch","width":"220px"} -->
<div class="wp-block-column is-vertically-aligned-stretch" style="flex-basis:220px"><!-- wp:post-featured-image {"isLink":true,"aspectRatio":"16/9","width":"200px","height":"","style":{"layout":{"selfStretch":"fit","flexSize":null},"color":{"duotone":["#14141f","#ff8928"]}}} /--></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"stretch","width":""} -->
<div class="wp-block-column is-vertically-aligned-stretch"><!-- wp:group {"style":{"spacing":{"padding":{"right":"1.5rem"}}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
<div class="wp-block-group" style="padding-right:1.5rem"><!-- wp:post-title {"isLink":true} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"stretch","width":"25%"} -->
<div class="wp-block-column is-vertically-aligned-stretch" style="flex-basis:25%"><!-- wp:group {"style":{"spacing":{"blockGap":"0.2rem","margin":{"bottom":"2rem"},"padding":{"right":"1.5rem"}}},"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group" style="margin-bottom:2rem;padding-right:1.5rem"><!-- wp:post-terms {"term":"category","textAlign":"left","separator":" . "} /-->

<!-- wp:post-date {"textAlign":"left","format":"Mj.Y","isLink":true} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->
<!-- /wp:post-template --></main>
<!-- /wp:query -->

<!-- wp:query {"queryId":0,"query":{"perPage":"1","pages":0,"offset":"5","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[]},"tagName":"main","align":"full","layout":{"type":"constrained"}} -->
<main class="wp-block-query alignfull"><!-- wp:post-template {"align":"full","style":{"spacing":{"blockGap":"0rem"}},"layout":{"type":"default"}} -->
<!-- wp:group {"align":"full","style":{"dimensions":{"minHeight":""}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull"><!-- wp:columns {"align":"wide","style":{"border":{"right":{"color":"var:preset|color|custom-fb6-a46","width":"5px"}},"elements":{"link":{"color":{"text":"var:preset|color|custom-fb6-a46"}}},"spacing":{"blockGap":{"top":"0.5rem","left":"0.5rem"}}},"textColor":"custom-fb6-a46"} -->
<div class="wp-block-columns alignwide has-custom-fb-6-a-46-color has-text-color has-link-color" style="border-right-color:var(--wp--preset--color--custom-fb-6-a-46);border-right-width:5px"><!-- wp:column {"verticalAlignment":"stretch","width":"220px"} -->
<div class="wp-block-column is-vertically-aligned-stretch" style="flex-basis:220px"><!-- wp:post-featured-image {"isLink":true,"aspectRatio":"16/9","width":"200px","height":"","style":{"layout":{"selfStretch":"fit","flexSize":null},"color":{"duotone":["#14141f","#fb6a46"]}}} /--></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"stretch","width":""} -->
<div class="wp-block-column is-vertically-aligned-stretch"><!-- wp:group {"style":{"spacing":{"padding":{"right":"1.5rem"}}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
<div class="wp-block-group" style="padding-right:1.5rem"><!-- wp:post-title {"isLink":true} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"stretch","width":"25%"} -->
<div class="wp-block-column is-vertically-aligned-stretch" style="flex-basis:25%"><!-- wp:group {"style":{"spacing":{"blockGap":"0.2rem","margin":{"bottom":"2rem"},"padding":{"right":"1.5rem"}}},"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group" style="margin-bottom:2rem;padding-right:1.5rem"><!-- wp:post-terms {"term":"category","textAlign":"left","separator":" . "} /-->

<!-- wp:post-date {"textAlign":"left","format":"Mj.Y","isLink":true} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->
<!-- /wp:post-template --></main>
<!-- /wp:query -->

<!-- wp:query {"queryId":0,"query":{"perPage":"1","pages":0,"offset":"6","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[]},"tagName":"main","align":"full","layout":{"type":"constrained"}} -->
<main class="wp-block-query alignfull"><!-- wp:post-template {"align":"full","style":{"spacing":{"blockGap":"0rem"}},"layout":{"type":"default"}} -->
<!-- wp:group {"align":"full","style":{"dimensions":{"minHeight":""}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull"><!-- wp:columns {"align":"wide","style":{"border":{"right":{"color":"var:preset|color|custom-cc66-ff","width":"5px"}},"elements":{"link":{"color":{"text":"var:preset|color|custom-cc66-ff"}}},"spacing":{"blockGap":{"top":"0.5rem","left":"0.5rem"}}},"textColor":"custom-cc66-ff"} -->
<div class="wp-block-columns alignwide has-custom-cc-66-ff-color has-text-color has-link-color" style="border-right-color:var(--wp--preset--color--custom-cc-66-ff);border-right-width:5px"><!-- wp:column {"verticalAlignment":"stretch","width":"220px"} -->
<div class="wp-block-column is-vertically-aligned-stretch" style="flex-basis:220px"><!-- wp:post-featured-image {"isLink":true,"aspectRatio":"16/9","width":"200px","height":"","style":{"layout":{"selfStretch":"fit","flexSize":null},"color":{"duotone":["#14141f","#cc66ff"]}}} /--></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"stretch","width":""} -->
<div class="wp-block-column is-vertically-aligned-stretch"><!-- wp:group {"style":{"spacing":{"padding":{"right":"1.5rem"}}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
<div class="wp-block-group" style="padding-right:1.5rem"><!-- wp:post-title {"isLink":true} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"stretch","width":"25%"} -->
<div class="wp-block-column is-vertically-aligned-stretch" style="flex-basis:25%"><!-- wp:group {"style":{"spacing":{"blockGap":"0.2rem","margin":{"bottom":"2rem"},"padding":{"right":"1.5rem"}}},"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group" style="margin-bottom:2rem;padding-right:1.5rem"><!-- wp:post-terms {"term":"category","textAlign":"left","separator":" . "} /-->

<!-- wp:post-date {"textAlign":"left","format":"Mj.Y","isLink":true} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->
<!-- /wp:post-template --></main>
<!-- /wp:query -->

<!-- wp:query {"queryId":0,"query":{"perPage":"1","pages":0,"offset":"7","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[]},"tagName":"main","align":"full","layout":{"type":"constrained"}} -->
<main class="wp-block-query alignfull"><!-- wp:post-template {"align":"full","style":{"spacing":{"blockGap":"0rem"}},"layout":{"type":"default"}} -->
<!-- wp:group {"align":"full","style":{"dimensions":{"minHeight":""}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull"><!-- wp:columns {"align":"wide","style":{"border":{"right":{"color":"var:preset|color|custom-9999-ff","width":"5px"}},"elements":{"link":{"color":{"text":"var:preset|color|custom-9999-ff"}}},"spacing":{"blockGap":{"top":"0.5rem","left":"0.5rem"}}},"textColor":"custom-9999-ff"} -->
<div class="wp-block-columns alignwide has-custom-9999-ff-color has-text-color has-link-color" style="border-right-color:var(--wp--preset--color--custom-9999-ff);border-right-width:5px"><!-- wp:column {"verticalAlignment":"stretch","width":"220px"} -->
<div class="wp-block-column is-vertically-aligned-stretch" style="flex-basis:220px"><!-- wp:post-featured-image {"isLink":true,"aspectRatio":"16/9","width":"200px","height":"","style":{"layout":{"selfStretch":"fit","flexSize":null},"color":{"duotone":["#14141f","#9999ff"]}}} /--></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"stretch","width":""} -->
<div class="wp-block-column is-vertically-aligned-stretch"><!-- wp:group {"style":{"spacing":{"padding":{"right":"1.5rem"}}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
<div class="wp-block-group" style="padding-right:1.5rem"><!-- wp:post-title {"isLink":true} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"stretch","width":"25%"} -->
<div class="wp-block-column is-vertically-aligned-stretch" style="flex-basis:25%"><!-- wp:group {"style":{"spacing":{"blockGap":"0.2rem","margin":{"bottom":"2rem"},"padding":{"right":"1.5rem"}}},"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group" style="margin-bottom:2rem;padding-right:1.5rem"><!-- wp:post-terms {"term":"category","textAlign":"left","separator":" . "} /-->

<!-- wp:post-date {"textAlign":"left","format":"Mj.Y","isLink":true} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->
<!-- /wp:post-template --></main>
<!-- /wp:query -->

<!-- wp:query {"queryId":0,"query":{"perPage":"1","pages":0,"offset":"8","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[]},"tagName":"main","align":"full","layout":{"type":"constrained"}} -->
<main class="wp-block-query alignfull"><!-- wp:post-template {"align":"full","style":{"spacing":{"blockGap":"0rem"}},"layout":{"type":"default"}} -->
<!-- wp:group {"align":"full","style":{"dimensions":{"minHeight":""}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull"><!-- wp:columns {"align":"wide","style":{"border":{"right":{"color":"var:preset|color|custom-56-cbf0","width":"5px"},"top":[],"bottom":[],"left":[]},"elements":{"link":{"color":{"text":"var:preset|color|custom-56-cbf0"}}},"spacing":{"blockGap":{"top":"0.5rem","left":"0.5rem"}}},"textColor":"custom-56-cbf0"} -->
<div class="wp-block-columns alignwide has-custom-56-cbf-0-color has-text-color has-link-color" style="border-right-color:var(--wp--preset--color--custom-56-cbf-0);border-right-width:5px"><!-- wp:column {"verticalAlignment":"stretch","width":"220px"} -->
<div class="wp-block-column is-vertically-aligned-stretch" style="flex-basis:220px"><!-- wp:post-featured-image {"isLink":true,"aspectRatio":"16/9","width":"200px","height":"","style":{"layout":{"selfStretch":"fit","flexSize":null},"color":{"duotone":["#14141f","#56cbf0"]}}} /--></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"stretch","width":""} -->
<div class="wp-block-column is-vertically-aligned-stretch"><!-- wp:group {"style":{"spacing":{"padding":{"right":"1.5rem"}}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
<div class="wp-block-group" style="padding-right:1.5rem"><!-- wp:post-title {"isLink":true} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"stretch","width":"25%"} -->
<div class="wp-block-column is-vertically-aligned-stretch" style="flex-basis:25%"><!-- wp:group {"style":{"spacing":{"blockGap":"0.2rem","margin":{"bottom":"2rem"},"padding":{"right":"1.5rem"}}},"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group" style="margin-bottom:2rem;padding-right:1.5rem"><!-- wp:post-terms {"term":"category","textAlign":"left","separator":" . "} /-->

<!-- wp:post-date {"textAlign":"left","format":"Mj.Y","isLink":true} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->
<!-- /wp:post-template --></main>
<!-- /wp:query -->

<!-- wp:query {"queryId":0,"query":{"perPage":"1","pages":0,"offset":"9","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[]},"tagName":"main","align":"full","layout":{"type":"constrained"}} -->
<main class="wp-block-query alignfull"><!-- wp:post-template {"align":"full","style":{"spacing":{"blockGap":"0rem"}},"layout":{"type":"default"}} -->
<!-- wp:group {"align":"full","style":{"dimensions":{"minHeight":""}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull"><!-- wp:columns {"align":"wide","style":{"border":{"right":{"color":"var:preset|color|custom-5-ce0-e9","width":"5px"}},"elements":{"link":{"color":{"text":"var:preset|color|custom-5-ce0-e9"}}},"spacing":{"blockGap":{"top":"0.5rem","left":"0.5rem"}}},"textColor":"custom-56-cbf0"} -->
<div class="wp-block-columns alignwide has-custom-56-cbf-0-color has-text-color has-link-color" style="border-right-color:var(--wp--preset--color--custom-5-ce-0-e-9);border-right-width:5px"><!-- wp:column {"verticalAlignment":"stretch","width":"220px"} -->
<div class="wp-block-column is-vertically-aligned-stretch" style="flex-basis:220px"><!-- wp:post-featured-image {"isLink":true,"aspectRatio":"16/9","width":"200px","height":"","style":{"layout":{"selfStretch":"fit","flexSize":null},"color":{"duotone":["#14141f","#5ce0e9"]}}} /--></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"stretch","width":""} -->
<div class="wp-block-column is-vertically-aligned-stretch"><!-- wp:group {"style":{"spacing":{"padding":{"right":"1.5rem"}}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
<div class="wp-block-group" style="padding-right:1.5rem"><!-- wp:post-title {"isLink":true} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"stretch","width":"25%"} -->
<div class="wp-block-column is-vertically-aligned-stretch" style="flex-basis:25%"><!-- wp:group {"style":{"spacing":{"blockGap":"0.2rem","margin":{"bottom":"2rem"},"padding":{"right":"1.5rem"}}},"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group" style="margin-bottom:2rem;padding-right:1.5rem"><!-- wp:post-terms {"term":"category","textAlign":"left","separator":" . "} /-->

<!-- wp:post-date {"textAlign":"left","format":"Mj.Y","isLink":true} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->
<!-- /wp:post-template --></main>
<!-- /wp:query --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->