<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:spacer {"height":"var:preset|spacing|30"} -->
<div style="height:var(--wp--preset--spacing--30)" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"tagName":"main","align":"full","style":{"dimensions":{"minHeight":"1px"}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull" style="min-height:1px"><!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"1px"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
<div class="wp-block-group alignwide"><!-- wp:query {"queryId":0,"query":{"perPage":"1","pages":0,"offset":"0","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[]},"tagName":"main","align":"wide","layout":{"type":"constrained"}} -->
<main class="wp-block-query alignwide"><!-- wp:post-template {"align":"wide","style":{"spacing":{"blockGap":"1px"}},"layout":{"type":"default"}} -->
<!-- wp:columns {"align":"wide","style":{"border":{"right":{"color":"var:preset|color|secondary","width":"5px"},"top":[],"bottom":[],"left":[]},"spacing":{"margin":{"top":"0","bottom":"0"}}}} -->
<div class="wp-block-columns alignwide" style="border-right-color:var(--wp--preset--color--secondary);border-right-width:5px;margin-top:0;margin-bottom:0"><!-- wp:column {"verticalAlignment":"stretch","width":"220px"} -->
<div class="wp-block-column is-vertically-aligned-stretch" style="flex-basis:220px"><!-- wp:post-featured-image {"isLink":true,"aspectRatio":"3/2","width":"","height":"","style":{"layout":{"selfStretch":"fit","flexSize":null},"color":{"duotone":"var:preset|duotone|green-one"}}} /--></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"stretch","width":""} -->
<div class="wp-block-column is-vertically-aligned-stretch"><!-- wp:group {"style":{"spacing":{"padding":{"right":"1.5rem"}}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
<div class="wp-block-group" style="padding-right:1.5rem"><!-- wp:post-title {"isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}}},"textColor":"secondary"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"stretch","width":"25%"} -->
<div class="wp-block-column is-vertically-aligned-stretch" style="flex-basis:25%"><!-- wp:group {"style":{"spacing":{"blockGap":"0.2rem","margin":{"bottom":"2rem"},"padding":{"right":"1.5rem"}}},"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group" style="margin-bottom:2rem;padding-right:1.5rem"><!-- wp:post-terms {"term":"category","textAlign":"left","separator":" . ","style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}}},"textColor":"secondary"} /-->

<!-- wp:post-date {"textAlign":"left","format":"Mj.Y","isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}}},"textColor":"secondary"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->
<!-- /wp:post-template --></main>
<!-- /wp:query -->

<!-- wp:query {"queryId":0,"query":{"perPage":"1","pages":0,"offset":"1","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[]},"tagName":"main","align":"wide","layout":{"type":"constrained"}} -->
<main class="wp-block-query alignwide"><!-- wp:post-template {"align":"wide","style":{"spacing":{"blockGap":"1px"}},"layout":{"type":"default"}} -->
<!-- wp:columns {"align":"wide","style":{"border":{"right":{"color":"var:preset|color|tertiary","width":"5px"},"top":[],"bottom":[],"left":[]},"spacing":{"margin":{"top":"0","bottom":"0"}}}} -->
<div class="wp-block-columns alignwide" style="border-right-color:var(--wp--preset--color--tertiary);border-right-width:5px;margin-top:0;margin-bottom:0"><!-- wp:column {"verticalAlignment":"stretch","width":"220px"} -->
<div class="wp-block-column is-vertically-aligned-stretch" style="flex-basis:220px"><!-- wp:post-featured-image {"isLink":true,"aspectRatio":"3/2","width":"","height":"","style":{"layout":{"selfStretch":"fit","flexSize":null},"color":{"duotone":"var:preset|duotone|green-two"}}} /--></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"stretch","width":""} -->
<div class="wp-block-column is-vertically-aligned-stretch"><!-- wp:group {"style":{"spacing":{"padding":{"right":"1.5rem"}}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
<div class="wp-block-group" style="padding-right:1.5rem"><!-- wp:post-title {"isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|tertiary"}}}},"textColor":"tertiary"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"stretch","width":"25%"} -->
<div class="wp-block-column is-vertically-aligned-stretch" style="flex-basis:25%"><!-- wp:group {"style":{"spacing":{"blockGap":"0.2rem","margin":{"bottom":"2rem"},"padding":{"right":"1.5rem"}}},"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group" style="margin-bottom:2rem;padding-right:1.5rem"><!-- wp:post-terms {"term":"category","textAlign":"left","separator":" . ","style":{"elements":{"link":{"color":{"text":"var:preset|color|tertiary"}}}},"textColor":"tertiary"} /-->

<!-- wp:post-date {"textAlign":"left","format":"Mj.Y","isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|tertiary"}}}},"textColor":"tertiary"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->
<!-- /wp:post-template --></main>
<!-- /wp:query -->

<!-- wp:query {"queryId":0,"query":{"perPage":"1","pages":0,"offset":"2","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[]},"tagName":"main","align":"wide","layout":{"type":"constrained"}} -->
<main class="wp-block-query alignwide"><!-- wp:post-template {"align":"wide","style":{"spacing":{"blockGap":"1px"}},"layout":{"type":"default"}} -->
<!-- wp:columns {"align":"wide","style":{"border":{"right":{"color":"var:preset|color|quaternary","width":"5px"},"top":[],"bottom":[],"left":[]},"elements":{"link":{"color":{"text":"var:preset|color|custom-f9-de2-f"}}},"spacing":{"margin":{"top":"0","bottom":"0"}}},"textColor":"custom-f9-de2-f"} -->
<div class="wp-block-columns alignwide has-custom-f-9-de-2-f-color has-text-color has-link-color" style="border-right-color:var(--wp--preset--color--quaternary);border-right-width:5px;margin-top:0;margin-bottom:0"><!-- wp:column {"verticalAlignment":"stretch","width":"220px"} -->
<div class="wp-block-column is-vertically-aligned-stretch" style="flex-basis:220px"><!-- wp:post-featured-image {"isLink":true,"aspectRatio":"3/2","width":"","height":"","style":{"layout":{"selfStretch":"fit","flexSize":null},"color":{"duotone":"var:preset|duotone|yellow-one"}}} /--></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"stretch","width":""} -->
<div class="wp-block-column is-vertically-aligned-stretch"><!-- wp:group {"style":{"spacing":{"padding":{"right":"1.5rem"}}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
<div class="wp-block-group" style="padding-right:1.5rem"><!-- wp:post-title {"isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|quaternary"}}}},"textColor":"quaternary"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"stretch","width":"25%"} -->
<div class="wp-block-column is-vertically-aligned-stretch" style="flex-basis:25%"><!-- wp:group {"style":{"spacing":{"blockGap":"0.2rem","margin":{"bottom":"2rem"},"padding":{"right":"1.5rem"}}},"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group" style="margin-bottom:2rem;padding-right:1.5rem"><!-- wp:post-terms {"term":"category","textAlign":"left","separator":" . ","style":{"elements":{"link":{"color":{"text":"var:preset|color|quaternary"}}}},"textColor":"quaternary"} /-->

<!-- wp:post-date {"textAlign":"left","format":"Mj.Y","isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|quaternary"}}}},"textColor":"quaternary"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->
<!-- /wp:post-template --></main>
<!-- /wp:query -->

<!-- wp:query {"queryId":0,"query":{"perPage":"1","pages":0,"offset":"3","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[]},"tagName":"main","align":"wide","layout":{"type":"constrained"}} -->
<main class="wp-block-query alignwide"><!-- wp:post-template {"align":"wide","style":{"spacing":{"blockGap":"1px"}},"layout":{"type":"default"}} -->
<!-- wp:columns {"align":"wide","style":{"border":{"right":{"color":"var:preset|color|quinary","width":"5px"},"top":[],"bottom":[],"left":[]},"elements":{"link":{"color":{"text":"var:preset|color|custom-f9-bc2-f"}}},"spacing":{"margin":{"top":"0","bottom":"0"}}},"textColor":"custom-f9-bc2-f"} -->
<div class="wp-block-columns alignwide has-custom-f-9-bc-2-f-color has-text-color has-link-color" style="border-right-color:var(--wp--preset--color--quinary);border-right-width:5px;margin-top:0;margin-bottom:0"><!-- wp:column {"verticalAlignment":"stretch","width":"220px"} -->
<div class="wp-block-column is-vertically-aligned-stretch" style="flex-basis:220px"><!-- wp:post-featured-image {"isLink":true,"aspectRatio":"3/2","width":"","height":"","style":{"layout":{"selfStretch":"fit","flexSize":null},"color":{"duotone":"var:preset|duotone|yellow-two"}}} /--></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"stretch","width":""} -->
<div class="wp-block-column is-vertically-aligned-stretch"><!-- wp:group {"style":{"spacing":{"padding":{"right":"1.5rem"}}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
<div class="wp-block-group" style="padding-right:1.5rem"><!-- wp:post-title {"isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|quinary"}}}},"textColor":"quinary"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"stretch","width":"25%"} -->
<div class="wp-block-column is-vertically-aligned-stretch" style="flex-basis:25%"><!-- wp:group {"style":{"spacing":{"blockGap":"0.2rem","margin":{"bottom":"2rem"},"padding":{"right":"1.5rem"}}},"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group" style="margin-bottom:2rem;padding-right:1.5rem"><!-- wp:post-terms {"term":"category","textAlign":"left","separator":" . ","style":{"elements":{"link":{"color":{"text":"var:preset|color|quinary"}}}},"textColor":"quinary"} /-->

<!-- wp:post-date {"textAlign":"left","format":"Mj.Y","isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|quinary"}}}},"textColor":"quinary"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->
<!-- /wp:post-template --></main>
<!-- /wp:query -->

<!-- wp:query {"queryId":0,"query":{"perPage":"1","pages":0,"offset":"4","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[]},"tagName":"main","align":"wide","layout":{"type":"constrained"}} -->
<main class="wp-block-query alignwide"><!-- wp:post-template {"align":"wide","style":{"spacing":{"blockGap":"1px"}},"layout":{"type":"default"}} -->
<!-- wp:columns {"align":"wide","style":{"border":{"right":{"color":"var:preset|color|senary","width":"5px"},"top":[],"bottom":[],"left":[]},"elements":{"link":{"color":{"text":"var:preset|color|custom-ff8928"}}},"spacing":{"margin":{"top":"0","bottom":"0"}}},"textColor":"custom-ff8928"} -->
<div class="wp-block-columns alignwide has-custom-ff-8928-color has-text-color has-link-color" style="border-right-color:var(--wp--preset--color--senary);border-right-width:5px;margin-top:0;margin-bottom:0"><!-- wp:column {"verticalAlignment":"stretch","width":"220px"} -->
<div class="wp-block-column is-vertically-aligned-stretch" style="flex-basis:220px"><!-- wp:post-featured-image {"isLink":true,"aspectRatio":"3/2","width":"","height":"","style":{"layout":{"selfStretch":"fit","flexSize":null},"color":{"duotone":"var:preset|duotone|orange-one"}}} /--></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"stretch","width":""} -->
<div class="wp-block-column is-vertically-aligned-stretch"><!-- wp:group {"style":{"spacing":{"padding":{"right":"1.5rem"}}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
<div class="wp-block-group" style="padding-right:1.5rem"><!-- wp:post-title {"isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|senary"}}}},"textColor":"senary"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"stretch","width":"25%"} -->
<div class="wp-block-column is-vertically-aligned-stretch" style="flex-basis:25%"><!-- wp:group {"style":{"spacing":{"blockGap":"0.2rem","margin":{"bottom":"2rem"},"padding":{"right":"1.5rem"}}},"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group" style="margin-bottom:2rem;padding-right:1.5rem"><!-- wp:post-terms {"term":"category","textAlign":"left","separator":" . ","style":{"elements":{"link":{"color":{"text":"var:preset|color|senary"}}}},"textColor":"senary"} /-->

<!-- wp:post-date {"textAlign":"left","format":"Mj.Y","isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|senary"}}}},"textColor":"senary"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->
<!-- /wp:post-template --></main>
<!-- /wp:query -->

<!-- wp:query {"queryId":0,"query":{"perPage":"1","pages":0,"offset":"5","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[]},"tagName":"main","align":"wide","layout":{"type":"constrained"}} -->
<main class="wp-block-query alignwide"><!-- wp:post-template {"align":"wide","style":{"spacing":{"blockGap":"1px"}},"layout":{"type":"default"}} -->
<!-- wp:columns {"align":"wide","style":{"border":{"right":{"color":"var:preset|color|septenary","width":"5px"},"top":[],"bottom":[],"left":[]},"elements":{"link":{"color":{"text":"var:preset|color|custom-fb6-a46"}}},"spacing":{"margin":{"top":"0","bottom":"0"}}},"textColor":"custom-fb6-a46"} -->
<div class="wp-block-columns alignwide has-custom-fb-6-a-46-color has-text-color has-link-color" style="border-right-color:var(--wp--preset--color--septenary);border-right-width:5px;margin-top:0;margin-bottom:0"><!-- wp:column {"verticalAlignment":"stretch","width":"220px"} -->
<div class="wp-block-column is-vertically-aligned-stretch" style="flex-basis:220px"><!-- wp:post-featured-image {"isLink":true,"aspectRatio":"3/2","width":"","height":"","style":{"layout":{"selfStretch":"fit","flexSize":null},"color":{"duotone":"var:preset|duotone|orange-two"}}} /--></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"stretch","width":""} -->
<div class="wp-block-column is-vertically-aligned-stretch"><!-- wp:group {"style":{"spacing":{"padding":{"right":"1.5rem"}}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
<div class="wp-block-group" style="padding-right:1.5rem"><!-- wp:post-title {"isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|septenary"}}}},"textColor":"septenary"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"stretch","width":"25%"} -->
<div class="wp-block-column is-vertically-aligned-stretch" style="flex-basis:25%"><!-- wp:group {"style":{"spacing":{"blockGap":"0.2rem","margin":{"bottom":"2rem"},"padding":{"right":"1.5rem"}}},"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group" style="margin-bottom:2rem;padding-right:1.5rem"><!-- wp:post-terms {"term":"category","textAlign":"left","separator":" . ","style":{"elements":{"link":{"color":{"text":"var:preset|color|septenary"}}}},"textColor":"septenary"} /-->

<!-- wp:post-date {"textAlign":"left","format":"Mj.Y","isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|septenary"}}}},"textColor":"septenary"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->
<!-- /wp:post-template --></main>
<!-- /wp:query -->

<!-- wp:query {"queryId":0,"query":{"perPage":"1","pages":0,"offset":"6","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[]},"tagName":"main","align":"wide","layout":{"type":"constrained"}} -->
<main class="wp-block-query alignwide"><!-- wp:post-template {"align":"wide","style":{"spacing":{"blockGap":"1px"}},"layout":{"type":"default"}} -->
<!-- wp:columns {"align":"wide","style":{"border":{"right":{"color":"var:preset|color|octonary","width":"5px"},"top":[],"bottom":[],"left":[]},"elements":{"link":{"color":{"text":"var:preset|color|custom-cc66-ff"}}},"spacing":{"margin":{"top":"0","bottom":"0"}}},"textColor":"custom-cc66-ff"} -->
<div class="wp-block-columns alignwide has-custom-cc-66-ff-color has-text-color has-link-color" style="border-right-color:var(--wp--preset--color--octonary);border-right-width:5px;margin-top:0;margin-bottom:0"><!-- wp:column {"verticalAlignment":"stretch","width":"220px"} -->
<div class="wp-block-column is-vertically-aligned-stretch" style="flex-basis:220px"><!-- wp:post-featured-image {"isLink":true,"aspectRatio":"3/2","width":"","height":"","style":{"layout":{"selfStretch":"fit","flexSize":null},"color":{"duotone":"var:preset|duotone|purple-one"}}} /--></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"stretch","width":""} -->
<div class="wp-block-column is-vertically-aligned-stretch"><!-- wp:group {"style":{"spacing":{"padding":{"right":"1.5rem"}}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
<div class="wp-block-group" style="padding-right:1.5rem"><!-- wp:post-title {"isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|octonary"}}}},"textColor":"octonary"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"stretch","width":"25%"} -->
<div class="wp-block-column is-vertically-aligned-stretch" style="flex-basis:25%"><!-- wp:group {"style":{"spacing":{"blockGap":"0.2rem","margin":{"bottom":"2rem"},"padding":{"right":"1.5rem"}}},"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group" style="margin-bottom:2rem;padding-right:1.5rem"><!-- wp:post-terms {"term":"category","textAlign":"left","separator":" . ","style":{"elements":{"link":{"color":{"text":"var:preset|color|octonary"}}}},"textColor":"octonary"} /-->

<!-- wp:post-date {"textAlign":"left","format":"Mj.Y","isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|octonary"}}}},"textColor":"octonary"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->
<!-- /wp:post-template --></main>
<!-- /wp:query -->

<!-- wp:query {"queryId":0,"query":{"perPage":"1","pages":0,"offset":"7","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[]},"tagName":"main","align":"wide","layout":{"type":"constrained"}} -->
<main class="wp-block-query alignwide"><!-- wp:post-template {"align":"wide","style":{"spacing":{"blockGap":"1px"}},"layout":{"type":"default"}} -->
<!-- wp:columns {"align":"wide","style":{"border":{"right":{"color":"var:preset|color|nonary","width":"5px"},"top":[],"bottom":[],"left":[]},"elements":{"link":{"color":{"text":"var:preset|color|custom-9999-ff"}}},"spacing":{"margin":{"top":"0","bottom":"0"}}},"textColor":"custom-9999-ff"} -->
<div class="wp-block-columns alignwide has-custom-9999-ff-color has-text-color has-link-color" style="border-right-color:var(--wp--preset--color--nonary);border-right-width:5px;margin-top:0;margin-bottom:0"><!-- wp:column {"verticalAlignment":"stretch","width":"220px"} -->
<div class="wp-block-column is-vertically-aligned-stretch" style="flex-basis:220px"><!-- wp:post-featured-image {"isLink":true,"aspectRatio":"3/2","width":"","height":"","style":{"layout":{"selfStretch":"fit","flexSize":null},"color":{"duotone":"var:preset|duotone|purple-two"}}} /--></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"stretch","width":""} -->
<div class="wp-block-column is-vertically-aligned-stretch"><!-- wp:group {"style":{"spacing":{"padding":{"right":"1.5rem"}}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
<div class="wp-block-group" style="padding-right:1.5rem"><!-- wp:post-title {"isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|nonary"}}}},"textColor":"nonary"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"stretch","width":"25%"} -->
<div class="wp-block-column is-vertically-aligned-stretch" style="flex-basis:25%"><!-- wp:group {"style":{"spacing":{"blockGap":"0.2rem","margin":{"bottom":"2rem"},"padding":{"right":"1.5rem"}}},"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group" style="margin-bottom:2rem;padding-right:1.5rem"><!-- wp:post-terms {"term":"category","textAlign":"left","separator":" . ","style":{"elements":{"link":{"color":{"text":"var:preset|color|nonary"}}}},"textColor":"nonary"} /-->

<!-- wp:post-date {"textAlign":"left","format":"Mj.Y","isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|nonary"}}}}} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->
<!-- /wp:post-template --></main>
<!-- /wp:query -->

<!-- wp:query {"queryId":0,"query":{"perPage":"1","pages":0,"offset":"8","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[]},"tagName":"main","align":"wide","layout":{"type":"constrained"}} -->
<main class="wp-block-query alignwide"><!-- wp:post-template {"align":"wide","style":{"spacing":{"blockGap":"1px"}},"layout":{"type":"default"}} -->
<!-- wp:columns {"align":"wide","style":{"border":{"right":{"color":"var:preset|color|denary","width":"5px"},"top":[],"bottom":[],"left":[]},"elements":{"link":{"color":{"text":"var:preset|color|custom-56-cbf0"}}},"spacing":{"margin":{"top":"0","bottom":"0"}}},"textColor":"custom-56-cbf0"} -->
<div class="wp-block-columns alignwide has-custom-56-cbf-0-color has-text-color has-link-color" style="border-right-color:var(--wp--preset--color--denary);border-right-width:5px;margin-top:0;margin-bottom:0"><!-- wp:column {"verticalAlignment":"stretch","width":"220px"} -->
<div class="wp-block-column is-vertically-aligned-stretch" style="flex-basis:220px"><!-- wp:post-featured-image {"isLink":true,"aspectRatio":"3/2","width":"","height":"","style":{"layout":{"selfStretch":"fit","flexSize":null},"color":{"duotone":"var:preset|duotone|turquoise-one"}}} /--></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"stretch","width":""} -->
<div class="wp-block-column is-vertically-aligned-stretch"><!-- wp:group {"style":{"spacing":{"padding":{"right":"1.5rem"}}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
<div class="wp-block-group" style="padding-right:1.5rem"><!-- wp:post-title {"isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|denary"}}}},"textColor":"denary"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"stretch","width":"25%"} -->
<div class="wp-block-column is-vertically-aligned-stretch" style="flex-basis:25%"><!-- wp:group {"style":{"spacing":{"blockGap":"0.2rem","margin":{"bottom":"2rem"},"padding":{"right":"1.5rem"}}},"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group" style="margin-bottom:2rem;padding-right:1.5rem"><!-- wp:post-terms {"term":"category","textAlign":"left","separator":" . ","style":{"elements":{"link":{"color":{"text":"var:preset|color|denary"}}}},"textColor":"denary"} /-->

<!-- wp:post-date {"textAlign":"left","format":"Mj.Y","isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|denary"}}}},"textColor":"denary"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->
<!-- /wp:post-template --></main>
<!-- /wp:query -->

<!-- wp:query {"queryId":0,"query":{"perPage":"1","pages":0,"offset":"9","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[]},"tagName":"main","align":"wide","layout":{"type":"constrained"}} -->
<main class="wp-block-query alignwide"><!-- wp:post-template {"align":"wide","style":{"spacing":{"blockGap":"1px"}},"layout":{"type":"default"}} -->
<!-- wp:columns {"align":"wide","style":{"border":{"right":{"color":"var:preset|color|undenary","width":"5px"},"top":[],"bottom":[],"left":[]},"elements":{"link":{"color":{"text":"var:preset|color|custom-5-ce0-e9"}}},"spacing":{"margin":{"top":"0","bottom":"0"}}},"textColor":"custom-56-cbf0"} -->
<div class="wp-block-columns alignwide has-custom-56-cbf-0-color has-text-color has-link-color" style="border-right-color:var(--wp--preset--color--undenary);border-right-width:5px;margin-top:0;margin-bottom:0"><!-- wp:column {"verticalAlignment":"top","width":"220px"} -->
<div class="wp-block-column is-vertically-aligned-top" style="flex-basis:220px"><!-- wp:post-featured-image {"isLink":true,"aspectRatio":"3/2","width":"","height":"","style":{"layout":{"selfStretch":"fit","flexSize":null},"color":{"duotone":"var:preset|duotone|turquoise-two"}}} /--></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"top","width":""} -->
<div class="wp-block-column is-vertically-aligned-top"><!-- wp:group {"style":{"spacing":{"padding":{"right":"1.5rem"}}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
<div class="wp-block-group" style="padding-right:1.5rem"><!-- wp:post-title {"isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|undenary"}}}},"textColor":"undenary"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"top","width":"25%"} -->
<div class="wp-block-column is-vertically-aligned-top" style="flex-basis:25%"><!-- wp:group {"style":{"spacing":{"blockGap":"0.2rem","margin":{"bottom":"2rem"},"padding":{"right":"1.5rem"}}},"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group" style="margin-bottom:2rem;padding-right:1.5rem"><!-- wp:post-terms {"term":"category","textAlign":"left","separator":" . ","style":{"elements":{"link":{"color":{"text":"var:preset|color|undenary"}}}},"textColor":"undenary"} /-->

<!-- wp:post-date {"textAlign":"left","format":"Mj.Y","isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|undenary"}}}},"textColor":"undenary"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->
<!-- /wp:post-template --></main>
<!-- /wp:query --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:spacer {"height":"var:preset|spacing|70"} -->
<div style="height:var(--wp--preset--spacing--70)" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->