<!-- wp:template-part {"slug":"header-pages"} /-->

<!-- wp:group {"align":"full","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull"><!-- wp:group {"align":"wide","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide"><!-- wp:query {"queryId":0,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true,"taxQuery":null,"parents":[]},"tagName":"main","align":"full","layout":{"type":"default"}} -->
<main class="wp-block-query alignfull"><!-- wp:post-template {"align":"full","style":{"spacing":{"blockGap":"0.5rem"}},"layout":{"type":"default"}} -->
<!-- wp:group {"align":"full","style":{"dimensions":{"minHeight":""}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull"><!-- wp:columns {"align":"wide","style":{"elements":{"link":{"color":{"text":"var:preset|color|contrast"}}},"spacing":{"blockGap":{"top":"0.5rem","left":"0.5rem"}},"border":{"bottom":{"width":"1px"},"top":[],"right":[],"left":[]}},"textColor":"contrast"} -->
<div class="wp-block-columns alignwide has-contrast-color has-text-color has-link-color" style="border-bottom-width:1px"><!-- wp:column {"verticalAlignment":"stretch","width":"200px"} -->
<div class="wp-block-column is-vertically-aligned-stretch" style="flex-basis:200px"><!-- wp:post-featured-image {"isLink":true,"aspectRatio":"16/9","width":"180px","height":"","style":{"layout":{"selfStretch":"fit","flexSize":null},"color":{"duotone":["#14141f","#797986"]}}} /--></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"stretch","width":""} -->
<div class="wp-block-column is-vertically-aligned-stretch"><!-- wp:group {"style":{"spacing":{"padding":{"right":"1.5rem"}}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
<div class="wp-block-group" style="padding-right:1.5rem"><!-- wp:post-title {"isLink":true,"fontSize":"large"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"stretch","width":"25%"} -->
<div class="wp-block-column is-vertically-aligned-stretch" style="flex-basis:25%"><!-- wp:group {"style":{"spacing":{"blockGap":"0.2rem","margin":{"bottom":"2rem"},"padding":{"right":"1.5rem"}}},"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group" style="margin-bottom:2rem;padding-right:1.5rem"><!-- wp:post-terms {"term":"category","textAlign":"left","separator":" . "} /-->

<!-- wp:post-date {"textAlign":"left","format":"Mj.Y","isLink":true} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->
<!-- /wp:post-template --></main>
<!-- /wp:query --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->