<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"align":"full","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull"><!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"4vh","padding":{"top":"6vh","bottom":"3vh"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide" style="padding-top:6vh;padding-bottom:3vh"><!-- wp:post-featured-image /-->

<!-- wp:post-title {"fontSize":"x-large"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"lock":{"move":false,"remove":true},"align":"full","style":{"spacing":{"padding":{"right":"4vw","left":"4vw"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull" style="padding-right:4vw;padding-left:4vw"><!-- wp:post-content {"align":"full","layout":{"type":"constrained"}} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->