<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"padding":{"left":"4vw","right":"4vw"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull" style="padding-right:4vw;padding-left:4vw"><!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"4vh","padding":{"top":"6vh","bottom":"6vh"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide" style="padding-top:6vh;padding-bottom:6vh"><!-- wp:post-featured-image /-->

<!-- wp:post-title {"fontSize":"x-large"} /--></div>
<!-- /wp:group -->

<!-- wp:post-content {"align":"full","layout":{"type":"constrained"}} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->