p {
	&.has-background {
		padding: #{map-deep-get($config-global, "spacing", "unit")} #{map-deep-get($config-global, "spacing", "unit")};

		&:not(.has-background-background-color) a {
			color: currentColor;
		}
	}
}

.block-editor-block-list__block[data-type="core/paragraph"] p {
	line-height: var(--line-height-body);
}
