<!-- wp:spacer {"height":14} -->
<div style="height:14px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:columns {"verticalAlignment":null, "align":"full"} -->
<div class="wp-block-columns alignfull"><!-- wp:column {"verticalAlignment":"center"} -->
<div class="wp-block-column is-vertically-aligned-center"><!-- wp:site-title /--></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"center"} -->
<div class="wp-block-column is-vertically-aligned-center">
	
<!-- wp:navigation {"orientation":"horizontal","itemsJustification":"right","source":"primary"} -->

<!-- /wp:navigation --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->