<!-- wp:group {"style":{"spacing":{"padding":{"top":"12rem","bottom":"12rem"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:12rem;padding-bottom:12rem"><!-- wp:heading {"align":"wide","fontSize":"x-large"} -->
<h2 class="wp-block-heading alignwide has-x-large-font-size">Something went wrong. </h2>
<!-- /wp:heading -->

<!-- wp:group {"align":"wide","layout":{"type":"default"}} -->
<div class="wp-block-group alignwide"><!-- wp:paragraph -->
<p><a href="/" rel="home">Go back</a></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"header"} /-->