/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #404040;
}

small {
	font-size: 13px;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
html .mceContentBody {
	max-width: 739px;
}
body.mceContentBody {
	color: #404040;
	font-family: "Libre Baskerville", Libre 2, Georgia, Times, serif;
	font-size: 18px;
	font-size: 1rem;
	line-height: 1.75;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-family: "Libre Baskerville", Libre 2, Georgia, Times, serif;
	font-weight: bold;
	margin: 0 0 .875em;
}
h1 {
	font-size: 29px;
	font-size: 1.8125rem;
	line-height: 1.3;
}
h2 {
	font-size: 23px;
	font-size: 1.4375rem;
}
h3 {
	font-size: 18px;
	font-size: 1rem;
}
h4 {
	font-size: 14px;
	font-size: .875rem;
}
h5 {
	font-size: 13px;
	font-size: .8125rem;
}
h6 {
	font-size: 12px;
	font-size: .75rem;
}
p {
	margin-top: 0;
	margin-bottom: 1.75em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.75em 1.75em 2.25em;
	font-size: 18px;
}

address {
	margin: 0 0 1.75em;
}

pre {
	font-family: "Libre Baskerville", Libre 2, Georgia, Times, serif;
	margin-bottom: 1.75em;
	max-width: 100%;
	overflow: auto;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 16px;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

blockquote {
	position: relative;
}
blockquote:before {
	content: "\201c";
	display: block;
	font-size: 72px;
	line-height: 1;
	position: absolute;
		top: 0;
		left: -.6em;
}
blockquote blockquote {
	margin-right: 0;
}
blockquote.alignleft,
blockquote.alignright {
	max-width: 47%;
}
blockquote.alignleft,
blockquote.aligncenter {
	margin-left: 2em;
}
blockquote.alignright {
	margin-left: 3.5em;
}
.comments-area blockquote {
	font-size: 18px;
}

.intro {
	font-style: italic;
	font-size: 23px;
}

hr {
	background-color: #404040;
	border: 0;
	height: 1px;
	margin-bottom: 1.75em;
}

ul,
ol {
	margin: 0 0 1.75em 0;
	padding-left: 1.75em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: .4375em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.75em 1.75em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

table {
	margin: 0 0 1.75em;
	width: 100%;
}

td {
	padding: 3px;
}

caption {
	font-weight: bold;
	padding: .4375em 0;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	max-width: 100%;
	padding: 0;
	margin-bottom: 1.75em;
}
.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0 auto;
}
.wp-caption-dd {
	font-size: 14px;
	font-style: italic;
	position: relative;
}
.wp-caption-dd:before {
	content: "\2014";
	font-style: normal;
	position: absolute;
		top: 0;
		left: -1.75em;
}
.wp-caption .wp-caption-dd {
	margin: 0.8075em 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin: .875em 1.75em .875em 0 !important;
}

.alignright {
	display: inline;
	float: right;
	margin: .875em 0 .875em 1.75em !important;
}

.aligncenter {
	clear: both;
	display: block;
	margin: .875em auto !important;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.75em;
}

.gallery-item {
	display: inline-block;
	padding: 0.4375em;
	margin: 0;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

@media screen and ( min-width: ) {
	h1,
	.singular .entry-title {
		font-size: 47px;
		font-size: 2.9375rem;
		margin: 0 0 0.4375em;
	}
	h2 {
		font-size: 29px;
		font-size: 1.8125rem;
		margin: 0 0 0.4375em;
	}
	h3 {
		font-size: 23px;
		font-size: 1.4375rem;
	}
	h4 {
		font-size: 18px;
		font-size: 1rem;
	}
	h5 {
		font-size: 14px;
		font-size: .875rem;
	}
	h6 {
		font-size: 13px;
		font-size: .8125rem;
	}
}
