/*
Theme Name: Russell
Theme URI: https://github.com/automattic/themes/tree/trunk/russell
Author: Automattic
Author URI: https://automattic.com/
Description: Russell is a simple blogging theme that supports full-site editing. It comes with a set of minimal templates and design settings that can be manipulated through Global Styles.
Requires at least: 5.7
Tested up to: 5.7
Requires PHP: 5.7
Version: 0.0.4
License: GNU General Public License v2 or later
License URI: https://raw.githubusercontent.com/Automattic/themes/trunk/LICENSE
Template: blockbase
Text Domain: russell
Tags: one-column, custom-colors, custom-menu, custom-logo, editor-style, featured-images, full-site-editing, rtl-language-support, theme-options, threaded-comments, translation-ready, wide-blocks

Russell WordPress Theme, (C) 2021 Automattic, Inc.
Russell is distributed under the terms of the GNU GPL.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

Russell uses the following third-party resources:

Back View of a Woman Walking on the Seashore by Elina Sazonova
Source: https://www.pexels.com/photo/back-view-of-a-woman-walking-on-the-seashore-2072583/
Included in theme screenshot.

Surfer on the Beach by Jenna Lee
Source: https://unsplash.com/photos/sck2kBTmuKI
Included in theme demo site.

Coffee Cup by Sincerely Media
Source: https://unsplash.com/photos/ZbwC8E8okZE
Included in theme demo site.

Woman on a Swing at a Tropical Beach by Ryan Christodoulou
Source: https://unsplash.com/photos/LDrSJ3cjauY
Included in theme demo site.
*/
