/**
 * WooCommerce Styles
 * - These styles should be loaded when WooCommerce is active
 */

/**
 * Abstracts
 * - Functions and config
 */
@import "sass/abstracts/functions";
@import "sass/abstracts/config-global";

/**
 * WooCommerce Abstracts
 */
@import "sass/vendors/woocommerce/abstracts/config-woocommerce";

/**
 * Varia Mixins
 */
@import "sass/abstracts/mixins";

/**
 * Varia Responsive Logic
 */
@import "sass/abstracts/responsive-logic";

/**
 * Varia Extends
 */
@import "sass/base/extends";

/**
 * WooCommerce Styles
 */
@import "sass/vendors/woocommerce/style";
