<!-- wp:template-part {"area":"header","slug":"header","tagName":"header","layout":{"inherit":true}} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var(--wp--custom--gap--vertical)"}}}} -->
<main class="wp-block-group" style="margin-top: var(--wp--custom--gap--vertical)">

<!-- wp:post-content {"layout":{"inherit":true}} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"area":"footer","slug":"footer","tagName":"footer","layout":{"inherit":true},"className":"site-footer-container"} /-->
