.wp-block-group {

	.wp-block-group__inner-container {
		margin-left: auto;
		margin-right: auto;

		h1, h2, h3, h4, h5, h6, p, hr {
			margin-top: #{map-deep-get($config-global, "spacing", "unit")};
			margin-bottom: #{map-deep-get($config-global, "spacing", "unit")};

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&.alignwide .wp-block-group__inner-container,
	&.alignfull .wp-block-group__inner-container {
		@extend %responsive-align-container;
	}

	&.alignwide .alignwide,
	&.alignwide .alignfull,
	&.alignfull .alignwide {
		@extend %responsive-width-wide;
		clear: both;
	}

	&.alignfull .alignfull, {
		@extend %responsive-width-full;
		clear: both;
	}

	&.has-background {
		padding: #{map-deep-get($config-global, "spacing", "horizontal")};

		&.alignwide > .wp-block-group__inner-container > .alignwide:first-of-type,
		&.alignwide > .wp-block-group__inner-container > .alignfull:first-of-type {
			margin-top: #{-1 * map-deep-get($config-global, "spacing", "horizontal")};
		}

		&.alignwide > .wp-block-group__inner-container > .alignwide:last-of-type,
		&.alignwide > .wp-block-group__inner-container > .alignfull:last-of-type {
			margin-bottom: #{-1 * map-deep-get($config-global, "spacing", "horizontal")};
		}

		&.alignfull > .wp-block-group__inner-container > .alignfull:first-of-type {
			margin-top: #{-1 * map-deep-get($config-global, "spacing", "horizontal")};
		}

		&.alignfull > .wp-block-group__inner-container > .alignfull:last-of-type {
			margin-bottom: #{-1 * map-deep-get($config-global, "spacing", "horizontal")};
		}
	}
}
