.wp-block-group {

	.wp-block-group__inner-container {
		margin-left: auto;
		margin-right: auto;

		> * {
			margin-top: #{ 0.666 * map-deep-get($config-global, "spacing", "vertical") };
			margin-bottom: #{ 0.666 * map-deep-get($config-global, "spacing", "vertical") };

			@include media(mobile) {
				margin-top: map-deep-get($config-global, "spacing", "vertical");
				margin-bottom: map-deep-get($config-global, "spacing", "vertical");
			}

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&.has-background {
		padding: #{ 0.666 * map-deep-get($config-global, "spacing", "vertical") };

		@include media(mobile) {
			padding: #{map-deep-get($config-global, "spacing", "vertical")};
		}
	}
}
