/*
Theme Name: Dorna 2
Theme URI: https://wordpress.com/theme/dorna
Author: Automattic
Author URI: https://automattic.com/
Description: Dorna 2 is a minimal, product-oriented theme.
Requires at least: 5.9
Tested up to: 6.1
Requires PHP: 5.7
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: https://raw.githubusercontent.com/Automattic/themes/trunk/LICENSE
Template: blockbase
Text Domain: dorna
Tags: one-column, custom-colors, custom-menu, custom-logo, editor-style, featured-images, full-site-editing, rtl-language-support, theme-options, threaded-comments, translation-ready, wide-blocks, auto-loading-homepage
*/