// Footer Branding

.site-info {

	color: #{map-deep-get($config-footer, "color", "text")};
	@include font-family( map-deep-get($config-footer, "font", "family") );
	font-size: #{map-deep-get($config-footer, "font", "size")};
	line-height: #{map-deep-get($config-footer, "font", "line-height")};

	@include media(tablet) {
		order: 1;
		flex: 1 0 50%;
		margin-top: 0;
		margin-bottom: 0;
	}

	.site-name {
		font-weight: bold;
	}

	a {
		color: currentColor;

		&:link,
		&:visited {
			color: currentColor;
		}

		&:hover {
			color: #{map-deep-get($config-footer, "color", "link-hover")};
		}
	}
}

