.site-footer {

	@include media(tablet) {
		align-items: baseline;
		display: flex;
		justify-content: space-between;

		& > * {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
}


@import "footer-branding";
@import "footer-navigation";
