.footer-navigation {

	display: inline;

	@include media(tablet) {
		flex: 1 0 50%;
		order: 2;
		margin-top: 0;
		margin-bottom: 0;
		text-align: right;
	}

	& > div {
		display: inline;
	}

	.footer-menu {

		color: #{map-deep-get($config-footer, "color", "text")};
		margin: 0;
		padding-left: 0;

		@include media(tablet) {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-end;
		}

		& > li {
			display: inline;

			&:first-of-type > a {
				padding-left: 0;
			}

			&:last-of-type {
				padding-right: 0;
			}
		}

		a {
			@include font-family( map-deep-get( $config-header, "main-nav", "font", "family" ) );
			font-weight: #{map-deep-get($config-header, "main-nav", "font", "weight")};
			padding: #{map-deep-get($config-header, "main-nav", "link-padding")};

			color: currentColor;

			&:link,
			&:visited {
				color: currentColor;
			}

			&:hover {
				color: #{map-deep-get($config-footer, "color", "link-hover")};
			}
		}
	}
}

// Prevent overruling the user defined font size value set inside Gutenberg
// for Full Site Editing's Menu Navigation block.
body:not( .fse-enabled ) {
	.footer-menu a {
		font-size: #{map-deep-get($config-global, "font", "size", "sm")};
	}
}
