/**
 * Block Styles for the Editor
 *
 * - These styles replace key Gutenberg Block styles for fonts, colors, and
 *   spacing with CSS-variables overrides in the Block Editor
 * - In the future the Block styles may get compiled to individual .css
 *   files and conditionally loaded
 */

@import "button/editor";
@import "code/editor";
@import "cover/editor";
@import "heading/editor";
@import "image/editor";
@import "gallery/editor";
@import "group/editor";
@import "latest-comments/editor";
@import "latest-posts/editor";
@import "list/editor";
@import "media-text/editor";
@import "posts-list/editor";
@import "paragraph/editor";
@import "pullquote/editor";
@import "quote/editor";
@import "separator/editor";
@import "table/editor";
@import "utilities/editor"; // Import LAST to cascade properly
