.wp-block-quote {
	font-family: var(--wp--custom--quote--typography--font-family);
	border-left: var(--wp--custom--quote--border--width) solid var(--wp--custom--quote--border--color);
	padding-left: var(--wp--custom--padding--horizontal);
	cite, .wp-block-quote__citation {
		font-size: var(--wp--custom--quote--citation--typography--font-size);
		font-style: var(--wp--custom--quote--citation--typography--font-style);
	}
}