table {
	border-collapse: separate;
	border-top: 1px solid $color__border-transparent;
	margin: 0 0 $baseline;
	width: 100%;

	th, td {
		border-bottom: 1px solid $color__border-transparent;
		padding: ($gutter * .5);
	}
}
