.a8c-posts-list__listing {
	list-style: none;
	margin: 0;
	padding: 0;

	&:not(:last-child) {
		margin-bottom: calc(3 * #{map-deep-get($config-global, "spacing", "vertical")});
	}
}

.a8c-posts-list-item__featured span {
	color: #{map-deep-get($config-global, "color", "background", "default")};
	background-color: #{map-deep-get($config-global, "color", "primary", "default")};
	@include font-family( map-deep-get($config-global, "font", "family", "primary") );
	font-weight: bold;
	font-size: #{map-deep-get($config-global, "font", "size", "sm")};
	line-height: 1;
	padding: calc(0.5 * #{map-deep-get($config-global, "spacing", "unit")}) calc(0.66 * #{map-deep-get($config-global, "spacing", "unit")} );
}

.a8c-posts-list__item {
	display: block;

	/* Vertical margins logic between posts */
	margin-top: calc(3 * #{map-deep-get($config-global, "spacing", "vertical")});
	margin-bottom: calc(3 * #{map-deep-get($config-global, "spacing", "vertical")});

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}

	.entry > * {
		/* Vertical margins logic between post details */
		margin-top: #{map-deep-get($config-global, "spacing", "unit")};
		margin-bottom: #{map-deep-get($config-global, "spacing", "unit")};

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.a8c-posts-list-item__meta {
		color: #{map-deep-get($config-global, "color", "foreground", "light")};
		font-size: #{map-deep-get($config-global, "font", "size", "sm")};

		a {
			color: currentColor;

			&:hover,
			&:active {
				color: #{map-deep-get($config-global, "color", "primary", "hover")};
			}
		}
	}

	.a8c-posts-list-item__edit-link {
		margin-left: #{map-deep-get($config-global, "spacing", "unit")};
	}
}

.a8c-posts-list__view-all {
	// Extend button style
	@extend %button-style;
	display: inline-block;
}
