<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"lock":{"move":false,"remove":true},"style":{"spacing":{"padding":{"top":"var:preset|spacing|70"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--70)"><!-- wp:post-title {"fontSize":"x-large"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","lock":{"move":false,"remove":true},"style":{"spacing":{"padding":{"right":"0","left":"0"}}}} -->
<main class="wp-block-group" style="padding-right:0;padding-left:0"><!-- wp:post-content {"lock":{"move":false,"remove":true},"layout":{"type":"constrained"}} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->