<!-- wp:template-part {"slug":"header-pages"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Content"},"layout":{"type":"constrained"}} -->
<main class="wp-block-group"><!-- wp:columns {"align":"wide","style":{"spacing":{"blockGap":{"left":"2rem"}}}} -->
<div class="wp-block-columns alignwide"><!-- wp:column {"width":"66.7%"} -->
<div class="wp-block-column" style="flex-basis:66.7%"><!-- wp:post-featured-image /--></div>
<!-- /wp:column -->

<!-- wp:column {"width":"33.33%"} -->
<div class="wp-block-column" style="flex-basis:33.33%"><!-- wp:group {"metadata":{"name":"Title and content"},"align":"wide","layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
<div class="wp-block-group alignwide"><!-- wp:post-title {"level":1,"align":"wide","style":{"typography":{"textTransform":"uppercase","letterSpacing":"0rem"}},"fontSize":"small"} /-->

<!-- wp:post-content {"align":"wide","layout":{"type":"default"}} /--></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Categories and date"},"style":{"spacing":{"blockGap":"var:preset|spacing|20","margin":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
<div class="wp-block-group" style="margin-top:var(--wp--preset--spacing--60);margin-bottom:var(--wp--preset--spacing--60)"><!-- wp:post-terms {"term":"category","fontSize":"small"} /-->

<!-- wp:post-date {"format":"M j, Y","isLink":true,"fontSize":"small"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:columns {"align":"wide","style":{"spacing":{"blockGap":{"left":"2rem"}}}} -->
<div class="wp-block-columns alignwide"><!-- wp:column {"width":"66.7%"} -->
<div class="wp-block-column" style="flex-basis:66.7%"><!-- wp:template-part {"slug":"comments"} /--></div>
<!-- /wp:column -->

<!-- wp:column {"width":"33.33%"} -->
<div class="wp-block-column" style="flex-basis:33.33%"></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-pages"} /-->