/**
 * Button
 */
$config-button: (
	// Colors
	"color": (
		"text": map-deep-get($config-global, "color", "background"),
		"text-hover": map-deep-get($config-global, "color", "background"),
		"background": map-deep-get($config-global, "color", "primary", "default"),
		"background-hover": map-deep-get($config-global, "color", "primary", "hover"),
	),
	// Fonts
	"font": (
		"family": map-deep-get($config-global, "font", "family", "primary"),
		"size": map-deep-get($config-global, "font", "size", "md"),
		"weight": bold,
		"line-height": 1,
	),
	// Borders
	"border-radius": map-deep-get($config-global, "border-radius", "sm"),
	"border-width": 2px,
	// Padding
	"padding": (
		"vertical": map-deep-get($config-global, "spacing", "unit"),
		"horizontal": map-deep-get($config-global, "spacing", "unit"),
	),
);
