.site-header {
	// Add numbers to navigation in header
	.wp-block-navigation__container:not(.wp-block-navigation-placeholder__preview) {
		counter-reset: item;

		> li::before {
			content: counters(item, "") ". ";
			counter-increment: item;
			margin-right: calc(0.3 * var( --wp--style--block-gap ));
		}
	}
}