/*
Theme Name: Mayland (Blocks)
Theme URI: https://github.com/Automattic/themes/tree/master/mayland-blocks
Author: Automattic
Author URI: https://automattic.com/
Description: Make your online portfolio wonderfully uncluttered with Mayland. Gracefully highlight your photography and other projects. Mayland is versatile enough to be your personal site too.
Requires at least: 5.7
Tested up to: 5.7
Requires PHP: 7.4
Version: 2.1.0
License: GNU General Public License v2 or later
License URI: https://raw.githubusercontent.com/Automattic/themes/trunk/LICENSE
Template: blockbase
Text Domain: mayland-blocks
Tags: one-column, custom-colors, custom-menu, custom-logo, editor-style, featured-images, block-patterns, rtl-language-support, sticky-post, threaded-comments

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/
