input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	background: var(--wp--custom--form--color--background);
	border: var(--wp--custom--form--border--width) var(--wp--custom--form--border--style) var(--wp--custom--form--border--color);
	border-radius: var(--wp--custom--form--border--radius);
	box-shadow: var(--wp--custom--form--color--box-shadow);
	color: var(--wp--custom--form--color--text);
	font-family: var(--wp--custom--body--typography--font-family);
	padding: var(--wp--custom--form--padding);

	&:focus {
		color: var(--wp--custom--form--color--text);
		border-color: var(--custom--form--color--border);
	}
}

select {
	font-family: inherit;
	font-size: 100%;
}

textarea {
	width: 100%;
}

// Vertically align checkbox + label relationship
input[type=checkbox] + label {
	display: inline;
	margin-left: 0.5em;
	line-height: 1em;
}
