input.wp-block-search__input,
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea,
select {
	background: var(--wp--custom--form--color--background);
	border: var(--wp--custom--form--border--width) var(--wp--custom--form--border--style) var(--wp--custom--form--border--color);
	border-radius: var(--wp--custom--form--border--radius);
	box-shadow: var(--wp--custom--form--color--box-shadow);
	color: var(--wp--custom--form--color--text);
	font-family: inherit;
	padding: var(--wp--custom--form--padding);

	&:focus {
		border-color: var(--wp--custom--form--color--border);
		color: var(--wp--custom--form--color--text);
		outline: 1px dotted currentcolor;
		outline-offset: 2px;
	}
}

input[type="checkbox"],
input[type="submit"],
button {

	&:focus {
		outline: 1px dotted currentcolor;
		outline-offset: 2px;
	}

	&::placeholder {
		color: var(--wp--custom--form--color--text);
		opacity: 0.66;
	}
}

select {
	font-size: 100%;
}

textarea {
	width: 100%;
}

// Vertically align checkbox + label relationship
input[type="checkbox"] + label {
	display: inline;
	margin-left: 0.5em;
	line-height: 1em;
}
