// Default link styles
a,
.wp-block-navigation a {
	text-underline-offset: 0.15em;
}

// Select the focus states of all non-wpadmin and screen reader links
a:not(.ab-item):not(.screen-reader-shortcut) {

	&:active,
	&:focus {
		outline: 1px dotted currentcolor;
	}
}
