/* WordPress.com-specific styles */

/* Hide stats smiley */
#wpstats {
  display: none;
}

/* Remove extra styling from comment submit */
#respond .form-submit input,
#respond .form-submit input#comment-submit,
#respond .comment-form-fields input[type="submit"],
#respond p.form-submit input[type="submit"],
#respond input[type="submit"],
#commentform #submit {
  letter-spacing: 0;
  outline: none;
  text-transform: none;
}

/* Improve appearance of ratings */
.rating-msg,
.rating-nero-value {
  font-size: 18px !important;
  font-size: 1rem !important;
  vertical-align: top;
}

/* Flickr */
#flickr_badge_wrapper {
  background: transparent !important;
  border: 0 !important;
}

#flickr_badge_uber_wrapper {
  margin: 0 auto;
}

#flickr_badge_uber_wrapper td {
  border: 0 !important;
}

#flickr_badge_uber_wrapper a:hover,
#flickr_badge_uber_wrapper a:link,
#flickr_badge_uber_wrapper a:active,
#flickr_badge_uber_wrapper a:visited {
  color: #777 !important;
}

/* Recent Comments */
.widget_recent_comments td {
  border: 0;
  padding: 5px 5px 10px 5px;
  vertical-align: top;
}

/* Authors */
.widget_authors ul,
.widget_author_grid ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.widget_authors img {
  float: none;
  vertical-align: middle;
}

.widget_authors li:before,
.widget_authors li:after {
  content: "";
  display: table;
}

.widget_authors li:after {
  clear: both;
}

.widget_authors a {
  text-decoration: none;
}

h3.sd-title {
  font-size: 16px;
}

/* Follow widget */
.widget-title label {
  float: none;
  font-style: normal;
  font-size: 1.4rem;
}

