/**
 * Extra Child Theme Styles
 */

/*
 * Center-align layout
 * Center common post, page, and section titles
 *

a {
	text-decoration: none;
}

.site-branding,
.site-info,
.primary-navigation,
.entry-header,
.entry-footer,
.page-title,
.author-title,
.comments-title,
.comment-reply-title {
	text-align: center;
}

.primary-navigation > div {
	text-align: left;
}

.comment-reply-title {
	display: inherit;
}

.comment .comment-reply-title {
	display: flex;
}

.primary-navigation > div > ul,
.social-navigation > div > ul,
.pagination .nav-links {
	justify-content: center;
}
*/
