.content-area {
	margin: 0 auto;
	width: 100%;
}

.affinity-front-page .content-area {
	float: none;
	margin: 0 auto;
	width: 100%;
}

.site-main {
	margin: 0 auto;
}

.affinity-front-page .site-main {
	margin: 0 auto;
}

.site-content {
	margin: 0 auto;
	width: 90%;
}

.affinity-front-page .site-content {
	width: 100%;

	.entry-header,
	.entry-content,
	.entry-footer {
		margin: 0 auto;
		width: 90%;
	}
}

.site-content .widget-area {
	overflow: hidden;
	width: 100%;
}

.site-footer {
	clear: both;
}

.footer-widgets .widget-areas {
	margin: 0 auto;
	width: 90%;
}