<!-- wp:template-part {"slug":"header","theme":"screenplay","tagName":"header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"margin":{"top":"0px","bottom":"0px"},"blockGap":"0px"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="margin-top:0px;margin-bottom:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"><!-- wp:spacer {"height":"8rem","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}}} -->
<div style="margin-top:0px;margin-bottom:0px;height:8rem" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"align":"wide","layout":{"type":"default"}} -->
<div class="wp-block-group alignwide"><!-- wp:heading {"style":{"typography":{"fontSize":"40px","fontStyle":"normal","fontWeight":"500","letterSpacing":"-1px","lineHeight":"1.4","textTransform":"none"}},"fontFamily":"golos-text"} -->
<h2 class="wp-block-heading has-golos-text-font-family" style="font-size:40px;font-style:normal;font-weight:500;letter-spacing:-1px;line-height:1.4;text-transform:none">After completing a hit in Russia, Goncharov travels to Naples to lay low, but his past catches up with him when a former associate appears with a job. Meanwhile, his wife Katya is having an affair, and his former ally Andrey returns, stirring up old feelings. As Goncharov navigates the deadly world of Neapolitan mafia, he must also confront his personal demons and settle his loyalties.</h2>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"8rem","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}}} -->
<div style="margin-top:0px;margin-bottom:0px;height:8rem" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:columns {"align":"wide","style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"margin":{"top":"0px","bottom":"0px"},"blockGap":{"top":"20px","left":"20px"}}}} -->
<div class="wp-block-columns alignwide" style="margin-top:0px;margin-bottom:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"><!-- wp:column {"width":"33.33%"} -->
<div class="wp-block-column" style="flex-basis:33.33%"><!-- wp:heading -->
<h2 class="wp-block-heading">Script by:</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>A celebrated artificial intelligence chatbot platform launched in late 2022.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"33.33%"} -->
<div class="wp-block-column" style="flex-basis:33.33%"><!-- wp:heading -->
<h2 class="wp-block-heading">Directed by:</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>***</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"33.33%"} -->
<div class="wp-block-column" style="flex-basis:33.33%"><!-- wp:heading -->
<h2 class="wp-block-heading">Produced by:</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>***</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"screenplay","tagName":"footer"} /-->