<!-- wp:group {"align":"wide","style":{"dimensions":{"minHeight":"100vh"}},"backgroundColor":"primary","layout":{"type":"default"}} -->
<div class="wp-block-group alignwide has-primary-background-color has-background" style="min-height:100vh"><!-- wp:template-part {"slug":"header","tagName":"header","align":"wide"} /-->

<!-- wp:group {"tagName":"main","align":"wide","style":{"border":{"top":[],"right":{"width":"1rem","style":"solid"},"bottom":[],"left":{"width":"1rem","style":"solid"}},"spacing":{"padding":{"bottom":"4rem","top":"4rem"},"margin":{"top":"4rem","bottom":"0rem"}}},"backgroundColor":"foreground","textColor":"primary","layout":{"type":"constrained"}} -->
<main class="wp-block-group alignwide has-primary-color has-foreground-background-color has-text-color has-background" style="border-right-style:solid;border-right-width:1rem;border-left-style:solid;border-left-width:1rem;margin-top:4rem;margin-bottom:0rem;padding-top:4rem;padding-bottom:4rem"><!-- wp:post-content {"lock":{"move":false,"remove":false},"align":"wide","layout":{"type":"constrained"}} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","align":"wide"} /--></div>
<!-- /wp:group -->