<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"style":{"border":{"width":"2px"},"spacing":{"padding":{"top":"5vw","bottom":"5vw"}}},"borderColor":"primary","layout":{"inherit":true}} -->
<div class="wp-block-group has-border-color has-primary-border-color" style="border-width:2px;padding-top:5vw;padding-bottom:5vw"><!-- wp:post-title {"textAlign":"center"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group"><!-- wp:post-featured-image {"align":"full"} /-->

<!-- wp:spacer {"height":""} -->
<div style="height:" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:post-content {"layout":{"inherit":true}} /--></main>
<!-- /wp:group -->

<!-- wp:group {"layout":{"inherit":true}} -->
<div class="wp-block-group"><!-- wp:spacer {"height":"60px"} -->
<div style="height:60px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:post-comments /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->