.wp-block-cover,
.wp-block-cover-image {

	background-color: #{map-deep-get($config-cover, "color", "background")};
	color: #{map-deep-get($config-cover, "color", "foreground")};
	min-height: #{map-deep-get($config-cover, "height")};

	.wp-block-cover__inner-container,
	.wp-block-cover-image-text,
	.wp-block-cover-text,
	.block-editor-block-list__block {
		color: currentColor; // uses text color specified with background-color options in /blocks/utilities/_style.scss

		a {
			color: currentColor;
		}
	}

	/* default & custom background-color */
	&:not([class*='background-color']){
		.wp-block-cover__inner-container,
		.wp-block-cover-image-text,
		.wp-block-cover-text,
		.block-editor-block-list__block {
			color: #{map-deep-get($config-cover, "color", "foreground")};
		}
	}

	/* Treating H2 separately to account for legacy /core styles */
	h2 {
		font-size: (strip-unit(map-deep-get($config-heading, "font", "size", "h2")) + 0em);
		letter-spacing: #{map-deep-get($config-heading, "font", "letter-spacing", "h2")};
		line-height: #{map-deep-get($config-heading, "font", "line-height", "h2")};
		padding: 0;
		max-width: inherit; // undo opinionated styles
		text-align: inherit;

		&.has-text-align-left {
			text-align: left;
		}

		&.has-text-align-center {
			text-align: center;
		}

		&.has-text-align-right {
			text-align: right;
		}
	}
}
