@mixin global-variables() {

	/* Colors */
	--wp--preset--color--primary: #2c313f;
	--wp--preset--color--primary-hover: #3e69dc;
	--wp--preset--color--secondary: #3e69dc;
	--wp--preset--color--secondary-hover: #2c313f;
	--wp--preset--color--foreground: #74767e;
	--wp--preset--color--foreground-low-contrast: #767676;
	--wp--preset--color--foreground-high-contrast: #111111;
	--wp--preset--color--background: #ffffff;
	--wp--preset--color--background-low-contrast: #f3f3f3;
	--wp--preset--color--background-high-contrast: #DDDDDD;
	--wp--preset--color--border: #DDDDDD;
	--wp--preset--color--border-low-contrast: #AAAAAA;
	--wp--preset--color--border-high-contrast: #FAFAFA;
	--wp--preset--color--text-selection: #c6d5ff;
	--wp--preset--color--alert-success: #4CAF50;
	--wp--preset--color--alert-info: #3e69dc;
	--wp--preset--color--alert-warning: #ffc107;
	--wp--preset--color--alert-error: #f44336;
	--wp--preset--color--black: black;
	--wp--preset--color--white: white;
}
