.style-pack-vintage .alignwide,
.style-pack-vintage .alignfull,
.style-pack-vintage ul.wp-block-gallery.alignwide,
.style-pack-vintage ul.wp-block-gallery.alignfull,
.style-pack-vintage .wp-block-cover-image {
	background-color: rgba(255,255,255,0.7);
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.8+0,1+20,1+80,0.8+100 */
	background: -moz-linear-gradient(top, rgba(255,255,255,0.6) 0%, rgba(255,255,255,1) 15%, rgba(255,255,255,1) 85%, rgba(255,255,255,0.6) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0.6) 0%,rgba(255,255,255,1) 15%,rgba(255,255,255,1) 85%,rgba(255,255,255,0.6) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,1) 15%,rgba(255,255,255,1) 85%,rgba(255,255,255,0.6) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	border: 4px double #c7c4b4;
	padding: 15px;
}

.style-pack-vintage .wp-block-cover-image.alignleft,
.style-pack-vintage .wp-block-cover-image.alignright {
	left: auto;
	/*margin-left: 0;
	margin-right: 0;*/
}

@media (min-width: 750px) {
	.style-pack-vintage .alignfull,
	.style-pack-vintage .wp-block-image.alignfull,
	.style-pack-vintage .wp-block-text-columns.alignfull,
	.style-pack-vintage .wp-block-table.alignfull,
	.style-pack-vintage .wp-block-preformatted.alignfull,
	.style-pack-vintage .wp-block-button.alignfull,
	.style-pack-vintage .wp-block-pullquote.alignfull,
	.style-pack-vintage .wp-block-latest-posts.alignfull,
	.style-pack-vintage .wp-block-categories.alignfull,
	.style-pack-vintage .wp-block-verse.alignfull,
	.style-pack-vintage p.alignfull,
	.style-pack-vintage .wp-block-cover-image:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright),
	.style-pack-vintage .wp-block-cover-image.alignfull {
		margin-left: calc(30% - 30vw);
		margin-right: calc(30% - 30vw);
		width: auto;
		max-width: 1000%;
	}

	.style-pack-vintage .wp-block-cover-image:not(.alignwide):not(.alignfull) {
		left: auto !important;
		/*margin-left: 0;*/
	}

	.style-pack-vintage .alignwide,
	.style-pack-vintage .wp-block-image.alignwide,
	.style-pack-vintage .wp-block-text-columns.alignwide,
	.style-pack-vintage .wp-block-table.alignwide,
	.style-pack-vintage .wp-block-preformatted.alignwide,
	.style-pack-vintage .wp-block-button.alignwide,
	.style-pack-vintage .wp-block-pullquote.alignwide,
	.style-pack-vintage .wp-block-latest-posts.alignwide,
	.style-pack-vintage .wp-block-categories.alignwide,
	.style-pack-vintage p.alignwide,
	.style-pack-vintage .wp-block-cover-image.alignwide {
		margin-left: calc(20% - 20vw);
		margin-right: calc(20% - 20vw);
		width: auto;
		max-width: 1000%;
	}
}
