#accordion-section-radcliffe_2_hero_area,
#accordion-section-radcliffe_2_contact_info,
#accordion-section-style_pack_theme_options {
	position: relative;
}

li#accordion-section-radcliffe_2_hero_area:after,
li#accordion-section-radcliffe_2_contact_info:after,
li#accordion-section-style_pack_theme_options:after {
	color: #f7bc30;
	content: "\f155";
	font: 400 16px/1 dashicons;
	position: absolute;
	top: 13px;
    right: 36px;
}
