/*!
Editor Styles for Radcliffe 2: Modern Style Pack
--------------------------------------------------------------*/

/* Temporary method to include Google Fonts */
@import url( "https://fonts.googleapis.com/css?family=Montserrat:400,400italic,700,700italic" );
@import url( "https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700,700italic" );

/* Widths */
@media screen and (min-width: 768px) {
	/* Post/Page title */
	.edit-post-visual-editor textarea.editor-post-title__input {
		max-width: 740px;
		margin-left: auto;
		margin-right: auto;
	}
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

.edit-post-visual-editor,
.edit-post-visual-editor p,
.edit-post-visual-editor button,
.edit-post-visual-editor input,
.edit-post-visual-editor select,
.edit-post-visual-editor optgroup,
.edit-post-visual-editor textarea {
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, arial, sans-serif;
}

h1.mce-content-body,
h2.mce-content-body,
h3.mce-content-body,
h4.mce-content-body,
h5.mce-content-body,
h6.mce-content-body,
.edit-post-visual-editor textarea.editor-post-title__input,
.mce-content-body h1,
.mce-content-body h2,
.mce-content-body h3,
.mce-content-body h4,
.mce-content-body h5,
.mce-content-body h6,
#poststuff h1,
#poststuff h2,
#poststuff h3,
#poststuff h4,
#poststuff h5,
#poststuff h6 {
	font-family: 'Montserrat', 'Helvetica Neue', Helvetica, arial, sans-serif;
}

/* Post/Page title */
.edit-post-visual-editor textarea.editor-post-title__input {
	padding: 0 0 72px;
	text-align: left;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
.mce-content-body a,
.wp-block-freeform.core-blocks-rich-text__tinymce a,
.wp-block-categories a,
.wp-block-latest-posts a {
	color: #aaa;
}

/*--------------------------------------------------------------
## Gutenberg Styles
--------------------------------------------------------------*/

/* Buttons */

.wp-block-button .wp-block-button__link:hover,
.wp-block-button .wp-block-button__link:focus {
	background-color: #aaa;
}
