<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"blockGap":"0px","margin":{"top":"0px","bottom":"0px"}}}} -->
<main class="wp-block-group" style="margin-top:0px;margin-bottom:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"><!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"0px","right":"25%","bottom":"0px","left":"0px"},"margin":{"top":"180px","bottom":"90px"},"blockGap":"0px"}},"layout":{"type":"default"}} -->
<div class="wp-block-group alignwide" style="margin-top:180px;margin-bottom:90px;padding-top:0px;padding-right:25%;padding-bottom:0px;padding-left:0px"><!-- wp:post-title {"level":1,"isLink":true,"align":"wide","style":{"typography":{"fontSize":"4rem","fontStyle":"normal","fontWeight":"600","letterSpacing":"-3px"},"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"margin":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}},"fontFamily":"inter"} /-->

<!-- wp:spacer {"height":"30px"} -->
<div style="height:30px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:post-content {"align":"wide","layout":{"type":"default"},"style":{"typography":{"lineHeight":1.4,"fontSize":"1.45rem","fontStyle":"normal","fontWeight":"500"}}} /--></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->