<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0px","bottom":"0px"},"blockGap":"0px","margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:0px;margin-bottom:0px;padding-top:0px;padding-bottom:0px"><!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"0px","right":"40%","bottom":"0px","left":"0px"},"margin":{"top":"180px","bottom":"90px"},"blockGap":"0px"}},"layout":{"type":"default"}} -->
<div class="wp-block-group alignwide" style="margin-top:180px;margin-bottom:90px;padding-top:0px;padding-right:40%;padding-bottom:0px;padding-left:0px"><!-- wp:group {"style":{"spacing":{"padding":{"bottom":"40px","top":"0px","right":"0px","left":"0px"},"blockGap":"0px"},"typography":{"fontStyle":"normal","fontWeight":"500"}},"layout":{"inherit":true,"type":"constrained"},"fontSize":"small"} -->
<div class="wp-block-group has-small-font-size" style="padding-top:0px;padding-right:0px;padding-bottom:40px;padding-left:0px;font-style:normal;font-weight:500"><!-- wp:search {"label":"Search","showLabel":false,"width":100,"widthUnit":"%","buttonText":"Search","buttonUseIcon":true,"style":{"border":{"radius":"4px","width":"1px"}},"borderColor":"background","backgroundColor":"foreground","textColor":"background"} /--></div>
<!-- /wp:group -->

<!-- wp:query {"query":{"perPage":"6","pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"displayLayout":{"type":"list","columns":2},"layout":{"type":"default"}} -->
<div class="wp-block-query">
	
<!-- wp:query-title {"type":"search","fontFamily":"inter"} /-->

<!-- wp:query-no-results -->
	<!-- wp:pattern {"slug":"vetro/hidden-no-results-content"} /-->
<!-- /wp:query-no-results -->

<!-- wp:post-template -->
<!-- wp:post-featured-image {"isLink":true,"width":"","height":"640px","style":{"border":{"radius":"8px"}}} /-->

<!-- wp:post-title {"isLink":true,"style":{"typography":{"lineHeight":"1.1","fontSize":"4rem","fontStyle":"normal","fontWeight":"600","letterSpacing":"-1px"}}} /-->

<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|30"}},"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group"><!-- wp:post-terms {"term":"category","separator":" × ","style":{"typography":{"fontStyle":"normal","fontWeight":"500","lineHeight":"1"}},"fontSize":"small"} /-->

<!-- wp:post-author {"showAvatar":false} /--></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"40px","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}}} -->
<div style="margin-top:0px;margin-bottom:0px;height:40px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->
<!-- /wp:post-template -->

<!-- wp:query-pagination {"style":{"typography":{"fontSize":"2rem","lineHeight":"1","fontStyle":"normal","fontWeight":"600","letterSpacing":"-1px"}}} -->
<!-- wp:query-pagination-previous /-->

<!-- wp:query-pagination-numbers /-->

<!-- wp:query-pagination-next /-->
<!-- /wp:query-pagination --></div>

<!-- /wp:query --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->