<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"5vh","right":"1.5rem","bottom":"10vh","left":"1.5rem"},"margin":{"top":"0rem","bottom":"0rem"},"blockGap":"5vh"}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="margin-top:0rem;margin-bottom:0rem;padding-top:5vh;padding-right:1.5rem;padding-bottom:10vh;padding-left:1.5rem"><!-- wp:group {"style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"><!-- wp:post-content {"lock":{"move":false,"remove":false},"align":"wide","layout":{"type":"default"}} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->